﻿@model BusinessLayer.Models.CSTraineeSurveyorRegistration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TraineeMaster.cshtml";
}
@using (Html.BeginForm("Index", "Trainee", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{    
    @Html.HiddenFor(a => a.FkClaimId, new { @id = "hdFkSurveyor" })
    @Html.HiddenFor(a => a.EmailId)
    
    <div class="form_label">
        <div class="col-1"></div>
        <div class="col-3">
            <span>Enter surveyor email id<label class="mandatory">*</label></span>
        </div>
        <div class="col-6">
            <input type="text" id="txtSearchSurvery" class="validate[required,'Please surveyor email id'] Txtbox" maxlength="50" />
        </div>
        <div class="col-2">
            <input type="button" id="btnSearchArroveSurvery" class="Btn" value="Search Survery" />
        </div>
    </div>
    
    <div class="grid_body">
        <table class="mygrid" id="tblDetails">
            <thead>
                <tr>
                    <th>Surveyor Name</th>
                    <th>Surveyor Mobile</th>
                    <th>Surveyor Address</th>
                    <th>Pin</th>
                </tr>
            </thead>
        </table>
    </div>
    
    <div class="form_label dispalyNone">
        <div class="col-12 t_center">
            <input type="button" id="btnSendRequestToSurvery" class="Btn" value="Send Request" />
        </div>
    </div>
}