﻿@model BusinessLayer.Models.CSGenrateClaim

@{
    ViewBag.Title = "TranieeAssignedTask";
    Layout = "~/Views/Shared/TraineeMaster.cshtml";
}



<script type="text/javascript">
    $(window).load(function () {
        $(".mandatory").html("");
        $("heading").html("View Claim");
    });
</script>

<div>
    @Html.Partial("~/Views/Shared/_assignedtask.cshtml", @Model) 
</div>


<div>
    <form action="/Survery/MarineJIR" enctype="multipart/form-data" id="form1" method="post">
        <input type="hidden" id="fkClaimId" name="fkClaimId" />
        <input type="hidden" id="CheckOpenTable" name="CheckOpenTable" />
        <input type="hidden" id="task" name="task" />
        <input type="hidden" id="Fk_InsdID" name="Fk_InsdID" />
        <input type="hidden" id="Insd_Type" name="InsdType" />
        <input type="hidden" id="InsdName" name="InsdName" />
        <input type="hidden" id="InsdAddress" name="InsdAddress" />
    </form>
</div>

<div>
    <form action="/Survery/lorwork" enctype="multipart/form-data" id="form2" method="post">
        <input type="hidden" id="fklorClaimId" name="fkClaimId" />
        <input type="hidden" id="Task" name="Task" />
        <input type="hidden" id="FkInsdID" name="FkInsdID" />
        <input type="hidden" id="LORInsdType" name="LORInsdType" />
    </form>
</div>

<div>
    <form action="/Survery/ClaimForm" enctype="multipart/form-data" id="form3" method="post">
        <input type="hidden" id="fkClaimIdFrom" name="fkClaimId" />
        <input type="hidden" id="ClaimFormTask" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/SurveyVisits" enctype="multipart/form-data" id="form4" method="post">
        <input type="hidden" id="fkSurveyVisitsClaimId" name="fkClaimId" />
        <input type="hidden" id="SurveyVisitsTask" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/MarineAssessmentDetails" enctype="multipart/form-data" id="form5" method="post">
        <input type="hidden" id="fkAssesmentClaimId" name="fkClaimId" />
        <input type="hidden" id="AssessmentTask" name="task" />
        <input type="hidden" id="MarineTranshipmentAssessmentType" name="AssessmentType" />
    </form>
</div>
