﻿<div>


    <div class="form_label">
        <div class="col-3"><span>Start Date</span></div>
        <div class="col-3">
            <input type="text" datepicker maxlength="20" ng-model="sv.StartDate">
        </div>

        <div class="col-3"><span>End Date</span></div>
        <div class="col-3">
            <input type="text" datepicker maxlength="20" ng-model="sv.EndDate" readonly>
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Place Of Visit</span></div>
        <div class="col-6">
            <textarea type="text" maxlength="100" ng-model="sv.PlaceVisit"></textarea>
        </div>
    </div>


    <div class="form_label">
        <div class="col-3"><span>Observations during the survey visits </span></div>
        <div class="col-6">
            <textarea maxlength="500" ng-model="sv.PurposeVisit"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Remarks (if any)</span></div>
        <div class="col-6">
            <textarea maxlength="500" ng-model="sv.Remark"></textarea>
        </div>
    </div>

    <div class="form_label">
        <div class="col-12 t_center mt20">
            <!--<input type="hidden" value="@Request.QueryString["cid"]" id="cid" />--> 
            <div class="form_label">
                <button type="button" class="btn yellow" ng-click="saveSurveyVisit()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <a href="/MISCFSR/ObservationsCircumstances?cid={{claimId}}" class="btn yellow" style="float:right;">
                    Next
                </a>
                <a href="/MISCFSR/SurveyParticulars?cid={{claimId}}" class="btn yellow" style="float:left;">
                    Prev
                </a>
            </div>
    </div>
    </div>
    <div class="grid_body" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Place of Visit</th>
                    <th>Observations during the survey visits</th>
                    <th>Remarks</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="mygridBody">

                <tr ng-repeat="d in listSV" style="cursor:pointer">
                    <td>{{d.StartDate}}</td>
                    <td>{{d.EndDate}}</td>
                    <td>{{d.PlaceVisit}}</td>
                    <td>{{d.PurposeVisit}}</td>
                    <td>{{d.Remark}}</td>
                    <td ng-click="rowClick(d)"><img src="../../Images/edit.jpg" style="height:20px;" alt="Edit"></td>
                    <td ng-click="rowClickDelete(d.PkId)"><img src="../../Images/Delete_icon.png" style="height:20px;" alt="Delete"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>




