﻿
<form class="form-horizontal">


    <h3>
        Add Brokers Team
    </h3>
    <div class="form-group">
        <div class="col-md-2">
            <span>Select Brokers</span>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-options="b.PK_Broker_ID as b.BrokerName for b in listBroker" ng-model="c.Broker_ID"></select>
        </div>
        <div class="col-md-2">
            <span>Select Region</span>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-options="r.PK_R_ID as r.Region for  r in listRegion" ng-model="c.B_R_ID" ng-change="getState_forBroker(c.B_R_ID)"></select>
        </div>
        <div class="col-md-2">
            <span>Select State</span>
        </div>
        <div class="col-md-2">
            <select ng-options="s.StateCode as s.StateName for s in listState_forBroker" ng-model="c.B_StateCode" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-2">
            <span>Location Code</span>
        </div>
        <div class="col-md-2">
            <select ng-model="c.B_Location_ID" class="form-control" ng-options="l.LocationId as l.LocationName for  l in listLocation">
            </select>
        </div>
        <div class="col-md-2">
            <span>Select Email</span>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-model="c.B_RegUserEmail">
                <option value="1">Email1</option>
                <option value="2">Email2</option>
            </select>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-2">
            <span>To</span>
        </div>

        <div class="col-md-6 table-responsive">

            <input type="text" id="toEmailBroker" value="">


        </div>
        <div id="toEmailBrokerVal" style="display:none;">

        </div>
    </div>

    <div class="form-group">

        <div class="col-md-2">
            <span>CC</span>
        </div>
        <div class="col-md-6 table-responsive">

            <input type="text" id="ccEmailBroker" value="">


        </div>
        <div id="ccEmailBrokerVal" style="display:none;">

        </div>

    

    </div>

    <h3>
        Add Insured Team
    </h3>


    <div class="form-group">
        <div class="col-md-2">
            <span>Select Region</span>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-options="r.PK_R_ID as r.Region for  r in listRegion" ng-model="c.I_R_ID" ng-change="getState_forInsured(c.B_R_ID)"></select>
        </div>
        <div class="col-md-2">
            <span>Select State</span>
        </div>
        <div class="col-md-2">
            <select ng-options="s.StateCode as s.StateName for s in listState_forInsured" ng-model="c.I_StateCode" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-2">
            <span>Location Code</span>
        </div>
        <div class="col-md-2">
            <select ng-model="c.I_Location_ID" class="form-control" ng-options="l.LocationId as l.LocationName for  l in listLocation">
            </select>
        </div>
        <div class="col-md-2">
            <span>Select Email</span>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-model="c.I_RegUserEmail">
                <option value="1">Email1</option>
                <option value="2">Email2</option>
            </select>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-2">
            <span>To</span>
        </div>

        <div class="col-md-6 table-responsive">

            <input type="text" id="toEmailInsured" value="">


        </div>
        <div id="toEmailInsuredVal" style="display:none;">

        </div>

    </div>

    <div class="form-group">

        <div class="col-md-2">
            <span>CC</span>
        </div>
        
        <div class="col-md-6 table-responsive">

            <input type="text" id="ccEmailInsured" value="">


        </div>
        <div id="ccEmailInsuredVal" style="display:none;">

        </div>

    </div>
    <h3>
        Add Insurers Team

    </h3>
    <div class="form-group">
        <div class="col-md-2">
            <span>To</span>
        </div>

   
        <div class="col-md-6 table-responsive">

            <input type="text" id="toEmailInsurers" value="">


        </div>
        <div id="toEmailInsurersVal" style="display:none;">

        </div>
    </div>

    <div class="form-group">

        <div class="col-md-2">
            <span>CC</span>
        </div>
        <div class="col-md-6 table-responsive">

            <input type="text" id="ccEmailInsurers" value="">


        </div>
        <div id="ccEmailInsurersVal" style="display:none;">

        </div>

    </div>
    <!--<div id="testt">
        <input type="text" id="demo" name="email">
    </div>
    <div id="demo1Val"></div>

    <button type="button" ng-click="test()">test</button>-->
</form>

<!--<script src="../../Scripts/MultipleEmailPlugin/taginput.js"></script>
<link href="../../Scripts/MultipleEmailPlugin/taginput.css" rel="stylesheet" />-->
<!--<link href="../../Scripts/MultipleEmailPlugin/multiple-emails.css" rel="stylesheet" />
<script src="../../Scripts/MultipleEmailPlugin/multiple-emails.js"></script>-->


<style>
    #tags { border: 1px solid #ccc; padding: 5px; }

        #tags > span { display: block; float: left; color: rgba(0, 0, 0, 0.71); background: rgba(128, 128, 128, 0.43); padding: 5px; padding-right: 25px; margin: 4px; }
</style>
<script>
    $(document).ready(function () {
       
        //$('#demo').multiple_emails();

        //$('#demo').change(function () {
        //    $('#demo1Val').text($(this).val());
        //})


        $('#toEmailBroker').multiple_emails();

        $('#toEmailBroker').change(function () {
            $('#toEmailBrokerVal').text($(this).val());
        })
        $('#ccEmailBroker').multiple_emails();

        $('#ccEmailBroker').change(function () {
            $('#ccEmailBrokerVal').text($(this).val());
        })

        
        $('#toEmailInsured').multiple_emails();

        $('#toEmailInsured').change(function () {
            $('#toEmailInsuredVal').text($(this).val());
        })
        $('#ccEmailInsured').multiple_emails();

        $('#ccEmailInsured').change(function () {
            $('#ccEmailInsuredVal').text($(this).val());
        })



        $('#toEmailInsurers').multiple_emails();

        $('#toEmailInsurers').change(function () {
            $('#toEmailInsurersVal').text($(this).val());
        })
        $('#ccEmailInsurers').multiple_emails();

        $('#ccEmailInsurers').change(function () {
            $('#ccEmailInsurersVal').text($(this).val());
        })



    })
</script>
