﻿
<div>



    <!--@*Plant and machinery*@-->
    <div ng-show="choose=='PM' || choose=='Eq' || choose=='El'  || choose=='C'|| choose==''">

        <h2>Nature and extent of damage to the plant and machinery elaborated as follows: </h2>
        <div>
            <div class="form_label" ng-show="choose=='O'">
                <div class="col-2">
                    <span>Description</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.OthersDesc" />
                    <!--<textarea rows="8" ng-model="Others"></textarea>-->
                </div>
            </div>
            <div class="form_label">
                <div class="col-2">
                    <span>Block</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="pm.BlockNo" maxlength="50" />
                </div>
                <div class="col-2">
                    <span>Building</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="pm.BuildingNo" maxlength="50" />
                </div>
            </div>
            <div class="form_label">

                <div class="col-2">
                    <span>Floor</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="pm.FloorNo" maxlength="50" />
                </div>
                <div class="col-2">
                    <span>Name of area/section</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="pm.NameArea" maxlength="50" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-1">
                    <span>Description of affected Item</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.DescAffectedItem" maxlength="100" />
                </div>
                <div class="col-1">
                    <span>Qty.</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.Qty" maxlength="10" valid-number />

                </div>
                <div class="col-1">
                    <span>UOM</span>
                </div>
                <div class="col-3">
                    <select ng-model="pm.UOM">
                        <option>Select</option>
                        <option value="Numbers">
                            Numbers
                        </option>
                        <option value="Kg">
                            Kg.
                        </option>
                        <option value="SqFt">
                            Sq. Ft.
                        </option>
                    </select>
                </div>
            </div>
            <div class="form_label">
                <div class="col-1">
                    <span>Functions</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.Functions" maxlength="100" />
                </div>

                <div class="col-1">
                    <span>Nature of Damage/Loss </span>
                </div>
                <div class="col-2">
                    <select ng-model="pm.NatureDamageLoss">
                        <option value="">Select</option>
                        <option value="Water Damage">Water Damage</option>
                        <option value="Fire Damage">Fire Damage</option>
                        <option value="Heat Affected">Heat Affected</option>
                        <option value="Smoke Affected">Smoke Affected</option>
                        <option value="Missing">Missing</option>
                        <option value="Damage due to impact of debris">Damage due to impact of debris</option>
                        <option value="Mis-allingn/Deformed">Mis-allingn/Deformed</option>
                    </select>
                </div>
                <div class="col-2">
                    <span>Extent of Damage/Loss</span>
                </div>
                <div class="col-3">
                    <label><input type="radio" name="pmEDS" value="Total Loss" ng-model="pm.ExtentDamageLoss" />Total Loss</label>
                    <label><input type="radio" name="pmEDS" value="Partial Loss" ng-model="pm.ExtentDamageLoss" />Partial Loss</label>
                </div>
            </div>
            <div class="form_label">
                <div class="col-12">
                    <h2>Specifications</h2>
                </div>
                <div class="col-1">
                    <span>Model</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.Model" maxlength="30" />
                </div>
                <div class="col-1">
                    <span>make</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.Make" maxlength="30" />
                </div>
                <div class="col-1">
                    <span>Sr. No.</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.SrNo" maxlength="30" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-1">
                    <span>Capacity</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.Capacity" maxlength="30" />
                </div>
                <div class="col-1">
                    <span>Country of Origin</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.CountryOrigin" maxlength="30" />
                </div>
                <div class="col-1">
                    <span>Mfg. Year</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.MfgYear" maxlength="30" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-1">
                    <span>Working Hours</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="pm.WorkingHours" maxlength="30" />
                </div>
            </div>
            <hr />

            <div class="form_label">
                <div class="col-2">
                    <label>
                        <input type="checkbox" ng-model="pm.ChkbxPS" />
                        Sr. No. of policy schedule
                    </label>
                </div>
                <div class="col-3" ng-show="pm.ChkbxPS==true">
                    <input type="text" maxlength="50" ng-model="pm.SrNoPS" />
                </div>

            </div>
        </div>


    </div>
    <!--@*Stocks*@-->
    <div ng-show="choose=='S'">
        <!--<h1>Stocks</h1>-->
        <h2>Nature and extent of damage to the stock elaborated as follows: </h2>
        <div>
            <div class="form_label">
                <div class="col-2">
                    <span>Block</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="s.BlockNo" maxlength="50" />
                </div>
                <div class="col-2">
                    <span>Building</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="s.BuildingNo" maxlength="50" />
                </div>
            </div>
            <div class="form_label">

                <div class="col-2">
                    <span>Floor</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="s.FloorNo" maxlength="50" />
                </div>
                <div class="col-2">
                    <span>Name of area/section</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="s.NameArea" maxlength="50" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-1">
                    <span>Description of affected Item</span>
                </div>
                <div class="col-3">
                    <input type="text" maxlength="100" ng-model="s.DescAffectedItem" />
                    <!--<textarea rows="4" ng-model="s.DescAffectedItem"></textarea>-->
                </div>
                <div class="col-1">
                    <span>Qty.</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="s.Qty" maxlength="10" valid-number />

                </div>

                <div class="col-1">
                    <span>UOM</span>
                </div>
                <div class="col-3">
                    <select ng-model="s.UOM">
                        <option value="">Select</option>
                        <option value="Numbers">
                            Numbers
                        </option>
                        <option value="Kg">
                            Kg.
                        </option>
                        <option value="SqFt">
                            Sq. Ft.
                        </option>
                    </select>
                </div>
            </div>
            <h2>Packing/Storage Conditions</h2>
            <div class="form_label">
                <div class="col-2">
                    <span>Stock was placed on</span>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="s.MaterialPlacing" maxlength="100" />
                </div>
                <div class="col-2">
                    <span>Height from Ground </span>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="s.HeightGround" maxlength="100" />
                </div>
                <div class="col-2">
                    <span>Packing material</span>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="s.PackingMaterial" maxlength="100" />
                </div>

            </div>
            <div class="form_label">
                <div class="col-2">
                    Packing Size
                </div>
                <div class="col-2">
                    <input type="text" ng-model="s.PackingSize" maxlength="100" />
                </div>
            </div>
            <hr />
            <div class="form_label">
                <div class="col-1">
                    <span>Stage</span>
                </div>
                <div class="col-2">
                    <select ng-model="s.Stage"><option value="">Select</option><option value="RM">RM</option><option ng-model="FG">FG</option><option ng-model="WIP">WIP</option></select>
                </div>
                <div ng-show="s.Stage=='WIP'">
                    <div class="col-2">
                        <span> WIP stage</span>
                    </div>
                    <div class="col-2">
                        <input type="text" maxlength="20" ng-model="s.WIPStage" />
                    </div>
                    <div class="col-2">
                        <span> Batch size/issued Qty</span>
                    </div>
                    <div class="col-2">
                        <input type="text" maxlength="20" ng-model="s.BatchSize" />
                    </div>
                </div>
            </div>
            <div class="form_label">
                <div class="col-1">
                    <span>Nature of Damage/Loss </span>
                </div>
                <div class="col-2">
                    <select ng-model="s.NatureDamageLoss">
                        <option value="">Select</option>
                        <option value="Water Damage">Water Damage</option>
                        <option value="Fire Damage">Fire Damage</option>
                        <option value="Heat Affected">Heat Affected</option>
                        <option value="Smoke Affected">Smoke Affected</option>
                        <option value="Missing">Missing</option>
                        <option value="Contemination with debris">Contemination with debris</option>
                        <option value="Contemination with air">Contemination with air</option>
                    </select>
                </div>
                <div class="col-2">
                    <span>Extent of Damage/Loss</span>
                </div>
                <div class="col-3">
                    <label><input type="radio" name="sEDL" value="Total Loss" ng-model="s.ExtentDamageLoss" />Total Loss</label>
                    <label><input type="radio" name="sEDL" value="Partial Loss" ng-model="s.ExtentDamageLoss" />Partial Loss</label>
                </div>
            </div>

            <div class="form_label">
                <div class="col-2">
                    <label>
                        <input type="checkbox" ng-model="s.ChkbxPS" />
                        Sr. No. of policy schedule
                    </label>
                </div>
                <div class="col-3" ng-show="s.ChkbxPS==true">
                    <input type="text" maxlength="50" ng-model="s.SrNoPS" />
                </div>

            </div>

        </div>

    </div>
    <!--@*Building*@-->
    <div ng-show="choose=='B' || choose=='F'">
        <!--<h1 ng-show="choose=='Building'">Building </h1>
        <h1 ng-show="choose=='FFF'">FFF </h1>-->
        <h2>Nature and extent of damage to the building elaborated as follows: </h2>
        <div>
            <div class="form_label">
                <div class="col-2">
                    <span>Block</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="b.BlockNo" maxlength="50" />
                </div>
                <div class="col-2">
                    <span>Building</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="b.BuildingNo" maxlength="50" />
                </div>
            </div>
            <div class="form_label">

                <div class="col-2">
                    <span>Floor</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="b.FloorNo" maxlength="50" />
                </div>
                <div class="col-2">
                    <span>Name of area/section</span>
                </div>
                <div class="col-4">
                    <input type="text" ng-model="b.NameArea" maxlength="50" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-2">
                    <span>Description of Affected Portion</span>
                </div>
                <div class="col-2">
                    <select ng-model="b.DescAffectedItem">
                        <option value="">Select</option>
                        <option value="Wall">Wall</option>
                        <option value="Roof">
                            Roof
                        </option>
                        <option value="Floor">Floor</option>
                        <option value="Door">Door</option>
                        <option value="Windows">Windows</option>
                    </select>
                </div>
                <div class="col-1">
                    <span>Qty.</span>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="b.Qty" maxlength="10" valid-number />

                </div>

                <div class="col-2">
                    <span>UOM</span>
                </div>
                <div class="col-3">
                    <select ng-model="b.UOM">
                        <option value="">Select</option>
                        <option value="Numbers">
                            Numbers
                        </option>
                        <option value="Kg">
                            Kg.
                        </option>
                        <option value="SqFt">
                            Sq. Ft.
                        </option>
                    </select>
                </div>
            </div>
            <div class="form_label">
                <div class="col-1">
                    <span>Length of affected Area</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="b.LengthAffectedArea" maxlength="10" valid-number />
                </div>
                <div class="col-1">
                    <span>Breadth</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="b.Breadth" maxlength="10" valid-number />
                </div>

                <div class="col-1">
                    <span>Height</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="b.Height" maxlength="10" valid-number />
                </div>

            </div>
            <hr />
            <div class="form_label">
                <div class="col-3">
                    <span>Occupancy of the affected area</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="b.OccupancyAffectedArea" maxlength="50" />
                </div>

                <div class="col-3">
                    <span>Nature of Damage/Loss </span>
                </div>
                <div class="col-3">
                    <select ng-model="b.NatureDamageLoss">
                        <option value="">Select</option>

                        <option value="Fire Damage">Fire Damage</option>
                        <option value="Heat Affected">Heat Affected</option>
                        <option value="Smoke Affected">Smoke Affected</option>
                        <option value="Developed Cracks">Developed Cracks</option>
                        <option value="Collapsed">Collapsed</option>
                        <option value="Sagging">Sagging</option>
                        <option value="Exposed">Exposed</option>
                        <option value="Deformed">Deformed</option>
                        <option value="Uprooted">Uprooted</option>
                    </select>
                </div>
            </div>
            <div class="form_label">
                <div class="col-3">
                    <span>Extent of Damage/Loss</span>
                </div>
                <div class="col-3">
                    <label><input type="radio" name="bEDL" value="Total Loss" ng-model="b.ExtentDamageLoss" />Total Loss</label>
                    <label><input type="radio" name="bEDL" value="Partial Loss" ng-model="b.ExtentDamageLoss" />Partial Loss</label>
                </div>

                <div class="col-3">
                    <span>Material of Construction (MOC)</span>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="b.MOC" maxlength="50" />
                </div>

            </div>

            <div class="form_label">
                <div class="col-2">
                    <label>
                        <input type="checkbox" ng-model="b.ChkbxPS" />
                        Sr. No. of policy schedule
                    </label>
                </div>
                <div class="col-3" ng-show="b.ChkbxPS==true">
                    <input type="text" maxlength="50" ng-model="b.SrNoPS" />
                </div>

            </div>
        </div>
    </div>
    <div class="form_label">
        <div class="col-2">
            <span> Description of Property Head Insured</span>
        </div>
        <div class="col-3">
            <!--<label>{{Description}}</label>-->
            <input type="text" ng-model="Description" disabled />
        </div>

        <div class="col-2"><span>Sum-Insured (Rs.)</span></div>
        <div class="col-3">
            <!--<label>{{SumInsured}}</label>-->
            <input type="text" value={{SumInsured}} disabled />
        </div>
    </div>

</div>
