﻿
<div>
    <div>
        <form id="formISVR">

            <div>
                <div class="form_label" ng-show="tableName=='FSR' || tableName=='ISVR'">

                    <!--<div class="col-3"><span>Previous Report/s. <label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <input type="text" maxlength="10" ng-model="cd.PreviousReports" id="ICN" disabled />
                    </div>-->
                    <div class="col-3">
                        <span>Insurers Claim No.  <label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <!--<span>{{cd.InsurersClaimNo}}</span>-->
                        <input type="text" maxlength="100" ng-model="cd.InsurersClaimNo" disabled />
                    </div>
                </div>
                <div class="form_label">
                    <div class="col-3">
                        <span>Policy No.  <label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <input type="text" maxlength="100" ng-model="cd.PolicyNo" disabled />
                    </div>
                    <div class="col-3">
                        <span>Policy Type <label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <input type="text" maxlength="100" ng-model="cd.PolicyType" disabled />
                    </div>
                </div>
                <div class="form_label" ng-show="tableName=='ISVR'">
                    <div class="col-3">
                        <span>Date of allotment for survey <label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <input type="text" datepicker ng-model="ic.AllotmentSurveyDT" />
                    </div>
                </div>
                <!--//isvr-->
                <div class="form_label" ng-show="tableName=='ISVR'">

                    <div class="col-3"><span>Source of allotment of survey<label class="mandatory">*</label></span></div>
                    <div class="col-9">
                        <textarea rows="1" maxlength="100" ng-model="ic.SourceAllotmentSurvey"></textarea>

                    </div>

                </div>

                <div class="form_label" ng-show="tableName=='FSR'">
                    <div class="col-3">
                        <span>Period of Policy<label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <span>From Date</span>
                        <input type="text" datepicker ng-model="ic.PeriodofPolicyFromDT" />
                    </div>
                    <div class="col-3">
                        <span>To Date</span>
                        <input type="text" datepicker ng-model="ic.PeriodofPolicyToDT" />
                    </div>
                </div>
                <div class="form_label">
                    <div class="col-3">
                        <span>Insurers<label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <!--<span>{{cd.Insurers}}</span>-->
                        <input type="text" maxlength="100" ng-model="cd.Insurers" disabled />
                    </div>
                </div>
                <div class="form_label">
                    <div class="col-3">
                        <span>  Policy Issue office Address</span>
                    </div>
                    <div class="col-9">
                        <!--<span>{{cd.InsurersAddress}}</span>-->
                        <input type="text" rows="2" maxlength="500" ng-model="cd.InsurersAddress" disabled />
                    </div>
                </div>
                <!--<div class="form_label">-->
                <!--//isvr-->
                <!--<div class="col-3"><span>Date of Intimation of Loss<label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" datepicker ng-model="ic.IntimationLossDT" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox" id="DIL" />
                </div>-->
                <!--</div>-->
                <!--//isvr-->
                <!--//isvr-->
                <div class="form_label" ng-show="tableName=='ISVR'">
                    <div class="col-3">
                        <span>Date of Survey visit initiated <label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <input type="text" datepicker ng-model="ic.SurveyVisitInitiatedDT" class="validate[required,'Please enter Date of Survey visit initiated'] Txtbox" id="DASVI" />
                    </div>
                    <!--//isvr-->
                    <div class="col-3">
                        <span id="lblVRegNo">Date of Survey visit completed<label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <input type="text" datepicker ng-model="ic.SurveyVisitCompletedDT" class="validate[required,'Date of Survey visit completed'] Txtbox" id="DASVC" />
                    </div>
                </div>
                <!--//isvr-->
                <div class="form_label" ng-show="tableName=='ISVR'">
                    <div class="col-3">
                        <span>Reason for Delay in Survey (if any)</span>
                    </div>
                    <div class="col-9">
                        <textarea rows="2" maxlength="250" ng-model="ic.ReasonDelaySurvey"></textarea>

                    </div>
                </div>


                <div class="form_label">

                    <!--//isvr-->
                    <div class="col-3">
                        <span>Insured Name <label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3">
                        <!--<span>{{cd.InsuredName}}</span>-->
                        <input type="text" maxlength="100" ng-model="cd.InsuredName" disabled />
                    </div>


                </div>
                <div class="form_label">
                    <!--//isvr-->
                    <div class="col-3">
                        <span>Insured Address (As per policy)<label class="mandatory">*</label></span>
                    </div>
                    <div class="col-9">
                        <!--<span>{{cd.InsuredAddress}}</span>-->
                        <!--<input type="text" maxlength="1000" ng-model="ic.InsuredAddress"/>-->
                        <textarea rows="2" ng-model="cd.InsuredAddress" disabled></textarea>
                    </div>

                </div>
                <div class="form_label">
                    <div class="col-3" ng-show="tableName=='FSR'">
                        <span id="lblVRegNo">Name of Bankers (Having financial Interest)<label class="mandatory">*</label></span>
                    </div>
                    <div class="col-3" ng-show="tableName=='FSR'">
                        <input type="text" ng-model="cd.FinancierInterest" disabled />
                    </div>
                    <div>
                        <div class="col-3">
                            <span ng-hide="tableName=='FSR'">Place of Survey/Address Of Loss Location</span>
                            <span ng-show="tableName=='FSR'">Address Of Loss Location</span>
                        </div>
                        <div class="col-3">
                            <input type="text" ng-model="ic.AddressofLossLocation"  />
                        </div>
                    </div>
                </div>
                <div class="form_label">
                    <div class="col-3" style="border:1px solid grey;">
                        <label>
                            <input type="radio" ng-model="ic.Loss" name="DTLoss" value="Date & Time of Loss" /> Date & Time of Loss
                        </label>
                        <label>
                            <input type="radio" ng-model="ic.Loss" name="DTLoss" value="Date of Discovery of Loss" />Date of Discovery of Loss
                        </label>
                    </div>
                    <div class="col-3">
                        <input type="text" datepicker ng-model="ic.LossDT" />
                    </div>
                    <div ng-show="tableName=='FSR' || tableName=='ISVR'">
                        <div class="col-3">
                            <span>Cause of Loss/Operated Peril</span>
                        </div>
                        <!--<div class="col-3" style="border:1px solid grey;"><label><input type="radio" ng-model="ic.CL_OP" name="CL_OP" value="Cause of Loss" /> Cause of Loss</label><label><input type="radio" ng-model="ic.CL_OP" name="CL_OP" value="Operated Peril" /> Operated Peril</label></div>
                        <div class="col-3">-->
                        <!--<select ng-options="c.CL_OP_ID as c.CL_OP for c in listCL_OP" ng-model="ic.CL_OPID"disabled><option value="">Select</option></select>-->
                        <div class="col-3">
                            <input type="text" ng-model="cd.NatureOfLoss" disabled />
                        </div>
                    </div>
                </div>
                <div class="form_label" ng-show="tableName=='FSR'">
                    <div class="col-3">
                        <span>Comment on Liability under the scope of policy</span>
                    </div>
                    <div class="col-9">
                        <label ng-repeat="cmt in listCmtLiabSP">
                            <input type="radio" name="cmt" ng-value="cmt.CmtLiabSPID" ng-model="ic.CmtLiabSPID" />
                            {{cmt.CmtLiabSPData}}

                        </label>
                    </div>
                </div>
                <!--<div class="form_label">-->
                <!--//isvr-->
                <!--//isvr-->
                <!--<div class="col-3"><span>Date of Intimation of Loss<label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" datepicker ng-model="ic.IntimationLossDT" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox" id="DIL" />
                </div>-->
                <!--</div>-->
                <!--//isvr-->
                <!--//isvr-->
                <!--<div class="form_label">
                    <div class="col-3"><span>Date of Survey visit initiated <label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <input type="text" datepicker ng-model="ic.SurveyVisitInitiatedDT" class="validate[required,'Please enter Date of Survey visit initiated'] Txtbox" id="DASVI" />
                    </div>-->
                <!--//isvr-->
                <!--<div class="col-3"><span id="lblVRegNo">Date of Survey visit completed<label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <input type="text" datepicker ng-model="ic.SurveyVisitCompletedDT" class="validate[required,'Date of Survey visit completed'] Txtbox" id="DASVC" />
                    </div>
                </div>-->
                <!--//isvr-->
                <!--<div class="form_label">
                    <div class="col-3">
                        <span>Reason for Delay in Survey (if any)</span>
                    </div>
                    <div class="col-9">
                        <textarea rows="2" maxlength="250" ng-model="ic.ReasonDelaySurvey"></textarea>

                    </div>
                </div>-->
                <!--//isvr-->
                <!--<div class="form_label">-->
                <!--<div class="col-3" style="border:1px solid grey">
                    <label>
                        <input type="radio" ng-model="ic.PS_ALL" name="PS_AL" value="Place of Survey" /> Place of Survey
                    </label>
                    <label>
                        <input type="radio" ng-model="ic.PS_ALL" name="PS_AL" value="Address of Loss Location" /> Address of Loss Location
                    </label>
                </div>
                <div class="col-9">
                    <textarea rows="3" maxlength="500" ng-model="ic.PS_ALL_Place" class="validate[required,'Please enter the info about Place of Survey/Address of Loss location'] Txtbox" id="PSALL"></textarea>
                </div>-->
                <!--</div>-->
                <!--//isvr-->
                <!--<div class="form_label" ng-show="tableName=='FSR'">

                    <div class="col-3"><span>Policy Issue office Address<label class="mandatory">*</label></span></div>
                    <div class="col-9">
                        <textarea maxlength="100" ng-model="ic.PolicyIssueofficeAddress"></textarea>
                    </div>
                </div>-->
                <!--<div class="form_label">-->
                <!--//isvr-->
                <!--<div class="col-3" style="border:1px solid grey;">
                        <label>
                            <input type="radio" ng-model="ic.Loss" name="DTLoss" value="Date & Time of Loss" /> Date & Time of Loss
                        </label>
                        <label>
                            <input type="radio" ng-model="ic.Loss" name="DTLoss" value="Date of Discovery of Loss" />Date of Discovery of Loss
                        </label>
                    </div>
                    <div class="col-3">
                        <input type="text" datepicker ng-model="ic.LossDT" />
                    </div>
                    <div class="col-3" style="border:1px solid grey;"><label><input type="radio" ng-model="ic.CL_OP" name="CL_OP" value="Cause of Loss" /> Cause of Loss</label><label><input type="radio" ng-model="ic.CL_OP" name="CL_OP" value="Operated Peril" /> Operated Peril</label></div>
                    <div class="col-3">
                        <select ng-options="c.CL_OP_ID as c.CL_OP for c in listCL_OP" ng-model="ic.CL_OPID"><option value="">Select</option></select>
                    </div>
                </div>-->

                <div class="form_label" ng-show="tableName=='FSR'">
                    <div class="col-3">
                        <span>Estimate of Loss, as Initially reported by the Insured (Rs.)</span>
                    </div>
                    <div class="col-3">
                        <input type="text" maxlength="20" ng-model="cd.ReportedLoss" disabled />
                    </div>

                    <div class="col-3">
                        <span>Final Claim Lodged by the Insured (Rs.)</span>
                    </div>
                    <div class="col-3">
                        <input type="text" maxlength="20" ng-model="ic.FinalClaimInsured" />
                    </div>
                </div>
                <!--<div class="form_label" ng-show="tableName=='FSR'">
                    <div class="col-3"><span>Gross Loss Assessed</span></div>
                    <div class="col-3">
                        <input type="text" maxlength="20" ng-model="ic.GrossLossAssessed" />
                    </div>

                    <div class="col-3"><span>Gross Loss Admissible </span></div>
                    <div class="col-3">
                        <input type="text" maxlength="20" ng-model="ic.GrossLossAdmissible" />
                    </div>
                </div>
                <div class="form_label" ng-show="tableName=='FSR'">
                    <div class="col-3"><span>Net Loss Assessed</span></div>
                    <div class="col-3">
                        <input type="text" maxlength="250" ng-model="ic.NetLossAssessed" />
                    </div>
                    <div class="col-3"><span>Net Adjusted Loss</span></div>
                    <div class="col-3">
                        <input type="text" maxlength="20" ng-model="ic.NetAdjustedLoss" />
                    </div>
                </div>
                <div class="form_label" ng-show="tableName=='FSR'">
                       <div class="col-3"><span>On account Payment recommended in earlier report/s</span></div>
                    <div class="col-3">
                        <input type="text" maxlength="100" ng-model="ic.AccPayRecEarReports" />
                    </div>

                    <div class="col-3"><span>Net Settlement Amount Recommended for payment</span></div>
                    <div class="col-3">
                        <input type="text" maxlength="20" ng-model="ic.NetSetAmtRecPay" />
                    </div>
                </div>-->
                <!--<input type="hidden" value="@Request.QueryString[" cid"]" id="cid" />-->

        </form>
    </div>
</div>
