﻿@model BusinessLayer.Models.CSUserMaster

@{
    ViewBag.Title = "AddNewUser";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";

    if (TempData["msg"] == "User inserted successfully")
    {
    @Html.Raw("<script>alert('User inserted successfully');</script>")
    }
    else if (TempData["msg"] == "User updated successfully")
    {
    @Html.Raw("<script>alert('User updated successfully');</script>")
    }
    else if (TempData["msg"] == "Error")
    {
    @Html.Raw("<script>alert('Error');</script>")
    }
    else
    {
        TempData["msg"] = "";
    }
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#btnSubmit").click(function () {
            var x = $("#form1");
            var status = $(x).ValidationFunction();
            if (status == true) {
                return true;
            }
            else {
                return false;
            }
        })
        $("#btnCancel").click(function () {
            var url = window.location;
            url = window.location.href.split('#')[0];
            window.location.href = url.split('?')[0];
        });
    });
    $(function () {
        $('#mygrid').tablePagination({});
        $('#mygrid').tablesorter();
        $('body').addClass('loaded');
    });
</script>
@using (Html.BeginForm("AddNewUser", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{    @Html.HiddenFor(a => a.PkUserId)
    <div class="form_label">
        <div class="col-3"><span>First Name<em class="mandatory">*</em></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.FirstName, new { @class = "validate[required,character,'Please enter first name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3">
            <span>Last Name<em class="mandatory">*</em></span>
        </div>
        <div class="col-3">@Html.TextBoxFor(a => a.LastName, new { @class = "validate[required,character,'Please enter last name'] Txtbox", @maxlength = "50", @autocomplete = "off" })</div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Address<em class="mandatory">*</em></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Address, new { @class = "validate[required,'Please enter address'] TxtboxArea", @maxlength = "499", @autocomplete = "off" })
        </div>
        <div class="col-3">
            <span>Email Id<em class="mandatory">*</em></span>
        </div>
        <div class="col-3">@Html.TextBoxFor(a => a.Email, new { @class = "validate[required,emailId,'Please enter valid emailid'] Txtbox", @maxlength = "55", @autocomplete = "off" })</div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Mobile<em class="mandatory">*</em></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,Mobile,'Please enter valid mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })
        </div>
        <div class="col-3">
            <span>Designation<em class="mandatory">*</em></span>
        </div>
        <div class="col-3">@Html.TextBoxFor(a => a.Designation, new { @class = "validate[required,character,'Please enter designation'] Txtbox", @maxlength = "50", @autocomplete = "off" })</div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>State<em class="mandatory">*</em></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.StateCode, new SelectList(BusinessLayer.BLCommon.BindStates(), "Key", "Value"), new { @class = "validate[required,'Please select state'] Drp", @id = "drpState" })
        </div>
        <div class="col-3">
            <span>District<em class="mandatory"></em></span>
        </div>
        <div class="col-3">@Html.DropDownListFor(ut => ut.DistrictCode, new SelectList(BusinessLayer.BLCommon.BindDistricts(Convert.ToString(Model.StateCode)), "Key", "Value"), new { @class = "validate[required,'Please select district'] Drp", @id = "drpDistrict" })</div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Role<em class="mandatory"></em></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkRoleID, new SelectList(BusinessLayer.BLCommon.BindRole(), "Key", "Value"), new { @class = "validate[required,'Please select role'] Drp", @id = "drpRole" })
        </div>
        <div class="col-3">&nbsp;</div>
        <div class="col-3">&nbsp;</div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.UserName, new { @class = "validate[required,'Please enter user name'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtUserName" })
            @*<img id="imgUserName" onclick="CheckUserExistance('SU','txtUserName',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />*@
        </div>
    </div>
        <div class="form_label">
            <div class="col-3"><span>Password<label class="mandatory">*</label></span></div>

            <div class="col-3">@Html.TextBoxFor(a => a.Password, new { @class = "validate[required,'Please enter Password'] Txtbox", @maxlength = "50", @autocomplete = "off" })</div>


            <div class="col-3"><span>Confirm Password<label class="mandatory">*</label></span></div>


            <div class="col-3">@Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "validate[required,'Please enter Confirm Passowrd'] Txtbox", @maxlength = "50", @autocomplete = "off" })</div>


        </div>

    <div class="form_label">
        <div class="col-12 t_center">
            <input type="submit" id="btnSubmit" value="@Model.BtnSubmit" name="command" class="btn" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Cancel" id="btnCancel" class="btn" />
        </div>
    </div>

    <div class="cb mb20"></div>

    <div class="form_label">
        <div class="col-6 fl">
            <input type="text" class="Txtbox" placeholder="Search" id="txtSearch" />
        </div>
        <div class="col-6 fr">
            <input type="button" value="Search" class="Btn" id="btnSearch" />&nbsp;&nbsp;&nbsp;<input type="button" class="Btn" value="Reset" id="btnReset" />
        </div>
    </div>

    <div class="cb mb20"></div>
    <div class="grid_body">
        <table class="mygrid" id="mygrid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Designation</th>
                    <th>District</th>
                    <th>State</th>
                    <th>Email Id</th>
                    <th>Mobile</th>
                    <th>Role</th>
                    <th>Create Date</th>
                    <th title="Edit | Delete">Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                @foreach (var item in ViewBag.BindUsers)
                {
                    <tr>
                        <td>@item.FullName </td>
                        <td>@item.Address</td>
                        <td>@item.Designation </td>
                        <td>@item.District</td>
                        <td>@item.State</td>
                        <td>@item.Email</td>
                        <td>@item.Mobile</td>
                        <td>@item.RoleName</td>
                        <td>@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy") </td>
                        <td>
                            <a href="@Url.Action("AddNewUser", "SuperAdmin", new { @pkUserId = item.PkUserId })" class="Btn" title="Edit">
                                <img src="@Url.Content("~/Images/edit-128.png")" style="width:13px;height:13px;" alt="" title="Edit" />
                            </a>
                            <a href="@Url.Action("DeleteUser", "SuperAdmin", new { @pkUserId = item.PkUserId })" title="Delete" onclick="return confirm('Are you sure you wish to delete this record?');" class="Btn">
                                <img src="@Url.Content("~/Images/Delete_icon.png")" style="width:13px;height:13px;" alt="" title="Delete" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
