﻿@{
    ViewBag.Title = "SendMail";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";
}

<div ng-controller="EmailLogCtrl">


<button type="button" class="btn yellow" ng-click="automaticSendMarineLorReminder()">Send Mail</button>
</div>
@section scripts{
    
<script src="~/Scripts/Angular/Contoller/Common/EmailLog.js"></script>
    }

