﻿@{
    ViewBag.Title = "ManageBrokers";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";
}

<div ng-controller="BrokerCtrl">
    <div class="grid_body">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Broker Name</th>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Mobile</th>
                    <th>Email Id</th>
                    <th title="View | Delete">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in listBrokerDetails"> 
                    <td>
                        {{b.BrokerName}}

                    </td>
                    <td>
                        {{b.PricipalOfficerName}}
                    </td>
                    <td>{{b.UserName}}</td>
                    <td>{{b.MobileNo}}</td>
                    <td>{{b.EmailId}}</td>
                    <td style="cursor:pointer;">
                        <img src="~/Images/approve.png" style="width:25px;height:25px;" alt="" title="Approve" ng-show="b.ApprovedStatus=='Approved'" ng-click="approveOrDiscardBroker(b.PK_BR_ID,b.ApprovedStatus)"/>
                        <img src="~/Images/discarded.png" style="width:25px;height:25px;" alt="" title="Approve" ng-show="b.ApprovedStatus=='Discarded'" ng-click="approveOrDiscardBroker(b.PK_BR_ID,b.ApprovedStatus)"/>
                        <img src="~/Images/panding.png"  style="width:25px;height:25px;" alt="" title="Approve" ng-show="b.ApprovedStatus=='Pending'" ng-click="approveOrDiscardBroker(b.PK_BR_ID,b.ApprovedStatus)"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
<script src="~/Scripts/Angular/Contoller/Broker/BrokerCtrl.js"></script>
}
