﻿@model BusinessLayer.Models.CSInsuredRegistration

@{
    ViewBag.Title = "ManageInsured";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("heading").html("Manage Insureds");
        $('#mygrid').tablePagination({});
        $('#mygrid').tablesorter();
    });
</script>


@using (Html.BeginForm("ManageInsured", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="grid_body">
        <table id="mygrid" class="mygrid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>State</th>
                    <th>District</th>
                    <th>Mobile</th>
                    <th>ApproveStatus</th>
                    @*<th>Create Date</th>*@
                    <th title="View | Delete">Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                @foreach (System.Data.DataRow row in (ViewBag.InsuredDetails as System.Data.DataTable).Rows)
                {
                    <tr>
                        <td>@row["Name"] </td>
                        <td>@row["UserName"]</td>
                        <td>@row["StateName"]</td>
                        <td>@row["DistrictName"]</td>
                        <td>@row["Mobile"]</td>
                        <td>@row["ApproveStatus"]</td>
                        @*<td>@Convert.ToDateTime(row["CreatedDate"]).ToString("dd-MMM-yyyy") </td>*@
                        <td>
                            <a href="#" onclick="getInsuredDetails_byPK_InsdID('@row["PK_InsdID"]')" class="Btn" title="Edit">
                                <img src="@Url.Content("~/Images/find.png")" style="width:25px;height:25px;" alt="" title="View" />
                            </a>
                            <a href="#" onclick="ApproveOrDiscardInsured('@row["PK_InsdID"]',this,'img_@row["PK_InsdID"]')" title="Approve">
                                @if (Convert.ToString(row["ApproveStatus"]).ToLower() == "approved")
                                {
                                    <img src="@Url.Content("~/Images/approve.png")" id="img_@row["PK_InsdID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                }
                                else if (Convert.ToString(row["ApproveStatus"]).ToLower() == "discarded")
                                {
                                    <img src="@Url.Content("~/Images/discarded.png")" id="img_@row["PK_InsdID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Images/panding.png")" id="img_@row["PK_InsdID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                }
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}