﻿@model BusinessLayer.Models.CSSurveyorsRegistration

@{
    ViewBag.Title = "ManageTrainee";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("heading").html("Manage Trainees/Assistent");
        $('#mygrid').tablePagination({});
        $('#mygrid').tablesorter();
        //$('body').addClass('loaded');
    });
</script>

@using (Html.BeginForm("ManageTrainee", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="cb"></div>
    <div class="grid_body">
        <table id="mygrid" class="mygrid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>State</th>
                    <th>District</th>
                    <th>Mobile</th>
                    <th>ApproveStatus</th>
                    @*<th>Create Date</th>*@
                    <th title="View | Delete">Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                @foreach (System.Data.DataRow row in (ViewBag.TraineeDetails as System.Data.DataTable).Rows)
                {
                    <tr>
                        <td>@row["FullName"] </td>
                        <td>@row["UserName"]</td>
                        <td>@row["StateName"]</td>
                        <td>@row["DistrictName"]</td>
                        <td>@row["Mobile"]</td>
                        <td>@row["ApproveStatus"]</td>
                        <td>
                            <a href="#" onclick="ViewTrainee('@row["PK_TSURID"]')" class="Btn" title="Edit">
                                <img src="@Url.Content("~/Images/find.png")" style="width:25px;height:25px;" alt="" title="View" />
                            </a>
                            <a href="#" onclick="ApproveOrDiscardTrainee('@row["PK_TSURID"]',this,'img_@row["PK_TSURID"]')" title="Approve">
                                @if (Convert.ToString(row["ApproveStatus"]).ToLower() == "approved")
                                {
                                    <img src="@Url.Content("~/Images/approve.png")" id="img_@row["PK_TSURID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                }
                                else if (Convert.ToString(row["ApproveStatus"]).ToLower() == "discarded")
                                {
                                    <img src="@Url.Content("~/Images/discarded.png")" id="img_@row["PK_TSURID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Images/panding.png")" id="img_@row["PK_TSURID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                }
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
