﻿@model BusinessLayer.Models.CSUserMaster
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";
    if (TempData["msg"] == "Error")
    {
        @Html.Raw("<script>alert('Error');</script>")
    }
    else if (TempData["msg"] == "User deleted successfully")
    {
        @Html.Raw("<script>alert('User deleted successfully');</script>")
    }
    else
    {
        TempData["msg"] = "";
    }
}


@using (Html.BeginForm("ManageUser", "SuperAdmin"))
{

    <div class="form_label">
        <div class="col-3"><span>Mobile<em class="mandatory"></em></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })
        </div>
        <div class="col-3">Role</div>
        <div class="col-3">@Html.DropDownListFor(ut => ut.FkRoleID, new SelectList(BusinessLayer.BLCommon.BindRole(), "Key", "Value"), new { @class = "validate[required,'Please select role'] Drp", @id = "drpRole" })</div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Date From<em class="mandatory"></em></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.DateFrom, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off", @id = "txtDateFrom", @style = "readonly:readpnly" })
            <img src="../images/calander.jpg" height="17" width="24" style="cursor: pointer;" onclick="calander('txtDateFrom');" />
        </div>
        <div class="col-3">To</div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.DateTo, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off", @id = "txtDateTo", @style = "readonly:readpnly" })
            <img src="@Url.Content("~/Images/calander.jpg")" height="17" width="24" style="cursor: pointer;" onclick="calander('txtDateTo');" />
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Role<em class="mandatory"></em></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkRoleID, new SelectList(BusinessLayer.BLCommon.BindRole(), "Key", "Value"), new { @class = "validate[required,'Please select role'] Drp", @id = "drpRole" })
        </div>
        <div class="col-3">&nbsp;</div>
        <div class="col-3">&nbsp;</div>
    </div>

    <div class="form_label">
        <div class="col-12 t_center">
            <input type="submit" name="command" id="btnSubmit" value="Search" class="btn" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btnCancel" value="Cancel" type="button" class="btn" />
        </div>
    </div>

    <div class="cb mb20"></div>

    <div class="form_label">
        <div class="col-12 fr">
            <input type="submit" name="Command" value="Export to Excel" class="Btn" id="btnExport" />
        </div>
    </div>


    <div class="cb"></div>
    <div class="grid_body">
        <table id="mygrid" class="mygrid">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Address</th>
                    <th>Designation</th>
                    <th>District</th>
                    <th>State</th>
                    <th>Email</th>
                    @*<th>Create Date</th>*@
                    <th>Mobile</th>
                    <th>RoleName</th>
                    <th>CreateDate</th>
                    <th title="View | Delete">Action</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.BindUsers)
            {
                <tr id="@item.userId">
                    <td>@item.FullName</td>
                    <td>@item.Address</td>
                    <td>@item.Designation</td>
                    <td>@item.District</td>
                    <td>@item.State</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                    <td>@item.RoleName</td>
                    <td>@item.CreateDate</td>
                    <td>
                        <a href="@Url.Action("AddNewUser", "SuperAdmin", new { @pkUserId = item.PkUserId })">
                            <img src="@Url.Content("~/Images/edit-128.png")" style="width:20px;height:20px;" alt="" title="Edit" />
                        </a>|
                        <a href="@Url.Action("DeleteUser", "SuperAdmin", new { @pkUserId = item.PkUserId })" onclick="return confirm('Are you sure you wish to delete this record?');">
                            <img src="@Url.Content("~/Images/Delete_icon.png")" style="width:20px;height:20px;" alt="" title="Delete" />
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>


    @*if (ViewBag.BindUsers != null)
        {
            var grid = new WebGrid(ViewBag.BindUsers, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            grid.Pager(WebGridPagerModes.All);
        <div id="gridContent">
            @grid.GetHtml(tableStyle: "webGrid",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    htmlAttributes: new { id = "userId" },
                                    columns: grid.Columns(
                    grid.Column("FullName", header: "Name", canSort: true),
                    grid.Column("Address", header: "Address", canSort: false),
                    grid.Column("Designation", header: "Designation", canSort: false),
                    grid.Column("District", header: "District", canSort: false),
                    grid.Column("State", header: "State", canSort: false),
                    grid.Column("Email", header: "Email Id", canSort: false),
                    grid.Column("Mobile", header: "Mobile", canSort: false),
                    grid.Column("RoleName", header: "Role", canSort: false),
                    grid.Column("CreateDate", header: "Create Date", canSort: true,
                    format: @<text>
            @item.CreateDate.ToString("dd-MMM-yyyy")
            </text>),
                    grid.Column("Actions", header: "Actions", canSort: false, style: "al",
                        format: @<text>
            <a href="@Url.Action("AddNewUser", "SuperAdmin", new { @pkUserId = item.PkUserId })" class="Btn">
                <img src="@Url.Content("~/Images/edit-128.png")" style="width:20px;height:20px;" alt="" title="Edit" />
            </a>|
                    <a href="@Url.Action("DeleteUser", "SuperAdmin", new { @pkUserId = item.PkUserId })" onclick = "return confirm('Are you sure you wish to delete this record?');" class="Btn">
                        <img src="@Url.Content("~/Images/Delete_icon.png")" style="width:20px;height:20px;" alt="" title="Delete" />
                    </a>
            </text>)))
        </div>
        }*@
}