﻿@model BusinessLayer.Models.CSSurveyorsRegistration

@{
    ViewBag.Title = "ManageSurveyors";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("heading").html("Manage Surveyors");
        $('#mygrid').tablePagination({});
        $('#mygrid').tablesorter();
    });
</script>

@using (Html.BeginForm("ManageSurveyors", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="cb"></div>
    <div class="grid_body">
        <table id="mygrid" class="mygrid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Member Ship</th>
                    <th>Mobile</th>
                    <th>Email Id</th>
                    <th>State</th>
                    <th>District</th>
                    @*<th>Address</th>
                        <th>StaxNo</th>
                        <th>SLANo</th>*@
                    <th>Status</th>
                    <th>Create Date</th>
                    <th title="View | Delete">Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                @foreach (System.Data.DataRow row in (ViewBag.SurveyorsDetails as System.Data.DataTable).Rows)
                    {
                    <tr>
                        <td>@row["FullName"] </td>
                        <td>@row["MemberShip"]</td>
                        <td>@row["Mobile"]</td>
                        <td>@row["Email"]</td>
                        <td>@row["StateName"]</td>
                        <td>@row["DistrictName"]</td>
                        <td>@row["ApproveStatus"]</td>
                        @*<td>@row["Address"]</td>
                            <td>@row["StaxNo"]</td>
                            <td>@row["SLANo"]</td>*@
                        <td>@Convert.ToDateTime(row["CreatedDate"]).ToString("dd-MMM-yyyy") </td>
                        <td>
                            <a href="#" onclick="SurveryorView('@row["PK_SURID"]')" class="Btn" title="Edit">
                                <img src="@Url.Content("~/Images/find.png")" style="width:25px;height:25px;" alt="" title="View" />
                            </a>
                            <a href="#" onclick="ApproveOrDiscardSurveyor('@row["PK_SURID"]',this,'img_@row["PK_SURID"]')" title="Approve">
                                @if (Convert.ToString(row["ApproveStatus"]).ToLower() == "approved")
                                    {
                                    <img src="@Url.Content("~/Images/approve.png")" id="img_@row["PK_SURID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                    }
                                    else if (Convert.ToString(row["ApproveStatus"]).ToLower() == "discarded")
                                    {
                                    <img src="@Url.Content("~/Images/discarded.png")" id="img_@row["PK_SURID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                    }
                                    else
                                    {
                                    <img src="@Url.Content("~/Images/panding.png")" id="img_@row["PK_SURID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                                    }
                            </a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>

}
