﻿@{
    ViewBag.Title = "ManageUserNew";
    Layout = "~/Views/Shared/SupperAdminMaster.cshtml";
}



<script type="text/javascript">
    $(function () {
        $("heading").html("Add New User");
 });
</script>

<div ng-controller="UserMasterCtrl">
    <form id="formUserMaster">
        <div class="form_label">
            <div class="col-3"><span>First Name<em class="mandatory">*</em></span></div>
            <div class="col-3">
                <input type="text" ng-model="u.FirstName" class="validate[required,'Please enter first name'] Txtbox" maxlength="50" id="fname" />

            </div>
            <div class="col-3">
                <span>Last Name<em class="mandatory">*</em></span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="u.LastName" class="validate[required,'Please enter last name'] Txtbox" maxlength="50" id="lname" />

            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Address<em class="mandatory">*</em></span></div>
            <div class="col-3">
                <input type="text" ng-model="u.Address" class="validate[required,'Please enter address'] TxtboxArea" maxlength="499" id="add" />

            </div>
            <div class="col-3">
                <span>Email Id<em class="mandatory">*</em></span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="u.Email" class="validate[required,emailId,'Please enter valid emailid'] Txtbox" maxlength="55" id="email" />

            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Mobile<em class="mandatory">*</em></span></div>
            <div class="col-3">
                <input type="text" ng-model="u.Mobile" class="validate[required,Mobile,'Please enter valid mobile number'] Txtbox" maxlength="10" id="mob" />

            </div>
            <div class="col-3">
                <span>Designation<em class="mandatory">*</em></span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="u.Designation" class="validate[required,'Please enter designation'] Txtbox" id="des" maxlength="50" />

            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>State<em class="mandatory">*</em></span></div>
            <div class="col-3">
                <select ng-options="s.StateCode  as s.StateName for s in listState" ng-model="u.StateCode" ng-change="getDistricts_byStateId(i.FkState)"
                        class="validate[required,'Please select state'] Drp" id="st"></select>

            </div>
            <div class="col-3">
                <span>District<em class="mandatory"></em></span>
            </div>
            <div class="col-3">
                <select ng-options="d.PKDistrictsId as d.DistrictName for  d in listDistricts" ng-model="u.DistrictCode"
                        class="validate[required,'Please select district'] Drp" id="dis"></select>

            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Role<em class="mandatory"></em></span></div>
            <div class="col-3">
                <select ng-options="r.PKRoleID as r.RoleName for  r in listRole" ng-model="u.RoleID"
                        class="validate[required,'Please select Role'] Drp" id="role"></select>

            </div>
            <div class="col-3">&nbsp;</div>
            <div class="col-3">&nbsp;</div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="u.UserName" class="validate[required,'Please enter user name'] Txtbox" maxlength="50" id="username" />

            </div>
        </div>
        <div class="form_label">
            <div class="col-3"><span>Password<label class="mandatory">*</label></span></div>

            <div class="col-3">
                <input type="password" ng-model="u.Password" class="validate[required,'Please enter Password'] Txtbox" id="pass" maxlength="50" />
            </div>


            <div class="col-3"><span>Confirm Password<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="password" ng-model="u.ConfirmPassword" class="validate[required,'Please enter Confirm Passowrd'] Txtbox" maxlength="50" id="confpass"/>

            </div>


        </div>

        <div class="form_label">
            <div class="col-12 t_center">
                <button type="button" class="btn btn-info" ng-click="UserMasterValidation()">Submit</button>
                <a href="/SuperAdmin/Index" class="btn btn-info">Cancel</a>
            </div>
        </div>

        <div class="cb mb20"></div>

        @*<div class="form_label">
                <div class="col-6 fl">
                    <input type="text" class="Txtbox" placeholder="Search" id="txtSearch" />
                </div>
                <div class="col-6 fr">
                    <input type="button" value="Search" class="Btn" id="btnSearch" />&nbsp;&nbsp;&nbsp;<input type="button" class="Btn" value="Reset" id="btnReset" />
                </div>
            </div>*@

    </form>

    <div class="cb mb20"></div>
    <div class="grid_body">
        <table class="mygrid" id="mygrid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Designation</th>
                    <th>District</th>
                    <th>State</th>
                    <th>Email Id</th>
                    <th>Mobile</th>
                    <th>Role</th>
                    @*<th>Create Date</th>*@
                    <th title="Edit | Delete">Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                <tr ng-repeat="u in listUser">

                    <td>{{u.FirstName}}</td>
                    <td>{{u.Address}}</td>
                    <td>{{u.Designation}}</td>
                    <td>{{u.District}}</td>
                    <td>{{u.State}}</td>
                    <td>{{u.Email}}</td>
                    <td>{{u.Mobile}}</td>
                    @*<td>{{u.UserName}}</td>
                        <td>{{u.Password}}</td>
                        <td>{{u.ConfirmPassword}}</td>*@
                    <td>{{u.RoleID}}</td>
                    <td ng-click="rowClick()" style="cursor:pointer;">
                        <img src="~/Images/edit.jpg" style="height:20px; width:20px;" alt="Edit" />

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Angular/Contoller/SuperAdmin/UserMasterCtrl.js"></script>
}