﻿@model BusinessLayer.Models.CSTraineeSurveyorRegistration

@{
    ViewBag.Title = "AssignedTask";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<div id="divGenrateClaim">
    <table class="tbllist" style="width: 75%" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>Policy Type</td>
            <td>@Html.DropDownListFor(ut => ut.FKDepartment, new SelectList(BusinessLayer.BLCommon.BindDepartments(), "Key", "Value"), new { @class = "validate[required,'Please select depatment'] Drp", @id = "drpdepatment" })</td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="btnSubmit" value="Submit" name="command" class="Btn" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Cancel" id="btnCancel" class="Btn" /></td>
            <td></td>
        </tr>
    </table>
</div>
