﻿@model BusinessLayer.Models.CSGenrateClaim

@{
    ViewBag.Title = "ClaimForm";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}




<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Policy Particulars");
    });
</script>
<script>
    $(document).ready(function () {
        $('#divModeConvey :checkbox').change(function () {
            //if($('input[data-mc="Other"].prop(checked)'))
            //{
            //    alert();
            //}
            //console.log(($(this).attr('data-mc')));
            if (($(this).attr('data-mc')) == "Other" && ($(this).prop('checked')))
            {
                $('#divMcO').show();
            }
           else if (($(this).attr('data-mc')) == "Other" && (!$(this).prop('checked'))) {
               $('#divMcO').hide();
            }
            //if (($(this).attr('data-mc')) == "Other") {
            //    $('#divMcO').show();
            //}
            //else {
            //    $('#divMcO').hide();
            //}
        })
        function ModeConveyanceOtherHideShow() {
            var i = 0;
            $('#divModeConvey input:checked').each(function () {
                i = 1;
                if (($(this).attr('data-mc')) == "Other") {
                    $('#divMcO').show();
                }
                else {
                    $('#divMcO').hide();
                }
            })
            if(i==0)
            {
                $('#divMcO').hide();
            }
        }
        ModeConveyanceOtherHideShow();

    })
</script>

@Html.HiddenFor(a => a.Task)
<div class="form_wrap cf" ng-controller="ConcernedCtrl">
    <div class="col-12">
        <div class="form-bg">
            <div id="divClaimForm">
                @using (Html.BeginForm("ClaimForm", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                {
                    @Html.Partial("_ClaimForm", Model)
                }
            </div>
        </div>
    </div>
</div>
<div>
    <form action="/Survery/SurveyVisits" enctype="multipart/form-data" id="form4" method="post">
        <input type="hidden" id="fkSurveyVisitsClaimId" name="fkClaimId" />
        <input type="hidden" id="SurveyVisitsTask" name="task" />
    </form>
</div>


<div>
    <form action="/Survery/ManageClaims" enctype="multipart/form-data" id="formManageClaim" method="post">
    </form>
</div>


@*<form action="/Survery/SurveyVisits" enctype="multipart/form-data" id="form4" method="post">
    <input type="hidden" id="fkSurveyVisitsClaimId" name="fkClaimId" />
    <input type="hidden" id="SurveyVisitsTask" name="task" />
</form>*@

<form action="/Survery/MarineJIRConsignment" enctype="multipart/form-data" id="form_MarineJIRConsignment" method="post">
    <input type="hidden" id="fkTranshipMentClaimId" name="fkClaimId" />
    <input type="hidden" id="MarineJIRConsignmentTask" name="task" />
</form>
@section scripts{
<link href="../../Scripts/MultipleEmailPlugin/multiple-emails.css" rel="stylesheet" />
<script src="../../Scripts/MultipleEmailPlugin/multiple-emails.js"></script>
<script src="~/Scripts/Angular/Contoller/Common/ConcernedCtrl.js"></script>
}
