﻿@model BusinessLayer.Models.CSMotorSurvey

@{
    ViewBag.Title = "EstimateLoss";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
        $(window).load(function () {


            $("heading").html("INSURED’S  CLAIM");
        });
</script>



@using (Html.BeginForm("EstimateLoss", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form5" }))
{
    @Html.HiddenFor(a => a.PK_ID)
    @Html.HiddenFor(a => a.FK_ClaimID)
    <div class="form_label">
        <div class="col-3"><span>Upload Estimate<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.UploadEstimate, new { @class = "validate[required,'Please enter estimate'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtEstimate" })
        </div>

        <div class="col-3"><span>Mobile<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,Mobile,'Please enter mobile number'] Txtbox", @maxlength = "12", @autocomplete = "off", @id = "txtMobile" })
        </div>
    </div>
    
    <div class="form_label">
        <div class="col-3"><span>Email<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Email, new { @class = "validate[required,emailId,'Please enter emailid'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtEmailId" })
        </div>

        <div class="col-3"><span>Repairer<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Repairer, new { @class = "validate[required,'Please enter repairer details'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRepairer" })
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>TotalCost<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.TotalCost, new { @class = "validate[required,'Please enter total cost'] Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtTotalCost" })
        </div>
        <div class="col-3">
            <span>
                <label class="mandatory">*</label></span>
        </div>
        <div class="col-3">
        </div>
    </div>    

    @*<div class="form_label">
        <div class="col-6">
            <input type="submit" id="btnSubmitEstimate" title="Submit" value="Submit" />
        </div>
        <div class="col-6">
            <input type="button" id="btnCancel" title="Cancel" value="Cancel" />
        </div>
    </div>*@
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <input type="submit" id="btnSubmitEstimate" title="Submit" value="Next" />
            <input type="button" id="btnCancel" title="Cancel" value="Cancel" />
            <a href="/Survery/ParticularsOfDamage?cid=@Model.FK_ClaimID" class="btn yellow" style="float:left;">
                Prev
            </a>
        </div>
    </div>
}