﻿@model BusinessLayer.Models.CSGenrateClaim
@using System.Web.Mvc.Html;
@{


    ViewBag.Title = "GenrateClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
    if (TempData["msg"] == "Inserted Successfully")
    {
        TempData["msg"] = "";
        @Html.Raw("<script>alert('Inserted Successfully');</script>")
    }
    else if (TempData["msg"] == "Error")
    {
        @Html.Raw("<script>alert('Error');</script>")
    }
    else
    {
        TempData["msg"] = "";
    }
}

<script type="text/javascript">
    jQuery(document).ready(function () {

        $("#btnSubmit").click(function () {
            var x = $("#form1");
            var status = $(x).ValidationFunction();
            if (status == true) {
                return true;
            }
            else {
                return false;
            }
        })

        $("#btnSearch").click(function () {
            var x = $("#form2");
            var status = $(x).ValidationFunction();

            if (status == true) {

                if ($("#txtSearchEmail").val() != "") {
                    $.ajax({
                        type: "POST",
                        url: "/Collaborator/GetRegisteredInsuredDetails",
                        data: { "emailId": $("#txtSearchEmail").val() },
                        dataType: "json",
                        success: function (Result) {
                            if (Result.length > 0) {
                                $("#Email").val(Result[0].Email);
                                $("#PolicyNo").val(Result[0].PolicyNo);
                                $("#Name").val(Result[0].NAME);
                                $("#Mobile").val(Result[0].Mobile);
                                $("#Address").val(Result[0].Address);
                                $("#divSearch").show().slideUp(500);
                                $("#divGenrateClaim").hide().slideDown(500);
                                //    $("#InsdType").val("R");

                                $("#Email").attr("readonly", "true");
                                $("#Name").attr("readonly", "true");
                                $("#Mobile").attr("readonly", "true");
                                $("#Address").attr("readonly", "true");
                            }
                            else {
                                showSuccessToast("Insured not found");
                                $("#Email").attr("readonly", "false");
                                $("#PolicyNo").attr("readonly", "false");
                                $("#Name").attr("readonly", "false");
                                $("#Mobile").attr("readonly", "false");
                                $("#InsrAddress").attr("readonly", "false");
                            }
                        }
                    });
                }
            }
            else {
                return false;
            }
        });

        $("#btnCancel").click(function () {
            var url = window.location;
            url = window.location.href.split('#')[0];
            window.location.href = url.split('?')[0];
        });

        $("#txtInstructionDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });

        $(window).load(function () {
            $("heading").html("Generate Claim");
            $("#rboneTime").prop("checked", true);
            $("#rbRegistered").prop("checked", false);
            $("#InsdType").val("O");
            $("#divGenrateClaim").show();
            $("#divSearch").hide();
            $("#lblVRegNo").hide();
            $("#txtVRegNo").hide();
            $("#divSurveyType").hide();
            getNatureofLoss();

        });

        $('input:radio[name="InsuredType"]').change(function () {
            debugger;
            if ($(this).val() == 'One Time') {
                $("#InsdType").val("O");
                $("#divSearch").hide().slideUp(500);
                $("#divGenrateClaim").hide().slideDown(500);
            } else {
                $("#InsdType").val("R");
                $("#divSearch").show().slideDown(500);
                $("#divGenrateClaim").show().slideUp(500);
            }
            ClearTxtBox();
        });

        $('input:radio[name="SurveyType"]').change(function () {
            debugger;
            if ($(this).val() == 'Pre') {

                $("#SurveyType").val("Pre");
                $("#ReportedLoss").val("NA");
                $("#ReportedLoss").prop("disabled", true);
            } else if ($(this).val() == 'Spot') {

                $("#SurveyType").val("Spot");
                $("#ReportedLoss").val("NA");
                $("#ReportedLoss").prop("disabled", true);
            }
            else if ($(this).val() == 'Re') {
                $("#SurveyType").val("Re");
                $("#ReportedLoss").val("NA");
                $("#ReportedLoss").prop("disabled", true);
            }
            else {
                $("#SurveyType").val("Final");
                $("#ReportedLoss").val("");
                $("#ReportedLoss").prop("disabled", false);
            }
        });

        function ClearTxtBox() {
            $("#PolicyNo").val("");
            $("#Name").val("");
            $("#Email").val("");
            $("#Mobile").val("");
            $("#InsrClaimNo").val("");
            $("#ReportedLoss").val("");
            $("#InstructorName").val("");
            $("#txtInstructionDate").val("");
            $("#InsrAddress").val("");
            $("#Address").val("");
            $("#IEmail").val("");
            $("#txtSearchEmail").val();
            $("#drpdepatment option[value='0']").attr("selected", "selected");
            $("#drpInsrId option[value='0']").attr("selected", "selected");
        }
        $(document).on("change", "#drpdepatment", function () {
            var deptId= this.value;
                            $.ajax({
                    url: '/Collaborator/getNatureofLoss?deptId=' + deptId,
                    type: 'POST',
                    //data: JSON.stringify(b),
                    datatype: 'json',
                    contentType: 'application/json; charset:utf-8',
                    success: function (res) {
                        console.log(res);
                        var listNL = res.listNL;
                        var tr = '';
                        $(listNL).each(function (index, value) {
                            tr += '<option value='+value.PK_NL_ID+'>' + value.NatureOfLoss + '</option>';
                        })
                        $('#listNatureOfLoss').html('');
                        $('#listNatureOfLoss').append(tr);
                        $('#NatureOfLossId').val(0);
                    },
                    error: function (res) {
                        console.log(res);
                        $('#NatureOfLossId').val(0);
                    }

                })
        })
        function getNatureofLoss() {
            var deptId =@Model.FkDepartment;
            
            $.ajax({
                url: '/Collaborator/getNatureofLoss?deptId=' + deptId,
                type: 'POST',
                //data: JSON.stringify(b),
                datatype: 'json',
                contentType: 'application/json; charset:utf-8',
                success: function (res) {
                    console.log(res);
                    var listNL = res.listNL;
                    var tr = '';
                    $(listNL).each(function (index, value) {
                        tr += '<option value=' + value.PK_NL_ID + '>' + value.NatureOfLoss + '</option>';
                    })
                    $('#listNatureOfLoss').html('');
                    $('#listNatureOfLoss').append(tr);
                    $('#listNatureOfLoss').val(@Model.NatureOfLossId);
                },
                error: function (res) {
                    console.log(res);
                }

            })
        }
        $(document).on("change", "#listNatureOfLoss", function () {
 
            $('#NatureOfLossId').val(this.value);
           
            
        })
        

    });
</script>

@*<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">*@

@using (Html.BeginForm("GenrateClaim", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="form_label">
        <div class="col-6"><span>Insured Type<label class="mandatory">*</label></span></div>
        <div class="col-6">
            @Html.HiddenFor(a => a.InsdType)
            @Html.HiddenFor(a => a.SurveyType)
            @Html.HiddenFor(a => a.FkClaimId)

            <input type="radio" name="InsuredType" id="rboneTime" value="One Time" checked />One Time
            <input type="radio" name="InsuredType" id="rbRegistered" value="Registered" />Registered
        </div>
    </div>

    <div id="divGenrateClaim">

        <div class="form_label">
            <div class="col-3"><span>Policy No<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @{
                    if (Model.PolicyNo == "" || Model.PolicyNo == null)
                    {
                        @Html.TextBoxFor(a => a.PolicyNo, new { @class = "validate[required,'Please enter policy no'] Txtbox", @maxlength = "50", @autocomplete = "off" })
                    }
                    else
                    {
                        @Html.TextBoxFor(a => a.PolicyNo, new { @class = "validate[required,'Please enter policy no'] Txtbox ", @maxlength = "50", @autocomplete = "off" })
                    }
                }
            </div>

            <div class="col-3"><span>Department Type<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.DropDownListFor(ut => ut.FkDepartment, new SelectList(BusinessLayer.BLCommon.BindDepartments(), "Key", "Value"), new { @class = "validate[required,'Please select depatment'] Drp", @id = "drpdepatment" })
            </div>
        </div>

        <div class="form_label">

            <div class="col-3"><span>Insured name<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.Name, new { @class = "validate[required,'Please enter insured name'] TxtboxArea", @maxlength = "100", @autocomplete = "off" })
            </div>

            <div class="col-3"><span>Insured Email<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.Email, new { @class = "validate[required,emailId,'Please enter valid emailid'] Txtbox", @maxlength = "55", @autocomplete = "off" })
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Insured Mobile<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,Mobile,'Please enter valid mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })
            </div>

            <div class="col-3"><span>Insured Address<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextAreaFor(a => a.Address, new { @class = "validate[required,'Please enter any address'] TxtboxArea", @maxlength = "500", @autocomplete = "off" })
            </div>
        </div>

        <div class="form_label">

            <div class="col-3"><span>Insurer<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.DropDownListFor(ut => ut.FkInsrId, new SelectList(BusinessLayer.BLCommon.BindInsurersType(), "Key", "Value"), new { @class = "Drp", @id = "drpInsrId" })

            </div>

            <div class="col-3"><span>Insurer Address<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.TextAreaFor(a => a.InsrAddress, new { @class = "TxtboxArea", @maxlength = "500", @autocomplete = "off" })
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Insurers Claim No<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.InsrClaimNo, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off" })
            </div>
            <div class="col-3"><span id="lblVRegNo">Vehicle Registration No.<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.VRegNo, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtVRegNo" })
            </div>
        </div>

        <div class="form_label" id="divSurveyType">
            @*<div class="col-3">
                    <span>Survey Type:<label class="mandatory"></label></span>
                </div>
                <div class="col-9">

                    <input type="radio" name="SurveyType" id="rbPreInspect" value="Pre" />Pre-Insurance Inspection
                    <input type="radio" name="SurveyType" id="rbSpot" value="Spot" />Spot Survey
                    <input type="radio" name="SurveyType" id="rbFinal" value="Final" checked />Final Survey
                    <input type="radio" name="SurveyType" id="rbReinspect" value="Re" />Re-Inspection
                </div>*@
        </div>


        <div class="form_label">
            <div class="col-12"><span><b>Source of Instruction</b></span></div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Reported Loss (₹)<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.ReportedLoss, new { @class = "validate[required,nummber,'Please enter valid amount'] Txtbox", @maxlength = "10", @autocomplete = "off" })
            </div>
            <div class="col-3"><span>Instructor Name/Messenger<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.InstructorName, new { @class = "validate[required,'Please enter instructor name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Date of Instruction<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.InstructionDate, new { @class = "validate[required,'Please enter instruction date'] Txtbox", @maxlength = "10", @id = "txtInstructionDate", @readonly = "true", @autocomplete = "off" })
            </div>

            <div class="col-3"><span>Instructor Email<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.IEmail, new { @class = "validate[required,emailId,'Please enter valid emailid'] Txtbox", @maxlength = "55", @autocomplete = "off" })
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Nature of Loss<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <select id="listNatureOfLoss">

                </select>
                <div style="display:none;">
                @Html.TextBoxFor(a => a.NatureOfLossId, new {  @maxlength = "55", @autocomplete = "off" })
                    </div>
                @*@Html.DropDownListFor(ut => ut.NatureOfLossId, new SelectList(BusinessLayer.BLCommon.getNatureofLoss(Model.FkDepartment), "PK_NL_ID", "NatureOfLoss"), new { @class = "Drp" })*@
                @*@Html.DropDownListFor(ut => ut.NatureOfLossId, new SelectList(BusinessLayer.BLCommon.getNatureofLoss(), "PK_NL_ID", "NatureOfLoss"), new { @class = "Drp", @id = "drpNOL" })*@
            </div>

            <div class="col-3">
                <span>
                    Location of  Survey
                    <label class="mandatory"></label>
                </span>
            </div>
            <div class="col-3">
                @*<input class="validate[required,'Please enter instructor name'] Txtbox" id="txtALC" maxlength="50" name="LocationOfSurvey" type="text">*@
                @Html.TextBoxFor(a => a.LocationOfSurvey, new { @class = "validate[required,'Location of  Survey'] Txtbox", @maxlength = "2000", @autocomplete = "off" })
            </div>
        </div>

        <div class="form_label">
            <div class="col-12 t_center mt20">
                <input type="submit" id="btnSubmit" value="Submit" name="command" class="btn yellow" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value="Cancel" id="btnCancel" class="btn yellow" />
            </div>
        </div>

    </div>
                    }

<div id="divSearch">
    @using (Html.BeginForm("GenrateClaim", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form2" }))
    {

        <div class="form_label">
            <div class="col-3"><span>Insured Email</span></div>
            <div class="col-9">
                @Html.TextBoxFor(a => a.Email, new { @id = "txtSearchEmail", @class = "validate[required,emailId,'Please enter valid email id'] Txtbox", @maxlength = "55", @autocomplete = "off" })
            </div>
        </div>

        <div class="col-12">
            <div class="form_label">
                <div class="col-12 t_center mt20">
                    <input type="button" value="Search" id="btnSearch" class="btn yellow" />
                </div>
            </div>
        </div>
    }
</div>

@*        </div>
        </div>
    </div>*@
