﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".mandatory").html("");
        $("heading").html("&nbsp;");
    });
</script>

<div class="form_label">
    <div class="col-3">
        <div class="box">
            <img src="~/Images/adduser.png" />
        </div>
    </div>
    <div class="col-3">
        <div class="box">
            <img src="~/Images/usergroup.png" />
        </div>
    </div>

    <div class="col-3">
        <div class="box">
            <img src="~/Images/trainee.png" />
        </div>
    </div>

    <div class="col-3">
        <div class="box">
            <img src="~/Images/Claim.png" />
        </div>
    </div>
</div>

<div class="form_label">
    <div class="col-3">
        <div class="box">
            <img src="~/Images/adduser.png" />
        </div>
    </div>
    <div class="col-3">
        <div class="box">
            <img src="~/Images/usergroup.png" />
        </div>
    </div>

    <div class="col-3">
        <div class="box">
            <img src="~/Images/trainee.png" />
        </div>
    </div>

    <div class="col-3">
        <div class="box">
            <img src="~/Images/Claim.png" />
        </div>
    </div>
</div>