﻿@model BusinessLayer.Models.CSMarineJIR

@{
    ViewBag.Title = "LOR";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <input type="hidden" id="hdTask" value="@Model.Task" />
            <input type="hidden" id="hdFKClaimId" value="@Model.FKClaimId" />
            @using (Html.BeginForm("LOR", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form6" }))
            {
                @Html.Partial("_lor", Model)            
            }
        </div>
    </div>
</div>


<div>
    <form action="/Survery/MarineRemarksClaim" enctype="multipart/form-data" id="form_MarineRemarksClaim" method="post">
        <input type="hidden" id="fkMarineRemarksClaim_ClaimId" name="fkClaimId" />
        <input type="hidden" id="fkMarineRemarksClaim_Task" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/MarineISVR" enctype="multipart/form-data" id="form_MarineISVR" method="post">
        <input type="hidden" id="fkMarineISVR_ClaimId" name="fkClaimId" />
        <input type="hidden" id="fkMarineISVRClaim_Task" name="task" />
    </form>
</div>

<form action="/Survery/SubmitFSR" enctype="multipart/form-data" id="form_SubmitFSR" method="post">
    <input type="hidden" id="fkFSRClaimId" name="fkClaimId" />
    <input type="hidden" id="FSRTask" name="task" />
</form>

<form action="/Survery/SendMaillCC" enctype="multipart/form-data" id="form_SendMaillCC" method="post">
    <input type="hidden" id="fkMailClaimId" name="fkClaimId" />
    <input type="hidden" id="EmailIdCC" name="emailId" />
    <input type="hidden" id="EmailTask" name="task" />
</form>

<script type="text/javascript">

    function SendBackMarineRemarks(fkClaimId, task) {
        if (task == "FSR") {
            $("#fkFSRClaimId").val(fkClaimId);
            $("#FSRTask").val(task);
            $("#form_SubmitFSR").submit();
        } else {
            $("#fkMarineRemarksClaim_ClaimId").val(fkClaimId);
            $("#fkMarineRemarksClaim_Task").val(task);
            $("#form_MarineRemarksClaim").submit();
        }
    }

    function SendNextISVR(fkClaimId, task) {
        $("#fkMarineISVR_ClaimId").val(fkClaimId);
        $("#fkMarineISVRClaim_Task").val(task);
        $("#form_MarineISVR").submit();
    }

    $(document).ready(function () {
        BindMarineLORMaster('@Model.FKClaimId');
    });
</script>
