﻿@{
    ViewBag.Title = "LorNew";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("heading").html("LOR");

    });
</script>
<style>
    @@media(min-width:767px) {
        .btnGeneratePdf {
            position: absolute;
            left: 61.8%;
            bottom: 3.9%;
        }
    }
</style>

<div ng-controller="MarineLorNewCtrl">
    <form id="formMarineLorNew">
        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <input type="hidden" value="@Request.QueryString["task"]" id="task" />


        <div class="grid_body table-responsive" style="max-height:700px;">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Received
                        </th>
                        <th>Not Received</th>
                        <th>
                            Not Relevant
                        </th>
                        <th>List</th>
                        <th>Upload</th>
                        <th>Download</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="l in listLorDetailsNew">
                        <td style="text-align:center;">
                            <label ng-style="l.Rec_NotRec_NotRel=='Received' && {'background-color':'greenyellow'}" style="cursor:pointer;margin-bottom:0px !important; margin:auto;" class="well well-sm">
                                <input type="radio" value="Received" name="rn{{$index}}" ng-model="l.Rec_NotRec_NotRel" />
                            </label>


                        </td>
                        <td style="text-align:center;">
                            <label ng-style="l.Rec_NotRec_NotRel=='Not Received' && {'background-color':'red'}" class="well well-sm" style="cursor:pointer;margin-bottom:0px !important;  margin:auto;">
                                <input type="radio" value="Not Received" name="rn{{$index}}" ng-model="l.Rec_NotRec_NotRel" />
                            </label>
                        </td>
                        <td style="text-align:center;">
                            <label ng-style="l.Rec_NotRec_NotRel=='Not Relevant' && {'background-color':'lightgrey'}" class="well well-sm" style="cursor:pointer;margin-bottom:0px !important;margin:auto">
                                <input type="radio" value="Not Relevant" name="rn{{$index}}" ng-model="l.Rec_NotRec_NotRel" />
                            </label>
                        </td>
                        <td ng-show="l.LM_ID!=0">
                            <i>{{l.Name}}</i>
                        </td>
                        <td ng-show="l.LM_ID==0">
                            <i>{{l.LM_Name}}</i>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="file" id="{{$index}}" />
                                </div>
                                <div class="col-md-4">

                                    <button class="btn btn-info btn-sm" type="button" ng-click="saveLorDetailsNew_SingleRecord($index,l,'upload')">
                                        Upload
                                    </button>
                                </div>

                            </div>

                        </td>
                        <td>
                            <a href="~/files/{{l.FileName}}" ng-show="l.FileName!=null && l.FileName!='' && l.FileName!=undefined" download>Download</a>
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <label ng-style="a.Rec_NotRec_NotRel=='Received' && {'background-color':'greenyellow'}" class="well well-sm" style="cursor:pointer;margin-bottom:0px !important; margin:auto;">

                                <input type="radio" value="Received" name="rn{{$index}}" ng-model="a.Rec_NotRec_NotRel" />

                            </label>
                        </td>
                        <td style="text-align:center;">

                            <label ng-style="a.Rec_NotRec_NotRel=='Not Received' && {'background-color':'red'}" class="well well-sm" style="cursor:pointer;margin-bottom:0px !important; margin:auto;">
                                <input type="radio" value="Not Received" name="rn{{$index}}" ng-model="a.Rec_NotRec_NotRel" />

                            </label>
                        </td>
                        <td style="text-align:center;">
                            <label ng-style="a.Rec_NotRec_NotRel=='Not Relevant' && {'background-color':'lightgrey'}" class="well well-sm" style="cursor:pointer;margin-bottom:0px !important; margin:auto;">
                                <input type="radio" value="Not Relevant" name="rn{{$index}}" ng-model="a.Rec_NotRec_NotRel" />
                            </label>
                        </td>
                        <td>
                            <textarea rows="2" ng-model="a.LM_Name"></textarea>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="file" id="file" />
                                </div>
                                <div class="col-md-4">

                                    <button type="button" class="btn btn-sm btn-primary" ng-click="saveLorDetailsNew_SingleRecord('',a,'save')">Save</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>























        <div class="form_label">
            <div class="col-4">
                <span>Name of Contact Person at Site</span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="lh.NameContactPerson" maxlength="50" class="validate[required,'Please enter Name of Contact Person at Site'] Txtbox" id="cperson" />
            </div>
        </div>
        <div class="form_label">
            <div class="col-4">
                <span>Mobile No. of Contact Person</span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="lh.MobileNoContactPerson" maxlength="10"
                       class="validate[required,'Please Enter Mob Number. of Contact Person'] Txtbox" id="mobileNo"
                       numbers-only />
            </div>
        </div>

        <div class="form_label">
            <div class="col-4">
                <span>Email Id of Contact Person</span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="lh.EmailIdContactPerson" maxlength="50"
                       class="validate[required,'Please enter Email Id of Contact Person'] Txtbox"
                       id="emailContact" />
            </div>
        </div>
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveLorNew()">Submit</button>
                @*<button type="button" class="btn btn-info" ng-click="show_Modal_SendJIR()" ng-show="lh.PK_LH_ID>0">Send Mail</button>*@
                <a href="#" class="btn btn-info" id="addClass">
                    <i class="fa fa-comment" aria-hidden="true">
                    </i> Start Chat
                </a>
                <button type="button" class="btn yellow" id="btnClick_btnShowModal">Generate Preview</button>
                <button type="button" class="btn btn-warning" ng-click="setFinalReminder()">Final Reminder</button>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveLorNew('n')">Next</button>
                <button type="button" class="btn yellow"  ng-click="saveLorNew('n')">Document Checked</button>
                <a href="/Survery/MarineRemarksClaim?fkClaimId=@Request.QueryString["cid"]&task=@Request.QueryString["task"]" class="btn yellow fl">Back</a>

            </div>
        </div>
    </form>







    @*chatbox*@




    <aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar" style="width:600px;z-index:1000;">

        <div class="popup-head">
            <div class="popup-head-left pull-left">
                <a Design and Developmenta title="Gurdeep Osahan (Web Designer)" target="_blank" href="https://web.facebook.com/iamgurdeeposahan">

                    <h1>
                        <i class="fa fa-comment"></i>
                        LOR Discussion
                    </h1>


                </a>
            </div>
            <div class="popup-head-right pull-right">
                <div class="btn-group gurdeepoushan" style="display:none;">
                    <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-paperclip"></i>
                    </button>
                </div>

                <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        </div>

        <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);width:600px;background-color:darkslategrey; max-height:307px;">
            <div class="chat_box touchscroll chat_box_colors_a" style="background-color:darkslategrey;">
                <div ng-repeat="c in listChatting">
                    <div class="chat_message_wrapper" ng-show="c.IsMyData==false">
                        <div class="chat_user_avatar">
                            <span style="background-color:white;padding: 5px;
    border-radius: 4px;">{{c.UserName}}</span>

                        </div>
                        <ul class="chat_message">
                            <li>
                                <p> {{c.ChattingText}}</p>
                                <p ng-show="c.DocumentName!=null && c.DocumentName!='' && c.DocumentName!=undefined"><a href="~/files/{{c.DocumentName}}" download>Download</a>  </p>
                                <span class="chat_message_time">{{c.CrtDT.slice(6,-2) |date:"MMM d, y h:mm:ss a"}}</span>
                            </li>

                        </ul>
                    </div>
                    <div class="chat_message_wrapper chat_message_right" ng-show="c.IsMyData==true">
                        <div class="chat_user_avatar">
                            <span style="background-color:white;padding: 5px;
    border-radius: 4px;">{{c.UserName}}</span>
                        </div>
                        <ul class="chat_message">
                            <li>
                                <p>
                                    {{c.ChattingText}}
                                </p>

                                <p ng-show="c.DocumentName!=null && c.DocumentName!='' && c.DocumentName!=undefined"><a href="~/files/{{c.DocumentName}}" download="download">Download</a>  </p>
                                <span class="chat_message_time">{{c.CrtDT.slice(6,-2) |date:"MMM d, y h:mm:ss a"}}</span>

                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div id="lastMsg"></div>
        </div>

        <div class="chat_submit_box" style="background-color:aliceblue;">
            @*<div class="uk-input-group">
                    <div class="gurdeep-chat-box">
                        <span style="vertical-align: sub;" class="uk-input-group-addon">
                            <a href="#"><i class="fa fa-smile-o"></i></a>
                        </span>
                        <input type="text" placeholder="Type a message" class="md-input">
                        <span style="vertical-align: sub;" class="uk-input-group-addon">
                            <a href="#"><i class="fa fa-camera"></i></a>
                        </span>
                    </div>

                    <span class="uk-input-group-addon">
                        <a href="#"><i class="glyphicon glyphicon-send"></i></a>
                    </span>
                </div>*@
            <div class="form-group">
                <div class="col-md-12">
                    <textarea cols="5" maxlength="1000" ng-model="lc.ChattingText"></textarea>
                </div>
            </div>
            <div class="form-group">

                @*<div class="col-md-7">
                        <span>{{DocumentName}}</span>
                    </div>*@


                <div class="col-md-4">

                </div>

                <div class="col-md-6">
                    @*<i class="glyphicon glyphicon-paperclip" id="DocumentIcon" style="cursor:pointer;"></i>*@
                    <input type="file" id="Document" />
                </div>
                <div class="col-md-2" style="float:right;">
                    <button type="button" class="btn btn-success btn-sm" ng-click="saveMarineLorChattingNew()" id="btnChat">
                        <span class="fa fa-send"></span>
                        &nbsp;
                        Send
                    </button>


                </div>
            </div>
        </div>
    </aside>
    @*<a href="#l" id="LastChat">Hello</a>
        <button type="button" ng-click="scroll()" id="scroll">Scroll</button>*@

</div>
<div ng-controller="EmailLogCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <input type="hidden" value="@Request.QueryString["task"]" id="task" />
    <button type="button" class="btn btn-info btnGeneratePdf" style="display:none;" ng-click="show_modal_GeneratePDF()" id="btnShowModal">Generate Preview</button>
    <div class="modal fade" id="modal_GeneratePDF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title pull-left" style="display:inline;" id="exampleModalLabel">JIR</h4>
                    <button type="button" class="btn btn-info col-md-offset-1" style="display:inline;" ng-click="show_Modal_SendMail()">Send Mail</button>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src='' allowfullscreen></iframe>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_SendMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" @*style="width:130%; margin-left:-130px;"*@>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Send Mail</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-1">
                                <span>
                                    To
                                </span>
                            </div>
                            <div class="col-md-5">
                                <label><input type="checkbox" ng-model="e.ToInsured" ng-change="e.CCInsured=e.ToInsured;setEmailId()" />Insured </label>
                                <label><input type="checkbox" ng-model="e.ToInsurers" ng-change="e.CCInsurers=e.ToInsurers;setEmailId()" />Insurers </label>{{ToInsurers}}
                                <label><input type="checkbox" ng-model="e.ToBrokers" ng-change="e.CCBrokers=e.ToBrokers;setEmailId()" />Brokers </label>{{ToBrokers}}
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="form-group">
                            <div class="col-md-1">

                            </div>
                            @*<div class="col-md-8">
                                    <textarea cols="3" ng-model="e.ToEmailIds"></textarea>
                                </div>*@
                            <div class="col-md-5 table-responsive" style="max-height:150px;">
                                <input type="text" id="ToEmailIds" value="">



                                <div id="ToEmailIds_Val" style="display:none;">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1">
                                <span>
                                    CC
                                </span>
                            </div>
                            <div class="col-md-5">

                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToInsured==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToInsured"
                                           ng-model="e.CCInsured" />Insured

                                </label>

                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToInsurers==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToInsurers"
                                           ng-model="e.CCInsurers" />Insurers
                                </label>
                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToBrokers==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToBrokers"
                                           ng-model="e.CCBrokers" />Brokers
                                </label>

                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="form-group">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5 table-responsive" style="max-height:150px;">
                                @*<textarea cols="3" ng-model="e.CCEmailIds">

                                    </textarea>*@

                                <input type="text" id="CCEmailIds" value="">



                                <div id="CCEmailIds_Val" style="display:none;">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <sapn>
                                    Set Frequency of Reminder
                                </sapn>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="e.FrequencyOfReminder" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="sendEmail_saveEmailLog()" style="float:left;">Send Mail</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>









@section scripts{
    <script src="~/Scripts/Angular/Contoller/Marine/MarineLorNewCtrl.js"></script>
    <script src="~/Scripts/Angular/Contoller/Common/EmailLog.js"></script>
    <link href="../../Scripts/MultipleEmailPlugin/multiple-emails.css" rel="stylesheet" />
    <script src="../../Scripts/MultipleEmailPlugin/multiple-emails.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    @*<script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />*@
    <script>

        $(document).ready(function () {
            $('#ToEmailIds').multiple_emails();

            $('#ToEmailIds').change(function () {
                $('#ToEmailIds_Val').text($(this).val());
            })

            $('#CCEmailIds').multiple_emails();

            $('#CCEmailIds').change(function () {
                $('#CCEmailIds_Val').text($(this).val());
            })

            $('.multiple_emails-input').attr("readonly", true);
            $("#addClass").click(function () {
                $('#sidebar_secondary').addClass('popup-box-on');
            });

            $("#removeClass").click(function () {
                $('#sidebar_secondary').removeClass('popup-box-on');
            });
            $('#btnClick_btnShowModal').click(function () {
                $('#btnShowModal').click();

            })
            //$("#DocumentIcon").click(function () {
            //    $("#Document").trigger('click');
            //    alert($("#Document").get(0).files[0].name);
            //});
        })
        //$(window).load(function () {
        //    $("html, body").animate({ scrollTop: $('#lastMsg').height() }, 1000);
        //});
    </script>
}
<style>
    body {
        font-family: 'Open Sans', sans-serif;
    }

    .chat_box .chat_message_wrapper ul.chat_message > li + li {
        margin-top: 4px;
    }

    .popup-box-on {
        display: block !important;
    }

    a:focus {
        outline: none;
        outline-offset: 0px;
    }

    .popup-head-left.pull-left h1 {
        color: #fff;
        float: left;
        font-family: oswald;
        font-size: 18px;
        margin: 2px 0 0 5px;
    }

    .popup-head-left a small {
        display: table;
        font-size: 11px;
        color: #fff;
        line-height: 4px;
        opacity: 0.5;
        padding: 0 0 0 7px;
    }

    .chat-header-button {
        background: transparent none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 7px;
        font-size: 15px;
        height: 26px;
        opacity: 0.9;
        padding: 0;
        text-align: center;
        width: 26px;
    }

    .popup-head-right {
        margin: 9px 0 0;
    }

    .popup-head .btn-group {
        margin: -5px 3px 0 -1px;
    }

    .gurdeepoushan .dropdown-menu {
        padding: 6px;
    }

        .gurdeepoushan .dropdown-menu li a span {
            border: 1px solid;
            border-radius: 50px;
            display: list-item;
            font-size: 19px;
            height: 40px;
            line-height: 36px;
            margin: auto;
            text-align: center;
            width: 40px;
        }

        .gurdeepoushan .dropdown-menu li {
            float: left;
            text-align: center;
            width: 33%;
        }

            .gurdeepoushan .dropdown-menu li a {
                border-radius: 7px;
                font-family: oswald;
                padding: 3px;
                transition: all 0.3s ease-in-out 0s;
            }

                .gurdeepoushan .dropdown-menu li a:hover {
                    background: #304445 none repeat scroll 0 0 !important;
                    color: #fff;
                }

    .popup-head {
        background: #304445 none repeat scroll 0 0 !important;
        border-bottom: 3px solid #ccc;
        color: #fff;
        display: table;
        width: 100%;
        padding: 8px;
    }

        .popup-head .md-user-image {
            border: 2px solid #5a7172;
            border-radius: 12px;
            float: left;
            width: 44px;
        }

    .uk-input-group-addon .glyphicon.glyphicon-send {
        color: #ffffff;
        font-size: 21px;
        line-height: 36px;
        padding: 0 6px;
    }

    .chat_box_wrapper.chat_box_small.chat_box_active {
        height: 342px;
        overflow-y: scroll;
        width: 316px;
    }

    aside {
        background-attachment: fixed;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("https://scontent.fluh1-1.fna.fbcdn.net/v/t1.0-9/12670232_624826600991767_3547881030871377118_n.jpg?oh=226475bcd22faf19705858eb58e776cd&oe=59CE39E7");
        background-origin: padding-box;
        background-position: center top;
        background-repeat: repeat;
        border: 1px solid #304445;
        bottom: 0;
        display: none;
        height: 466px;
        position: fixed;
        right: 70px;
        width: 300px;
        font-family: 'Open Sans', sans-serif;
    }

    .chat_box {
        padding: 16px;
        background: rgb(24, 97, 44) none repeat scroll 0 0;
    }

        .chat_box .chat_message_wrapper::after {
            clear: both;
        }

        .chat_box .chat_message_wrapper::after, .chat_box .chat_message_wrapper::before {
            content: " ";
            display: table;
        }

        .chat_box .chat_message_wrapper .chat_user_avatar {
            float: left;
        }

        .chat_box .chat_message_wrapper {
            margin-bottom: 32px;
        }

    .md-user-image {
        border-radius: 50%;
        width: 34px;
    }

    img {
        border: 0 none;
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    .chat_box .chat_message_wrapper ul.chat_message, .chat_box .chat_message_wrapper ul.chat_message > li {
        list-style: outside none none;
        padding: 0;
    }

    .chat_box .chat_message_wrapper ul.chat_message {
        float: left;
        margin: 0 0 0 20px;
        max-width: 77%;
    }

    .chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li:first-child::before {
        border-right-color: #616161;
    }

    .chat_box .chat_message_wrapper ul.chat_message > li:first-child::before {
        border-color: transparent #ededed transparent transparent;
        border-style: solid;
        border-width: 0 16px 16px 0;
        content: "";
        height: 0;
        left: -14px;
        position: absolute;
        top: 0;
        width: 0;
    }

    .chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li {
        background: #FCFBF6 none repeat scroll 0 0;
        color: #000000;
    }

    .open-btn {
        border: 2px solid #189d0e;
        border-radius: 32px;
        color: #189d0e !important;
        display: inline-block;
        margin: 10px 0 0;
        padding: 9px 16px;
        text-decoration: none !important;
        text-transform: uppercase;
    }

    .chat_box .chat_message_wrapper ul.chat_message > li {
        background: #ededed none repeat scroll 0 0;
        border-radius: 4px;
        clear: both;
        color: #212121;
        display: block;
        float: left;
        font-size: 13px;
        padding: 8px 16px;
        position: relative;
        word-break: break-all;
    }

    .chat_box .chat_message_wrapper ul.chat_message, .chat_box .chat_message_wrapper ul.chat_message > li {
        list-style: outside none none;
        padding: 0;
    }

        .chat_box .chat_message_wrapper ul.chat_message > li {
            margin: 0;
        }

            .chat_box .chat_message_wrapper ul.chat_message > li p {
                margin: 0;
            }

    .chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li .chat_message_time {
        color: rgba(185, 186, 180, 0.9);
    }

    .chat_box .chat_message_wrapper ul.chat_message > li .chat_message_time {
        color: #727272;
        display: block;
        font-size: 11px;
        padding-top: 2px;
        text-transform: uppercase;
    }

    .chat_box .chat_message_wrapper.chat_message_right .chat_user_avatar {
        float: right;
    }

    .chat_box .chat_message_wrapper.chat_message_right ul.chat_message {
        float: right;
        margin-left: 0 !important;
        margin-right: 24px !important;
    }

    .chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child::before {
        border-left-color: #E8FFD4;
    }

    .chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li:first-child::before {
        border-right-color: #FCFBF6;
    }

    .chat_box .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child::before {
        border-color: transparent transparent transparent #ededed;
        border-width: 0 0 29px 29px;
        left: auto;
        right: -14px;
    }

    .chat_box .chat_message_wrapper ul.chat_message > li:first-child::before {
        border-color: transparent #ededed transparent transparent;
        border-style: solid;
        border-width: 0 29px 29px 0;
        content: "";
        height: 0;
        left: -14px;
        position: absolute;
        top: 0;
        width: 0;
    }

    .chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message > li {
        background: #E8FFD4 none repeat scroll 0 0;
    }

    .chat_box .chat_message_wrapper ul.chat_message > li {
        background: #ededed none repeat scroll 0 0;
        border-radius: 12px;
        clear: both;
        color: #212121;
        display: block;
        float: left;
        font-size: 13px;
        padding: 8px 16px;
        position: relative;
    }

    .gurdeep-chat-box {
        background: #fff none repeat scroll 0 0;
        border-radius: 5px;
        float: left;
        padding: 3px;
    }

    #submit_message {
        background: transparent none repeat scroll 0 0;
        border: medium none;
        padding: 4px;
    }

    .gurdeep-chat-box i {
        color: #333;
        font-size: 21px;
        line-height: 1px;
    }

    .chat_submit_box {
        bottom: 0;
        box-sizing: border-box;
        left: 0;
        overflow: hidden;
        padding: 10px;
        position: absolute;
        width: 100%;
    }

    .uk-input-group {
        border-collapse: separate;
        display: table;
        position: relative;
    }

    /*image upload icon css*/
    .image-upload > input {
        display: none;
    }

    .image-upload img {
        width: 80px;
        cursor: pointer;
    }
</style>
