﻿@model BusinessLayer.Models.CSGenrate

@{
    ViewBag.Title = "LorWork";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        BindMarineLORMaster(@Model.MarineJIR.FKClaimId);
        $("heading").html("Letter of Requirment");
        $("#btnGenratePrview").attr("style", "display:block");
    });
</script>


@Html.HiddenFor(a => a.MarineJIR.FKClaimId, new { @id = "hdFKClaimId" })
@Html.HiddenFor(a => a.MarineJIR.InsdId, new { @id = "hdFKInsdId" })
@Html.HiddenFor(a => a.MarineJIR.InsdType, new { @id = "hdInsdType" })
@Html.HiddenFor(a => a.MarineJIR.Task, new { @id = "hdTask" })

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">

            <div>
                <p>@Model.MarineJIR.Insured</p>
                <p>@Model.MarineJIR.InsuredAddress</p>
                <p>Without Prejudiced</p>
                <p>Dated @DateTime.Now.ToString("dd-MM-yyyy") Ref No. @Model.MarineJIR.DynamicClaimId </p>
                <p>Insurers claim No, @Model.MarineJIR.InsrClaimNo</p>
                <p>Kind Attention:- @Model.MarineJIR.Insured</p>
                <p>Dear Sir/Madam,</p>
                <span><b>Sub.: Marine claim under transit Policy No. @Model.MarineJIR.PolicyNumber on account of damage during the course of transit from @Model.MarineJIR.DispatchedFrom</b></span>
                <span>This refer to our visit at your premises @Html.TextBoxFor(a => a.MarineJIR.PlaceofSurvey, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @placeholder="Place of Survey" }) , on dated ( @Model.MarineJIR.DateOfSurvey), when we conducted survey/inspection</span>
                <span>for reported loss to the consignment vide Invoice No @Model.MarineJIR.InvNo dated @Model.MarineJIR.InvDate , & @Model.MarineJIR.TypeNumber @Model.MarineJIR.TypeNumberValue dated @Model.MarineJIR.TypeDate </span>
                <span>We hope that, you have immediately acted upon our advices in context to minimise the loss.</span>
                <span>We have shared the observations of our visit and acknowledged the receipt of part information vide JIR No. @Model.MarineJIR.DynamicClaimId</span>
                <span>In order to enable us to proceed further, we draw your kind attention on pending</span>
                <span>information/documents as advised in JIR.</span>
                <span>For your convenience, list of pending documents/information reproduced below.</span>
            </div>
        </div>
    </div>
</div>
<div id="MarineLOR">
    @using (Html.BeginForm("LOR", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form5" }))
    {
        @Html.Partial("_lor", @Model.MarineJIR)
    }
</div>
