﻿@model BusinessLayer.Models.CSGenrateClaim

@{
    ViewBag.Title = "ManageClaims";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $(".mandatory").html("");
        $("heading").html("View Claim");
    });
</script>

<div>
    @Html.Partial("~/Views/Shared/_manageclaim.cshtml", @Model) 
</div>