﻿@model BusinessLayer.Models.CSMarineISVR

@{
    ViewBag.Title = "MarineISVR";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Upload Related Photos");
    });
</script>

<div class="form_wrap cf" ng-controller="EmailLogCtrl">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="MarineISVR">
                @using (Html.BeginForm("MarineSubmitISVR", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form6" }))
                {
                    @Html.Partial("_MarineISVR", Model)            
                }
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Angular/Contoller/Common/EmailLog.js"></script>
    <link href="../../Scripts/MultipleEmailPlugin/multiple-emails.css" rel="stylesheet" />
    <script src="../../Scripts/MultipleEmailPlugin/multiple-emails.js"></script>
}

<form action="/Survery/lorwork" enctype="multipart/form-data" id="form_LOR" method="post">
    <input type="hidden" id="fkLORClaimId" name="fkClaimId" />
    <input type="hidden" id="LORTask" name="task" />
</form>

<form action="/Survery/SubmitFSR" enctype="multipart/form-data" id="form_SubmitFSR" method="post">
    <input type="hidden" id="fkFSRClaimId" name="fkClaimId" />
    <input type="hidden" id="FSRTask" name="task" />
</form>

<form action="/Survery/SendMaillCC" enctype="multipart/form-data" id="form_SendMaillCC" method="post">
    <input type="hidden" id="fkMailClaimId" name="fkClaimId" />
    <input type="hidden" id="EmailIdCC" name="emailId" />
    <input type="hidden" id="EmailTask" name="task" />
</form>

<script type="text/javascript">

    function SendToBackLOR(fkClaimId, task) {
        if (task == "FSR") {
            $("#fkFSRClaimId").val(fkClaimId);
            $("#FSRTask").val(task);
            window.location = '/Survery/SubmitFSR?fkClaimId='+fkClaimId+'&task='+task;
            //$("#form_SubmitFSR").submit();
        } else {
            $("#fkLORClaimId").val(fkClaimId);
            $("#LORTask").val(task);
            //$("#form_LOR").submit();
            window.location = '/Survery/lornew?cid=' + fkClaimId + '&task=' + task;
        }
    }   

</script>
