﻿@model BusinessLayer.Models.CSMarineDamageDetails

@{
    ViewBag.Title = "MarineDamageDetails";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script type="text/javascript">
    MarineGetDamageDetails('@Model.FKClaimId')
    $("heading").html("Damage Detail of Consignment Received");
</script>
<script>
    $(document).ready(function () { 
        $('#Remark').change(function () {
            if (($(this).val()) == "Other") {
                $('#divRO').show();
            }
            else {
                $('#divRO').hide();
            }
        })
        $('#divRO').hide();
        //function RemarkOtherHideShow() {
        //    if (($('#Remark').val()) == "Other") {
        //        console.log();
        //        $('#divRO').show();
        //    }
        //    else {
        //        $('#divRO').hide();
        //    }
        //}
        //RemarkOtherHideShow();
    })
</script>
@Html.HiddenFor(a => a.FKClaimId, new { @id = "hdFKClaimId" })
<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divMarineJiv">
                <div class="cb"></div>
                @using (Html.BeginForm("MarineJIR", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form3" }))
                {
                    @Html.Partial("_marinedamagedetails", Model)
                }
            </div>
        </div>
    </div>
</div>

<div>
    <form action="/Survery/MarineConsignmentDocs" enctype="multipart/form-data" id="form_MarineConsignmentDocs" method="post">
        <input type="hidden" id="fkMarineConsignmentDocs_ClaimId" name="fkClaimId" />
        <input type="hidden" id="fkMarineConsignmentDocs_Task" name="task" />
        <input type="hidden" id="fkMarineConsignmentDocs_ConsimentType" name="ConsimentType" />
    </form>
</div>

<div>
    <form action="/Survery/MarineRemarksClaim" enctype="multipart/form-data" id="form_MarineRemarksClaim" method="post">
        <input type="hidden" id="fkMarineRemarksClaim_ClaimId" name="fkClaimId" />
        <input type="hidden" id="fkMarineRemarksClaim_Task" name="task" />
    </form>
</div>


<script type="text/javascript">
    function SendBackToMarineConsignmentDoc(fkClaimId, task, consimentType) {
        $("#fkMarineConsignmentDocs_ClaimId").val(fkClaimId);
        $("#fkMarineConsignmentDocs_Task").val(task);
        $("#fkMarineConsignmentDocs_ConsimentType").val(consimentType);
        $("#form_MarineConsignmentDocs").submit();
    }

    function SendNextMarineConsignmentDoc(fkClaimId, task) {
        $("#fkMarineRemarksClaim_ClaimId").val(fkClaimId);
        $("#fkMarineRemarksClaim_Task").val(task);
        $("#form_MarineRemarksClaim").submit();
    }

</script>



