﻿@model BusinessLayer.Models.CSMarineJIR

@{
    ViewBag.Title = "MarineRemarksClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        BindMarineRemarksMaster('@Model.FKClaimId');
        $("heading").html("Claim Discussion/Advices");
    });
</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divMarineRemarks">
                <input type="hidden" id="hdFKClaimId" value="@Model.FKClaimId" />
                <input type="hidden" id="hdTask" value="@Model.Task" />                
                @using (Html.BeginForm("MarineJIR", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form4" }))
                {
                    @Html.Partial("_MarineRemarksClaim", Model)
                }
            </div>
        </div>
    </div>
</div>

<form action="/Survery/MarineDamageDetails" enctype="multipart/form-data" id="form_MarineDamageDetails" method="post">
    <input type="hidden" id="fkMarineDamageDetailsClaimId" name="fkClaimId" />
    <input type="hidden" id="MarineDamageDetailsTask" name="task" />
</form>


<form action="/Survery/LOR" enctype="multipart/form-data" id="form_LOR" method="post">
    <input type="hidden" id="fkLORClaimId" name="fkClaimId" />
    <input type="hidden" id="LORTask" name="task" />
</form>

<script type="text/javascript">

    function SendBBackToMarineDamageDetails(fkClaimId, task) {
        $("#fkMarineDamageDetailsClaimId").val(fkClaimId);
        $("#MarineDamageDetailsTask").val(task);
        $("#form_MarineDamageDetails").submit();
    }

    function SendToNextLOR(fkClaimId, task) {
        $("#fkLORClaimId").val(fkClaimId);
        $("#LORTask").val(task);
        $("#form_LOR").submit();
    }

</script>