﻿@model BusinessLayer.Models.CSGenrate
@{
    ViewBag.Title = "MarineTranshipment";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
@Html.HiddenFor(a => a.MarineTranshipment.Task , new {@id="hdTask" })
<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divMarineTranshipment">
                @using (Html.BeginForm("MarineTranshipment", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                {
                    @Html.Partial("_MarineTranshipment", @Model.MarineTranshipment)
                }
            </div>
        </div>
    </div>
</div>


<div>
    <form action="/Survery/MarineJIRConsignment" enctype="multipart/form-data" id="form03" method="post">
        <input type="hidden" id="fkClaimIdFrom" name="fkClaimId" />
        <input type="hidden" id="MarineJIRConsignmentTask" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/MarineAssessmentDetails" enctype="multipart/form-data" id="form5" method="post">
        <input type="hidden" id="fkAssesmentClaimId" name="fkClaimId" />
        <input type="hidden" id="AssessmentTask" name="task" />
        <input type="hidden" id="MarineTranshipmentAssessmentType" name="AssessmentType" />
    </form>
</div>
