﻿@{
    ViewBag.Title = "MarineAssessmentDetailNew";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<div ng-controller="MarineAssessmentDetailNewCtrl" id="anTest">
    <script>
        $(window).load(function () {

            if ($('#calMode').val() == 'CL') {
                $("heading").html("Claim Bill");
            }
            else if ($('#calMode').val() == 'AS') {
                $("heading").html("Assessment");
            }
        });
    </script>
    <style>
        @@media(min-width:767px) {
            .btnGeneratePdf {
                position: absolute;
                left: 54.8%;
                bottom: 3.6%;
            }
        }
    </style>


    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <input type="hidden" value="@Request.QueryString["calMode"]" id="calMode" />
    <input type="hidden" value="@Request.QueryString["task"]" id="task" />
    @*<input type="text" ng-model="InsdType" id="insdType" />
    <input type="text" ng-model="InsdId" id="insdId" />*@

    <form id="formDesc">
        <div class="grid_body">
            <table class="mygrid">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Inv No</th>
                        <th>Inv Date</th>
                        <th>Inv Qty</th>
                        <th>UOM</th>
                        <th ng-hide="_calMode=='AS'">Affected Quantity Initial</th>
                        <th>Affected Quantity Claimed</th>
                        <th>Unit Rate Claimed</th>
                        <th>Amount Claimed</th>
                        <th ng-show="_calMode=='AS'">Affected Quantity Assessed</th>
                        <th ng-show="_calMode=='AS'">Unit Rate Assessed</th>
                        <th ng-show="_calMode=='AS'">Amount Assessed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ad in listAD">
                        <td>{{ad.Description}}</td>
                        <td>{{ad.InvNo}}</td>
                        <td>{{ad.InvDate}}</td>
                        <td>{{ad.InvQty}}</td>
                        <td>{{ad.UOM}}</td>
                        <td ng-hide="_calMode=='AS'">{{ad.AffectedQuantity}}</td>
                        <td><input type="text" ng-model="ad.AffectedQuantityC" ng-keyup="calAmount()" ng-disabled="_calMode=='AS'" maxlength="13" valid-number /></td>
                        <td><input type="text" ng-model="ad.UnitRateC" ng-keyup="calAmount()" ng-disabled="_calMode=='AS'" valid-number maxlength="13" /></td>
                        <td>
                            <input type="text" ng-model="ad.AmountC" disabled="disabled" />
                        </td>
                        <td ng-show="_calMode=='AS'"><input type="text" ng-model="ad.AffectedQuantityA" ng-keyup="calAmount()" maxlength="13" valid-number /></td>
                        <td ng-show="_calMode=='AS'">
                            <input type="text" ng-model="ad.UnitRateA" ng-keyup="calAmount()" maxlength="13" valid-number />
                        </td>
                        <td ng-show="_calMode=='AS'"><input type="text" ng-model="ad.AmountA" readonly="readonly" /></td>
                    </tr>
                    <tr ng-hide="_calMode=='AS'">
                        <td>
                            <div class="form-inline">
                                <div class="form-group">
                                    <a ng-click="saveMarineDamageDetails()"><img src="~/Images/addicon.png" style="height:25px; width:25px;"></a>
                                </div>
                                <div class="form-group">  <select ng-options="cd.PKId as cd.Description for  cd in listCD" ng-model="FK_Des_ID" ng-change="getMarineConsignmentDocs_byFK_Des_ID()" class="validate[required,'Please Select Description'] Txtbox" id="Desc"></select></div>
                            </div>
                        </td>
                        <td>{{c.InvNo}}</td>
                        <td>{{c.InvDate}}</td>
                        <td>{{c.InvQty}}</td>
                        <td>{{c.Uom}}</td>
                        <td>{{c.AffectedQuantity}}</td>
                        <td></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>  Sub-Total:-</strong>  </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ng-show="_calMode=='CL'" style="text-align:center;"><strong>{{ah.SubTotalC}}</strong> </td>
                        <td></td>
                        <td ng-show="_calMode=='AS'"></td>
                        <td ng-show="_calMode=='AS'" style="text-align:center;"><strong> {{ah.SubTotalA}}</strong> </td>

                    </tr>
                </tbody>
            </table>

        </div>

    </form>
    <form id="formPart">
        <div class="form_label" @*style="overflow: scroll !important"*@>
            <div class="col-4">
                <div class="grid_body table-responsive" ng-show="_calMode=='AS'" style="max-height:300px;">
                    <table class="mygrid table">
                        <thead>
                            <tr>
                                <th>Operation</th>
                                <th>Particulars</th>
                                <th>Rate</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="l in listC">
                                <td><span ng-hide="l.CalDescription == 'Sub-Total'"> {{l.CalType}}</span> </td>
                                <td>{{l.CalDescription}}</td>
                                <td><span ng-hide="l.CalDescription == 'Sub-Total'"> {{l.Rate}}</span> </td>
                                <td>
                                    <span ng-hide="l.CalDescription == 'Sub-Total'"> {{l.Value}}</span>
                                    <span ng-show="l.CalDescription == 'Sub-Total'">{{l.SubTotal}}</span>
                                </td>

                            </tr>
                            <tr>
                                <td><strong> Total:- </strong></td>
                                <td></td>
                                <td></td>
                                <td><strong> {{ah.TotalAmountC}}</strong> </td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>
            <div class="col-8">
                <div class="calc">
                    <div class="grid_body table-responsive" style="max-height:300px;">
                        <table class="mygrid table">
                            <thead>
                                <tr>
                                    <th>Operation</th>
                                    <th>Particulars</th>
                                    <th>Rate</th>
                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ac in listCC">
                                    <td ng-init="checkIsSubTotalInlistCC(ac)">
                                        <span ng-hide="ac.hideSubTotal"><strong>  {{ac.CalType}}</strong> </span>
                                    </td>
                                    <td>
                                        <select ng-options="a.PK_ID as a.CalDescription for  a  in listCM" ng-model="ac.FK_CalID"
                                                disabled></select>
                                    </td>
                                    <td style="min-width:110px;">
                                        <span ng-hide="ac.hideSubTotal">
                                            <strong>     {{ac.Rate}}</strong>
                                        </span>

                                    </td>
                                    <td ng-hide="ac.hideSubTotal"><strong> {{ac.Value}}</strong> </td>
                                    <td ng-show="ac.hideSubTotal"> <strong>  {{ac.SubTotal}}</strong> </td>
                                    <td ng-click="deleteInlistCC(ac.PK_CC_ID,$index)"><img src="~/Images/Delete_icon.png" style="height:25px; width:25px;" /></td>
                                </tr>
                                <tr>
                                    <td style="min-width:250px;">
                                        <div ng-hide="tdHideSubTotal">
                                            <label><input type="radio" name="cal" value="Add" ng-model="cc.CalType" ng-change="temp_CalType=cc.CalType" />Add</label>
                                            <label>
                                                <input type="radio" name="cal" value="Less" ng-model="cc.CalType"
                                                       ng-change="temp_CalType=cc.CalType" />Less
                                            </label>
                                            <label>
                                                <input type="radio" name="cal" value="Multiply" ng-model="cc.CalType"
                                                       ng-change="temp_CalType=cc.CalType" /> Multiply
                                            </label>
                                            <label>
                                                <input type="radio" name="cal" value="Divide" ng-model="cc.CalType"
                                                       ng-change="temp_CalType=cc.CalType" /> Divide
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <select ng-options="c.PK_ID as c.CalDescription for  c  in listCM" ng-change="checkIsSubTotalInCC()" ng-model="cc.FK_CalID"
                                                class="validate[required,'Please Select Particulars']" id="part"></select>

                                        @*<select ng-options="c as c.CalDescription for c in listCM" ng-model="cc.calDes"
                                            class="validate[required,'Please Select Particulars'] Txtbox" id="d"></select>*@
                                            

                                    </td>
                                    <td><input type="text" ng-hide="tdHideSubTotal" valid-number ng-model="cc.Rate" ng-keyup="calRateToAmount()" maxlength="5" /></td>
                                    <td ng-hide="tdHideSubTotal"><input type="text" valid-number ng-model="cc.Value" ng-disabled="cc.Rate>0" maxlength="13" /></td>
                                    <td ng-show="tdHideSubTotal"><input type="text" ng-model="cc.SubTotal" readonly="readonly" /></td>
                                    <td ng-click="addInlistCC()">
                                        @*<img src="~/Images/addicon.png" alt="Add" title="Add" />*@

                                        <button type="button" class="btn btn-sm btn-primary">

                                            <i class="glyphicon glyphicon-plus-sign"></i>
                                            Save
                                        </button>

                                    </td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div>
        <b style="float:right;padding-right:88px;">
            <strong style="font-weight:bold;font-size:22px;"> Total Claim Amount:-</strong>
            <span ng-show="_calMode=='CL'" style="font-weight:bold;font-size:18px;"><strong> {{ah.TotalAmountC}}</strong> </span>
            <span ng-show="_calMode=='AS'" style="font-weight:bold;font-size:18px;"><strong>{{ah.TotalAmountA}}</strong> </span>
        </b>
    </div>
    <div class="clearfix">

    </div>
    <form id="formRevisionRsn">
        <div ng-show="_calMode=='CL'">
            <div class="grid_body table-responsive" style="max-height:300px;">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th>Reason for revison in Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="mygridBody">
                        <tr ng-repeat="rr in listRevisionRsn track by $index">

                            <td>  <input type="text" ng-model="rr.RevisionRsn" /></td>
                            <td ng-click="deleteInlistRevisionRsn(rr.PK_AR_ID,$index)"><img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                        </tr>
                        <tr>
                            <td><textarea maxlength="250" ng-model="ar.RevisionRsn" rows="2"> </textarea></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="addInlistRevisionRsn()">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    Save
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </form>

    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveMarineAssessment()">Submit</button>
            @*<a href='/Survery/GeneratePdf?ClaimID=@Request.QueryString["cid"]&InsdType={{InsdType}}&InsdID={{InsdId}}&Task=@Request.QueryString["task"]' ng-show="_calMode=='CL'" class="btn yellow" target="_blank">
                Generate Preview
            </a>*@
            <button type="button" class="btn yellow" id="btnClick_btnShowModal">Generate Preview</button>
            <button type="button" class="btn yellow" ng-show="_calMode=='AS'" ng-click="saveMarineAssessment('n')" ng-disabled="btnSave==0" style="float:right;">Next</button>
            @*<button type="button" ng-show="_calMode=='AS'" class="btn yellow" ng-click="saveMarineAssessment()" style="float:right;">Submit FSR</button>*@
            <a href='/Survery/MarineTranshipment?fkClaimId=@Request.QueryString["cid"]&task=@Request.QueryString["task"]' class="btn yellow" style="float:left;">
                Back
            </a>

        </div>
    </div>

</div>



<div ng-controller="EmailLogCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <input type="hidden" value="@Request.QueryString["task"]" id="task" />
    <button type="button" class="btn btn-info btnGeneratePdf" style="display:none;" id="btnShowModal" ng-click="show_modal_GeneratePDF()">Generate Preview</button>
    <div class="modal fade" id="modal_GeneratePDF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title pull-left" style="display:inline;"  id="exampleModalLabel">{{e.Task}}</h4>
                    <button type="button" class="btn btn-info col-md-offset-1" ng-click="show_Modal_SendMail()">Send Mail</button>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src='' allowfullscreen></iframe>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_SendMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" @*style="width:130%; margin-left:-130px;"*@>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Send Mail</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-1">
                                <span>
                                    To
                                </span>
                            </div>
                            <div class="col-md-5">
                                <label><input type="checkbox" ng-model="e.ToInsured" ng-change="e.CCInsured=e.ToInsured;setEmailId()" />Insured </label>
                                <label><input type="checkbox" ng-model="e.ToInsurers" ng-change="e.CCInsurers=e.ToInsurers;setEmailId()" />Insurers </label>{{ToInsurers}}
                                <label><input type="checkbox" ng-model="e.ToBrokers" ng-change="e.CCBrokers=e.ToBrokers;setEmailId()" />Brokers </label>{{ToBrokers}}
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="form-group">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5 table-responsive" style="max-height:150px;">
                                <input type="text" id="ToEmailIds" value="">



                                <div id="ToEmailIds_Val" style="display:none;">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1">
                                <span>
                                    CC
                                </span>
                            </div>
                            <div class="col-md-5">

                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToInsured==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToInsured"
                                           ng-model="e.CCInsured" />Insured

                                </label>

                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToInsurers==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToInsurers"
                                           ng-model="e.CCInsurers" />Insurers
                                </label>
                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToBrokers==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToBrokers"
                                           ng-model="e.CCBrokers" />Brokers
                                </label>

                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="form-group">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5 table-responsive" style="max-height:150px;">
                                @*<textarea cols="3" ng-model="e.CCEmailIds">

                                    </textarea>*@

                                <input type="text" id="CCEmailIds" value="">



                                <div id="CCEmailIds_Val" style="display:none;">

                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                <sapn>
                                    Set Frequency of Reminder
                                </sapn>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="e.FrequencyOfReminder" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="sendEmail_saveEmailLog()" style="float:left;">Send Mail</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Angular/Contoller/Marine/MarineAssessmentDetailNewCtrl.js"></script>
<script src="~/Scripts/Angular/Contoller/Common/EmailLog.js"></script>
<link href="../../Scripts/MultipleEmailPlugin/multiple-emails.css" rel="stylesheet" />
<script src="../../Scripts/MultipleEmailPlugin/multiple-emails.js"></script>
}
<script>
    $(document).ready(function () {

        $('#show_Modal_SendMail').click(function () {
            $('#modal_SendMail').modal('show');
        })
        $('#btnClick_btnShowModal').click(function () {
            $('#btnShowModal').click();

        })
    })
    //$(window).load(function () {

    //    $('.modal').on('shown.bs.modal', function () {      //correct here use 'shown.bs.modal' event which comes in bootstrap3
    //        $(this).find('iframe').attr('src', 'http://localhost:49164/Survery/MarineAssessmentDetailNew?cid=81&calMode=CL&task=Claim')
    //    })

    //})
</script>