﻿@model BusinessLayer.Models.CSGenrateClaim

@{
    ViewBag.Title = "MarineAssessmentDetails";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<input type="hidden" value="@Request.QueryString["AssessmentType"]" id="AssessmentType"/>
<input type="hidden" value="@Request.QueryString["task"]" id="tempTask" />
<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divCMarineAssessmentDetails">
                @using (Html.BeginForm("MarineAssessmentDetails", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                {
                    @Html.Partial("_marineassessmentdetails", Model)
                }
            </div>
        </div>
    </div>
    <input id="hdnClaimId" type="hidden" value='@Model.FkClaimId' />
</div>

<div>
    <form action="/Survery/MarineTranshipment" enctype="multipart/form-data" id="form_MarineTranshipment" method="post">
        <input type="hidden" id="fkTranshipMentClaimId" name="fkClaimId" />
        <input type="hidden" id="MarineTranshipmentTask" name="task" />
    </form>
</div>


<form action="/Survery/SubmitFSR" enctype="multipart/form-data" id="form_SubmitFSR" method="post">
    <input type="hidden" id="fkFSRClaimId" name="fkClaimId" />
    <input type="hidden" id="FSRTask" name="task" />
</form>

<script type="text/javascript">
    function SendFSRSubbmit(fkClaimId, task) {
        $("#fkFSRClaimId").val(fkClaimId);
        $("#FSRTask").val(task);
        $("#form_SubmitFSR").submit();
    }

    BindDestination('@Model.FkClaimId');

</script>
<script type="text/javascript">
    //var Task;
    $(document).ready(function () {
        //if ($('#AssessmentType').val() == "CL") {
        //    //alert("if");
        //    $("heading").html("Claim Bill");
            
        //}
        //else {
        //    //alert("else");
        //    $("heading").html("Assessment");
        //}
        if ($('#tempTask').val()=="Claim") {
            
            $("heading").html("Claim Bill");

        }
        else {
            
            $("heading").html("Assessment");
        }
       
  

    })
    
</script>

@*<script>     $("heading").html("Assessment");</script>*@
@*<script>
    $(document).ready(function () {
        //$('#TotalAmount').click(function () {
        //    alert();
        //    //$('#txtAmount').each(function (index,element) {
        //    //    console.log($(this).val());

        //    //})

        //})
        



        var count = 0;
        $('#test').click(function () {
            alert();
            //$('#tbAssessment tr td button').each(function (index, element) {
            //    if  (($(this).hasClass("btnRemoveAssessment")))
            //    {
            //        var aa = $(this).parent('td').next('td').html();
            //        //var aa = $(this).closest('tr').first('td').next('td').text();
            //        console.log(aa);
            //            count++;
            //            console.log(count);
            //    }
            //})
            count = 0;
            $('#tbAssessment').find("tr .btnRemoveAssessment").each(function (index, element) {
                
                //if(($(this).find(".btnRemoveAssessment"))) {
                //if  (($(this).hasClass("btnRemoveAssessment")))

                //var aa = $(this).closest('tr').first('td').next('td').html();
                var aa = $(this).closest('tr').attr('Id');
              console.log(aa);
                    count++;
                    console.log(count);
                //}

            })
        })
        


    })
</script>*@