﻿@model BusinessLayer.Models.CSMarineConsignmentDocs

@{
    ViewBag.Title = "MarineConsignmentDocs";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">

    $(window).load(function () {
        $("#txtGNDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtBLDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtBEDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtAWBDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtRRDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtInvDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        MarineGetConsignmentDocs('@Model.FKClaimId');
        $("heading").html("Consignment Information");
    });
</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            @Html.HiddenFor(a => a.FKClaimId, new { @id = "hdFKClaimId" })
            <div class="cb"></div>
            <div id="divMarineConsignmentDocs">
                @*<div class="textalign">
                        <h3>Consignment Information</h3>
                    </div>*@
           
                     <div class="cb"></div>
                @using (Html.BeginForm("MarineJIR", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form2" }))
                {
                    @Html.Partial("_marineconsignmentdocs", Model)
                }
            </div>
        </div>
    </div>
</div>


<form action="/Survery/MarineJIR" enctype="multipart/form-data" id="form_MarineJIR" method="post">
    <input type="hidden" id="fkMarineJIRClaimId" name="fkClaimId" />
    <input type="hidden" id="MarineJIRAssessmentTask" name="task" />
</form>

<form action="/Survery/MarineDamageDetails" enctype="multipart/form-data" id="form_MarineDamageDetails" method="post">
    <input type="hidden" id="fkMarineDamageDetailsClaimId" name="fkClaimId" />
    <input type="hidden" id="MarineDamageDetailsTask" name="task" />
</form>

<script type="text/javascript">

    function SendToMarineDamageDetails(fkClaimId, task) {
        $("#fkMarineDamageDetailsClaimId").val(fkClaimId);
        $("#MarineDamageDetailsTask").val(task);
        $("#form_MarineDamageDetails").submit();
    }

    function SendToMarineJIR(fkClaimId, task) {
        $("#fkMarineJIRClaimId").val(fkClaimId);
        $("#MarineJIRAssessmentTask").val(task);
        $("#form_MarineJIR").submit();
    }

</script>




