﻿@{
    ViewBag.Title = "MotorAssessment";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<div ng-controller="AssessmentCtrl">
    <script>
        $(window).load(function () {

            //if ($('#calMode').val() == 'CL') {
            //    $("heading").html("Claim Bill");
            //}
            //else if ($('#calMode').val() == 'AS') {
            //    $("heading").html("Assessment");
            //}
            $("heading").html("Motor  Assessment ");
        });
    </script>

    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />

    @*<input type="hidden" value="@Request.QueryString["calMode"]" id="calMode" />*@
    @*<input type="hidden" value="@Request.QueryString["task"]" id="task" />*@
    <div class="form_label">
        <label ng-repeat="mi in  listMI track by $index">
            <input type="radio" ng-model="test"  name="methology" ng-click="setData(mi.ShortName,mi.Percentage); getAssessment();"  />{{mi.MetologyOfItems}} 
        </label>
    </div>
    <form id="formAssDesc">
        <div class="grid_body">
            <table class="mygrid">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Particular of Item</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ad  in listAssDesc track by $index">
                        <td></td>
                        <td>    <input type="text" ng-model="ad.Items"   /></td>
                        <td>   <input type="text" ng-model="ad.QtyC" ng-keyup="commonFuncForBindCal()" valid-number  /></td>
                        <td> <input type="text" ng-model="ad.RateC" ng-keyup="commonFuncForBindCal()" valid-number  /></td>
                        <td><input type="text" ng-model="ad.AmountC" readonly="readonly" /></td>
                        <td><input type="text" ng-model="ad.QtyA" ng-keyup="commonFuncForBindCal()" valid-number
                                 /></td>
                        <td><input type="text" ng-model="ad.RateA" ng-keyup="commonFuncForBindCal()" valid-number
                                    /></td>
                        <td><input type="text" ng-model="ad.AmountA" readonly="readonly" /></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td>    <input type="text" ng-model="a.Items" class="validate[required,'Please Enter Items'] Txtbox" id="items" /></td>
                        <td>   <input type="text" ng-model="a.QtyC" ng-keyup="a.AmountC=a.QtyC*a.RateC" class="validate[required,'Please Enter Claimed Qty'] Txtbox" id="qc"  valid-number/></td>
                        <td> <input type="text" ng-model="a.RateC" ng-keyup="a.AmountC=a.QtyC*a.RateC" class="validate[required,'Please Enter Claimed Rate'] Txtbox" id="rc" /></td>
                        <td><input type="text" ng-model="a.AmountC" readonly="readonly"/></td>

                        <td><input type="text" ng-model="a.QtyA" ng-keyup="a.AmountA=a.QtyA*a.RateA" valid-number class="validate[required,'Please Enter Assessed Qty'] Txtbox" id="qc"   /></td>
                        <td><input type="text" ng-model="a.RateA" ng-keyup="a.AmountA=a.QtyA*a.RateA" valid-number /></td>
                        <td><input type="text" ng-model="a.AmountA" readonly="readonly" class="validate[required,'Please Enter Assessed Rate'] Txtbox" id="ar" /></td>
                        <td ng-click="addInlistAssDesc()">
                            <img src="~/Images/addicon.png" alt="Add" title="Add" />
                        </td>
                        
                    </tr>
                    <tr>
                        <td><strong>  Sub-Total:-</strong>  </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        
                        
                        <td  style="text-align:center;"><strong>{{ah.SubTotalC}}</strong> </td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center;"><strong> {{ah.SubTotalA}}</strong> </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </form>
    <form id="formAssCalc">
        <div class="form_label" style="overflow: scroll !important">
            <div class="col-3">

            </div>
            <div class="col-9">
                <div class="calc">
                    <div class="grid_body">
                        <table class="mygrid" id="tblTax">
                            <thead>
                                <tr>
                                    <th>Operation</th>
                                    <th>Particular</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in listAssCalc">
                                    <td>{{c.Sign}}</td>
                                    <td><select ng-options="p.PK_P_ID as p.Particular for  p  in listP" ng-model="c.PK_P_ID"  disabled></select></td>
                                    <td>{{c.Rate}}</td>
                                    <td>{{c.Amount}}</td>
                                    <td ng-click="deleteInlistAssCalc(c.PK_AC_ID,$index)"><img src="~/Images/Delete_icon.png" style="height:25px; width:25px;" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><input type="radio" name="cal" value="Add" ng-model="ac.Sign"  />Add</label>
                                        <label>   <input type="radio" name="cal" value="Less" ng-model="ac.Sign"/>Less</label>
                                        <label>
                                            <input type="radio" name="cal" value="Multiply" ng-model="ac.Sign" /> Multiply
                                        </label>
                                        <label>
                                            <input type="radio" name="cal" value="Divide" ng-model="ac.Sign"/> Divide
                                        </label>
                                    </td>
                                    <td><select ng-options="p.PK_P_ID as p.Particular for  p  in listP" ng-model="ac.PK_P_ID" class="validate[required,'Please Select Particulars'] Txtbox" id="pa"></select></td>
                                    <td><input type="text" valid-number ng-model="ac.Rate" ng-keyup="calRateToAmount()" maxlength="5" class="validate[required,'Please Enter Rate] Txtbox" id="rate" /></td>
                                    <td><input type="text" valid-number ng-model="ac.Amount" ng-disabled="ac.Rate>0" maxlength="12"
                                               class="validate[required,'Please Enter Amount'] Txtbox" id="amount" /></td>
                                    <td ng-click="addInlistAssCalc()">
                                        <img src="~/Images/addicon.png" alt="Add" title="Add" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td> Salvage</td>
                                    <td>
                                        <input type="text" ng-model="ah.SalvageRate" ng-keyup="commonFuncForBindCal()" valid-number />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="ah.SalvageAmount" ng-keyup="calGrandTotal()" valid-number ng-disabled="ah.SalvageRate>0" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> Depriciation</td>
                                    <td>
                                        <input type="text" ng-model="ah.DepriciationRate" readonly="readonly" />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="ah.DepriciationAmount" readonly="readonly" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Additional Depriciation</td>
                                    <td>
                                        <input type="text" ng-model="ah.AddDepriciationRate" valid-number  ng-keyup="commonFuncForBindCal()"/>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="ah.AddDepriciationAmount" valid-number ng-disabled="ah.AddDepriciationRate>0" ng-keyup="calGrandTotal()" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Discount</td>
                                    <td>
                                        <input type="text" ng-model="ah.DiscountRate" valid-number ng-keyup="commonFuncForBindCal()"/>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="ah.DiscountAmount" valid-number ng-disabled="ah.DiscountRate>0" ng-keyup="calGrandTotal()" />
                                    </td>
                                    <td></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div>
        <b style="float:right;padding-right:150px;">
            <strong> Grand Total:-</strong>
            <span><strong>{{ah.GrandTotal}}</strong> </span>
        </b>
    </div>
    <div class="clearfix">

    </div>


    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveAssessment()" ng-disabled="btnSave==0">Submit</button>
            
            <a href="/Survery/ReInspection?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                Prev
            </a>

        </div>
    </div>

</div>

@section scripts{
<script src="~/Scripts/Angular/Contoller/Motor/AssessmentCtrl.js"></script>
    }

