﻿@model BusinessLayer.Models.CSMotorPartClaim
@{
    ViewBag.Title = "MotorPartsClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Motor Part Claim");
    });
</script>
<style>
    .nxt {
        margin: 0px;
        background: none;
        border: 0px;
        padding: 6px 10px 7px;
        background-color: #82cad6;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        font-family: 'roboto';
        cursor: pointer;
    }

</style>
<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="MPClaim">
                @using (Html.BeginForm("MotorPartsClaim", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formPC" }))
                {
                    @Html.Partial("_motorPartClaim", Model)                    
                }
            </div>
        </div>
    </div>
</div>
