﻿@model BusinessLayer.Models.CSMotorParticularRemarks
@{
    ViewBag.Title = "MotorParticularRemark";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Motor Particular Remark");
    });
</script>
<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="MPRemark">
                @using (Html.BeginForm("MotorParticularRemark", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formPR" }))
                {
                    @Html.Partial("_motorParticularRemark", Model)                    
                }
            </div>
        </div>
    </div>
</div>
