﻿@model BusinessLayer.Models.CSMotorSurvey

@{
    ViewBag.Title = "MotorVehicleParticulars";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Vehicle Particulars");
    });
</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="VehicleParticulars">
                @using (Html.BeginForm("MotorVehicleParticulars", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form7" }))
                {
                    @Html.Partial("_motorVehicalParticulars", Model)            
                }
                @*@{
                    if (Session["Type"] == null)
                    {
                        using (Html.BeginForm("MotorVehicleParticulars", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form7" }))
                        {
                    @Html.Partial("_motorVehicalParticulars", Model)            
                        }                       
                    }
                    else
                    {
                        using (Html.BeginForm("MotorDLParticulars", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form7" }))
                        {
                    @Html.Partial("_motorDLParticulars", Model)            
                        }
                    }  
                }*@
            </div>
        </div>
    </div>
</div>
