﻿@model BusinessLayer.Models.CSMotorSurvey

@{
    ViewBag.Title = "MotorRemarksClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        BindMotorRemarksMaster('@Model.FK_ClaimID');
        $("heading").html("Remarks View");
    });
</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divMotorRemarks">
                <input type="hidden" id="hdFKClaimId" value="@Model.FK_ClaimID" />
                <input type="hidden" id="hdTask" value="@Model.Task" />                
                @using (Html.BeginForm("LorMotorWork", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form4" }))
                {
                    @Html.Partial("_MotorRemarksClaim", Model)
                }
            </div>
        </div>
    </div>
</div>

<form action="/Survery/MarineDamageDetails" enctype="multipart/form-data" id="form_MarineDamageDetails" method="post">
    <input type="hidden" id="fkMarineDamageDetailsClaimId" name="fkClaimId" />
    <input type="hidden" id="MarineDamageDetailsTask" name="task" />
</form>


<form action="/Survery/LOR" enctype="multipart/form-data" id="form_LOR" method="post">
    <input type="hidden" id="fkLORClaimId" name="fkClaimId" />
    <input type="hidden" id="LORTask" name="task" />
</form>
