﻿@model BusinessLayer.Models.CSMotorRouteParticulars
@{
    ViewBag.Title = "MotorRouteParticulars";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Motor Route Particulars");
    });
</script>
<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="RParticulars">
                @using (Html.BeginForm("MotorRouteParticulars", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formRP" }))
                {
                    @Html.Partial("_motorRouteParticulars", Model)                    
                }
            </div>
        </div>
    </div>
</div>
