﻿@model BusinessLayer.Models.CSMotorOtherLegalAspects

@{
    ViewBag.Title = "motorotherlegalaspects";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            $("#FIRDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
            });
        });
    });
    $(window).load(function () {
        $("heading").html("Policy Particulars");
    });
</script>


<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divClaimForm">
                @using (Html.BeginForm("PreviousClaim", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                {

                    <div class="form_label">
                        <div class="col-3"><span>FIR No<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.FIRNo, new { @class = "validate[required,'Please enter fir number'] Txtbox", @maxlength = "19", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"><span>FIR Date<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.FIRDate, new { @class = "validate[required,'Please enter fir date'] Txtbox", @maxlength = "19", @autocomplete = "off" })</span>
                        </div>
                    </div>                    
                    
                    <div class="form_label">
                        <div class="col-3"><span>Police Station<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.PoliceStation, new { @class = "validate[required,'Please enter no police station'] Txtbox", @maxlength = "99", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"><span>IPC<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.IPC, new { @class = "validate[required,'Please enter IPC'] Txtbox", @maxlength = "49", @autocomplete = "off" })</span>
                        </div>
                    </div>          
                    
                    <div class="form_label">
                        <div class="col-3"><span>Subject Matter<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.SubjectMatter, new { @class = "validate[required,'Please enter subject matter'] Txtbox", @maxlength = "49", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"><span>FReport<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.FReport, new { @class = "validate[required,'Please enter FReport'] Txtbox", @maxlength = "99", @autocomplete = "off" })</span>
                        </div>
                    </div>

                    <div class="form_label">
                        <div class="col-3"><span>Remark<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.Remark, new { @class = "validate[required,'Please enter subject matter'] Txtbox", @maxlength = "49", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <span></span>
                        </div>
                    </div>                    
                    
                }
            </div>
        </div>
    </div>
</div>
