﻿@{
    ViewBag.Title = "MotorAssessmentSummery";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<div ng-controller="AssessmentSummeryCtrl">
    <script>
        $(window).load(function () {

            $("heading").html("Assessment Summery");
        });
    </script>

    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
<div class="grid_body">
    <table class="mygrid">
        <thead>
            <tr>
                <th>Particulars</th>
                <th>Discount</th>
                @*<th>GST</th>*@
                <th>Dep</th>
                <th>Add. Dep</th>
                <th>Salvage</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ah in listAssHeader">
                <td ng-show="ah.ShortName=='M'"><strong> Assessment for Replacement of Metal Parts</strong> </td>
                <td ng-show="ah.ShortName=='PR'"><strong>Assessment for Replacement of Plastic/Rubber Parts</strong> </td>
                <td ng-show="ah.ShortName=='FB'"><strong> Assessment for Replacement of Fiber Glass Parts</strong> </td>
                <td ng-show="ah.ShortName=='G'"><strong> Assessment for Replacement of Glass Parts</strong> </td>
                <td ng-show="ah.ShortName=='P'"><strong> Assessment for Painting</strong> </td>
                <td ng-show="ah.ShortName=='L'"><strong> Assessment for Labour Charge</strong> </td>


                
                <td>{{ah.DiscountAmount}}</td>
                <td>{{ah.DepriciationAmount}}</td>
                <td>{{ah.AddDepriciationAmount}}</td>
                <td>{{ah.SalvageAmount}}</td>
                <td>{{ah.GrandTotal}}</td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong style="font-size:15px;"> Total:-</strong> </td>
                <td><input type="text" readonly="readonly" ng-model="mas.GrandTotalofAssHeader" /> </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><label> Towing Charge</label> </td>
                <td><input type="text" valid-number ng-model="mas.TowingCharge" ng-keyup="commonFunctionForCal()" maxlength="12" /> </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <strong style="font-size:15px;">Total:-</strong> </td>
                <td><input type="text" readonly="readonly" ng-model="mas.AfterTowingChargeTotal" /> </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><label> Excess</label> </td>
                <td><input type="text" valid-number ng-model="mas.Excess" ng-keyup="commonFunctionForCal()" maxlength="12" /> </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong style="font-size:20px;"> Grand Total:-</strong> </td>
                <td><input type="text" readonly="readonly" style="font-size:17px; font-weight:bold;" ng-model="mas.GrandTotalofAssSummery" /> </td>
            </tr>

        </tbody>
    </table>

</div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveAssessmentSummery()">Submit</button>
            <button type="button" class="btn yellow" style="float:right;" ng-click="saveAssessmentSummery('n')">Next</button>
           
<a href="/Survery/RemarksObservations?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
    Prev
</a>
        </div>
    </div>
</div>
@section scripts{
 
<script src="~/Scripts/Angular/Contoller/Motor/AssessmentSummery.js"></script>
}
