﻿@model BusinessLayer.Models.CSMotorSurvey

@{
    ViewBag.Title = "MotorDLParticulars";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("DL Particulars");
    });
</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="DLParticulars">
                @using (Html.BeginForm("MotorDLParticulars", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formDL" }))
                {
                    @Html.Partial("_motorDLParticulars", Model)                    
                }
            </div>
        </div>
    </div>
</div>