﻿@{
    ViewBag.Title = "MotorOccurenceNew";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<div ng-controller="OccurenceCtrl">
    <form id="formOccurence">
        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-3"><span>Date & Time of Accident:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.AccDate" readonly="readonly" datepicker class="validate[required,'Please enter Date & Time of Accident'] Txtbox" maxlength="50" autocomplete="off" id="txtRCno" />
        </div>

        <div class="col-3"><span>Place of Accident<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.AccPlace" class="validate[required,'Please enter Place of Accident'] Txtbox" maxlength="20" autocomplete="off" id="txtRCDate" />
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Spot Survey:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <label> <input type="radio" ng-model="o.SpotSurvey" value="Yes" name="spot" />Yes</label>
            <label> <input type="radio" ng-model="o.SpotSurvey" value="No" name="spot" />No</label>
        </div>
    </div>

    <div class="form_label" ng-show="o.SpotSurvey=='Yes'">
        <div class="col-3"><span>Name of Spot Surveyor<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.NameSpotSurveyor" maxlength="50"/>
        </div>
        <div class="col-3"><span>Date of Spot Survey<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.SpotSurveyDT" datepicker readonly="readonly" />
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Police Report/FIR/Panchnama:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <label><input type="radio" ng-model="o.FIR" value="Yes" name="fir" />Yes</label>
            <label><input type="radio" ng-model="o.FIR" value="No" name="fir" />No</label>
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Fire Brigade Report:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <label> <input type="radio" name="fib" value="Yes" ng-model="o.FireReport" />Yes</label>
            <label><input type="radio" name="fib" value="No" ng-model="o.FireReport" />No</label>
        </div>
    </div>
    <div class="form_label" ng-show="o.FireReport=='Yes'">
        <div class="col-3"><span>Fire Brigade Report No. <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.FireBrigadeReportNo" maxlength="50"/>
        </div>
        <div class="col-3"><span>Date of Fire report <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.FireReportDT" datepicker readonly="readonly" />
        </div>
    </div>

    <div class="form_label" ng-show="o.FireReport=='Yes'">
        <div class="col-3"><span>Name of Fire station <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.NameFireStation" maxlength="50" />
        </div>
        <div class="col-3"><span>Number of fire tender used<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.FireTenderNo" maxlength="50"/>
        </div>
    </div>

    <div class="form_label" ng-show="o.FireReport=='Yes'">
        <div class="col-3"><span>Total time consumed for fire fighting<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" ng-model="o.TotalTimeConsumeFireFight" maxlength="50"/>
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Third Party Property Loss:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <label>  <input type="radio" name="tppl" value="Yes" ng-model="o.TPPLoss" />Yes</label>
            <label>   <input type="radio" name="tppl" value="No" ng-model="o.TPPLoss" />No</label>
        </div>
    </div>

    <div class="grid_body table-responsive" style="max-height:200px;" ng-show="o.TPPLoss=='Yes'">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Name of Owner</th>
                    <th>Particular of Property</th>
                    <th>Estimated Value</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                <tr ng-repeat="p in listTPP track by $index">
                    <td>{{p.NameOfOwner}}</td>
                    <td>{{p.ParticularOfProperty}}</td>
                    <td>{{p.EstimatedValue}}</td>
                    <td ng-click="deleteIn_listTPP(p.PK_TP_ID,$index)"><img src="~/Images/Delete_icon.png" style="max-height:25px;width:25px;" /> </td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="p.NameOfOwner" maxlength="50" />      </td>
                    <td> <input type="text" ng-model="p.ParticularOfProperty" maxlength="50" /> </td>
                    <td><input type="text" ng-model="p.EstimatedValue" maxlength="10" valid-number /> </td>
                    <td><button type="button" class="btn btn-info btn-sm" ng-click="addIn_listTPP()"><span class="glyphicon glyphicon-plus"></span>  Save</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Third Party Body Injury:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <label><input type="radio" name="tpbi" value="Yes" ng-model="o.TPBInjury" />Yes</label>
            <label><input type="radio" name="tpbi" value="No" ng-model="o.TPBInjury" />No</label>
        </div>

    </div>
    <div class="grid_body table-responsive" style="max-height:200px;" ng-show="o.TPBInjury=='Yes'">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Name of Victim</th>
                    <th>Particular of Injury</th>
                    <th>Hospitalization</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                <tr ng-repeat="b in listTPB track by $index">
                    <td>{{b.NameOfVictim}}</td>
                    <td>
<label><input type="radio" ng-model="b.ParticularOfInjury" name="particularOfInjury{{$index}}" value="BodilyInjuryOnly" />Bodily Injury Only</label>
                <label>        <input type="radio" ng-model="b.ParticularOfInjury" name="particularOfInjury{{$index}}" value="Death" />Death</label>
                     </td>
                    <td>
                  <label>     <input type="radio" ng-model="b.Hospitalization" name="hospitalization{{$index}}" value="Yes" />Yes</label>
                     <label>   <input type="radio" ng-model="b.Hospitalization" name="hospitalization{{$index}}" value="No" />No</label>
                    </td>
                    <td ng-click="deleteIn_listTPB(b.PK_TPB_ID,$index)"><img src="~/Images/Delete_icon.png" style="max-height:25px;width:25px;" /> </td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="b.NameOfVictim" maxlength="50" />      </td>
                    <td>
                       <label>
                        <input type="radio" ng-model="b.ParticularOfInjury" name="particularOfInjury" value="BodilyInjuryOnly" />Bodily Injury Only</label>
                    <label>    <input type="radio" ng-model="b.ParticularOfInjury" name="particularOfInjury" value="Death" />Death</label>
                    </td>
                    <td>
                     <label>   <input type="radio" ng-model="b.Hospitalization" name="hospitalization" value="Yes" />Yes</label>
                    <label>    <input type="radio" ng-model="b.Hospitalization" name="hospitalization" value="No" />No</label>
                    </td>
                    <td><button type="button" class="btn btn-info btn-sm" ng-click="addIn_listTPB()"><span class="glyphicon glyphicon-plus"></span>  Save</button> </td>
                </tr>

            </tbody>
        </table>
    </div>


        

    <div class="form_label">
        <div class="col-3">
            <span>
                Nature of Accident/Loss
                <label class="mandatory">*</label>
            </span>
        </div>
        <div class="col-9">
            <label ng-repeat="l in listLossClaim">
                <input type="checkbox" ng-model="l.IsChecked"/>{{l.Loss}}
            </label>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12"><span>Brief write-up on Cause of Accident/Loss as Described by the Insured or his representative:<label class="mandatory">*</label></span></div>
        <div class="col-12">
            <textarea maxlength="200" ng-model="o.LossDesc"> </textarea>
            @*@Html.TextAreaFor(a => a.LossDesc, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })*@
        </div>
    </div>
    <div class="form_label">
            <div class="col-3"><span>Damaged side(s)<label class="mandatory">*</label></span></div>
            <div class="col-9">
                <label ng-repeat="d in listDamageClaim">
                    <input type="checkbox" ng-model="d.IsChecked" />{{d.Damage}}
                </label>
           </div>
        </div>
    <div class="form_label">
        <div class="col-12"><span>Was insured vehicle carrying load or passenger at the time of accident if yes, give detail:<label class="mandatory">*</label></span></div>
        <div class="col-12">
            <textarea maxlength="200" ng-model="o.Remarks"> </textarea>
            @*@Html.TextAreaFor(a => a.OccRemarks, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })*@
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Photo1:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="file" id="photo1" />
        </div>
        <div class="col-3">
           <a href="~/files/Motor/{{o.Photo1}}" ng-show="o.Photo1!=null && o.Photo1!='' && o.Photo1!=undefined" download>Download</a>
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Photo2:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="file" id="photo2" />
        </div>
        <div class="col-3">
            <a href="~/files/Motor/{{o.Photo2}}" ng-show="o.Photo2!=null && o.Photo2!='' && o.Photo2!=undefined" download>Download</a>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center">
            <button type="button" class="btn btn-info" ng-click="saveOccurenceNew()">Submit</button>
            <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
            @*<input type="submit" id="btnMotorOccurence" value="Next" data-content="@Model.PK_ID" name="command" class="btn" />
                <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>*@
        </div>
    </div>
        </form>
</div>

@section scripts{
<script src="~/Scripts/Angular/Contoller/Motor/OccurenceCtrl.js"></script>
}