﻿@{
    ViewBag.Title = "MotorSalvage";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Salvage");
    });
</script>
<div ng-controller="CommonMotorCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-3">
            <span>Salvage</span>
        </div>
        <div class="col-9">
            <textarea rows="3" ng-model="s.Salvage" ng-maxlength="500"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveSalvage()">Submit</button>
            <button type="button" class="btn yellow" ng-click="cancelSalvage()">Cancel</button>
            <button type="button" class="btn yellow" ng-click="saveSalvage('n')" style="float:right;">Next</button>
            
                <a href="/Survery/MotorAssessmentSummery?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>

        </div>
    </div>
</div>

@section scripts{

 
<script src="~/Scripts/Angular/Contoller/Motor/CommonMotorCtrl.js"></script>
}
