﻿@model BusinessLayer.Models.CSMotorSurvey

@{
    ViewBag.Title = "MotorOccurence";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("About Occurrence (To be filled by the Insured)");
    });
</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="DLParticulars">
                @using (Html.BeginForm("MotorOccurence", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formMO" }))
                {
                    @Html.Partial("_motorOccurence", Model)            
                }
            </div>
        </div>
    </div>
</div>