﻿@{
    ViewBag.Title = "OtherLegalAspects";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Other Legal Aspects of the Accident/Documents if applicable");
    });
</script>
<div ng-controller="OtherLegalAspectsCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
<div class="form_label">
    <div class="col-3">
        <span>
            FIR No
        </span>
    </div>
    <div class="col-3">
        <input type="text" maxlength="50" ng-model="ol.FIRNo"/>
    </div>
    <div class="col-3">
        <span>FIR Date</span>
    </div>
    <div class="col-3">
        <input type="text" datepicker ng-model="ol.FIRDT" />
    </div>
</div>
<div class="form_label">
    <div class="col-3">
        <span>Police Station </span>
    </div>
    <div class="col-3">
        <textarea row="2" maxlength="100" ng-model="ol.PoliceStation">

        </textarea>
    </div>
</div>
<div class="form_label">
    <div class="col-3">
        <span>Sections of IPC 1860</span>
    </div>
    <div class="col-9">
        <textarea rows="3" maxlength="250" ng-model="ol.SectionsOfIPC" ></textarea>
    </div>
</div>
<div class="form_label">
    <div class="col-3">
        <span>Subject matter of the FIR</span>
    </div>
   <div class="col-9">
       <textarea rows="5" maxlength="1000" ng-model="ol.SubjectMatterFIR"></textarea>
   </div>
</div>

<div class="form_label">
    <div class="col-3">
        <span>Final Report/Un-traceable Report(Applicable in case if theft only)</span>
    </div>
    <div class="col-9">
        <textarea rows="5" ng-maxlength="1000" ng-model="ol.FinalReport_Untraceable"></textarea>
    </div>
</div>

<div class="form_label">
    <div class="col-3">
        <span>Remarks/conclusions </span>
    </div>
    <div class="col-9">
        <textarea rows="5" ng-maxlength="1000" ng-model="ol.Remarks"></textarea>
    </div>
</div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveOtherLegalAspects()">Submit</button>
            <button type="button" class="btn yellow" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn yellow" style="float:right;" ng-click="saveOtherLegalAspects('n')">Next</button>
         
                <a href="/Survery/MotorOccurence?id=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>

        </div>
    </div>

    </div>
@section scripts{
    
<script src="~/Scripts/Angular/Contoller/Motor/OtherLegalAspectsCtrl.js"></script>
    }