﻿@{
    ViewBag.Title = "ParticularOfSurvey";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Particular Of Survey");
    });
</script>
<div ng-controller="ParticularOfSurveyCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-3">
            <span>Date of Application of Survey </span>
        </div>
        <div class="col-3">
            <input type="text" datepicker ng-model="ps.ApplicationOfSurveyDT" />
        </div>
        <div class="col-3">
            <span>
                Source of Instruction for Survey
            </span>
        </div>
        <div class="col-3">
            <input type="text" disabled ng-model="InstructorName" />
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>Date & Time of Survey </span>
        </div>
        <div class="col-3">
            <input type="text" datepicker ng-model="ps.SurveyDT" class="input-sm" style="width:130px;"/>
            &nbsp;
            &nbsp;
            <input type="text"   style="width:120px;" ng-model="tt"  timepicker="" id="surveyTime"/>
            @*<input type="text" id="txttime" class="input-sm" style="width:120px;"/>*@
        </div>
        <div class="col-3">
            <span> Place of Survey </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="ps.PlaceOfSurvey" />
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveParticularOfSurvey()">Submit</button>
            <button type="button" class="btn yellow" ng-click="saveParticularOfSurvey('n')" style="float:right;">Next</button>
            @*<a href="/Survery/MotorVehicleParticulars?id=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                    Next
                </a>*@
                <a href="/Survery/PolicyParticulars?id=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
            @*<button type="button" ng-click="test()">Test</button>*@
        </div>
    </div>
    
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/Motor/ParticularOfSurveyCtrl.js"></script>

}

<script>
    $(document).ready(function () {
        //$('#txttime').timepicker({});
        //$('.timepicker').timepicker({
        //    timeFormat: 'h:mm p',
        //    interval: 60,
        //    minTime: '10',
        //    maxTime: '6:00pm',
        //    defaultTime: '11',
        //    startTime: '10:00',
        //    dynamic: false,
        //    dropdown: true,
        //    scrollbar: true
        //});
        //$('#txtTimeOfSurvey').timepicker({
        //    timeFormat: 'h:mm p',
        //    interval: 60,
        //    startTime: '12:00',
        //    dynamic: false,
        //    dropdown: true,
        //    scrollbar: true
        //});



    });
</script>