﻿@{
    ViewBag.Title = "ParticularsOfDamage";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Particulars Of Damage");
    });
</script>
<div ng-controller="CommonMotorCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
<div class="form_label">
    <div class="col-3">
        <span>PARTICULARS OF LOSS/DAMAGE</span>
    </div>
    <div class="col-9">
        <textarea rows="3" ng-model="pl.ParticularsOfLossDamage" ng-maxlength="2000">

        </textarea>
    </div>
</div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveParticularsOfLossDamage()">Submit</button>

            <button type="button" class="btn yellow" ng-click="cancelParticularsOfLossDamage()">Cancel</button>
            <button type="button" class="btn yellow" ng-click="saveParticularsOfLossDamage('n')" style="float:right;">Next</button>
                <a href="/Survery/PreviousClaimHistory?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>

        </div>
    </div>
    </div>

@section scripts{
<script src="~/Scripts/Angular/Contoller/Motor/CommonMotorCtrl.js"></script>
}
