﻿@model BusinessLayer.Models.CSPolicyParticulars

@{
    ViewBag.Title = "PolicyParticulars";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Policy Particulars");
    });
</script>
<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div class="cb"></div>
            <div id="POParticulars">
                @using (Html.BeginForm("PolicyParticulars", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formPP" }))
                {
                    @Html.Partial("_motorPolicyParticulars", Model)                    
                }
            </div>
        </div>
    </div>
</div>
