﻿@{
    ViewBag.Title = "PreviousClaimHistory";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

@*<h2>PreviousClaimHistory</h2>*@
<script>
    $(window).load(function () {
        $("heading").html("Previous claim History of the Insured Vehicle ");
    });
</script>
<div ng-controller="PreviousClaimCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label" >
        <div class="col-3">
            <span>Previous Policy No. </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="p.PolicyNo" maxlength="50" />
        </div>
        <div class="col-3">
            <span>Insurers </span>
        </div>
        <div class="col-3">
            <textarea rows="2" ng-model="p.Insurer" maxlength="100"></textarea>
        </div>
    </div>

    <div class="form_label">
        <div class="col-3">
            <span>No. of Accident in Previous Policy </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="p.NoOfAcc" maxlength="2" numbers-only ng-keyup="createManyColumnfor_DateOfAcc_byNoOfAcc()" />
        </div>
        @*<div class="col-3">
                <span>Date/s of Accident  </span>
            </div>
            <div class="col-3">
                <input type="text" datepicker ng-model="p.DateOfAcc" />
            </div>*@
    </div>
    <div class="form_label" >
        <div ng-repeat="d in arrDateOfAcc track by $index" class="col-md-6" style="margin-bottom: 6px;
    margin-top: 5px;">
                <div class="col-6" style="padding-left: 0px;
    padding-right: 0px;">
                    <span>Date/s of Accident  </span>
                    </div>
                <div class="col-6" style="padding-left: 15px;
    padding-right: 0px;">
                    <input type="text" datepicker ng-model="d.TempDate" />
                </div>
            </div>
    </div>



    <div class="form_label">
        <div class="col-3">
            <span>Claimed Amount/s </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="p.ClaimedAmt" valid-number maxlength="10" />
        </div>
        <div class="col-3">
            <span>Compensation Amount Received (Total)  </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="p.CompensationAmt" maxlength="10" />
        </div>
    </div>


    <div class="form_label">
        <div class="col-3">
            <span>Surveyor's Remarks/observation   </span>
        </div>
        <div class="col-9">
            <textarea rows="3" maxlength="500" ng-model="p.Remark"></textarea>
        </div>

    </div>

    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="savePreviousClaim()">Submit</button>
            <button type="button" class="btn yellow" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn yellow" ng-click="savePreviousClaim('n')" style="float:right;">Next</button>
            <a href="/Survery/OtherLegalAspects?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
               
                Prev
            </a>
            <button type="button" class="btn yellow" ng-click="test()">test</button>

        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/Motor/PreviousClaimCtrl.js"></script>
}