﻿@model BusinessLayer.Models.CSPreviousClaim

@{
    ViewBag.Title = "PreviousClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Previous Claim");
    });

    $(document).ready(function () {
        $("#DateOfAcc").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
    });

</script>


<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divClaimForm">
                @using (Html.BeginForm("PreviousClaim", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                {

                    <div class="form_label">
                        <div class="col-3"><span>Police Number<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.PolicyNo, new { @class = "validate[required,'Please enter policy number'] Txtbox", @maxlength = "29", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"><span>Insurer<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.Insurer, new { @class = "validate[required,'Please enter insurer'] Txtbox", @maxlength = "99", @autocomplete = "off" })</span>
                        </div>
                    </div>                    
                    
                    <div class="form_label">
                        <div class="col-3"><span>NoOfAcc<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.NoOfAcc, new { @class = "validate[required,'Please enter no fo acc'] Txtbox", @maxlength = "19", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"><span>Date of Acc<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.DateOfAcc, new { @class = "validate[required,'Please enter date of acc'] Txtbox", @maxlength = "19", @autocomplete = "off" })</span>
                        </div>
                    </div>          
                    
                    <div class="form_label">
                        <div class="col-3"><span>Claimed Amt<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.ClaimedAmt, new { @class = "validate[required,'Please enter claimed amt'] Txtbox", @maxlength = "29", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"><span>Compensation Amt<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.CompensationAmt, new { @class = "validate[required,'Please enter compensation amt'] Txtbox", @maxlength = "99", @autocomplete = "off" })</span>
                        </div>
                    </div>

                    <div class="form_label">
                        <div class="col-3"><span>Valid Up TO<label class="mandatory">*</label></span></div>
                        <div class="col-3">
                            <span>@Html.TextBoxFor(a => a.ValidUpTO, new { @class = "validate[required,'Please enter valid up to'] Txtbox", @maxlength = "29", @autocomplete = "off" })</span>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3">
                        </div>
                    </div>                    

                    
                    <div class="form_label">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <button type="submit" value="Submit">Submit</button>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3">
                        </div>
                    </div>                                        
                }
            </div>
        </div>
    </div>
</div>
