﻿@model BusinessLayer.Models.CSSurveyorsRegistration

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script type="text/javascript">
    $(window).load(function () {
        $(".mandatory").html("");
        $("heading").html("View Claim");
    });
</script>

<div>
    @Html.Partial("~/Views/Shared/_profile.cshtml", @Model) 
</div>