﻿@{
    ViewBag.Title = "ReInspection";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("ReInspection");
    });
</script>

<div ng-controller="ReInspectionCtrl">
<input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
<div class="form_label">
    <div class="col-3">
        <span>Date & time of the survey visit </span>
    </div>
    <div class="col-3">
        <input type="text" datepicker ng-model="r.SurveyVisitDT" readonly="readonly" />
    </div>
    
</div>
<div class="form_label">
    <div class="col-3">
        <span>Place of the survey visit </span>
    </div>
    <div class="col-9">
        <textarea rows="3" ng-model="r.PlaceOfSurveyVisit" ng-maxlength="500"></textarea>
    </div>

</div>
<div class="form_label">
    <div class="col-3">
        <span>Purpose of visit </span>
    </div>
    <div class="col-3">
        <input type="text" ng-model="r.PurposeOfVisit" ng-maxlength="100"/>
    </div>
    <div class="col-3">
        <span>Contact Detail of the Insured’s representative </span>
    </div>
    <div class="col-3">
        <input type="text" ng-model="r.ContactDetail" ng-maxlength="100" />
    </div>
</div>
<div class="form_label">
    <div class="col-3">
        <span>
            Mobile No. 
        </span>
    </div>
    <div class="col-3">
        <input type="text"  ng-model="r.MobileNo" maxlength="10" numbers-only/>
    </div>
    <div class="col-3">
        <span>Email</span>
    </div>
    <div class="col-3">
        <input type="text" ng-model="r.Email" ng-maxlength="50" />
    </div>
</div>
<div class="form_label">
    <div class="col-3">
        <span>Proof of Payment/Cashless Scheme</span>
    </div>
    <div class="col-3">
        <input type="text" ng-model="r.ProofOfPayment" ng-maxlength="100" />
    </div>
    <div class="col-3">
        <span>Salvage Destruction</span>
    </div>
    <div class="col-3">
        <label><input type="radio" value="Yes" name="YN" ng-model="r.SalvageDestruction" />Yes </label>
        <label><input type="radio" value="No" name="YN" ng-model="r.SalvageDestruction" />No </label>
    </div>
</div>
<div class="form_label">
    <div class="col-3">
        <span>Surveyor's Remarks/observation  </span>
    </div>
    <div class="col-9">
        <textarea ng-model="r.SurveyorRemarks" ng-maxlength="500"></textarea>
    </div>
</div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveReInspection()">Submit</button>
            <button type="button" class="btn yellow" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn yellow" ng-click="saveReInspection('n')" style="float:right;">Next</button>
            
                <a href="/Survery/MotorSalvage?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>

        </div>
    </div>
</div>
@section scripts{
<script src="~/Scripts/Angular/Contoller/Motor/ReInspectionCtrl.js"></script>
}