﻿@{
    ViewBag.Title = "RemarksObservations";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Remarks/Observations");
    });
</script>
<div ng-controller="CommonMotorCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-3">
            <span>Remarks/Observations</span>
        </div>
        <div class="col-9">
            <textarea rows="3" ng-model="ro.RemarksObservations" ng-maxlength="2000"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveRemarksObservations()">Submit</button>
            <button type="button" class="btn yellow" ng-click="cancelRemarksObservations()">Cancel</button>
            <button type="button" class="btn yellow" ng-click="saveRemarksObservations('n')" style="float:right;">Next</button>
            
                <a href="/Survery/EstimateLoss?id=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Angular/Contoller/Motor/CommonMotorCtrl.js"></script>
}
