﻿@model BusinessLayer.Models.CSFSR

@{
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

@using (Html.BeginForm("SubmitFSR", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    @Html.Partial("_SubmitFSR", Model);
}

<form action="/Survery/MarineISVR" enctype="multipart/form-data" id="form_MarineISVR" method="post">
    <input type="hidden" id="fkMarineISVR_ClaimId" name="fkClaimId" />
    <input type="hidden" id="fkMarineISVRClaim_Task" name="task" />
</form>

@*<form action="/Survery/LOR" enctype="multipart/form-data" id="form_LOR" method="post">
    <input type="hidden" id="fkLORClaimId" name="fkClaimId" />
    <input type="hidden" id="LORTask" name="task" />
</form>*@


<form action="/Survery/MarineAssessmentDetails" enctype="multipart/form-data" id="form5" method="post">
    <input type="hidden" id="fkAssesmentClaimId" name="fkClaimId" />
    <input type="hidden" id="AssessmentTask" name="task" />
    <input type="hidden" id="MarineTranshipmentAssessmentType" name="AssessmentType" />
</form>

<script type="text/javascript">
    function SendBBackToMarineDamageDetails(fkClaimId, task) {
        $("#fkAssesmentClaimId").val(fkClaimId);
        $("#AssessmentTask").val(task);
        $("#MarineTranshipmentAssessmentType").val("AS")
        $("#form_MarineTranshipment").submit();
    }


    function SendToNextLOR(fkClaimId, task) {
        $("#fkLORClaimId").val(fkClaimId);
        $("#LORTask").val(task);
        $("#form_LOR").submit();
    }

    function SendNextISVR(fkClaimId, task) {
        debugger;
        $("#fkMarineISVR_ClaimId").val(fkClaimId);
        $("#fkMarineISVRClaim_Task").val(task);
        $("#form_MarineISVR").submit();
    }

</script>
<script>
    $(window).load(function () {
    //$(document).ready(function(){

        console.log("hello");
        $('#CommentPolicy_Com_NotCom').val('@Model.CommentPolicy_Com_NotCom');
        var tempCN = $('#CommentPolicy_Com_NotCom').val();
        console.log(tempCN);
        if (tempCN == "Not Complied")
        {   
            $('#divCommentPolicy').show();
        }
        else {
            
            $('#divCommentPolicy').hide();
        }


      

    })
</script>