﻿@model BusinessLayer.Models.CSTraineeSurveyorRegistration

@{
    ViewBag.Title = "SurveyorTraineeInfo";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script type="text/javascript">
    $(window).load(function () {
        $("heading").html("Trainee Info");
    });
</script>

<div class="grid_body">
    <table class="mygrid" id="tblTraineeInfo">
        <thead>
            <tr>
                <th>User Type</th>
                <th>Name</th>
                <th>State</th>
                <th>District</th>
                <th>Pincode</th>
                <th>SLANo</th>
                <th>IRDANo</th>
                <th>IIISLANO</th>
                <th>Education</th>
                <th>InsQualification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="mygridBody">
            @foreach (System.Data.DataRow row in (ViewBag.TraineeDetails as System.Data.DataTable).Rows)
            {
                <tr id="@Convert.ToString(row["PK_ReqID"])">
                    <td>@Convert.ToString(row["UserType"])</td>
                    <td>@Convert.ToString(row["Name"])</td>
                    <td>@Convert.ToString(row["State"])</td>
                    <td>@Convert.ToString(row["District"])</td>
                    <td>@Convert.ToString(row["Pincode"])</td>
                    <td>@Convert.ToString(row["SLANo"])</td>
                    <td>@Convert.ToString(row["IRDANo"])</td>
                    <td>@Convert.ToString(row["ISLANO"])</td>
                    <td>@Convert.ToString(row["Education"])/</td>
                    <td>@row["InsQualification"]</td>
                    <td>
                        <a href="#" onclick="ViewTrainee('@row["PK_ReqID"]')" class="Btn" title="Edit">
                            <img src="@Url.Content("~/Images/find.png")" style="width:25px;height:25px;" alt="" title="View" />
                        </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="#" onclick="funTraineeRequestToSurvery('@row["PK_ReqID"]','UpdateLinkStatus')" title="Approve">
                            @if (Convert.ToString(row["IsLinked"]).ToLower() == "y")
                            {
                                <img src="@Url.Content("~/Images/approve.png")" id="img_@row["PK_ReqID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Images/discarded.png")" id="img_@row["PK_ReqID"]" style="width:25px;height:25px;" alt="" title="Approve" />
                            }
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
