﻿@{
    ViewBag.Title = "SurveyorProfile";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<div ng-controller="SurveyorRegistrationCtrl">
    <form>
        <div class="form_label">
            <div class="col-3"><span>First Name<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.FirstName" class="validate[required,character,'Please enter name'] Txtbox" maxlength="50" id="fname" />
            </div>
            <div class="col-3"><span>Last Name<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.LastName" class="validate[required,character,'Please enter last name'] Txtbox" maxlength="50" id="lname" />
            </div>
        </div>

        <div class="form_label">

            <div class="col-3"><span>Membership<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <select ng-options="m.TypeName as m.TypeName for   m in  listMembershipType" ng-model="s.FkMemberShip"
                        class="validate[required,character,'Please SelectMembership ']" id="member"
                        >
                </select>
                @*@Html.DropDownListFor(ut => ut.FkMemberShip, new SelectList(BusinessLayer.BLCommon.BindMembershipType(), "Key", "Value"), new { @class = "validate[required,'Please select member ship'] Drp", @id = "drpMemberShip" })*@
            </div>
            <div class="col-3"><span>Region<label class="mandatory">*</label></span></div>
            <div class="col-3">
              <select ng-options="r.PK_R_ID as r.Region for r in listRegion" ng-model="s.R_ID" ng-change="getState_byRegion()">

              </select>
        
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>State<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <select ng-options="s.StateCode  as s.StateName for s in listState" ng-model="s.FkState" ng-change="getDistricts_byStateId()"
                        class="validate[required,'Please select state'] Drp" id="st"></select>
                
            </div>
            <div class="col-3"><span>District<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <select ng-options="d.PKDistrictsId as d.DistrictName for  d in listDistricts" ng-model="s.FKDistricts"
                        class="validate[required,'Please select district'] Drp" id="dis"></select>
            @*@Html.DropDownListFor(ut => ut.FKDistricts, new SelectList(BusinessLayer.BLCommon.BindDistricts(Convert.ToString("0")), "Key", "Value"), new { @class = "validate[required,'Please select district'] Drp", @id = "drpDistrict" })*@
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Mobile<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.Mobile" class="validate[required,Mobile,'Please enter mobile number'] Txtbox" maxlength="10" id="mob" />
            </div>
            <div class="col-3"><span>Alternative Mobile</span></div>
            <div class="col-3">
                <input type="text" ng-model="s.AltMobile" maxlength="200" />
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Address<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.Address" class="validate[required,'Please enter address'] Txtbox" maxlength="400" id="altMob" />
            
            </div>
            <div class="col-3"><span>Pin code<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.Pincode" class="validate[required,nummber,'Please enter pin code'] Txtbox" maxlength="7" id="pin" />
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Pan No<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.PanNo" class="validate[required,'Please enter pan number'] Txtbox" maxlength="20" id="panno" />
            </div>
            <div class="col-3"><span>GST IN<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.StaxNo" class="validate[required,'Please enter stax no'] Txtbox" maxlength="20" id="gst" />
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>SLA No<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.SlanNo" class="validate[required,'Please enter sla no'] Txtbox" maxlength="10" id="sla" />
            </div>
            <div class="col-3"><span>Valid Upto<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.ValidUpto" class="validate[required,'Please enter valid upto'] Txtbox" maxlength="20" readonly="readonly" id="valid" datepicker />
                @*@Html.TextBoxFor(a => a.ValidUpto, new { @class = "validate[required,'Please enter valid upto'] Txtbox", @maxlength = "20", @readonly = "true", @autocomplete = "off" })*@
            </div>
        </div>

        <div class="form_label">
            <div class="col-3"><span>Email<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="s.Email" readonly="readonly" />
                @*<img id="imgEmailId" onclick="CheckEmailExistance('SU','txtEmailId',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />*@
            </div>
            </div>

            <div class="form_label">
                <div class="col-3"><span>IIISLA NO<label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" ng-model="s.IslaNo" class="validate[required,'Please enter isla no'] Txtbox" maxlength="10" id="isla" />
                    @*@Html.TextBoxFor(a => a.IslaNo, new { @class = "validate[required,'Please enter isla no'] Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtIslaNo" })*@
                    @*<img id="imgSlaNo" onclick="CheckSLANO('txtIslaNo',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />*@
                </div>
                <div class="col-3"><span>Initial Reference</span></div>
                <div class="col-3">
                    <input type="text" ng-model="s.IniRef" maxlength="20" />
                    @*@Html.TextBoxFor(a => a.IniRef, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtIniRef" })*@
                    @*<img id="imgIniRef" onclick="CheckIniRefExistance('txtIniRef',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />*@
                </div>
            </div>

            <div class="form_label">
                <div class="col-3"><span>Experience</span></div>
                <div class="col-3">
                    <textarea ng-model="s.Experience" maxlength="490"></textarea>
                    @*@Html.TextAreaFor(a => a.Experience, new { @class = "TxtboxArea", @maxlength = "490", @autocomplete = "off" })*@
                </div>
                <div class="col-3"><span>Any Other</span></div>
                <div class="col-3">
                    <textarea ng-model="s.AnyOther" maxlength="490"></textarea>
                    @*@Html.TextAreaFor(a => a.AnyOther, new { @class = "TxtboxArea", @maxlength = "490", @autocomplete = "off" })*@
                </div>
            </div>

            <div class="form_label">
                <div class="col-3"><span>Department<label class="mandatory">*</label></span></div>
                <div class="col-9">
                    @*@Html.Raw(BindDept())*@
                    
                        <label ng-repeat="sd in listSurveyorDept">
                            <input type="checkbox" ng-model="sd.IsActive" />{{sd.DeptName}}
                        </label>
                    
                </div>
            </div>
            <div class="form_label" style="display:none;">
                <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" ng-model="s.UserName" maxlength="50" />
                    @*@Html.TextBoxFor(a => a.UserName, new { @class = "validate[required,'Please enter user name'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtUserName" })*@
                    @*<img id="imgUserName" onclick="CheckUserExistance('SU','txtUserName',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />*@
                </div>
            </div>
            <div class="form_label" style="display:none;">
                <div class="col-3"><span>Password<label class="mandatory">*</label></span></div>


                <div class="col-3">
                    <input type="password" maxlength="50" ng-model="s.Password" />
                    @*@Html.TextBoxFor(a => a.Password, new { @class = "validate[required,'Please enter Password'] Txtbox", @maxlength = "50", @autocomplete = "off" })*@
                </div>


                <div class="col-3"><span>Confirm Password<label class="mandatory">*</label></span></div>


                <div class="col-3">
                    <input type="text" ng-model="s.ConfirmPassword" maxlength="50" />
                    @*@Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "validate[required,'Please enter Confirm Passowrd'] Txtbox", @maxlength = "50", @autocomplete = "off" })*@
                </div>


            </div>
            <div class="form_label">
                <div class="col-3">
                    <span>Alt Email</span>
                </div>
                <div class="col-4 table-responsive">
                    <input type="text" id="AltEmail" value="">
                </div>
                <div id="AltEmail_Val" style="display:none;">
                </div>
            </div>
        <br />
            <div class="form_label">
                <div class="col-12 t_center">
                  <button type="button" class="btn btn-info" ng-click="SurveyorRegisterValidation()">Update</button>
                    &nbsp;
                  <a href="/Survery/Index" class="btn btn-info">Cancel</a>
                </div>
            </div>

        @*<div ng-repeat="t in  tt">
            <label>
                <input type="checkbox" ng-model="t.b" />
                {{t.a}}
            </label>
        </div>*@

    </form>
</div>

@section scripts{
    <link href="../../Scripts/MultipleEmailPlugin/multiple-emails.css" rel="stylesheet" />
    <script src="../../Scripts/MultipleEmailPlugin/multiple-emails.js"></script>
    <script src="~/Scripts/Angular/Contoller/Surveyor/SurveyorRegistrationCtrl.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}


<script>
    $(document).ready(function () {
        $("heading").html("My Profile")

        $('#AltEmail').multiple_emails();

        $('#AltEmail').change(function () {
            $('#AltEmail_Val').text($(this).val());
        })
       
       

    })
</script>
