﻿@model BusinessLayer.Models.CSSurveyorVisits

@{
    ViewBag.Title = "SurveyVisits";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {

        $("#txtStartDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtEndDate").datepicker("option", "minDate", selected)
            }
            //showButtonPanel: true,
        });

        $("#txtEndDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtStartDate").datepicker("option", "maxDate", selected)
            }
            //showButtonPanel: true,
        });

        if ('@Model.Task.ToLower()' == 'fsr') {
            $("#btnNextDetails").removeAttr("style");
        } else {
            $("#btnNextDetails").attr("style", "display:none !important");
        }
        $("heading").html("Add Visits");
    });
</script>
@*<div class="textalign">
    <h2>Add Visits</h2>
</div>*@

<div class="form_wrap cf" ng-controller="MOMCtrl">
    <div class="col-12">
        <div class="form-bg">
            <div id="MarineSurveyVisits">
                @using (Html.BeginForm("SurveyVisits", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                {
                    @Html.Partial("_SurveyorVisits", Model)
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function SendToNextMarineJIRConsignment(fkClaimid, task) {
        @*$("#fkMarineJIRConsignmentClaimId").val(fkClaimid);
        $("#MarineJIRConsignmentTask").val('@Model.Task');
        $("#form_MarineJIRConsignment").submit();*@
        $("#fkClaimIdFrom").val(fkClaimid);
        $("#ClaimFormTask").val('@Model.Task');
        $("#form3").submit();
    }

    function SendToBackClaim(fkClaimid, task) {
        //if (task.toLowerCase() == 'fsr') {
        $("#form_ManageClaims").submit();
        @*} else {
            $("#fkClaimIdFrom").val(fkClaimid);
            $("#ClaimFormTask").val('@Model.Task');
            $("#form3").submit();            
        }*@
    }
    
</script>

<form action="/Survery/ClaimForm" enctype="multipart/form-data" id="form3" method="post">
    <input type="hidden" id="fkClaimIdFrom" name="fkClaimId" />
    <input type="hidden" id="ClaimFormTask" name="task" />
</form>

<form action="/Survery/MarineJIRConsignment" enctype="multipart/form-data" id="form_MarineJIRConsignment" method="post">
    <input type="hidden" id="fkMarineJIRConsignmentClaimId" name="fkClaimId" />
    <input type="hidden" id="MarineJIRConsignmentTask" name="task" />
</form>

<form action="/Survery/ManageClaims" enctype="multipart/form-data" id="form_ManageClaims" method="post">
</form>





@section scripts{
    <script src="~/Scripts/Angular/Contoller/Marine/MOMCtrl.js"></script>
}