﻿@{
    ViewBag.Title = "TaskManager";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div ng-controller="SurveyorRegistrationCtrl">
    <div class="container-fluid">
            <div class="row">
                <div ng-repeat="t in listAllTaskWithPendingTask">
                    <a href="#{{t.task.PK_TM_ID}}" class="btn btn-link" data-toggle="collapse" ng-click="signChange()">
                        <i class="fa fa-plus-square-o" ng-show="t.task.sign==true"></i>
                        <i class="fa fa-minus-square-o" ng-show="!t.task.sign"></i>
                    </a>
                    <span>{{t.task.Task}}</span>
                    <div class="collapse container-fluid" id="{{t.task.PK_TM_ID}}">
                        <ul class="list-group">
                            <li class="list-group-item" style="color:black;width:178px;" ng-repeat="c  in t.listPendingTask">
                                ClaimID:{{c.ClaimID}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    @*<div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="background-color:aliceblue;" id="divTask">
                <h4>Task</h4>
                <div ng-repeat="t in listAllTaskWithPendingTask">
                    <a href="#" id="{{t.task.PK_TM_ID}}" class="btn btn-link" ng-click="colorchange(t.task.PK_TM_ID);">{{t.task.Task}}</a>
 
                </div>
            </div>
            
            <div class="col-md-7 box" style="border: 1px solid #b6c9da;border-radius: 0px;min-height:446px;">
              <div ng-repeat="p in pendingClaimIds">
                   ClaimID:{{p.ClaimID}}
              </div> 
        </div>
    </div>
        </div>*@

    </div>







    @section scripts{
        <script src="~/Scripts/Angular/Contoller/Surveyor/SurveyorRegistrationCtrl.js"></script>
    }
