﻿@model BusinessLayer.Models.CSSurveyorsDocument
@{
    ViewBag.Title = "UploadDocument";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["mes"]' == "Save successfully") {
            showSuccessToast('User document uploaded successfully');
        }
    });
    $(document).on("click", ".img", function () {
        var src = $(this).attr("src");
        var htmlTable = "<div> <img src=" + src + " alt='' style=\"height:180px;width:180px\" /> </div>";
        var div = $("<a href=\"#popup\" id=\"pop\"></a><a href=\"#x\" class=\"overlay\" id=\"popup1\"></a><div class=\"popup\"><div id=\"ViewImg\"></div><a class=\"close\" href=\"#close\"></a></div>");
        $(div).appendTo("body");
        $("#ViewImg").empty();
        $("#ViewImg").append(htmlTable);
        window.location = "#popup1";
    });
</script>

@using (Html.BeginForm("UploadDocument", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    
    <div class="form_label">
        <div class="col-3"></div>
        <div class="col-3"><span>Passport Photo<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="file" id="PassportPhoto" name="PassportPhoto" class="validate[required,.jpg.gif.png-30kb-50kb,'Please enter passport photo']" />
            @if (!string.IsNullOrEmpty(Model.PassportPhotoPath))
            { 
                <img src="@Url.Content("~/SurveryorDocument/" + Model.PassportPhotoPath + "")" class="img" alt="" style="height:30px;width:30px" />
            }
        </div>
        <div class="col-3"></div>
    </div>
    

    <div class="form_label">
        <div class="col-3"></div>
        <div class="col-3"><span>Digital Sign<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="file" id="DigitalSign" name="DigitalSign" class="validate[required,.jpg.gif.png-30kb-50kb,'Please enter digital sign']" />
            @if (!string.IsNullOrEmpty(Model.DigitalSignPath))
            { 
                <img src="@Url.Content("~/SurveryorDocument/" + Model.DigitalSignPath + "")" class="img" alt="" style="height:30px;width:30px" />
            }
        </div>
        <div class="col-3"></div>
    </div>
        

    <div class="form_label">
        <div class="col-3"></div>
        <div class="col-3"><span>Stamp Sign<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="file" id="StampSign" name="StampSign" class="validate[required,.jpg.gif.png-30kb-50kb,'Please enter stamp sign']" />
            @if (!string.IsNullOrEmpty(Model.StampSignPath))
            { 
                <img src="@Url.Content("~/SurveryorDocument/" + Model.StampSignPath + "")" class="img" alt="" style="height:30px;width:30px" />
            }
        </div>
        <div class="col-3"></div>
    </div>

    
    <div class="form_label">
        <div class="col-3"></div>
        <div class="col-3"><span>Sender Sign<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="file" id="SenderSign" name="SenderSign" class="validate[required,.jpg.gif.png-30kb-50kb,'Please enter sender sign']" />
            @if (!string.IsNullOrEmpty(Model.SenderSignPath))
            { 
                <img src="@Url.Content("~/SurveryorDocument/" + Model.SenderSignPath + "")" class="img" alt="" style="height:30px;width:30px" />
            }
        </div>
        <div class="col-3"></div>
    </div>    
        
    
    <div class="form_label">
        <div class="col-3"></div>
        <div class="col-3"><span>Letter Head<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="file" id="LetterHead" name="LetterHead" class="validate[required,.jpg.gif.png-30kb-50kb,'Please enter letter head']" />
            @if (!string.IsNullOrEmpty(Model.LetterHeadPath))
            { 
                <img src="@Url.Content("~/SurveryorDocument/" + Model.LetterHeadPath + "")" class="img" alt="" style="height:30px;width:30px" />
            }
        </div>
        <div class="col-3"></div>
    </div>
    
    <div class="form_label">
        <div class="col-4"></div>
        <div class="col-4">
            <input type="submit" id="btnupdalodDocument" value="Submit" data-content="0" name="command" class="btn" />
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
        </div>
        <div class="col-4"></div>
    </div>      
}
