#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
    border: 0 none;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

    #cssmenu::after, #cssmenu > ul::after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }

    #cssmenu #menu-button {
        display: none;
    }

#cssmenu {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #20bdaf 0%, #168077 100%) repeat scroll 0 0;
    font-family: "Open Sans",Helvetica,sans-serif;
    width: auto;
    z-index: 100;
}

    #cssmenu > ul {
        background: rgba(0, 0, 0, 0) url("http://cssmenumaker.com/sites/default/files/menu/320/bg.png") repeat scroll 0 0;
        box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.05) inset;
    }

    #cssmenu.align-right > ul > li {
        float: right;
    }

    #cssmenu > ul > li {
        display: inline-block;
        float: left;
    }

    #cssmenu.align-center > ul {
        float: none;
        font-size: 0;
        text-align: center;
    }

        #cssmenu.align-center > ul > li {
            float: none;
        }

    #cssmenu.align-center ul ul {
        text-align: left;
    }

    #cssmenu > ul > li > a {
        border-right: 1px solid rgba(80, 80, 80, 0.12);
        color: #d3eced;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 18px 25px 21px;
        text-decoration: none;
        text-transform: uppercase;
    }

        #cssmenu > ul > li:hover > a, #cssmenu > ul > li > a:hover, #cssmenu > ul > li.active > a {
            background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
            color: #ffffff;
        }

    #cssmenu > ul > li.has-sub > a {
        padding-right: 45px;
    }

        #cssmenu > ul > li.has-sub > a::after {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #d3eced transparent transparent;
            border-image: none;
            border-style: solid;
            border-width: 6px;
            content: "";
            height: 0;
            position: absolute;
            right: 17px;
            top: 22.5px;
            width: 0;
        }

    #cssmenu > ul > li.has-sub.active > a::after, #cssmenu > ul > li.has-sub:hover > a {
        border-top-color: #ffffff;
    }

    #cssmenu ul ul {
        font-size: 14px;
        left: -9999px;
        opacity: 0;
        padding-top: 6px;
        position: absolute;
        top: 60px;
        transition: top 0.2s ease 0s, opacity 0.2s ease-in 0s;
        z-index: 9999;
    }

    #cssmenu.align-right ul ul {
        text-align: right;
    }

    #cssmenu > ul > li > ul::after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: transparent transparent #3aa592;
        border-image: none;
        border-style: solid;
        border-width: 5px;
        content: "";
        height: 0;
        left: 20px;
        position: absolute;
        top: -4px;
        width: 0;
    }

    #cssmenu.align-right > ul > li > ul::after {
        left: auto;
        right: 20px;
    }

    #cssmenu ul ul ul::after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: transparent #3aa592 transparent transparent;
        border-image: none;
        border-style: solid;
        border-width: 5px;
        content: "";
        height: 0;
        left: -4px;
        position: absolute;
        top: 11px;
        width: 0;
    }

    #cssmenu.align-right ul ul ul::after {
        border-left-color: #3aa592;
        border-right-color: transparent;
        left: auto;
        right: -4px;
    }

    #cssmenu > ul > li > ul {
        top: 120px;
    }

    #cssmenu > ul > li:hover > ul {
        left: 0;
        opacity: 1;
        top: 53px;
    }

    #cssmenu.align-right > ul > li:hover > ul {
        left: auto;
        right: 0;
    }

    #cssmenu ul ul ul {
        padding-left: 6px;
        padding-top: 0;
    }

    #cssmenu.align-right ul ul ul {
        padding-right: 6px;
    }

    #cssmenu ul ul > li:hover > ul {
        left: 180px;
        opacity: 1;
        top: 0;
    }

    #cssmenu.align-right ul ul > li:hover > ul {
        left: auto;
        opacity: 1;
        right: 100%;
    }

    #cssmenu ul ul li a {
        background: #3aa592 none repeat scroll 0 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        font-weight: 400;
        padding: 11px 25px;
        text-decoration: none;
        width: 180px;
    }

    #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
        color: #f0c545;
    }

    #cssmenu ul ul li:first-child > a {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    #cssmenu ul ul li:last-child > a {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    #cssmenu > ul > li > ul::after {
        display: block;
        position: absolute;
    }

    #cssmenu ul ul li.has-sub > a::after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: transparent transparent transparent #ffffff;
        border-image: none;
        border-style: solid;
        border-width: 4px;
        content: "";
        height: 0;
        position: absolute;
        right: 17px;
        top: 14.5px;
        width: 0;
    }

    #cssmenu.align-right ul ul li.has-sub > a::after {
        border-left-color: transparent;
        border-right-color: #ffffff;
        left: 17px;
        right: auto;
    }

    #cssmenu ul ul li.has-sub.active > a::after, #cssmenu ul ul li.has-sub:hover > a::after {
        border-left-color: #f0c545;
    }

    #cssmenu.align-right ul ul li.has-sub.active > a::after, #cssmenu.align-right ul ul li.has-sub:hover > a::after {
        border-left-color: transparent;
        border-right-color: #f0c545;
    }

@media all and (max-width: 800px), not all, only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), not all, not all, only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        background: #1ca397 none repeat scroll 0 0;
    }

        #cssmenu > ul {
            display: none;
        }

            #cssmenu > ul.open {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                display: block;
            }

        #cssmenu.align-right > ul {
            float: none;
        }

        #cssmenu.align-center > ul {
            text-align: left;
        }

        #cssmenu > ul > li, #cssmenu.align-right > ul > li {
            display: block;
            float: none;
        }

            #cssmenu > ul > li > a {
                border-right: 0 none;
                padding: 18px 25px;
            }

            #cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a {
                background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
            }

        #cssmenu #menu-button {
            background: rgba(0, 0, 0, 0) url("http://cssmenumaker.com/sites/default/files/menu/320/bg.png") repeat scroll 0 0;
            color: #d3eced;
            cursor: pointer;
            display: block;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 18px 25px;
            text-decoration: none;
            text-transform: uppercase;
        }

        #cssmenu ul ul, #cssmenu ul li:hover > ul, #cssmenu > ul > li > ul, #cssmenu ul ul ul, #cssmenu ul ul li:hover > ul, #cssmenu.align-right ul ul, #cssmenu.align-right ul li:hover > ul, #cssmenu.align-right > ul > li > ul, #cssmenu.align-right ul ul ul, #cssmenu.align-right ul ul li:hover > ul {
            left: 0;
            opacity: 1;
            padding: 0;
            position: relative;
            right: auto;
            text-align: left;
            top: auto;
            width: 100%;
        }

            #cssmenu ul ul li {
                width: 100%;
            }

                #cssmenu ul ul li a {
                    box-shadow: none;
                    padding-left: 35px;
                    width: 100%;
                }

            #cssmenu ul ul ul li a {
                padding-left: 45px;
            }

            #cssmenu ul ul li:first-child > a, #cssmenu ul ul li:last-child > a {
                border-radius: 0;
            }

        #cssmenu #menu-button::after {
            border-bottom: 2px solid #d3eced;
            border-top: 2px solid #d3eced;
            box-sizing: content-box;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            right: 25px;
            top: 18px;
            width: 22px;
        }

        #cssmenu #menu-button::before {
            border-top: 2px solid #d3eced;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            right: 25px;
            top: 28px;
            width: 22px;
        }

        #cssmenu > ul > li.has-sub > a::after, #cssmenu ul ul li.has-sub > a::after {
            display: none;
        }
}

/*~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^*/
/*~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~= LEFT SIDE OPEN MENU ^~=^~==^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^*/
/*~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^~=^*/

@charset "UTF-8";
/* Some stylesheet reset */
#leftmenu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1;
}
/* The container */
#leftmenu > ul {
    display: block;
    position: relative;
    width: 150px;
}
    /* The list elements which contain the links */
    #leftmenu > ul li {
        display:inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        float:left;
        width: 150px;
    }
        /* General link styling */
        #leftmenu > ul li a {
            /* Layout */
            display: block;
            position: relative;
            margin: 0;
            border-top: 1px dotted #fff;
            border-bottom: 1px dotted #d9d9d9;
            padding: 11px 20px;
            /* Typography */
            font-family: Helvetica, Arial, sans-serif;
            color: #e4433c;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 0 1px 0 #fff;
            font-size: 13px;
            font-weight: 300;
            /* Background & effects */
            background: #eaeaea;
        }
        /* Rounded corners for the first link of the menu/submenus */
        #leftmenu > ul li:first-child > a {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-top: 0;
        }
        /* Rounded corners for the last link of the menu/submenus */
        #leftmenu > ul li:last-child > a {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom: 0;
        }
        /* The hover state of the menu/submenu links */
        #leftmenu > ul li a:hover,
        #leftmenu > ul li:hover > a {
            color: #ffffff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
            background: #f23f37;
            background: -webkit-linear-gradient(#f23f37, #e7180f);
            background: -moz-linear-gradient(#f23f37, #e7180f);
            background: linear-gradient(#f23f37, #e7180f);
            border-color: transparent;
        }
    /* The arrow indicating a submenu */
    #leftmenu > ul .has-sub > a::after {
        content: "";
        position: absolute;
        top: 16px;
        right: 10px;
        width: 0px;
        height: 0px;
        /* Creating the arrow using borders */
        border: 4px solid transparent;
        border-left: 4px solid #e4433c;
    }
    /* The same arrow, but with a darker color, to create the shadow effect */
    #leftmenu > ul .has-sub > a::before {
        content: "";
        position: absolute;
        top: 17px;
        right: 10px;
        width: 0px;
        height: 0px;
        /* Creating the arrow using borders */
        border: 4px solid transparent;
        border-left: 4px solid #fff;
    }
    /* Changing the color of the arrow on hover */
    #leftmenu > ul li > a:hover::after,
    #leftmenu > ul li:hover > a::after {
        border-left: 4px solid #fff;
    }

    #leftmenu > ul li > a:hover::before,
    #leftmenu > ul li:hover > a::before {
        border-left: 4px solid rgba(0, 0, 0, 0.25);
    }
    /* THE SUBMENUS */
    #leftmenu > ul ul {
        position: absolute;
        right: 100%;
        top: -9999px;
        /*top: -230px !important;*/
        padding-left: 5px;
        opacity: 0;
        width: 455px;
        /* The fade effect, created using an opacity transition */
        -webkit-transition: opacity 0.3s ease-in;
        -moz-transition: opacity 0.3s ease-in;
        transition: opacity 0.3s ease-in;
    }

        #leftmenu > ul ul li a {
            font-size: 12px;
        }
    /* Showing the submenu when the user is hovering the parent link */
    #leftmenu > ul li:hover > ul {
        top: 0px;
        opacity: 1;
        z-index: 1;
    }
