﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(window).load(function () {
        $("heading").html(" NATURE & EXTENT OF DAMAGE  ");
    });
</script>

<div ng-controller="NatureExtentDamageCtrl">
    <form id="formNatExtDmg">
        <div>
            <div class="form_label">
                <div class="col-12">
                    <div class="col-3"><span> Description of Affected Property <label class="mandatory">*</label></span></div>
                    <div class="col-9">
                        <textarea maxlength="1000" ng-model="obj.DescOfAffProp" 
                                  rows="3"
                                  class="validate[required,'Please enter Description of Affected Property'] Txtbox" 
                                  id="DAP">

                        </textarea>
                        @*<input type="text" maxlength="1000" ng-model="obj.DescOfAffProp" class="validate[required,'Please enter Description of Affected Property'] Txtbox" id="DAP" />*@
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-3"><span>Identification of affected Property <label class="mandatory">*</label></span></div>
                    <div class="col-9">
                        <textarea maxlength="500" 
                                  rows="3"
                                  ng-model="obj.IdtyOfAffProp" class="validate[required,'Please enter Identification of affected Property'] Txtbox" id="IAP"></textarea>
                        @*<input type="text" maxlength="500" ng-model="obj.IdtyOfAffProp" class="validate[required,'Please enter Identification of affected Property'] Txtbox" id="IAP" />*@
                    </div>
                </div>
            </div>

            <div class="form_label">
                <div class="col-12">
                    <div class="col-3"><span> Nature of Damage/Loss<label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <select ng-options="c.NatureOfDmgLsID as c.NatureOfDmgLsData for c in Collect_DmgLs" ng-model="obj.NatureOfDmgLsID" class="validate[required,'Please Select Nature of Damage/Loss'] Txtbox" id="NDL"><option value="" >Select</option></select>

                    </div>
                    <div class="col-3"><span> Covered under head meantioned in policy schedule<label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <select ng-options="c.CovUndMenID as c.CovUndMenData for c in Collect_CovMen" ng-model="obj.CovUndMenID" class="validate[required,'Please Select policy schedule'] Txtbox" id="CHMPS"><option value="" >Select</option></select>

                    </div>
                </div>
            </div>
            <div class="form_label">
                <div class="col-12 t_center mt20">
                    <button type="button" class="btn yellow" ng-click="Save()">Submit</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btnCancel" class="btn yellow" ng-click="Cancel()">Cancel</button>
                </div>
            </div>
    </form>
    <div class="grid_body" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Description of Affected Property</th>
                    <th>Identification of affected Property</th>
                    <th>Nature of Damage/Loss</th>
                    <th>Covered under head meantioned in policy schedule</th>
                </tr>
            </thead>
            <tbody id="mygridBody">

                <tr ng-repeat="d in Collect" ng-click="RowClick(d)" style="cursor:pointer">
                    <td width="10" height="100" valign="top">{{d.DescOfAffProp}}</td>
                    <td width="10" height="100" valign="top">{{d.IdtyOfAffProp}}</td>
                    <td width="10" height="100" valign="top">{{d.NatureOfDmgLsData}}</td>
                    <td width="10" height="100" valign="top">{{d.CovUndMenData}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section scripts{

    <script src="~/Scripts/Angular/Contoller/NatureExtentDamageCtrl.js"></script>
}
