﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(window).load(function () {
        $("heading").html("	ASPECTS OF LIABILITY  ");
    });
</script>
<div ng-controller="AspectLiabCtrl">
    <form id="formAspectLiab">
        <div>

            <div class="form_label">
                <div class="col-3"><span>Comment on Liability under the scope of policy <label class="mandatory">*</label></span></div>
                <div class="col-9">
                    <label ng-repeat="cmt in Collect_CmtLiabSPDD">
                        <input type="radio" name="cmt" ng-value="cmt.CmtLiabSPID" ng-model="obj.CmtLiabSPID" />
                        {{cmt.CmtLiabSPData}}
                    </label>
                </div>

            </div>
            <div class="form_label">
                @*<div class="col-3"><span>Comment on Liability under the scope of policy <label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <select ng-options="c.CmtLiabSPID as c.CmtLiabSPData for c in Collect_CmtLiabSPDD" ng-model="obj.CmtLiabSPID"></select>
                    </div>*@

                <div class="col-3"><span>Estimate of Loss, as reported by the Insured (Rs.) <label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" maxlength="10" ng-model="obj.EstmateLossIns" />

                </div>
                <div class="col-3"><span>Loss Reserve Recommendation(Rs.)</span></div>
                <div class="col-3">
                    <input type="text" maxlength="10" ng-model="obj.LossReserveRecom" />
                </div>
            </div>

            <div class="form_label">



                <div class="col-3"><span>Basis of Loss Reserve Recommended</span></div>
                <div class="col-9">
                    <input type="text" maxlength="250" ng-model="obj.BscLossReserveRecom" />
                </div>
            </div>

            <div class="form_label">
                <div class="col-3"><span>Observations at Site of Loss <label class="mandatory">*</label></span></div>
                <div class="col-9">
                    <input type="text" maxlength="2500" ng-model="obj.ObsrvSiteLoss" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-3">
                    <span>
                        Remarks and Advice to the Insured
                        <label class="mandatory">*</label>
                    </span>
                </div>

                <div class="col-9">
                    <label ng-repeat="d in Collect_RemarkAdvDD"><input type="checkbox" ng-model="d.chkbxRemarksAdv" />{{d.RemarkAdvData}}</label>
                </div>
            </div>
            <div class="form_label">
                <div class="col-3"></div>
                <div class="col-9">
                    <textarea maxlength="500" ng-model="obj.BLankText" placeholder="Other" rows="3"></textarea>

                </div>
            </div>
            <div class="form_label">
                <div class="col-3">
                    <span>
                        Comment on Relevant Policy Conditions
                        <label class="mandatory"></label>
                    </span>
                </div>
                <div class="col-9">
                    <input type="text" maxlength="1000" ng-model="obj.CmtRelPolCond" />
                </div>
            </div>

            <div class="form_label">
                <div class="col-3">
                    <span>
                        Circumtances of Loss (As stated by the Insured)
                        <label class="mandatory"></label>
                    </span>
                </div>
                <div class="col-9">
                    <input type="text" maxlength="2500" ng-model="obj.CircumLoss" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-3">
                    <span id="lblvregno">
                        note on occurence/statement of eye witness/insured statement
                        <label class="mandatory"></label>
                    </span>
                </div>
                @*<div class="col-3">
                        <input type="file" fileModel="myfile" ng-model="photo" /><img height="100" width="100" ng-src="{{myfile}}">
                        <button type="button" ng-click="uploadImage()">upload image </button>
                    </div>*@
            </div>





            @*<div class="col-6">
                    <input type="file" id="file1" name="file" multiple
                           ng-files="getTheFiles($files)" />

                    <input type="button" ng-click="uploadFiles()" value="Upload" />
                </div>*@
          
          



            <div class="form_label">
                <div class="col-12 t_center mt20">
                    <button type="button" class="btn yellow" ng-click="Save()">Submit</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btnCancel" class="btn yellow" ng-click="Cancel()">Cancel</button>
                    @*<button type="button" ng-click="Sample()">Sample</button>*@
                </div>
            </div>
    </form>
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/AspectLiabCtrl.js"></script>
}