﻿@model BusinessLayer.Models.CSSurveyorsRegistration

@{
    ViewBag.Title = "SurveyorRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#ValidUpto").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("heading").html("Surveyor Registration")
    });
</script>

@functions{
    private string BindDept()
    {
        string result = "";
        int count = 0;
        Dictionary<string, string> dictionary = BusinessLayer.BLCommon.BindDepartments();

        foreach (KeyValuePair<string, string> _dictionary in dictionary)
        {
            //if (count <= 1)
            //{
            if (_dictionary.Value.ToLower() != "select")
            {
                if (count == 0)
                    result += "<div class=\"fl\" >";

                result += "<label><input type='checkbox' value=\"" + _dictionary.Key + "\" name='chDept' title=\"" + _dictionary.Value + "\" /><b>" + _dictionary.Value + "</b></label>";
                count++;
            }
            //}
            //else if (count == 2)
            //{
            //    result += "<label><input type='checkbox' value=\"" + _dictionary.Key + "\" name='chDept' title=\"" + _dictionary.Value + "\" />" + _dictionary.Value + "</label>";
            //    result += "</div><div class=\"cb\"></div>";
            //    count = 0;
            //}
        }
        if (result.Substring(result.Length - 6, 6) != "</div>")
            result += "</div>";
        return result;
    }
}

@using (Html.BeginForm("SurveyorRegistration", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="form_label">
        <div class="col-3"><span>First Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.FirstName, new { @class = "validate[required,character,'Please enter name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Last Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.LastName, new { @class = "validate[required,character,'Please enter last name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.UserName, new { @class = "validate[required,'Please enter user name'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtUserName" })
            <img id="imgUserName" onclick="CheckUserExistance('SU','txtUserName',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />
        </div>
        <div class="col-3"><span>Membership<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkMemberShip, new SelectList(BusinessLayer.BLCommon.BindMembershipType(), "Key", "Value"), new { @class = "validate[required,'Please select member ship'] Drp", @id = "drpMemberShip" })
        </div>

    </div>
    
    <div class="form_label">
        <div class="col-3"><span>State<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkState, new SelectList(BusinessLayer.BLCommon.BindStates(), "Key", "Value"), new { @class = "validate[required,'Please select state'] Drp", @id = "drpState" })
        </div>
        <div class="col-3"><span>District<label class="mandatory">*</label></span></div>
        <div class="col-3">@Html.DropDownListFor(ut => ut.FKDistricts, new SelectList(BusinessLayer.BLCommon.BindDistricts(Convert.ToString("0")), "Key", "Value"), new { @class = "validate[required,'Please select district'] Drp", @id = "drpDistrict" })</div>
    </div>
    
    <div class="form_label">
        <div class="col-3"><span>Mobile<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,Mobile,'Please enter mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Alternative Mobile</span></div>
        <div class="col-3">@Html.TextBoxFor(a => a.AltMobile, new { @class = "validate[Mobile,'Please enter mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })</div>
    </div>
    
    <div class="form_label">
        <div class="col-3"><span>Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Address, new { @class = "validate[required,'Please enter address'] Txtbox", @maxlength = "400", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Pin code<label class="mandatory">*</label></span></div>
        <div class="col-3">@Html.TextBoxFor(a => a.Pincode, new { @class = "validate[required,nummber,'Please enter pin code'] Txtbox", @maxlength = "7", @autocomplete = "off" })</div>
    </div>
    
    <div class="form_label">
        <div class="col-3"><span>Pan No<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.PanNo, new { @class = "validate[required,'Please enter pan number'] Txtbox", @maxlength = "20", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Service Tax No<label class="mandatory">*</label></span></div>
        <div class="col-3">@Html.TextBoxFor(a => a.StaxNo, new { @class = "validate[required,'Please enter stax no'] Txtbox", @maxlength = "20", @autocomplete = "off" })</div>
    </div>
    
    <div class="form_label">
        <div class="col-3"><span>SLA No<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.SlanNo, new { @class = "validate[required,'Please enter sla no'] Txtbox", @maxlength = "10", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Valid Upto<label class="mandatory">*</label></span></div>
        <div class="col-3">@Html.TextBoxFor(a => a.ValidUpto, new { @class = "validate[required,'Please enter valid upto'] Txtbox", @maxlength = "20", @readonly = "true", @autocomplete = "off" })</div>
    </div>
    
    <div class="form_label">
        <div class="col-3"><span>Email<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Email, new { @class = "validate[required,emailId,'Please enter email id'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtEmailId" })
            <img id="imgEmailId" onclick="CheckEmailExistance('SU','txtEmailId',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />
        </div>
        <div class="col-3"><span>Alternate Email</span></div>
        <div class="col-3">@Html.TextBoxFor(a => a.AltEmail, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off" })</div>
    </div>
    
    <div class="form_label">
        <div class="col-3"><span>IIISLA NO<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.IslaNo, new { @class = "validate[required,'Please enter isla no'] Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtIslaNo" })
            <img id="imgSlaNo" onclick="CheckSLANO('txtIslaNo',this)"  style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />
        </div>
        <div class="col-3"><span>Initial Reference</span></div>
        <div class="col-3">@Html.TextBoxFor(a => a.IniRef, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtIniRef" })
            <img id="imgIniRef" onclick="CheckIniRefExistance('txtIniRef',this)"  style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />
        </div>
    </div>     
    
    <div class="form_label">
        <div class="col-3"><span>Experience</span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.Experience, new { @class = "TxtboxArea", @maxlength = "490", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Any Other</span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.AnyOther, new { @class = "TxtboxArea", @maxlength = "490", @autocomplete = "off" })
        </div>
    </div>    
    
    <div class="form_label">
        <div class="col-3"><span>Department<label class="mandatory">*</label></span></div>
        <div class="col-9">
            @Html.Raw(BindDept())
        </div>
    </div>    
    
    <div class="form_label">
        <div class="col-12 t_center">
            <input type="button" id="btnSurveyorRegistrationSubmit" value="Submit" class="btn" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            @*<input type="button" value="Cancel" id="btnCancel" class="btn" />*@
            <a href="@Url.Action("Index", "Home")" class="btn yellow">Cancel</a>

        </div>
    </div>     
    
    
    
    
    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
    <a class="js-open-modal" href="#" id="openPopup" data-modal-id="popupotp"></a>
    <div id="popupotp" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close"></a>
            <h3>
                <span id="min">Remaning minutes  </span>
            </h3>
        </header>
        <div class="modal-body">
            <div class="form_label">
                <div class="col-5 left">
                    <span>Enter OTP<label class="mandatory">*</label></span>
                </div>
                <div class="col-7 right">
                    <input type="text" id="txtOTP" class="Txtbox" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-9">
                    <input type="button" class="right" id="btnSubmitOtp" name="Command" value="Submit" />
                    <input type="submit" class="right dispalyNone" id="btnFinalSubmitOtp" name="Command" value="Submit" />
                </div>
                <div class="col-3">
                    <input type="button" class="right" id="txtReSendOTP" value="Resend" />
                </div>
            </div>
        </div>
        <footer>
            <h2><span id="timer">10</span><em>Second</em></h2>
        </footer>
    </div>
    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
}