﻿@model BusinessLayer.Models.CSGenrateClaim

@{
    ViewBag.Title = "ClaimForm";
    Layout = "~/Views/Shared/InsuredMaster.cshtml";
}

<div id="divClaimForm">
    @using (Html.BeginForm("ClaimForm", "Insured", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
    {
        @Html.Partial("_ClaimForm", Model)
    }
</div>
<div>
    <form action="@Url.Action("MarineJIRConsignment", "Insured")" enctype="multipart/form-data" id="form_MarineJIRConsignment" method="post">
        <input type="hidden" id="fkTranshipMentClaimId" name="fkClaimId" />
    </form>
</div>
