﻿@model BusinessLayer.Models.CSGenrate
@{
    ViewBag.Title = "MarineTranshipment";
    Layout = "~/Views/Shared/InsuredMaster.cshtml";
}
<div id="divMarineTranshipment" class="box">
    @using (Html.BeginForm("MarineTranshipment", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
    {
        @Html.Partial("_MarineTranshipment", @Model.MarineTranshipment)
    }
</div>

<div>
    <form action="@Url.Action("MarineJIRConsignment", "Insured")" enctype="multipart/form-data" id="form03" method="post">
        <input type="hidden" id="fkClaimIdFrom" name="fkClaimId" />
    </form>
</div>

<div>
    <form action="@Url.Action("MarineAssessmentDetails", "Insured")" enctype="multipart/form-data" id="form5" method="post">
        <input type="hidden" id="fkAssesmentClaimId" name="fkClaimId" />
        <input type="hidden" id="AssessmentTask" name="task" />
    </form>
</div>
