﻿@model BusinessLayer.Models.CSGenrate

@{
    ViewBag.Title = "MarineJIR";
    Layout = "~/Views/Shared/InsuredMaster.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        //$("#btnNextMaineJir").click(function () {
        //    var x = $("#form1");
        //    var status = $(x).ValidationFunction();
        //    if (status == true) {
        //        return true;
        //    }
        //    else {
        //        return false;
        //    }
        //});



        $("#btnCancel").click(function () {
            var url = window.location;
            url = window.location.href.split('#')[0];
            window.location.href = url.split('?')[0];
        });

        //$('input:radio[name="ImportDomestic"]').change(function () {
        //    if ($(this).val() == 'Import') {
        //        $("#Consiment").val("Import");
        //    } else {
        //        $("#Consiment").val("Domestic");
        //    }
        //});

        //$("#btnSubmitMarineISVR").click(function () {
        //    var x = $("#form6");
        //    var status = $(x).ValidationFunction();
        //    if (status == true) {
        //        return true;
        //    }
        //    else {
        //        return false;
        //    }
        //});


        $('input:radio[name="ConsimentType"]').change(function () {
            if ($(this).val() == 'GR/LR') {
                $("#FkConsignmentType").val("GR/LR");
            } else if ($(this).val() == 'BL') {
                $("#FkConsignmentType").val("BL");
            }
            else if ($(this).val() == 'BE') {
                $("#FkConsignmentType").val("BE");
            }
            else if ($(this).val() == 'AWB') {
                $("#FkConsignmentType").val("AWB");
            }
            else if ($(this).val() == 'RR') {
                $("#FkConsignmentType").val("RR");
            }
        });

        $("#txtDateOfSurvey").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtArrivalDateDestination").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });

        $("#txtDeliveryDateConsignee").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtInvDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtGNDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtBLDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtBEDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtAWBDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtRRDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
    });

    //function SendToBackClaim(fkClaimId) {
    //    alert("hi");
    //    $("#fkSurveryClaimIdFrom").val(fkClaimId);
    //    $("#form_SurveryClaim").submit();
    //}

    $(window).load(function () {
        $("#rbImport").prop("checked", true);
        $("#rbDomestic").prop("checked", false);
        $("#rbGRLR").prop("checked", true);
        $("#rbBL").prop("checked", false);
        $("#rbBE").prop("checked", false);
        $("#rbAWB").prop("checked", false);
        $("#rbRR").prop("checked", false);

        $("#Consiment").val("Import");
        $("#FkConsignmentType").val("GR/LR");
    });
</script>

@Html.HiddenFor(a => a.GenrateClaim.FkInsrId, new { @id = "hdFKInsdId" })
@Html.HiddenFor(a => a.GenrateClaim.InsdType, new { @id = "hdInsdType" })
@Html.HiddenFor(a => a.MarineJIR.FKClaimId, new { @id = "hdFKClaimId" })
@Html.HiddenFor(a => a.GenrateClaim.Task, new { @id = "hdtask" })


<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div id="divMarineJiv">
                @using (Html.BeginForm("MarineJIRConsignment", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
                {
                    @Html.Partial("_MarineJIRConsignment", @Model.MarineJIR)
                }
            </div>
        </div>
    </div>
</div>

@*<form action="/Survery/ClaimForm" enctype="multipart/form-data" id="form_BackClaim" method="post">
    <input type="hidden" id="fkSurveryClaimIdFrom" name="fkClaimId" />
</form>*@

<form action="@Url.Action("ClaimForm", "Survery")" enctype="multipart/form-data" id="form_Clam" method="post">
    <input type="hidden" id="fkClaimIdFrom" name="fkClaimId" />
</form>

<form action="@Url.Action("MarineTranshipment", "Insured")" enctype="multipart/form-data" id="form_MarineTranshipment" method="post">
    <input type="hidden" id="fkTranshipMentClaimId" name="fkClaimId" />
</form>
