﻿

.logo a {
    font-family: "Comic Sans MS",helvetica,arial,sans-serif;
    color: #333;
}

.logo {
    text-align: center;
}

.contant {
    width: 100%;
    margin: 0 auto;
}

.calc {
    width: 100%;
    height: 244px;
    border: 1px solid #ddd;
    border: solid 1px #102a3e;
    overflow: visible;
    display: inline-block;
    margin: 20px 0 0 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    box-shadow: inset 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 1px #fff;
    background-color: #619bb9;
    background: -moz-linear-gradient(top, rgba(50, 123, 165, 0.75), rgba(46, 75, 90, 0.75) 50%, rgba(92, 176, 220, 0.75));
    background: -webkit-gradient(linear, center top, center bottom, from(#327aa4),color-stop(45%, #2e4b5a), to(#5cb0dc));
}

    .calc .calc-in {
        width: 212px;
        height: 210px;
        background: #D9E4F1;
        margin: 7px;
        border: solid 1px #102a3e;
        bottom: 0;
        position: absolute;
    }

    .calc p {
        background: url("calc-icon.png") no-repeat;
        padding-left: 15px;
        margin: 8px;
        margin-top: 5px;
        color: #fff;
        float: left;
    }

.wcmd {
    float: right;
    margin-right: 7px;
}

    .wcmd a {
        float: left;
    }

    .wcmd .min {
        background: url('min.png') no-repeat;
        width: 29px;
        height: 19px;
    }

    .wcmd .max {
        background: url('max.png') no-repeat;
        width: 27px;
        height: 19px;
    }

    .wcmd .close {
        background: url('close.png') no-repeat;
        width: 48px;
        height: 19px;
    }

.num-wrap {
    margin: 20px auto;
    width: 186px;
}

#n0 {
    width: 71px;
    height: 25px;
}

#neq {
    width: 34px;
    height: 59px;
    float: right;
}

#display {
    /*width: 190px;
    margin: 0px;
    
    font-size: 40px;
    color: #333;*/
    border: 1px solid #aaa;
    position: relative;
    text-align: right;
    top: 8px;
    left: 8px;
    width:180px;
    /*font-size: 40px;
    
    
    height: 50px;
    border-radius: 3px;
    background: #fff;*/
}


.calc button {
    width: 34px;
    height: 27px;
    border: 1px solid #9EAABB;
    border-radius: 3px;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
}
