﻿@{
    ViewBag.Title = "AspectLiab";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(document).on("click", ".img", function () {
        var src = $(this).attr("src");
        var htmlTable = "<div> <img src=" + src + " alt='' style=\"height:180px;width:180px\" /> </div>";
        var div = $("<a href=\"#popup\" id=\"pop\"></a><a href=\"#x\" class=\"overlay\" id=\"popup1\"></a><div class=\"popup\"><div id=\"ViewImg\"></div><a class=\"close\" href=\"#close\"></a></div>");
        $(div).appendTo("body");
        $("#ViewImg").empty();
        $("#ViewImg").append(htmlTable);
        window.location = "#popup1";
    });</script>

<script>
    $(window).load(function () {
        $("heading").html("	ASPECTS OF LIABILITY  ");
    });
</script>
<div ng-controller="AspectLiabCtrl">
    <form id="formAspectLiab">
        <div>

            <div class="form_label">
                <div class="col-3"><span>Comment on Liability under the scope of policy <label class="mandatory">*</label></span></div>
                <div class="col-9">
                    <label ng-repeat="cmt in list_CmtLiabSP">
                        <input type="radio" name="cmt" ng-value="cmt.CmtLiabSPID" ng-model="obj.CmtLiabSPID" />
                        {{cmt.CmtLiabSPData}}
                    </label>
                </div>

            </div>
            <div class="form_label">
                @*<div class="col-3"><span>Comment on Liability under the scope of policy <label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <select ng-options="c.CmtLiabSPID as c.CmtLiabSPData for c in Collect_CmtLiabSPDD" ng-model="obj.CmtLiabSPID"></select>
                    </div>*@

                <div class="col-3"><span>Estimate of Loss, as reported by the Insured (Rs.) <label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" maxlength="10" ng-model="obj.EstmateLossIns" />

                </div>
                <div class="col-3"><span>Loss Reserve Recommendation(Rs.)</span></div>
                <div class="col-3">
                    <input type="text" maxlength="10" ng-model="obj.LossReserveRecom" />
                </div>
            </div>

            <div class="form_label">



                <div class="col-3"><span>Basis of Loss Reserve Recommended</span></div>
                <div class="col-9">
                    <input type="text" maxlength="250" ng-model="obj.BscLossReserveRecom" />
                </div>
            </div>

            <div class="form_label">
                <div class="col-3"><span>Observations at Site of Loss <label class="mandatory">*</label></span></div>
                <div class="col-9">
                    <input type="text" maxlength="2500" ng-model="obj.ObsrvSiteLoss" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-3">
                    <span>
                        Remarks and Advice to the Insured
                        <label class="mandatory">*</label>
                    </span>
                </div>
                <div class="col-9">
                    <label ng-repeat="ra in list_RemarkAdv"><input type="checkbox" ng-model="ra.chkbxRemarksAdv" />{{ra.RemarkAdv}}</label>
                </div>
                @*<div class="col-9">
                        <label ng-repeat="d in list_RemarkAdv"><input type="checkbox" ng-model="d.chkbxRemarksAdv" />{{d.RemarkAdvData}}</label>
                    </div>*@
            </div>
            <div class="form_label">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <textarea maxlength="500" ng-model="obj.BLankText" placeholder="Other" rows="3"></textarea>

                </div>
            </div>
            <div class="form_label">
                <div class="col-3">
                    <span>
                        Comment on Relevant Policy Conditions
                        <label class="mandatory"></label>
                    </span>
                </div>
                <div class="col-9">
                    <input type="text" maxlength="1000" ng-model="obj.CmtRelPolCond" />
                </div>
            </div>

            <div class="form_label">
                <div class="col-3">
                    <span>
                        Circumtances of Loss (As stated by the Insured)
                        <label class="mandatory"></label>
                    </span>
                </div>
                <div class="col-9">
                    <input type="text" maxlength="2500" ng-model="obj.CircumLoss" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-3">
                    <span id="lblvregno">
                        Note on occurence/statement of eye witness/insured statement
                        <label class="mandatory"></label>
                    </span>
                </div>
                <div class="col-3">
                    <input type="file"  id="Noteoccrsteye" />
                </div>
                <div class="col-3">
                    <img ng-src="/files/MISC/{{obj.Noteoccrsteye}}" class="img" style="min-height:40px; max-width:40px; cursor:pointer" />
                    <a ng-href="/files/MISC/{{obj.Noteoccrsteye}}" style="cursor:pointer" download>Download</a>
                </div>
                @*<div class="col-3">
                        <img ng-src="~/files/MISC/{{obj.Noteoccrsteye}}" height="150px;" width=150px;" />
                    </div>*@
                @*<div class="col-3">
                    <img ng-src="{{PathCheck}}" height="150px;"width="150px;" />
                        </div>*@
                @*<button ng-click="UploadPhoto()">upload</button>*@

            </div>

            <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
            <div class="form_label">
                <div class="col-12 t_center mt20">
                    <button type="button" class="btn yellow" ng-click="saveAspectLiab()">Submit</button>

                    
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/reports/GeneratePdfMIS_ISVR?ClaimID=@Request.QueryString["cid"]" target="_blank" class="btn yellow">
                        Preview
                    </a>
                        <a href="/MISCISVR/NatureExtentDamage?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">Prev</a>
                </div>
            </div>
    </form>
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCISVR/AspectLiabCtrl.js"></script>

}
