﻿@{
    ViewBag.Title = "IntroClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<link href="~/Content/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/datetimepicker/jquery.datetimepicker.full.js"></script>


<script>
    $(window).load(function () {
        $("heading").html("INTRODUCTION OF THE CLAIM ");

    });
</script>
<div ng-controller="IntroClaimCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <input type="hidden" value="@Request.QueryString["tableName"]" id="tableName" />
    <div ng-include="'/Templates/Common/MISCIntroClaim.html'">
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveIntroClaim()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" id="btnCancel" class="btn yellow" ng-click="Cancel()">Cancel</button>
            <button type="button" class="btn yellow" style="float:right;" ng-click="saveIntroClaim('n','n')">Next</button>
            @*<a href="/MISCISVR/NatureExtentDamage?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                Next
            </a>*@
        </div>
    </div>

</div>
@*<script>
    $('#datetimepicker').datetimepicker({
        format: 'd-m-Y h:m',
        formatTime: 'h',
        step: 60

    })
</script>*@


@section scripts{

    
<script src="~/Scripts/Angular/Contoller/MISCFSR/IntroClaimCtrl.js"></script>

}
