﻿@{
    ViewBag.Title = "NatureExtentDamageIndex";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html(" NATURE & EXTENT OF DAMAGE  ");
    });
</script>

<div ng-controller="NatureExtentDamageCtrl">
    <form id="formNatExtDmg">
        <div>
            <div class="form_label">
                <div class="col-12">
                    <div class="col-3"><span> Description of Affected Property <label class="mandatory">*</label></span></div>
                    <div class="col-9">
                        <textarea maxlength="1000" ng-model="obj.DescOfAffProp"
                                  rows="3"
                                  class="validate[required,'Please enter Description of Affected Property'] Txtbox"
                                  id="DAP"></textarea>
                        @*<input type="text" maxlength="1000" ng-model="obj.DescOfAffProp" class="validate[required,'Please enter Description of Affected Property'] Txtbox" id="DAP" />*@
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-3"><span>Identification of affected Property <label class="mandatory">*</label></span></div>
                    <div class="col-9">
                        <textarea maxlength="500"
                                  rows="3"
                                  ng-model="obj.IdtyOfAffProp" class="validate[required,'Please enter Identification of affected Property'] Txtbox" id="IAP"></textarea>
                        @*<input type="text" maxlength="500" ng-model="obj.IdtyOfAffProp" class="validate[required,'Please enter Identification of affected Property'] Txtbox" id="IAP" />*@
                    </div>
                </div>
            </div>

            <div class="form_label">
                <div class="col-12">
                    <div class="col-3"><span> Nature of Damage/Loss<label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <select ng-options="c.NatureOfDmgLsID as c.NatureOfDmgLs for c in list_DmgLs" ng-model="obj.NatureOfDmgLsID" class="validate[required,'Please Select Nature of Damage/Loss'] Txtbox" id="NDL"><option value="">Select</option></select>

                    </div>
                    <div class="col-3"><span> Covered under head meantioned in policy schedule<label class="mandatory">*</label></span></div>
                    <div class="col-3">
                        <select ng-options="c.CovUndMenID as c.CovUndMen for c in list_CovMen" ng-model="obj.CovUndMenID" class="validate[required,'Please Select policy schedule'] Txtbox" id="CHMPS"><option value="">Select</option></select>

                    </div>
                </div>
            </div>
            <div  class="form_label">
                <div class="col-12">
                    <div class="col-3">
                        <span>Sum-Insured(Rs.)</span>
                    </div>
                    <div class="col-3">
                       <input type="text" ng-model="obj.SumInsured"/>
                    </div>
                </div>
            </div>
            <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
            <div class="form_label">
                <div class="col-12 t_center mt20">
                    <button type="button" class="btn yellow" ng-click="saveNatureExtentDamage()">Submit</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                    <a href="/MISCISVR/AspectLiab?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">Next</a>
                    <a href="/MISCISVR/IntroClaim?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">Prev</a>
</div>
            </div>
    </form>
    <div class="grid_body" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Description of Affected Property</th>
                    <th>Identification of affected Property</th>
                    <th>Nature of Damage/Loss</th>
                    <th>Covered under head meantioned in policy schedule</th>
                    <th>Sum-Insured(Rs.)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">

                <tr ng-repeat="d in list_NED" style="cursor:pointer">
                    <td>{{d.DescOfAffProp}}</td>
                    <td>{{d.IdtyOfAffProp}}</td>
                    <td>{{d.NatureOfDmgLs}}</td>
                    <td>{{d.CovUndMen}}</td>
                    <td>{{d.SumInsured}}</td>
                    <td ng-click="rowClick(d)">
                    <img src="~/Images/edit.jpg" style="height:20px; width:20px;" alt="Edit">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section scripts{
<script src="~/Scripts/Angular/Contoller/MISCISVR/NatureExtentDamageCtrl.js"></script>
   
}
