﻿@model BusinessLayer.Models.CSGenrateClaim

<script type="text/javascript">
    function CreateMarinejir(ClaimId, task) {
        if (task == "JIR" || task == "ISVR") {
            $("#fkClaimId").val(ClaimId);
            $("#task").val(task);
            $("#form1").submit();
        }
        else if (task == "LOR") {
            $("#fklorClaimId").val(ClaimId);
            $("#Task").val(task);
            $("#form2").submit();
        }
        else if (task == "Claim") {
            $("#fkClaimIdFrom").val(ClaimId);
            $("#ClaimFormTask").val(task);
            $("#form3").submit();
        }
        else if (task == "SurveyVisits") {
            $("#fkSurveyVisitsClaimId").val(ClaimId);
            $("#SurveyVisitsTask").val(task);
            $("#form4").submit();
        }
        else if (task == "AS") {
            $("#fkAssesmentClaimId").val(ClaimId);
            $("#AssessmentTask").val(task);
            $("#MarineTranshipmentAssessmentType").val("AS");
            $("#form5").submit();
        }
        else if (task == "FSR") {
            $("#fkClaimIdFrom").val(ClaimId);
            $("#ClaimFormTask").val(task);
            $("#form3").submit();
        }
    }

    $(document).ready(function () {
        $("#txtClaimDateFrom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtClaimDateTo").datepicker("option", "minDate", selected)
            }
            //showButtonPanel: true,
        });
        $("#txtClaimDateTo").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtClaimDateFrom").datepicker("option", "maxDate", selected)
            }
            //showButtonPanel: true,
        });

        $('input:radio[name="InsuredType"]').change(function () {
            if ($(this).val() == 'One Time') {
                $("#InsdType").val("O");
            } else {
                $("#InsdType").val("R");
            }
        });
    });
</script>



<div class="grid_body">
    <table id="mygrid" class="mygrid">
        <thead>
            <tr>
                <th>Insured Type</th>
                <th>Insured Name</th>
                <th>Department</th>
                <th>Insurer</th>
                <th>Instructor Name</th>
                <th>Reported Loss</th>
                <th>Claim Date</th>
                <th title="JIR/">Action</th>
            </tr>
        </thead>
        <tbody id="mygridBody">

            @foreach (System.Data.DataRow row in (ViewBag.ClaimDetails as System.Data.DataTable).Rows)
            {
                <tr>
                    <td>@row["InsdType"]</td>
                    <td>@row["InsdName"]</td>
                    <td>@row["Department"]</td>
                    <td>@row["Insurer"]</td>
                    <td>@row["InstructorName"]</td>
                    <td>@row["ReportedLoss"]</td>
                    <td>@row["ClaimDate"]</td>
                    <td style="width: 20px;">
                        @if (Convert.ToString(Session["UserType"]) == "Survery")
                        {                                               
                            <div id='leftmenu'>
                                <ul>
                                    <li class='active'><a href='#'><span>Actions</span></a>
                                        <ul>
                                            @*<div class="mCustomScrollbar" style="height: 100px !important;">*@
                                            <li class='has-sub'><a href='#' title="Joint Insecption Report" onclick="CreateMarinejir('@row["Pk_ID"]','JIR')"><span>JIR</span></a></li>
                                            <li class='has-sub'><a href='#' title="Joint Insecption Report" onclick="CreateMarinejir('@row["Pk_ID"]','ISVR')"><span>ISVR</span></a></li>
                                            <li class='has-sub'><a href='#' title="Instant Site Visit Report" onclick="CreateMarinejir('@row["Pk_ID"]','LOR')"><span>Letter of Requrment</span></a></li>
                                            <li class='has-sub'><a href='#' title="Claim Form" onclick="CreateMarinejir('@row["Pk_ID"]','Claim')"><span>Claim Form</span></a></li>
                                            <li class='has-sub'><a href='#' title="Assessment" onclick="CreateMarinejir('@row["Pk_ID"]','AS')"><span>Assesment</span></a></li>
                                            <li class='has-sub'><a href='#' title="Add Visit" onclick="CreateMarinejir('@row["Pk_ID"]','SurveyVisits')"><span>Add Visit</span></a></li>
                                            <li class='has-sub'><a href='#' title="Claim Form" onclick="CreateMarinejir('@row["Pk_ID"]','FSR')"><span>FSR</span></a></li>
                                            @*</div>*@
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {                                            
                            <div id='leftmenu'>
                                <ul>
                                    <li class='active'><a href='#'><span>Actions</span></a>
                                        <ul>
                                            <li class='has-sub'><a href='#' title="Claim Form" onclick="CreateMarinejir('@row["Pk_ID"]','FSR')"><span>FSR</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
