﻿@model BusinessLayer.Models.CSGenrateClaim

@*<script src="@Url.Content("~/Scripts/Accordion/accordionJS.js")"></script>
    <link href="@Url.Content("~/Scripts/Accordion/styles.css")" rel="stylesheet" />*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtClaimDateFrom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtClaimDateTo").datepicker("option", "minDate", selected)
            }
            //showButtonPanel: true,
        });
        $("#txtClaimDateTo").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtClaimDateFrom").datepicker("option", "maxDate", selected)
            }
            //showButtonPanel: true,
        });

        $('input:radio[name="InsuredType"]').change(function () {
            if ($(this).val() == 'One Time') {
                $("#InsdType").val("O");
            } else {
                $("#InsdType").val("R");
            }
        });
    });
</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
            <div>
                <div class="form_label">
                    <div class="col-3"><span>Insured Type</span></div>
                    <div class="col-9">
                        @Html.HiddenFor(a => a.InsdType)
                        <input type="radio" name="InsuredType" id="rboneTime" value="One Time" checked />One Time
                        <input type="radio" name="InsuredType" id="rbRegistered" value="Registered" checked />Registered
                    </div>
                </div>

                <div class="form_label">
                    <div class="col-3"><span>Insurer Claim No</span></div>
                    <div class="col-9">
                        @Html.TextBoxFor(a => a.InsrClaimNo, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })
                    </div>
                </div>

                <div class="form_label">
                    <div class="col-3"><span>Claim Date From</span></div>
                    <div class="col-9">
                        @Html.TextBoxFor(a => a.ClaimDateFrom, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off", @id = "txtClaimDateFrom", @style = "readonly:readponly" })
                    </div>
                </div>

                <div class="form_label">
                    <div class="col-3"><span>Claim Date To</span></div>
                    <div class="col-9">
                        @Html.TextBoxFor(a => a.ClaimDateTo, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off", @id = "txtClaimDateTo", @style = "readonly:readonly" })
                    </div>
                </div>

                <div class="form_label">
                    <div class="col-12 t_center mt20">
                        <input type="submit" name="command" id="btnSubmit" value="Search" class="btn yellow" />
                        <input id="btnCancel" value="Cancel" type="reset" class="btn yellow" />
                    </div>
                </div>


                <div class="grid_body">
                    <table id="mygrid" class="mygrid">
                        <thead>
                            <tr>
                                <th>Insured Type</th>
                                <th>Insured Name</th>
                                <th>Department</th>
                                <th>Insurer</th>
                                <th>Instructor Name</th>
                                <th>Reported Loss</th>
                                <th>Claim Date</th>
                                <th title="Assign Task">Assign Task</th>
                            </tr>
                        </thead>
                        <tbody id="mygridBody">

                            @foreach (System.Data.DataRow row in (ViewBag.ClaimDetails as System.Data.DataTable).Rows)
                            {
                                <tr id="@row["Pk_ID"]">
                                    <td>@row["InsdType"]</td>
                                    <td>@row["InsdName"]</td>
                                    <td>@row["Department"]</td>
                                    <td>@row["Insurer"]</td>
                                    <td>@row["InstructorName"]</td>
                                    <td>@row["ReportedLoss"]</td>
                                    <td>@row["ClaimDate"]</td>
                                    <td>
                                        @if (Convert.ToString(Session["UserType"]) == "Survery")
                                        {                                               
                                            <select class="Drp">
                                                <option value="0">Select</option>
                                                @foreach (System.Data.DataRow rw in (ViewBag.BindTrainees as System.Data.DataTable).Rows)
                                                {
                                                    if (rw["PK_TSURID"].ToString() == @row["TraineeID"].ToString())
                                                    {
                                                    <option value="@rw["PK_TSURID"]" selected="selected">@rw["UserName"]</option>
                                                    }
                                                    else
                                                    {
                                                    <option value="@rw["PK_TSURID"]">@rw["UserName"]</option>
                                                    }
                                                }
                                            </select>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>





                <div class="form_label">
                    <div class="col-12 t_center mt20">
                        <input type="submit" name="command" id="btnAssginTask" value="Assign Task" class="btn yellow" />
@*                        <input id="btnCancel" value="Cancel" type="reset" class="btn yellow" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <form action="/Survery/MarineJIR" enctype="multipart/form-data" id="form1" method="post">
        <input type="hidden" id="fkClaimId" name="fkClaimId" />
        <input type="hidden" id="CheckOpenTable" name="CheckOpenTable" />
        <input type="hidden" id="task" name="task" />
        <input type="hidden" id="Fk_InsdID" name="Fk_InsdID" />
        <input type="hidden" id="Insd_Type" name="InsdType" />
        <input type="hidden" id="InsdName" name="InsdName" />
        <input type="hidden" id="InsdAddress" name="InsdAddress" />
    </form>
</div>

<div>
    <form action="/Survery/lorwork" enctype="multipart/form-data" id="form2" method="post">
        <input type="hidden" id="fklorClaimId" name="fkClaimId" />
        <input type="hidden" id="Task" name="Task" />
        <input type="hidden" id="FkInsdID" name="FkInsdID" />
        <input type="hidden" id="LORInsdType" name="LORInsdType" />
    </form>
</div>

<div>
    <form action="/Survery/ClaimForm" enctype="multipart/form-data" id="form3" method="post">
        <input type="hidden" id="fkClaimIdFrom" name="fkClaimId" />
        <input type="hidden" id="ClaimFormTask" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/SurveyVisits" enctype="multipart/form-data" id="form4" method="post">
        <input type="hidden" id="fkSurveyVisitsClaimId" name="fkClaimId" />
        <input type="hidden" id="SurveyVisitsTask" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/MarineAssessmentDetails" enctype="multipart/form-data" id="form5" method="post">
        <input type="hidden" id="fkAssesmentClaimId" name="fkClaimId" />
        <input type="hidden" id="AssessmentTask" name="task" />
        <input type="hidden" id="MarineTranshipmentAssessmentType" name="AssessmentType" />
    </form>
</div>
