﻿@model BusinessLayer.Models.CSGenrateClaim

@functions{
    private string CheckType(char InsdType)
    {
        string result = "One Time";
        if (InsdType != 'O')
            result = "Reg";
        return result;
    }
}
@*<script src="~/Scripts/MultipleEmailPlugin/taginput.js"></script>
<link href="~/Scripts/MultipleEmailPlugin/taginput.css" rel="stylesheet" />*@


 
<script type="text/javascript">
    $(document).ready(function () {
        $("#ClaimDateFrom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#ClaimDateTo").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
    });
</script>

<div class="form_label">
    <div class="col-3"><span>Policy Type</span></div>
    <div class="col-3">
        @Html.HiddenFor(a => a.InsdType)
        <span style="display:none;">@Html.Raw(Model.PolicyType)</span>
        @Html.TextBoxFor(a => a.PolicyTypeText, new { @class = "validate[required,'Please enter Policy Type'] Txtbox", @maxlength = "200", @autocomplete = "off" })
    </div>
    <div class="col-3"><span>Policy No</span></div>
    <div class="col-3">
        <span>@Html.DisplayFor(a => a.PolicyNo)</span>
        <input type="hidden" value="@Model.PolicyNo" id="policyNo" />
        <input type="hidden" value="@Model.FkClaimId" id="claimId" />


    </div>
    
        
    
</div>


<div class="form_label">
    <div class="col-3"><span>Name of Insured</span></div>
    <div class="col-3">
        <span>@Html.DisplayFor(a => a.InstructorName)</span>
    </div>
    <div class="col-3"><span>Address of Insured</span></div>
    <div class="col-3">
        <span>@Html.DisplayFor(a => a.InsrAddress)</span>
    </div>
</div>


<div class="form_label">
    <div class="col-3"><span>Period of Policy<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <span>
            @if (string.IsNullOrEmpty(Model.Period))
            {
                @Html.TextBoxFor(a => a.ClaimDateFrom, new { @class = "validate[required,'Please enter period date from'] Txtbox", @maxlength = "50", @style = "width:100px", @autocomplete = "off" })
                <label>To</label>
                @Html.TextBoxFor(a => a.ClaimDateTo, new { @class = "validate[required,'Please enter period date to'] Txtbox", @maxlength = "50", @style = "width:100px", @autocomplete = "off" })
            }
            else
            {
                string[] dat = System.Text.RegularExpressions.Regex.Split(Model.Period, "To");
                Model.ClaimDateFrom = dat[0].Trim();
                Model.ClaimDateTo = dat[1].Trim();
                @Html.TextBoxFor(a => a.ClaimDateFrom, new { @class = "validate[required,'Please enter period date from'] Txtbox", @style = "width:100px", @maxlength = "50", @autocomplete = "off" })
                <label>To</label>
                @Html.TextBoxFor(a => a.ClaimDateTo, new { @class = "validate[required,'Please enter period date to'] Txtbox", @style = "width:100px", @maxlength = "50", @autocomplete = "off" })
            }
        </span>
    </div>
    <div class="col-3"><span>Transit Insured<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.TransitInsured, new { @class = "validate[required,'Please enter transit insured'] Txtbox", @maxlength = "250", @autocomplete = "off" })
    </div>
</div>



<div class="form_label">
    <div class="col-3"><span>Mode of conveyance<label class="mandatory">*</label></span></div>
    @*<div class="col-3">

        <span>@Html.TextBoxFor(a => a.ModeConveyance, new { @class = "validate[required,'Please enter mode of conveyance'] Txtbox", @maxlength = "100", @autocomplete = "off" })</span>
    </div>*@
    <div class="col-6" id="divModeConvey">
        @*@Html.TextAreaFor(a => a.Remark, new { @class = "validate[required,'Please enter remarks'] TxtboxArea", @maxlength = "200", @autocomplete = "off" })*@
        @foreach (BusinessLayer.Models.CSMarineModeOfConveyance mc in Model.ListModeOfConveyance)
        {
            if (mc.Selected)
            {
                <label>
                    <input type="checkbox" checked="checked" value="@mc.PK_MC_ID" data-mc="@mc.ModeOfConveyance"/>
                    @mc.ModeOfConveyance
                </label>
            }
            else
            {
                <label>
                    <input type="checkbox" value="@mc.PK_MC_ID" data-mc="@mc.ModeOfConveyance" />
                    @mc.ModeOfConveyance
                </label>
            }


        }

    </div>
    <div id="divMcO" class="col-3">
        @Html.TextBoxFor(a => a.ModeConveyanceOther, new { @class = "Txtbox", @maxlength = "100", @autocomplete = "off" })
    </div>
    </div>
<div class="form_label">

    <div class="col-3"><span>Coverage<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.DropDownListFor(ut => ut.Coverage, new SelectList(BusinessLayer.BLCommon.BindCoverageType(), "Key", "Value"), new { @class = "validate[required,'Please select coverage'] Drp", @id = "drpCoverage" })
    </div>
    <div class="col-3"><span>Subject matter insured<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.SubjectMatter, new { @class = "validate[required,'Please enter subject matter insuured'] Txtbox", @maxlength = "500", @autocomplete = "off" })
    </div>
    </div>
<div class="form_label">
    <div class="col-3"><span>Basis Valuation<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.BasisValution, new { @class = "validate[required,'Please enter nature of transit'] Txtbox", @maxlength = "100", @autocomplete = "off" })
    </div>
    <div class="col-3"><span>Policy Excess<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PolicyExcess, new { @class = "validate[required,'Please enter policy excess'] Txtbox", @maxlength = "250", @autocomplete = "off" })
    </div>
    <div class="col-3">&nbsp;</div>
    <div class="col-3">&nbsp;</div>
</div>


<div class="modal fade" id="ModalConcerned" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" @*style="width:130%; margin-left:-130px;"*@>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Concerned</h4>
            </div>
            <div class="modal-body table-responsive" style="max-height:470px;">
                <div ng-include="'/Templates/Common/Concerned.html'">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveConcerned()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="form_label">
    <div class="col-12 t_center">
        <input type="button" id="btnClaimForm" value="Next" data-content="@Model.FkClaimId" name="command" class="btn" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a id="btnClaimFormBack" class="btn yellow" data-content="@Model.FkClaimId">Back</a>
        <button type="button" class="btn btn-primary" ng-click="showModalConcerned()">Add Concerned</button>
    </div>




</div>

@*<style>
    #tags { border: 1px solid #ccc; padding: 5px; }

        #tags > span { display: block; float: left; color: rgba(0, 0, 0, 0.71); background: rgba(128, 128, 128, 0.43); padding: 5px; padding-right: 25px; margin: 4px; }
</style>*@


