﻿<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- css -->
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Scripts/calendar/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/MessageBox/alert.css" rel="stylesheet" />
    <link href="~/Scripts/ValidationScript/popupwithoutJquery.css" rel="stylesheet" />

    <!-- js -->
    <script src="~/Content/PageScript/jquery-1.11.0.min.js"></script>
    @*<script type="text/javascript">
var jQuery_1_11_0 = $.noConflict(true);
    </script>*@
    <script src="~/Content/PageScript/modernizr-1.0.min.js"></script>
    <script src="~/Scripts/calendar/jquery-ui.js"></script>
    <script src="~/Content/JS/Common.js"></script>

    <script src="~/Scripts/ValidationScript/Validation.js"></script>
        <script src="~/Scripts/MessageBox/messagejs.js"></script>
    <link href="~/Scripts/ValidationScript/ValidationCSS.css" rel="stylesheet" />
    <link href="~/Scripts/Popup/popupstyle.css" rel="stylesheet" />
    <script src="~/Scripts/Popup/modelpopup.js"></script>
    <script src="~/Content/JS/home.js"></script>

    @*<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
      var jQuery_3_3_1 = $.noConflict(true);
    </script>*@

    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    
    @*<link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />*@

    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/Angular/Contoller/main.js"></script>

    <script type="text/javascript">

        function showSuccessToast(msg) {
            $().toastmessage('showSuccessToast', msg);
        }
        function showStickySuccessToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-right',
                type: 'success',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }

        function showNoticeToast(msg) {
            $().toastmessage('showNoticeToast', msg);
        }

        function showStickyNoticeToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-left',
                type: 'notice',
                closeText: '',
                close: function () { console.log("toast is closed ..."); }
            });
        }

        function showWarningToast(msg) {

            $().toastmessage('showWarningToast', msg);
        }

        function showStickyWarningToast(msg) {
            $().toastmessage('showToast', {
                text: 'msg',
                sticky: true,
                position: 'middle-right',
                type: 'warning',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }

        function showErrorToast(msg) {
            $().toastmessage('showErrorToast', msg);
        }

        function showStickyErrorToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'center',
                type: 'error',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }

    </script>
</head>
<body ng-app="myApp">
    <header>
        <div class="wrap_fullw">
            <div class="top_logo_wrap">
                <a href="@Url.Action("Index", "Home")">
                    <img src="/images/logo.png" alt="Sai Surveyors" />
                </a>
            </div>
            <div class="clear" style="height: 30px"></div>
        </div>
    </header>

    <section class="middle_wrap cf">
        <div class="middle_col">
            <div class="grid_head">
                <label class="mandatory fr">&nbsp;</label>
                <heading>&nbsp;</heading>
            </div>
            <div class="content_area">
                @RenderBody()
            </div>
        </div>
    </section>
    <style>
        .form_label span {
            color: #000;
            display: block;
            padding: 1px 0;
            text-align: left;
            font-size: 14px;
        }

        input[type="text"], input[type="password"], textarea, select, input[type="file"] {
            padding: 4px 5px;
        }

        select {
            padding: 5px;
            line-height: 35px;
            height: 28px;
        }
    </style>
    <footer>
        <div class="wrap_1000_px">
            <p class="copyright"><span>&copy;</span> Sai Surveyors</p>
        </div>
    </footer>
    <script src="~/Scripts/Angular/Directive/CommonDirectives.js"></script>
    <script src="~/Scripts/Angular/Service/CommonService.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
