﻿@model BusinessLayer.Models.CSMarineJIR
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<link href="~/Scripts/MultipleEmailPlugin/taginput.css" rel="stylesheet" />



<div class="grid_body">
    <table id="LotTr" class="mygrid">
    </table>
</div>


<div class="form_label contactDetails">
    <div class="col-3"><span>Contact Person</span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.ContactPerson, new { @id = "txtContactPerson", @maxlength = "100" })
    </div>
    <div class="col-3"><span></span></div>
    <div class="col-3">
    </div>
</div>


<div class="form_label contactDetails">
    <div class="col-3"><span>Mobile</span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.MobileNumber, new { @id = "txtMobile", @maxlength = "500" })
    </div>
    <div class="col-3"><span></span></div>
    <div class="col-3">
    </div>
</div>

<div class="form_label contactDetails">
    <div class="col-3"><span>Email</span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.EmailId, new { @id = "txtEmail", @maxlength = "100" })
    </div>
    <div class="col-3"><span>&nbsp;</span></div>
    <div class="col-3">
    </div>
</div>

<div class="form_label">
    <div class="col-3">
    @*<a href="#" onclick="SendBackMarineRemarks('@Model.FKClaimId','@Model.Task')" class="btn yellow fl">Back</a>*@
        <a href="/Survery/MarineRemarksClaim?fkClaimId=@Model.FKClaimId&task=@Model.Task"  class="btn yellow fl">Back</a>
    </div>
    <div class="col-6 t_center">
        <input type="button" id="btnSubmitLOR" value="Submit" name="command" class="btn" />
        &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" id="btnSendEmailLor" value="Send Mail" data-claimid="@Model.FKClaimId" data-insdtype="@Model.InsdType" data-insdid="@Model.InsdId" data-task="@Model.Task" name="command" class="btn yellow" />
    </div>
    <div class="col-2 t_center">
        <input type="button" id="btnGenratePrview" data-claimid="@Model.FKClaimId"  data-insdtype="@Model.InsdType" data-insdid="@Model.InsdId" data-task="@Model.Task"  value="Genrate Prview" class="btn" name="command" />
    </div>
    <div class="col-2">@*<a href="#" id="aLorNext" onclick="SendNextISVR('@Model.FKClaimId','@Model.Task')" class="btn yellow fr">Next</a>*@
        <a href="/Survery/MarineISVR?fkClaimId=@Model.FKClaimId&task=@Model.Task" id="aLorNext" class="btn yellow fr">Next</a>
    </div>
</div>

<a href="#popup" id="pop"></a><a href="#x" class="overlay" id="popup1"></a>

<div class="popup" style="width: 550px;">
    <div class="form_label">
        <div class="col-2">To</div>
        <div class="col-7">
            @Html.TextBoxFor(a => a.EmailId, new { @id = "txtEmail", @maxlength = "100" })
        </div>
    </div>
    @*<div class="form_label">
        <div class="col-6">Enter email id for CC</div>
        <div class="col-6">
            <input type="text" id="txtCCMail" />
        </div>
    </div>*@
    <div class="form_label">
    <div class="col-2">
         CC
    </div>
      
    <div class="emailtag col-8">
        <div id="tags">
            <input type="text" value="">
            @*<textarea></textarea>*@
            
        </div>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12">
            <div class="col-2">

            </div>
            <div class='fr col-2' style="float:left;">
                <input type="button" id="btnSendCCMail" value="Send" data-task='@Model.Task' data-claimid='@Model.FKClaimId' />
            </div>
        </div>
    </div>
   @*<button type="button" id="btnTest">Test</button>*@
    <div class="form_label">
        <div class="col-12">
            <div class="grid_body">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th>LOR</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in (ViewBag.MarineGetLORReminders as System.Data.DataTable).Rows)
                        {
                            <tr>
                                <td>Reminder @row["ReminderNo"]</td>
                                <td>@row["SendDate"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12">
            <div>
                <input type="button" id="btnSendLormail" data-claimid="@Model.FKClaimId"  data-insdtype="@Model.InsdType" data-insdid="@Model.InsdId" data-task="Reminder"  value="Send Reminder" class="btn" name="command" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).load(function () {
        if('@Model.Task'=='SpotSurvey')
        {
            $("heading").html("List of Collected documents");
        }
        else{
            $("heading").html("List of required documents");
        }
        if ('@Model.Task.ToLower()' == "jir") {
                //$("#aLorNext").attr("style", "display:none;");
            //$("#aLorNext").html("Send ISVR");
            $("#aLorNext").html("Next");
                $("#btnGenratePrview").attr("style", "display:none;");
                $("#lnkReminder").attr("style", "display:none;");
                $("#btnSendEmail").attr("style", "display:none;");
            }
            else if ('@Model.Task.ToLower()' == 'LOR'.toLowerCase()) {
                $("#aLorNext").attr("style", "display:none;");
                $(".contactDetails").attr("style", "display:none;");
                $("#btnGenratePrview").attr("style", "display:none;");
            }
            else {
                $("#aLorNext").attr("style", "display:block;");
                $("#btnGenratePrview").attr("style", "display:none;");
                $(".contactDetails").attr("style", "display:none;");
            }
       
        });
</script>
<script>
    $(document).ready(function () {

        $('#btnSendCCMail').click(function () {
            alert();
            debugger;
            var emailIDs = [];
            emailIDs.push('@Model.EmailId');
            $('.emailAdd').each(function (index, element) {
                emailIDs.push($(element).text());
            })
            debugger;
            if (emailIDs.length > 0) {
                $.ajax({
                    type: "POST",
                    url: '/Survery/SendMaillCC',
                    data: JSON.stringify(emailIDs),
                    dataType: "json",
                    contentType: "application/json",
                    async: true,
                    success: function (result) {
                        console.log(result);
                        if (result == 's') {
                            console.log(result);
                            debugger;
                            showSuccessToast("Email Send  Successfully.");
                       }
                        else {
                            alert("Email Not Send");
                        }
                    },
                    error: function (result) {
                        //alert(result);
                    }
                });
            }
            else if (emailIDs.length == 0) {
                alert("Please Enter Email ID ");
            }
        })
        @*if ('@Model.Task.ToLower()' == 'lor') {
            $('#btnSendEmailLor').val("Send LOR");
        }
        else {
            $('#btnSendEmailLor').val("Send JIR");
        }*@
    });
</script>
<script src="~/Scripts/MultipleEmailPlugin/taginput.js"></script>
<style>
    #tags {
  border:1px solid #ccc;
  padding:5px;
}

#tags > span {
  display:block;
  float:left;
  color:rgba(0, 0, 0, 0.71);
  background:rgba(128, 128, 128, 0.43);
  padding:5px;
  padding-right:25px;
  margin:4px;
}
    </style>
