﻿@model BusinessLayer.Models.CSGenrateClaim

@*<script src="@Url.Content("~/Scripts/Accordion/accordionJS.js")"></script>
    <link href="@Url.Content("~/Scripts/Accordion/styles.css")" rel="stylesheet" />*@

<script type="text/javascript">

    function CreateMarinejir(ClaimId, task) {

        if (task == "JIR" || task == "ISVR") {
            $("#fkClaimId").val(ClaimId);
            $("#task").val(task);
            //sessionStorage.setItem("ActionType", "ISVR");
            $("#form1").submit();
        }
        else if (task == "LOR") {
            $("#fklorClaimId").val(ClaimId);
            $("#Task").val(task);
            //sessionStorage.setItem("ActionType", "LOR");
            $("#form2").submit();
        }
        else if (task == "Claim") {
            $("#fkClaimIdFrom").val(ClaimId);
            $("#ClaimFormTask").val(task);
            //sessionStorage.setItem("ActionType", "Claim");
            $("#form3").submit();
        }
        else if (task == "SurveyVisits") {
            $("#fkSurveyVisitsClaimId").val(ClaimId);
            $("#SurveyVisitsTask").val(task);
            //sessionStorage.setItem("ActionType", "SurveyVisits");
            $("#form4").submit();
        }
        else if (task == "AS") {
            $("#fkAssesmentClaimId").val(ClaimId);
            $("#AssessmentTask").val(task);
            $("#MarineTranshipmentAssessmentType").val("AS");
            //sessionStorage.setItem("ActionType", "AS");
            $("#form5").submit();
        }
        else if (task == "FSR") {
            $("#fkSurveyVisitsClaimId").val(ClaimId);
            $("#SurveyVisitsTask").val(task);
            $("#form4").submit();
        }
    }

    $(document).ready(function () {
        $("#txtClaimDateFrom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtClaimDateTo").datepicker("option", "minDate", selected)
            }
            //showButtonPanel: true,
        });
        $("#txtClaimDateTo").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-M-yy',
            onSelect: function (selected) {
                $("#txtClaimDateFrom").datepicker("option", "maxDate", selected)
            }
            //showButtonPanel: true,
        });

        $('input:radio[name="InsuredType"]').change(function () {
            if ($(this).val() == 'One Time') {
                $("#InsdType").val("O");
            } else {
                $("#InsdType").val("R");
            }
        });
    });

</script>

<div class="form_wrap cf">
    <div class="col-12">
        <div class="form-bg">
    <div>
        <div class="form_span">
            <div class="col-3"><span>Insured Type</span></div>
            <div class="col-9">
                @Html.HiddenFor(a => a.InsdType)
                <input type="radio" name="InsuredType" id="rboneTime" value="One Time" checked />One Time
                <input type="radio" name="InsuredType" id="rbRegistered" value="Registered" checked />Registered
            </div>
        </div>
        <br />
        <br />
        <div class="form_span">
            <div class="col-3"><span>Insurer Claim No</span></div>
            <div class="col-9">
                @Html.TextBoxFor(a => a.InsrClaimNo, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })
            </div>
        </div>
        <br /><br />
        <div class="form_span">
            <div class="col-3"><span>Claim Date From</span></div>
            <div class="col-9">
                @Html.TextBoxFor(a => a.ClaimDateFrom, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off", @id = "txtClaimDateFrom", @style = "readonly:readponly" })
            </div>
        </div>
        <br /><br />

        <div class="form_span">
            <div class="col-3"><span>Claim Date To</span></div>
            <div class="col-9">
                @Html.TextBoxFor(a => a.ClaimDateTo, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off", @id = "txtClaimDateTo", @style = "readonly:readonly" })
            </div>
        </div>

        <div class="form_span">
            <div class="col-12 t_center mt20">
                <input type="submit" name="command" id="btnSubmit" value="Search" class="btn yellow" />
                <input id="btnCancel" value="Cancel" type="reset" class="btn yellow" />
            </div>
        </div>
        <div class="clearfix">

        </div>

        <div class="grid_body table-responsive" style="max-height:600px;">
            <table id="mygrid" class="mygrid table">
                <thead>
                    <tr>
                        <th>Claim Id</th>
                        <th>Insured Type</th>
                        <th>Insured Name</th>
                        <th>Department</th>
                        <th>Insurer</th>
                        <th>Instructor Name</th>
                        <th>Reported Loss</th>
                        <th>Claim Date</th>
                        <th title="JIR/">Action</th>
                    </tr>
                </thead>
                <tbody id="mygridBody">
                    @{
                        int modelId = 0;
                    }


                    @foreach (System.Data.DataRow row in (ViewBag.ClaimDetails as System.Data.DataTable).Rows)
                    {
                        modelId++;
                        <tr>
                            <td>@row["ClaimId"]</td>
                            <td>@row["InsdType"]</td>
                            <td>@row["InsdName"]</td>
                            <td>@row["Department"]</td>
                            <td>@row["Insurer"]</td>
                            <td>@row["InstructorName"]</td>
                            <td>@row["ReportedLoss"]</td>
                            <td>@row["ClaimDate"]</td>
                            <td style="width: 20px;">

                                @if (Convert.ToString(Session["UserType"]) != "Insured")
                                {

                                    <div id='leftmenu'>

                                        <ul>

                                            @*@if (row["Department"].ToString().ToLower() == "motor" && row["SurveyType"].ToString().ToLower() == "final")*@



                                            @if (row["Department"].ToString().ToLower() == "motor")
                                            {
                                                <li class='active'>

                                                    @*<a href='#'><span>Actions</span></a>*@
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#@modelId" style="width:79px;">
                                                            <span class="glyphicon glyphicon-th-large"></span>
                                                            ACTIONS
                                                        </button>


                                                        <a href="/Survery/GenrateClaim?ClaimID=@row["Pk_ID"]"
                                                           class="btn btn-danger btn-sm"
                                                           style="background: red;color: white;padding: 5px;width: 57px;margin-left:14px; text-transform:unset;">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                            EDIT
                                                        </a>
                                                    </div>
                                                    @*<ul>
                    <li class='has-sub'>*@



                                                    <div class="modal fade" id="@modelId" role="dialog">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">

                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title" style="color:black; text-align:center; font-family:inherit;">
                                                                        ACTIONS
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="form-group">
                                                                                <div class="col-md-3">
                                                                                    <a href='/Survery/PolicyParticulars?id=@row["Pk_ID"]' title="Instant Site Visit Report" class="btn btn-info" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">
                                                                                            FSR
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </li>

                                                @*<li class='has-sub'><a href='#' title="Letter of Requirement" onclick="CreateMarinejir('@row["Pk_ID"]','LOR')"><span>LOR</span></a></li>*@
                                                @*<li class='has-sub'>
                    <a href='/Survery/LorWork?fkClaimId=@row["Pk_ID"]&Task=LOR'
                       title="Letter of Requirement"><span>LOR</span></a>
                </li>*@


                                                @*<li class='has-sub'><a href='#' title="Instant Site Visit Report" onclick="CreateMarinejir('@row["Pk_ID"]','ISVR')"><span>ISVR</span></a></li>*@

                                                @*<li class='has-sub'><a href='/Survery/MarineJIR?fkClaimId=@row["Pk_ID"]&task=ISVR' title="Instant Site Visit Report"><span>ISVR</span></a></li>*@

                                                @*<li class='has-sub'><a href='@Url.Action("MotorVehicleParticulars", "Survery", new { @id = @row["Pk_ID"] })' title="Joint Insecption Report"><span>JIR</span></a></li>*@
                                                @*<li class='has-sub'><a href='/Survery/MotorVehicleParticulars?id=@row["Pk_ID"]' title="Joint Insecption Report"><span>JIR</span></a></li>*@

                                                @*<li class='has-sub'><a href='#' title="Add Visit" onclick="CreateMarinejir('@row["Pk_ID"]','SurveyVisits')"><span>Add Visit</span></a></li>*@
                                                @*<li class='has-sub'><a href='/Survery/SurveyVisits?fkClaimId=@row["Pk_ID"]&task=SurveyVisits' title="Add Visit"><span>Add Visit</span></a></li>*@


                                                @*<li class='has-sub'><a href='#' title="Assessment" onclick="CreateMarinejir('@row["Pk_ID"]','AS')"><span>Assesment</span></a></li>*@
                                                @*<li class='has-sub'><a href='/Survery/MarineAssessmentDetailNew?cid=@row["Pk_ID"]&calMode=AS&task=FSR' title="Assessment"><span>Assesment</span></a></li>*@

                                                @*<li class='has-sub'><a href='#' title="Claim Form" onclick="CreateMarinejir('@row["Pk_ID"]','Claim')"><span>Claim Form</span></a></li>*@
                                                @*<li class='has-sub'><a href='/Survery/ClaimForm?fkClaimId=@row["Pk_ID"]&task=Claim' title="Claim Form"><span>Claim Form</span></a></li>*@
                                                @*<li class='has-sub'><a href='#' title="Claim Form" onclick="CreateMarinejir('@row["Pk_ID"]','FSR')"><span>FSR</span></a></li>*@
                                                @*<li class='has-sub'><a href='/Survery/SurveyVisits?fkClaimId=@row["Pk_ID"]&task=FSR' title="Claim Form"><span>FSR</span></a></li>*@
                                                @*</ul>*@
                                                @*</li>*@
                                                @*<li class='active'>
                    <a href="@Url.Action("GenrateClaim", "Survery", new { @ClaimID = @row["Pk_ID"] })"><span>Edit</span></a>

                </li>*@
                                            }
                                            else if (row["Department"].ToString().ToLower() == "motor" && row["SurveyType"].ToString().ToLower() == "spot")
                                            {
                                                <li class='active'>
                                                    <a href='#'><span>Actions</span></a>
                                                    <ul>
                                                        @*<li class='active'><a href='@Url.Action("MotorVehicleParticulars", "Survery", new { @id = @row["Pk_ID"] })' title="Spot Survey"><span>Spot Survey</span></a></li>*@
                                                        <li class='active'><a href='/Survery/MotorVehicleParticulars?id=@row["Pk_ID"]' title="Spot Survey"><span>Spot Survey</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class='active'>
                                                    @*<a href="@Url.Action("GenrateClaim", "Survery", new { @ClaimID = @row["Pk_ID"] })"><span>Edit</span></a>*@
                                                    <a href='/Survery/GenrateClaim?ClaimID=@row["Pk_ID"]'><span>Edit</span></a>
                                                </li>

                                            }
                                            else if (row["Department"].ToString().ToLower() == "motor" && row["SurveyType"].ToString().ToLower() == "pre")
                                            {
                                                <li class='active'>
                                                    <a href='#'><span>Actions</span></a>
                                                    <ul>
                                                        @*<li class='active'><a href='@Url.Action("MotorVehicleParticulars", "Survery", new { @id = @row["Pk_ID"] })' title="Pre-Inspection"><span>Pre-Inspection</span></a></li>*@
                                                        <li class='active'><a href='/Survery/MotorVehicleParticulars?id=@row["Pk_ID"]' title="Pre-Inspection"><span>Pre-Inspection</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class='active'>
                                                    @*<a href="@Url.Action("GenrateClaim", "Survery", new { @ClaimID = @row["Pk_ID"] })"><span>Edit</span></a>*@
                                                    <a href='/Survery/GenrateClaim?ClaimID=@row["Pk_ID"]'><span>Edit</span></a>
                                                </li>

                                            }
                                            else if (row["Department"].ToString().ToLower() == "motor" && row["SurveyType"].ToString().ToLower() == "re")
                                            {
                                                <li class='active'>
                                                    <a href='#'><span>Actions</span></a>
                                                    <ul>
                                                        @*<li class='active'><a href='@Url.Action("MotorVehicleParticulars", "Survery", new { @id = @row["Pk_ID"] })' title="Re-Inspection"><span>Re-Inspection</span></a></li>*@
                                                        <li class='active'><a href='/Survery/MotorVehicleParticulars?id=@row["Pk_ID"]' title="Re-Inspection"><span>Re-Inspection</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class='active'>
                                                    @*<a href="@Url.Action("GenrateClaim", "Survery", new { @ClaimID = @row["Pk_ID"] })"><span>Edit</span></a>*@
                                                    <a href='/Survery/GenrateClaim?ClaimID=@row["Pk_ID"]'><span>Edit</span></a>
                                                </li>

                                            }
                                            else if (row["Department"].ToString().ToLower() == "misc")
                                            {


                                                <li class='active'>


                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#@modelId" style="width:79px;">
                                                            <span class="glyphicon glyphicon-th-large"></span>
                                                            ACTIONS
                                                        </button>


                                                        <a href="/Survery/GenrateClaim?ClaimID=@row["Pk_ID"]"
                                                           class="btn btn-danger btn-sm"
                                                           style="background: red;color: white;padding: 5px;width: 57px;margin-left:14px; text-transform:unset;">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                            EDIT
                                                        </a>
                                                    </div>
                                                    <div class="modal fade" id="@modelId" role="dialog">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">

                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title" style="color:black; text-align:center; font-family:inherit;">
                                                                        ACTIONS
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="form-group">
                                                                                <div class="col-md-3">
                                                <a href='/MISCISVR/IntroClaim?cid=@row["Pk_ID"]&tableName=ISVR' title="ISVR-Report" style="height:140px;color:white; background-color:darkcyan;"><span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">ISVR</span></a>
                                                                                    </div>
                                                                                <div class="col-md-3">
                                                <a href='/MISCFSR/IntroClaim?cid=@row["Pk_ID"]&tableName=FSR' title="FSR-Report" style="height:140px;color:white; background-color:darkcyan;"><span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">FSR</span></a>
                                                
</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </li>
                                            }
                                            else
                                            {

                                                <li class='active'>

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#@modelId" style="width:79px;">
                                                            <span class="glyphicon glyphicon-th-large"></span>
                                                            ACTIONS
                                                        </button>


                                                        <a href="/Survery/GenrateClaim?ClaimID=@row["Pk_ID"]"
                                                           class="btn btn-danger btn-sm"
                                                           style="background: red;color: white;padding: 5px;width: 57px;margin-left:14px; text-transform:unset;">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                            EDIT
                                                        </a>
                                                    </div>



                                                    <div class="modal fade" id="@modelId" role="dialog">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">

                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title" style="color:black; text-align:center;font-family:inherit;">
                                                                        ACTIONS
                                                                    </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="form-group">
                                                                                <div class="col-md-3">
                                                                                    <a href='/survery/lornew?cid=@row["Pk_ID"]&Task=LOR' title="Letter of Requirement" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">   LOR</span>
                                                                                    </a>
                                                                                </div>

                                                                                <div class="col-md-3">
                                                                                    <a href='/Survery/MarineJIR?fkClaimId=@row["Pk_ID"]&task=ISVR' title="Instant Site Visit Report" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">ISVR</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <a href='/Survery/MarineJIR?fkClaimId=@row["Pk_ID"]&task=JIR' title="Joint Insecption Report" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">JIR</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="clearfix">

                                                                                </div>
                                                                            </div>                                                   <div class="form-group">
                                                                                <div class="col-md-3">

                                                                                    <a href='/Survery/SurveyVisits?fkClaimId=@row["Pk_ID"]&task=SurveyVisits' title="Add Visit" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">Add Visit</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3">

                                                                                    <a href='/Survery/MarineAssessmentDetailNew?cid=@row["Pk_ID"]&calMode=AS&task=FSR' title="Assessment" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">Assesment</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <a href='/Survery/ClaimForm?fkClaimId=@row["Pk_ID"]&task=Claim' title="Claim Form" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">Claim Form</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="clearfix">

                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="col-md-3">
                                                                                    <a href='/Survery/SurveyVisits?fkClaimId=@row["Pk_ID"]&task=FSR' title="Claim Form" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">FSR</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <a href="/MarineNoClaim/NoClaim?cid=@row["Pk_ID"]" title="No Claim" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">No Claim</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <a href='/Survery/MarineJIR?fkClaimId=@row["Pk_ID"]&task=SpotSurvey' title="Spot Survey Report" style="height:140px;color:white; background-color:darkcyan;">
                                                                                        <span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">Spot Survey</span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="clearfix">

                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="col-md-3">
                                                                                    <a href="/Bill/Bill?cid=@row["Pk_ID"]" title="Bill" style="height:140px;color:white; background-color:darkcyan;"><span
                                                                                                                                                                                                           style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">Bill</span></a>
                                                                                </div>
                                                                                @*<div class="col-md-3">
                                                                                    <a href="/Bill/PaymentReceive?cid=@row["Pk_ID"]" title="Bill" style="height:140px;color:white; background-color:darkcyan;"><span  style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">Payment Receive</span></a>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <a href="/Bill/ReminderForFee?cid=@row["Pk_ID"]" title="Bill" style="height:140px;color:white; background-color:darkcyan;"><span style="text-align: center; font-size:24px;
    vertical-align: middle;
    line-height: 107px;">Reminder For Fee</span></a>
                                                                                </div>*@
                                                                                <div class="clearfix">

                                                                                </div>

                                                                            </div>
                                                                            @*<a href="/Bill/Bill?cid=@row["Pk_ID"]" title="Bill"><span>Bill</span></a>
                                                                                <a href="/Bill/PaymentReceive?cid=@row["Pk_ID"]" title="Bill"><span>Payment Receive</span></a>
                                                                                <a href="/Bill/ReminderForFee?cid=@row["Pk_ID"]" title="Bill"><span>ReminderForFee</span></a>*@
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            }

                                                @*</ul>*@
                                            </div>
                                        }
                                        else
                                        {
                                            <div id='leftmenu'>
                                                <ul>
                                                    @*<li class='active'><a href='#' title="Claim Form" onclick="CreateMarinejir('@row["Pk_ID"]','Claim')"><span>Claim Form</span></a></li>*@
                                                    <li class='active'><a href='/Survery/ClaimForm?fkClaimId=@row["Pk_ID"]&task=Claim' title="Claim Form"><span>Claim Form</span></a></li>

                                                    @*                                                    <li class='active'><a href='#'><span>Actions</span></a>
                                                            <ul>
                                                                <li class='has-sub'><a href='#' title="Claim Form" onclick="CreateMarinejir('@row["Pk_ID"]','FSR')"><span>FSR</span></a></li>

                                                            </ul>
                                                        </li>*@
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



<div>
    <form action="/Survery/MarineJIR" enctype="multipart/form-data" id="form1" method="post">
        <input type="hidden" id="fkClaimId" name="fkClaimId" />
        <input type="hidden" id="CheckOpenTable" name="CheckOpenTable" />
        <input type="hidden" id="task" name="task" />
        <input type="hidden" id="Fk_InsdID" name="Fk_InsdID" />
        <input type="hidden" id="Insd_Type" name="InsdType" />
        <input type="hidden" id="InsdName" name="InsdName" />
        <input type="hidden" id="InsdAddress" name="InsdAddress" />
    </form>
</div>

<div>
    <form action="/Survery/lorwork" enctype="multipart/form-data" id="form2" method="post">
        <input type="hidden" id="fklorClaimId" name="fkClaimId" />
        <input type="hidden" id="Task" name="Task" />
        <input type="hidden" id="FkInsdID" name="FkInsdID" />
        <input type="hidden" id="LORInsdType" name="LORInsdType" />
    </form>
</div>

<div>
    <form action="/Survery/ClaimForm" enctype="multipart/form-data" id="form3" method="post">
        <input type="hidden" id="fkClaimIdFrom" name="fkClaimId" />
        <input type="hidden" id="ClaimFormTask" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/SurveyVisits" enctype="multipart/form-data" id="form4" method="post">
        <input type="hidden" id="fkSurveyVisitsClaimId" name="fkClaimId" />
        <input type="hidden" id="SurveyVisitsTask" name="task" />
    </form>
</div>

<div>
    <form action="/Survery/MarineAssessmentDetails" enctype="multipart/form-data" id="form5" method="post">
        <input type="hidden" id="fkAssesmentClaimId" name="fkClaimId" />
        <input type="hidden" id="AssessmentTask" name="task" />
        <input type="hidden" id="MarineTranshipmentAssessmentType" name="AssessmentType" />
    </form>
</div>
