﻿@model BusinessLayer.Models.CSMarineConsignmentDocs

<div class="form_label">
    <div class="col-3"><span>Consignment Type<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <span><b>@Html.DisplayFor(a => a.ConsimentType, new { @id = "sp_ConsimentType" })</b></span>
    </div>
    <div class="col-6"></div>
</div>

<div class="form_label">
    <div class="col-3"><span>Description of item transit<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextAreaFor(a => a.Description, new { @class = "validate[required,'Please enter description'] TxtboxArea", @maxlength = "250", @autocomplete = "off" })
    </div>

    <div class="col-3"><span>Invoice/STN No<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.InvNo, new { @class = "validate[required,'Please enter inv no'] Txtbox", @maxlength = "30", @autocomplete = "off" })
    </div>
</div>

<div class="form_label">
    <div class="col-3"><span>Invoice/STN Date<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.InvDate, new { @class = "validate[required,'Please enter inv date'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtInvDate" })
    </div>

    <div class="col-3"><span>Invoice Qty<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.InvQty, new { @class = "validate[required,nummber,'Please enter inv qty'] Txtbox", @maxlength = "8", @autocomplete = "off" })
    </div>
</div>

<div class="form_label">
    <div class="col-3"><span>Unit of Measurement<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Uom, new { @class = "validate[required,'Please enter Uom'] Txtbox", @maxlength = "10", @autocomplete = "off" })
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>

<div class="form_label">
    <div class="col-12"><span><b>Invoice/Lorry Receipts</b></span></div>
</div>



<div class="form_label" id="tr_GNNO">
    <div class="col-3"><span>GR/LR NO<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.GRNo, new { @maxlength = "20", @autocomplete = "off" })
    </div>

    <div class="col-3"><span>GR/LR Date<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.GRDate, new { @maxlength = "20", @autocomplete = "off", @id = "txtGNDate" })
    </div>
</div>

<div class="form_label" id="tr_BLNo">
    <div class="col-3"><span>Bill of lading No<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.BLNo, new { @maxlength = "20", @autocomplete = "off" })
    </div>

    <div class="col-3"><span>Bill of lading Date<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.BLDate, new { @maxlength = "20", @autocomplete = "off", @id = "txtBLDate" })
    </div>
</div>

<div class="form_label" id="tr_BENo">
    <div class="col-3"><span>Bill of Entry No<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.BENo, new { @maxlength = "20", @autocomplete = "off" })
    </div>

    <div class="col-3"><span>Bill of entry Date<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.BEDate, new { @maxlength = "20", @autocomplete = "off", @id = "txtBEDate" })
    </div>
</div>

<div class="form_label" id="tr_AWBNo">
    <div class="col-3"><span>Air way Bill No<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.AWBNo, new { @maxlength = "20", @autocomplete = "off" })
    </div>

    <div class="col-3"><span>Air way bill Date<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.AWBDate, new { @maxlength = "20", @autocomplete = "off", @id = "txtAWBDate" })
    </div>
</div>

<div class="form_label" id="tr_RR">
    <div class="col-3"><span>Railway Receipt No<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.RRNo, new { @maxlength = "20", @autocomplete = "off" })
    </div>

    <div class="col-3"><span>Railway Receipt Date<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.RRDate, new { @maxlength = "20", @autocomplete = "off", @id = "txtRRDate" })
    </div>
</div>

<div class="form_label">
    <div class="col-4">
        @*<a href="#" onclick="SendToMarineJIR('@Model.FKClaimId','@Model.Task')" class="btn yellow fl">Back</a>*@
        <a href="/Survery/MarineJIR?fkClaimId=@Model.FKClaimId&task=@Model.Task" class="btn yellow fl">Back</a>
    </div>
    <div class="col-4 t_center">
        <input type="button" id="btnSubmitMarineConsignmentDocs" value="Submit" name="command" class="btn" />
        &nbsp;&nbsp;&nbsp;<a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
    </div>
    <div class="col-4">
        <a href="/Survery/MarineDamageDetails?fkClaimId=@Model.FKClaimId&task=@Model.Task" class="btn yellow fr" id="btnNextDocs">Next</a>
        @*<a href="#" class="btn yellow fr" id="btnNextDocs" onclick="SendToMarineDamageDetails('@Model.FKClaimId','@Model.Task');">Next</a>*@
    </div>
</div>

<div class="grid_body">
    <table class="mygrid" id="tblDoc">
    </table>
</div>


















