﻿@model BusinessLayer.Models.CSMarineJIR

<div class="grid_body">
    <table class="tbllist" id="trCh">
       </table>
</div>
<div class="cb"></div>
<h2>Reason For
</h2>
<div class="form_label" style="display:none;">

    <div class="col-6"><span>@*Descriptive Note*@Cause of Loss

<label class="mandatory">*</label></span></div>
    <div class="col-6">
        @*@Html.TextBoxFor(a => a.CauseOfLoss, new { @class = "validate[required,'Please enter cause of loss'] Txtbox", @maxlength = "499", @autocomplete = "off" })*@
        @Html.DropDownListFor(a => a.CauseOfLoss, new SelectList(BusinessLayer.BLCommon.getCauseOfLoss(), "CauseOfLoss", "CauseOfLoss"))
    </div>
</div>

<div class="form_label">
    <div class="col-6"><span>DELAY IN INTIMATION TO THE INSURERS (IF ANY) AS CLARIFIED BY THE INSURED’S REPRESENTATIVE<label class="mandatory">*</label></span></div>
    <div class="col-6">
        @Html.TextBoxFor(a => a.DelayInIntimation, new { @class = "Txtbox", @maxlength = "499", @autocomplete = "off", @placeholder="Not Applicable" })
    </div>
</div>

<div class="form_label">
    <div class="col-6"><span>DELAY IN TAKING DELIVERY (IF ANY) AS DESCRIBED BY THE CONSIGNEE’S REPRESENTATIVE<label class="mandatory">*</label></span></div>
    <div class="col-6">
        @Html.TextBoxFor(a => a.DelayIntakingDelivery, new { @class = "Txtbox", @maxlength = "499", @autocomplete = "off", @placeholder="Hide in report, if not filled" })
    </div>
</div>

<div class="form_label">
    <div class="col-4">
        @*<a href="#" onclick="SendBBackToMarineDamageDetails('@Model.FKClaimId','@Model.Task')" class="btn yellow fl">Back</a>*@
        <a href="/Survery/MarineDamageDetails?fkClaimId=@Model.FKClaimId&task=@Model.Task"  class="btn yellow fl">Back</a>
    </div>
    <div class="col-4 t_center">
        <a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
    </div>
    <div class="col-4">
        <input type="button" id="btnSaveRemarksClaim" value="Next" name="command" class="btn yellow fr" />
    </div>
</div>
