﻿@model BusinessLayer.Models.CSMarineDamageDetails

<div class="form_label">
    <div class="col-3"><span>Description of affected items<label class="mandatory">*</label></span></div>

    <div class="col-3">
        @Html.HiddenFor(a => a.FKClaimId)
        <select id="drpDestination" class="validate[required,'Please select description'] Drp"></select>
        <span id="spDestination"></span>
    </div>

    <div class="col-3"><span>Affected Quantity<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.AffectedQuantity, new { @class = "validate[required,nummber,'Please enter affected quantity'] Txtbox", @maxlength = "10", @autocomplete = "off" })
    </div>
</div>


<div class="form_label">
    <div class="col-3"><span>Nature of damage
<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @*@Html.TextAreaFor(a => a.Remark, new { @class = "TxtboxArea", @maxlength = "100", @autocomplete = "off" })*@
        @Html.DropDownListFor(a => a.Remark, new SelectList(BusinessLayer.BLCommon.getMarineExConditionPacking(), "ExConditionPacking", "ExConditionPacking"))
    </div>
    <div id="divRO" class="col-3">
        @Html.TextBoxFor(a => a.RemarkOther, new { @class = "Txtbox", @maxlength = "100", @autocomplete = "off" })
    </div>
    
</div>


<div class="form_label">
    <div class="col-4">
        @*<a href="#" onclick="SendBackToMarineConsignmentDoc('@Model.FKClaimId','@Model.Task','@Model.ConsimentType')" class="btn yellow flr">Back</a>*@
        <a  href="/Survery/MarineConsignmentDocs?fkClaimId=@Model.FKClaimId&task=@Model.Task&ConsimentType=@Model.ConsimentType" class="btn yellow flr">Back</a>
    </div>
    <div class="col-4 t_center">
        <input type="button" id="btnSubmitMarineDamageDetails" data-content="0" value="Submit" name="command" class="btn yellow" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
    </div>
    <div class="col-4">
        @*<a href="#" onclick="SendNextMarineConsignmentDoc('@Model.FKClaimId','@Model.Task')" id="btnNextDetails" class="btn yellow fr">Next</a>*@
        <a href="/Survery/MarineRemarksClaim?fkClaimId=@Model.FKClaimId&task=@Model.Task" id="btnNextDetails" class="btn yellow fr">Next</a>
    </div>
</div>


<div class="grid_body">
    <table id="tblDetails" class="mygrid"></table>
</div>