﻿@model BusinessLayer.Models.CSMarineISVR
<style type="text/css">
    /*#tblPhoto tr td {
        border: 1px solid #808080;
    }

    #tblDocument tr td {
        border: 1px solid #808080;
    }*/
    .grid_body table tr:hover td { background-color: transparent !important; }

    @@media(min-width:767px) {
        .btnGeneratePdf {
            position: absolute;
            left: 66.8%;
            bottom: 3.9%;
        }
    }



</style>
<script type="text/javascript">

    $(document).ready(function () {
        var at = '';
        //$('#btnAddNotes').click(function () {
        //    $('#divNotesContainer').append('<div class="form_label"><div class="col-12"><textarea data-id="0"></textarea> </div></div>');
        //})


        $('#btnAddNotes').click(function () {
            $('#mygridBody').append('<tr> <td style="width:10000px;"><input type="hidden"  value="0" name="listNotesId"/><textarea name="listNotes" ></textarea> </td><td  id="btnDeleteNotes"> <img src="/Images/Delete_icon.png" style="width:25px; height:25px;" /></td></tr>');
        })
        $('#btnAddFSRNotes').click(function () {
            $('#mygridBodyFSR').append('<tr> <td style="width:10000px;"><input type="hidden"  value="0" name="listFSRNotesId"/><textarea name="listFSRNotes" ></textarea> </td><td  id="btnDeleteFSRNotes"> <img src="/Images/Delete_icon.png" style="width:25px; height:25px;" /></td></tr>');
        })
        $('#mygridBody').on('click', '#btnDeleteNotes', function () {
           var pk_N_Id = $(this).closest('tr').find("input[type='hidden']").val();


            $(this).closest('tr').remove();
            $.ajax({
                type: "POST",
                url: "/Collaborator/deleteMarineISVRNotes?pk_N_Id="+pk_N_Id,
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                },
                error: function (result) {
                    alert("Error");
                }
            });
        })
        $('#mygridBodyFSR').on('click', '#btnDeleteFSRNotes', function () {
            var pk_FsrN_Id = $(this).closest('tr').find("input[type='hidden']").val();


            $(this).closest('tr').remove();
            $.ajax({
                type: "POST",
                url: "/Collaborator/deleteMarineFSRNotes?pk_FsrN_Id=" + pk_FsrN_Id,
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                },
                error: function (result) {
                    alert("Error");
                }
            });
        })
        function checkTask() {
            //if($('#isvrTask').val()=="FSR")
            console.log('@Model.Task');
            if ('@Model.Task' == "FSR")
            {
                $('#EstimationOfLoss').addClass("validate[required,'Please enter estimation'] Txtbox");
                $('#RecomendedReserve').addClass("validate[required,'Please enter recomended'] Txtbox");
                $('#divFSR').show();
                $('#divISVR').hide();
                $('#divISVRNotes').hide();
            }
           else if ('@Model.Task' == "SpotSurvey") {
                $('#divLossEst').hide();
                $('#divFSR').hide();
                $('#divISVR').hide();
                $('#divISVRNotes').hide();
                $('#btnSendLor').hide();
                
            }
           else if ('@Model.Task' == "ISVR") {
               $('#EstimationOfLoss').addClass("validate[required,'Please enter estimation'] Txtbox");
               //$("#GRNo").addClass("validate[required,'Please Enter gn type no'] Txtbox");
               $('#RecomendedReserve').addClass("validate[required,'Please enter recomended'] Txtbox");
               $('#BasisOfReserve').addClass("validate[required,'Please enter basis of reserve'] Txtbox");
               $('#Remarks').addClass("validate[required,'Please enter remarks'] Txtbox");
                $('#divFSR').hide();
                $('#divISVR').show();
                $('#divFSRNotes').hide();
                
            }

        }
        checkTask();
        $(document).on("click", ".btnAddMoreFile", function () {
            debugger;
            var row = parseInt($("#hdRow").val()) + 1;
            if (row <= 0)
                row = 1;
            var guid = createGuid();
            var rb = "<input type=\"radio\" value=\"Document\" class='rButton' name=\"" + guid + "\" checked/> Document <input class='rButton' type=\"radio\" name=\"" + guid + "\" value=\"Photo\"/> Photo";
            $("#tblDocument tr:last").before("<tr data-type='Document'><td>" + rb + "</td><td><input type=\"file\" name=\"files\" /></td>&nbsp;</td><td><td>Name</td><td><input id=\"txt" + row.toString() + "\" class=\"Txtbox ISVRTextBox\" type=\"text\"></td><td><a href=\"#\" class=\"RemoveTR\"><img src='../Images/Delete_icon.png' style='height:25px;weidth:25px;cursor: pointer;' /></a></td></tr>");
            $("#hdRow").val(row.toString());
            return false;
        });

        $(document).on("click", ".RemoveTR", function () {
            var len = $("#tblDocument tr").length;
            if (len >= 2) {
                var tr = $(this).closest("tr");
                var PkId = tr.attr("Id");
                tr.remove();
                var row = parseInt($("#hdRow").val()) - 1;
                if (row <= 0)
                    row = 1;
                $("#hdRow").val(row.toString());
                if (PkId != undefined) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ISVRPhotoDocumentRemove", "Collaborator")',
                        data: { "PkId": PkId, "FkClaimId": $("#FkClaimId").val() },
                        dataType: "json",
                        success: function (result) {

                        },
                        error: function (result) {
                            alert("Error");
                        }
                    });
                }
            }
            return false;
        });

        $("#btnSubmitMarineISVR").click(function () {
            @*$('#trNotesContainer textarea').each(function (index, element) {
                n.PK_N_ID = $(element).attr('data-id');
                n.Notes = $(element).val();
                listNt.push(n);
            })
            var p = { listNt: listNt, id: '@Model.FkClaimId' };
            $.ajax({
                type: "POST",
                url: '/Collaborator/saveMarineISVRNotes',
                data: p,
                dataType: "json",
                contentType: "application/json",
                async: true,
                success: function (res) {
                },
                error: function (err) {
                    //alert(err.statusText);
                }
            });*@

            var x = $("#form6");
            var status = $(x).ValidationFunction();
            if (status == true) {
                //var listNt = [];
                var n = {};
                debugger;

                var name = "", imgType = "";
                $(".ISVRTextBox").each(function () {
                    name += $(this).val() + "#";
                    imgType += $(this).closest("tr").attr("data-type") + "#";
                });
                $("#PhotoDocumentName").val(name);
                $("#ImgType").val(imgType);
            }
            else {
                return false;
            }
        });

        //$("#btnSubmitMarineISVRNext").click(function () {
        //    $("#fkAssesmentClaimId").val($("#FkClaimId").val());
        //    $("#AssessmentTask").val("AS");
        //    $("#form_MarineAssessmentDetails").submit();
        //});

        $("#btnSubmitMarineISVRBack").click(function () {
            var claimId = $(this).attr("data-claimId");
            var task = $(this).attr("data-tak");
            SendToBackLOR(claimId, task);
        })

        $(document).on("click", ".img", function () {
            var src = $(this).attr("src");
            var htmlTable = "<div> <img src=" + src + " alt='' style=\"height:180px;width:180px\" /> </div>";
            var div = $("<a href=\"#popup\" id=\"pop\"></a><a href=\"#x\" class=\"overlay\" id=\"popup1\"></a><div class=\"popup\"><div id=\"ViewImg\"></div><a class=\"close\" href=\"#close\"></a></div>");
            $(div).appendTo("body");
            $("#ViewImg").empty();
            $("#ViewImg").append(htmlTable);
            window.location = "#popup1";
        });
        if ('@Model.Task'.toLowerCase() == "FSR".toLowerCase()) {

            $("#btnGenratePrviewISVR").show();
            $("#btnGenratePrviewISVR").show();
            $("#btnSendLORISVR").hide();
            $("#emlbLossEst").html("Insured Final Claim");
            $("#emText").html("Loss Reserve Recommended in our earlier report(s)");
            $("#emText1").html("Net Assessed/Adjusted Loss");
            $('#EstimationOfLoss').attr("disabled", "disabled");
            $("#emlbRem").html("Surveyor's Final Remarks/Recommendations");
            //$("#btnSubmitMarineISVRNext").hide();
        } else {
            $("#btnGenratePrviewISVR").show(); emlbLossEst
            $("#emlbLossEst").html("Initial Loss Estimation by the Insured(₹)");
            $("#emText").html("Loss reserve recommendation to the Insurers(₹)");
            $("#emText1").html("Basis of loss reserve recommendation");
            $("#emlbRem").html("Surveyor Remarks 1");
            //$("#btnSubmitMarineISVRBack").hide();
            //  $("#btnSubmitMarineISVRNext").hide();
        }


        $(document).on('change', '.rButton', function () {
            var rbVl = $(this).val();
            $(this).closest("tr").attr("data-type", rbVl);
        });



        $('#btnFSRChecked').click(function(){
       
            $.ajax({
                type: "POST",
                url: "/Collaborator/saveTaskManager?claimId='@Model.FkClaimId'&shortName=BD",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                },
                error: function (result) {
                    console.log(result);
                }
            });
        })


        
   
        @*var testArr = '';
        $('#btnTesting').click(function () {
            var t = '@Model.listNt';
            console.log(t);
            $.each(t, function (i, e) {
                console.log(e);
            })*@
        @*$('@Model.listNt').each(function () {
                //$('#divNotesContainer').append('<div class="form_label"><div class="col-12"><textarea data-id="0"></textarea>'+element.Notes+' </div></div>');
            })*@
        //alert();


        //satender sir start
        //    $('#divNotesContainer textarea').each(function (index, element) {
        //        var id = $(element).attr('data-id');
        //        var val = $(element).val();

        //        if (($(this).val()) != 'undefined') {
        //            alert($(this).val());
        //            testArr += ($(this).val()) + ',';
        //            $('#divNotesContainerTest').append('<div class="form_label"><div class="col-12"><textarea data-id="0">' + $(this).val() + '</textarea> </div></div>');
        //        }
        //    })
        //    //console.log(testArr);
        //})
        //
        //end

        @*var t=@Model.listNt;
        $(t).each(function(index,element){
            //$('#divNotesContainer').append('<div class="form_label"><div class="col-12"><textarea data-id="0"></textarea>'+element.Notes+' </div></div>');
        })*@
        @*$('@Model.listNt').each(function () {
            //$('#divNotesContainer').append('<div class="form_label"><div class="col-12"><textarea data-id="0"></textarea>'+element.Notes+' </div></div>');
        })*@
        function getTotalAmountA_byClaimId(FKClaimId) {
            debugger;
            $.ajax({
                type: "Get",
                url: '/Collaborator/getTotalAmountA_byClaimId?claimId=' + FKClaimId,
                data: {},
                dataType: "json",
                async: true,
                success: function (result) {
                    console.log(result);
                    var totalAmountA = result.totalAmountA;
                    $('#NetAssLoss').val(totalAmountA);
                },
                error: function (result) {

                }
            })
        }
        $("#btnGeneratePDF_MarineJIR").click(function () {

            var claimId = $(this).attr("data-claimid");
            var InsdType = $(this).attr("data-insdtype");
            var InsdID = $(this).attr("data-insdid");
            var Task = $(this).attr("data-task");
            alert(Task);
            $('#Modal_GeneratePDF_MarineJIR').modal('show');
            $('.modal').on('shown.bs.modal', function () {
                $(this).find('iframe').attr('src', "/Survery/GeneratePdf?ClaimID=" + claimId + "&InsdType=" + InsdType + "&InsdID=" + InsdID + "&Task=" + Task);
            })
        });

        getTotalAmountA_byClaimId(@Model.FkClaimId);


    });
</script>
@*<script>
        $(window).load(function () {
            console.log('@Model.listNt');
            $('@Model.listNt').each(function () {
                //$('#divNotesContainer').append('<div class="form_label"><div class="col-12"><textarea data-id="0"></textarea>'+element.Notes+' </div></div>');
            })
        })
    </script>*@

@functions{
    public static string BindDocument(string FkClaimId)
    {
        string htmlTable = string.Empty;
        System.Text.StringBuilder sbTable = new System.Text.StringBuilder();
        sbTable.Append("<tr><td><input type=\"hidden\" value=\"#val\" id=\"hdRow\" /></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td><a href=\"#\" class=\"btnAddMoreFile\"><img src='../Images/addicon.png' /></a></td></tr>");
        int totalRow = 0;
        System.Data.DataTable dt = BusinessLayer.BLGenrateClaim.GetMarineISVRDocument(Convert.ToString(FkClaimId));
        for (int row = 0; row < dt.Rows.Count; row++)
        {
            //if (dt.Rows[row]["ImgType"].ToString().ToLower() == "document")
            //{
            //    sbTable.Append("<tr Id=" + dt.Rows[row]["PK_ID"].ToString() + " data-type='" + dt.Rows[row]["ImgType"].ToString() + "'><td>Document</td><td><input type=\"file\" name=\"files\" />");
            //    sbTable.Append("</td><td><img src=" + "/MarineISVRPhotos/" + dt.Rows[row]["PhotoPath"] + " class=\"img\" alt='' style=\"height:30px;width:30px;cursor: pointer;\" />");
            //    sbTable.Append("</td><td>Name</td><td>");
            //    sbTable.Append("<input class=\"Txtbox ISVRTextBox\" type=\"text\" value='" + dt.Rows[row]["PhotoName"] + "' id=" + "txt_" + dt.Rows[row]["RowNumber"] + "/></td><td><a href=\"#\" class=\"RemoveTR\"><img src='../Images/Delete_icon.png' style='height:25px;weidth:25px;'/></a></td></tr>");
            //}
            //else
            //{
            string rb = "";
            string na = Guid.NewGuid().ToString();
            if (dt.Rows[row]["ImgType"].ToString().ToLower() == "document")
            {

                rb = "<input type=\"radio\" class='rButton' name=\"" + na + "\" value=\"Document\" checked/> Document <input class='rButton' name=\"" + na + "\" type=\"radio\" value=\"Photo\"/> Photo";
            }
            else
            {
                rb = "<input type=\"radio\" class='rButton' name=\"" + na + "\"  value=\"Document\"/> Document <input class='rButton' name=\"" + na + "\" checked type=\"radio\" value=\"Photo\"/> Photo";
            }


            sbTable.Append("<tr Id=" + dt.Rows[row]["PK_ID"].ToString() + " data-type='" + dt.Rows[row]["ImgType"].ToString() + "' ><td>" + rb + "</td><td><input type=\"file\" name=\"files\" />");
            sbTable.Append("</td><td><img src=" + "/MarineISVRPhotos/" + dt.Rows[row]["PhotoPath"] + " class=\"img\" alt='' style=\"height:30px;width:30px;cursor: pointer;\" />");
            sbTable.Append("</td><td>Name</td><td>");
            sbTable.Append("<input class=\"Txtbox ISVRTextBox\" type=\"text\" value='" + dt.Rows[row]["PhotoName"] + "' id=" + "txt_" + dt.Rows[row]["RowNumber"] + "/></td><td><a href=\"#\" class=\"RemoveTR\"><img src='../Images/Delete_icon.png' style='height:25px;weidth:25px;'/></a></td></tr>");
            //  }


            totalRow++;

        }
        if (totalRow == 0)
        {
            //sbTable.Append("<tr data-type='Document'><td>Document</td><td><input type=\"file\" name=\"files\" /></td><td>&nbsp;</td><td>Document Name</td><td><input class=\"Txtbox ISVRTextBox\" type=\"text\" id=\"txt0\"></td><td><a href=\"#\" class=\"RemoveTR\"></a></td></tr>");
            sbTable.Replace("#val", totalRow.ToString());
        }
        else
        {
            sbTable.Replace("#val", "1");
        }
        htmlTable = Convert.ToString(sbTable);
        return htmlTable;
    }
}

@Html.HiddenFor(a => a.FkClaimId)
@Html.HiddenFor(a => a.PhotoDocumentName)
@Html.HiddenFor(a => a.ImgType)
@Html.HiddenFor(a => a.Task)


<input type="hidden" value="@Model.Task" id="isvrTask" />

<input type="hidden" value="@Request.QueryString["fkClaimId"]" id="cid" />
<input type="hidden" value="@Request.QueryString["task"]" id="task" />
@*input type="hidden" value="@Model.InsdType" id="insdType"/>
<input type="hidden"  value="@Model.InsdId" id="insdId"/>*@

<div class="form_label" id="divLossEst">
    <div class="col-2"><span><em id="emlbLossEst">
        Loss Estimation by the Insured</em><label class="mandatory">*</label></span></div>
    <div class="col-4">
        @*@Html.TextBoxFor(a => a.EstimationOfLoss, new { @class = "validate[required,'Please enter estimation'] Txtbox", @maxlength = "20", @autocomplete = "off" })*@
        @Html.TextBoxFor(a => a.EstimationOfLoss, new { @maxlength = "20", @autocomplete = "off" })
    </div>

    <div class="col-2"><span><em id="emText">Loss Reserve Recommended in our earlier report(s)</em><label class="mandatory">*</label></span></div>
    <div class="col-4">
        @*@Html.TextBoxFor(a => a.RecomendedReserve, new { @class = "validate[required,'Please enter recomended'] Txtbox", @maxlength = "100", @autocomplete = "off" })*@
        @Html.TextBoxFor(a => a.RecomendedReserve, new { @maxlength = "100", @autocomplete = "off" })
    </div>
</div>

<div class="form_label" id="divISVR">
    <div class="col-2"><span><em id="emText1">Net Assured/Adjusted Loss</em><label class="mandatory">*</label></span></div>
    <div class="col-4">
        @*@Html.TextBoxFor(a => a.BasisOfReserve, new { @class = "validate[required,'Please enter basis of reserver'] Txtbox", @maxlength = "100", @autocomplete = "off" })*@
        @Html.TextBoxFor(a => a.BasisOfReserve, new { @maxlength = "100", @autocomplete = "off" })
    </div>

    @*<div class="col-2"><span><em id="emlbRem">Recommendations</em><label class="mandatory">*</label></span></div>
    <div class="col-4">
        @Html.TextAreaFor(a => a.Remarks, new { @maxlength = "100", @autocomplete = "off" })
    </div>*@
</div>
<div class="form_label" id="divFSR">
    <div class="col-2">
       <span>Net Assessed/Adjusted Loss</span>
    </div>
    <div class="col-4">
        <input type="text" id="NetAssLoss" disabled />
    </div>
    @*<div class="col-2">
        <span>Surveyors final remarks </span>
    </div>
    <div class="col-4">
        @Html.TextAreaFor(a => a.SurveyorsFinalRemarks, new { @maxlength = "500", @autocomplete = "off" })
    </div>*@
</div>



<div class="grid_body table-responsive" style="max-height:400px;" id="divISVRNotes">
    <table class="mygrid">
        <thead>
            <tr>
                <th style="width:10000px;">
                   Observation/Remarks
                </th>
            
                <th id="btnAddNotes"><img src="~/Images/addicon.png" style="width:20px; height:20px;" /></th>

            </tr>
        </thead>
        <tbody id="mygridBody">

 
                @{
                    if (Model.listNt!=null)
                    {
                        foreach (BusinessLayer.Models.CSMarineISVRNotes row in Model.listNt)
                        {
                        <tr>
                        <td style="width:10000px;"><input type="hidden"  value="@row.PK_N_ID" name="listNotesId"/><textarea name="listNotes" >@row.Notes</textarea> </td>
                            <td  id="btnDeleteNotes"> <img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                            </tr>
                            }
                        }

                    }


        </tbody>
    </table>
</div>

<div class="grid_body table-responsive" style="max-height:400px;" id="divFSRNotes">
    <table class="mygrid">
        <thead>
            <tr>
                <th style="width:10000px;">
                Notes
                </th>

                <th id="btnAddFSRNotes"><img src="~/Images/addicon.png" style="width:20px; height:20px;" /></th>

            </tr>
        </thead>
        <tbody id="mygridBodyFSR">


            @{
                if (Model.listFSRNt != null)
                {
                    foreach (BusinessLayer.Models.CSMarineISVRNotes row in Model.listFSRNt)
                    {
                        <tr>
                            <td style="width:10000px;"><input type="hidden" value="@row.PK_FsrN_ID" name="listFSRNotesId" /><textarea name="listFSRNotes">@row.Notes</textarea> </td>
                            <td id="btnDeleteFSRNotes"> <img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                        </tr>
                    }
                }

            }


        </tbody>
    </table>
</div>


<div class="form_label">
    <div class="col-12"><span><b>Upload Photos</b></span></div>
</div>

<div class="grid_body">
    <table class="mygrid" id="tblDocument">
        @Html.Raw(BindDocument(Convert.ToString(Model.FkClaimId)))
    </table>
</div>

<div class="form_label">
    <div class="col-3">
        <input type="button" id="btnSubmitMarineISVRBack" data-claimId="@Model.FkClaimId" data-tak="@Model.Task" value="Back" name="command" class="btn yellow" />
        @*<a href="/Survery/lornew?cid=&task=@Model.Task" class="btn yellow fl">Back</a>*@
    </div>
    <div class="col-9 t_center">
        <input type="submit" id="btnSubmitMarineISVR" value="Submit" name="command" class="btn yellow" />
        &nbsp;&nbsp;
        <button type="button" class="btn btn-info btnGeneratePdf" ng-click="show_modal_GeneratePDF()">Generate Preview</button>
        &nbsp;&nbsp;
        <a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
        &nbsp;&nbsp;
        
       <button type="button" class="btn btn-warning" id="btnFSRChecked" ng-show="e.Task=='FSR'">FSR Checked</button>
        @*<input type="button" id="btnGenratePrviewISVR" value="Genrate Preview" data-claimid="@Model.FkClaimId" data-insdtype="@Model.InsdType" data-insdid="@Model.InsdId" data-task="@Model.Task" name="command" class="btn yellow" />*@
        @*<input type="button" id="btnGeneratePDF_MarineJIR" value="Generate Preview" data-claimid="@Model.FkClaimId" data-insdtype="@Model.InsdType" data-insdid="@Model.InsdId" data-task="@Model.Task" name="command" class="btn yellow" />
        &nbsp;&nbsp;&nbsp;&nbsp;*@
        @*<input type="button" id="btnSendEmail" value="Send Email" data-claimid="@Model.FkClaimId" data-insdtype="@Model.InsdType" data-insdid="@Model.InsdId" data-task="@Model.Task" name="command" class="btn yellow" />
        &nbsp;&nbsp;&nbsp;&nbsp;*@
        @*<input type="button" id="btnSendLORISVR" value="Send LOR" data-claimid="@Model.FkClaimId" data-insdtype="@Model.InsdType" data-insdid="@Model.InsdId" data-task="LOR" name="command" class="btn yellow" />*@
        <a href="/Survery/lorwork?fkClaimId=@Model.FkClaimId&task=@Model.Task" id="btnSendLor" class="btn yellow fr">Send LOR</a>
        
    </div>
</div>

<div>
    @*<input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <input type="hidden" value="@Request.QueryString["task"]" id="task" />*@
    
    <div class="modal fade" id="modal_GeneratePDF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title  pull-left" style="display:inline;" id="exampleModalLabel">{{e.Task}}</h4>
                    <button type="button" class="btn btn-info col-md-offset-1" ng-click="show_Modal_SendMail()">Send Mail</button>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src='' allowfullscreen></iframe>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_SendMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" @*style="width:130%; margin-left:-130px;"*@>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Send Mail</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-1">
                                <span>
                                    To
                                </span>
                            </div>
                            <div class="col-md-5">
                                <label><input type="checkbox" ng-model="e.ToInsured" ng-change="e.CCInsured=e.ToInsured;setEmailId()" />Insured </label>
                                <label><input type="checkbox" ng-model="e.ToInsurers" ng-change="e.CCInsurers=e.ToInsurers;setEmailId()" />Insurers </label>{{ToInsurers}}
                                <label><input type="checkbox" ng-model="e.ToBrokers" ng-change="e.CCBrokers=e.ToBrokers;setEmailId()" />Brokers </label>{{ToBrokers}}
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="form-group">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5 table-responsive" style="max-height:150px;">
                                <input type="text" id="ToEmailIds" value="">



                                <div id="ToEmailIds_Val" style="display:none;">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1">
                                <span>
                                    CC
                                </span>
                            </div>
                            <div class="col-md-5">

                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToInsured==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToInsured"
                                           ng-model="e.CCInsured" />Insured

                                </label>

                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToInsurers==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToInsurers"
                                           ng-model="e.CCInsurers" />Insurers
                                </label>
                                <label>
                                    <input type="checkbox" ng-change="setEmailId()"
                                           @*ng-checked="e.ToBrokers==true"*@
                                           ng-disabled="!e.ToInsured && !e.ToInsurers && !e.ToBrokers || e.ToBrokers"
                                           ng-model="e.CCBrokers" />Brokers
                                </label>

                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="form-group">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5 table-responsive" style="max-height:150px;">
                                @*<textarea cols="3" ng-model="e.CCEmailIds">

                                    </textarea>*@

                                <input type="text" id="CCEmailIds" value="">



                                <div id="CCEmailIds_Val" style="display:none;">

                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <div class="col-md-3">
                                <sapn>
                                    Set Frequency of Reminder
                                </sapn>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="e.FrequencyOfReminder" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="sendEmail_saveEmailLog()" style="float:left;">Send Mail</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
