﻿@model BusinessLayer.Models.CSGenrateClaim
<script>
    $(document).ready(function () {
        var des = $('#drpDestination');
        var destOptions = '';
        function BindDestination(FKClaimId) {

            console.log('fkid' + FKClaimId);
            //debugger;
            $.ajax({
                type: "POST",
                url: ajaxLink.MarineGetDescriptionConsignmentDocs,
                data: { "fkClaimId": FKClaimId },
                dataType: "json",
                async: true,
                success: function (result) {
                    console.log(result);
                    destOptions = "<option value='Select'>Select</option>";
                    destOptions += result;
                    var select = '<select id="drpDest">' + destOptions + ' </select>'

                    $('#tdDDLDest').html(select);

                },
                error: function (result) {
                    alert("Error");
                }
            });
        }
        var claimId = $('#hdnClaimId').val();
        var tempId = 0;
        BindDestination(claimId);

        $('#btnAddAssessment').click(function () {
            //var txtMD_ID = $(this).closest('tr').find('#txtMD_ID').val();
            //if (txtMD_ID == 0) {
            //    //console.log($('#drpDestination'));
            var txtFKClaimId = $('#hdnClaimId').val();
            console.log(txtFKClaimId);
            debugger;
            var drpDestination = $(this).closest('tr').attr('Id');
            var txtAffectedQuantity = 0;
            var objProperty = {
                FKClaimId: txtFKClaimId,
                FKDesId: drpDestination,
                AffectedQuantity: txtAffectedQuantity
            };
            $.ajax({
                type: "POST",
                url: ajaxLink.MarineSubmitDamageDetails,
                data: JSON.stringify(objProperty),
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    location.reload();
                },
                error: function (result) {
                    alert("Error");
                }
            });
            //}



            //var destSelect = '<select class="drpDest">' + destOptions + ' </select>';

            //////$('#tbAssessment').append(des,'<tr> <td> </td></tr>');
            //$('#tbAssessment').append('<tr Id=0> <td>' + destSelect + '</td> <td></td><td></td><td></td><td></td><td></td><td><input type="text" id="txtAffectedQuantity" class="number" style="width:50px" ></td><td><input type="text" class="number" id="txtUnitRate" style="width:50px"></td><td><input type="text" id="txtAmount" style="width:50px" readonly></td><td><button type="button" class="btnRemoveAssessment"> <img src="/Images/Delete_icon.png" style="width:20px; height:20px;" /></button></td></tr>');

            //$('#tbAssessment').append('<tr Id=0> <td>' + destSelect + '</td> <td></td><td></td><td></td><td></td><td></td><td><input type="text" id="txtAffectedQuantity" class="number" style="width:50px" ></td><td><input type="text" class="number" id="txtUnitRate" style="width:50px"></td><td><input type="text" id="txtAmount" style="width:50px" readonly></td><td><button type="button" id="btnAddAssessment"> <img src="/Images/Delete_icon.png" style="width:20px; height:20px;" /></button></td><td style="display:none"><input type="text" id="txtMD_ID" value="0" /> </td></tr>');

        })


        $('#tbAssessment').on('click', 'tr .btnRemoveAssessment', function () {
            $(this).closest('tr').remove();
        })

        $('#tblGrid').on('change', '#drpDest', function () {
            var invNo = $('option:selected', this).attr('data-invno');
            var invDT = $('option:selected', this).attr('data-invdt');
            var invqty = $('option:selected', this).attr('data-invqty');
            var uom = $('option:selected', this).attr('data-uom');
            tempId = $('option:selected', this).attr('value');
            console.log(tempId);
            $(this).closest('tr').attr('Id', tempId);

            $(this).parent('td').next('td').html(invNo);
            $(this).parent('td').next('td').next('td').html(invDT);
            $(this).parent('td').next('td').next('td').next('td').html(invqty);
            $(this).parent('td').next('td').next('td').next('td').next('td').html(uom);
            $(this).parent('td').next('td').next('td').next('td').next('td').next('td').html(0);
            //$(this).closest('tr').find('td').next('td').next('td').val(00);
            //$(this).closest('tr').remove();
        })


        function subTotal() {

            var subTotal = 0;
            //$('#tbAssessment').find("tr :not #txtAmount").each(function (index, element) {
            $('#tbAssessment tr #txtAmount').not(":last").each(function (index, element) {

                subTotal += parseFloat($(this).val());
                $('#SubTotal').html(subTotal);
                console.log(subTotal);
            })
            $('#tbAssessmentFSR tr #txtAmount').not(":last").each(function (index, element) {

                subTotal += parseFloat($(this).val());
                $('#SubTotal').html(subTotal);
                console.log(subTotal);
            })
            $('#SubTotal').html(subTotal);
        }
        subTotal();




        //$('#TotalAa').click(function () {
        //    //alert();
        //    //console.log("hello");
        //        //$('#txtAmount').each(function (index,element) {
        //        //    console.log($(this).val());

        //    //})
        //    $('#tbAssessment').find("tr #txtAmount").each(function (index, element) {

        //        console.log($(this).val());

        //    })
        //})
        $(document).on('keyup', '#txtRate', function () {
            var Amount = 0;
            if ($(this).val() > 0) {
                Amount = 0;
                $('#txtTax').prop('disabled', true);

                Amount = parseFloat($('#GrandTotalVal').html()) * parseFloat($(this).val()) / 100;
                console.log(Amount);
                Amount = Amount.toFixed(2);
                $('#txtTax').val(Amount);
            }
            else {
                Amount = 0;
                $('#txtTax').prop('disabled', false);
                $('#txtTax').val(Amount);
            }
        })

        //directive using for number type
        $('.number').keypress(function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
               ((event.which < 48 || event.which > 57) &&
               (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });

        $('.number').bind("paste", function (e) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + 3));
                }
            }
            else {
                e.preventDefault();
            }
        });
    })
</script>


<script type="text/javascript">
    //var Task;
    $(window).load(function () {
        TotalAmount();
        if ('@Model.Task' == "FSR") {

            $("#btnFinalSubmit").val("Submit");

            //$("heading").html("Assessment");
        } else {
            $("#btnFinalSubmit").val("Final Submit");
            //$("heading").html("Claim Bill");
        }
        if ('@Model.Task' == "Claim") {
            $('#tblPopUp').hide();
            $('#tblPopTotal').hide();
        }

        //$('#tbAssessment').append('<tr Id=0> <td>' + destSelect + '</td> <td></td><td></td><td></td><td></td><td></td><td><input type="text" id="txtAffectedQuantity" class="number" style="width:50px" ></td><td><input type="text" class="number" id="txtUnitRate" style="width:50px"></td><td><input type="text" id="txtAmount" style="width:50px" readonly></td><td><button type="button" class="btnRemoveAssessment"> <img src="/Images/Delete_icon.png" style="width:20px; height:20px;" /></button></td></tr>');

        //$("heading").html("Marine Assessment Details");

        //BindDestination(a.FkClaimId);
    });
</script>
<link href="~/Scripts/calculater/calculater.css" rel="stylesheet" />
<script src="~/Scripts/calculater/calculater.js"></script>

@Html.HiddenFor(a => a.Task, new { @id = "hdTask" })
@Html.HiddenFor(a => a.FkClaimId, new { @id = "hdFkClaimId" })
@*<button type="button" id="btnAddAssessment">Add</button>*@
<div style="display:none;">

</div>
@*<button type="button" id="TotalAa">TotalCount</button>*@


@if (Model.AssessmentType == "CL")
{
    <div class="form_label">
        <div class="col-12 fl">
            <div class="mt10">
                <a href="#" id="BackToAssessment" class="btn yellow">Back</a>
            </div>
        </div>
    </div>

    <div class="grid_body">
        <table class="mygrid" id="tblGrid">
            <thead>
                <tr id="tr_0">
                    <th>Description</th>
                    <th>InvNo</th>
                    <th>InvDate</th>
                    <th>InvQty</th>
                    <th>UOM</th>
                    <th>Affected Quantity Initial</th>
                    <th>Affected Quantity Revised</th>
                    <th>Unit Rate</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tbAssessment">
                @{
                    int totalCount = (ViewBag.AssessmentDetails as System.Data.DataTable).Rows.Count - 1;
                    int count = 0;
                }

                @foreach (System.Data.DataRow row in (ViewBag.AssessmentDetails as System.Data.DataTable).Rows)
                {
                    <tr id='@row["PK_ID"]'>
                        <td>@row["Description"]</td>
                        <td>@row["InvNo"]</td>
                        <td>@row["InvDate"]</td>
                        <td>@row["InvQty"]</td>
                        <td>@row["UOM"]</td>
                        <td>@row["AffectedQuantity"]</td>
                        <td>@Html.TextBoxFor(a => a.AffectedQuantityC, new { @Value = @row["AffectedQuantityC"], @calss = "validate[nummber,'Please enter period'] Txtbox", @style = "width:50px", @id = "txtAffectedQuantity", @class = "number" })</td>
                        <td>@Html.TextBoxFor(a => a.UnitRateC, new { @Value = @row["UnitRateC"], @calss = "validate[nummber,'Please enter period'] Txtbox", @style = "width:50px", @id = "txtUnitRate", @class = "number" })</td>
                        <td>@Html.TextBoxFor(a => a.AmountC, new { @Value = @row["AmountC"], @calss = "validate[nummber,'Please enter period'] Txtbox", @style = "width:50px", @readonly = true, @id = "txtAmount" })</td>
                        <td style="display:none"><input type="text" id="txtMD_ID" value="@row["MD_ID"]" /> </td>
                        <td style="display:none"><input type="text" id="txtAD_ID" value="@row["PK_AD_ID"]" /> </td>
                        @*@if (totalCount == count)
                            {
                                <td><button type="button" id="btnAddAssessment"><a> <img src="~/Images/addicon.png" /></a></button></td>
                            }
                            else
                            {
                                <td></td>
                            }*@


                    </tr>

                    count++;
                }
                <tr Id=0>
                    <td id="tdDDLDest"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" id="txtAffectedQuantity" class="number" style="width:50px"></td>
                    <td><input type="text" class="number" id="txtUnitRate" style="width:50px"></td>
                    <td><input type="text" id="txtAmount" style="width:50px" readonly></td>
                    <td><button type="button" id="btnAddAssessment"><a><img src="~/Images/addicon.png" /></a></button></td>
                </tr>
                @*<tr Id=0> <td><select class="drpDest"></select> </td> <td></td><td></td><td></td><td></td><td></td><td><input type="text" id="txtAffectedQuantity" class="number" style="width:50px"></td><td><input type="text" class="number" id="txtUnitRate" style="width:50px"></td><td><input type="text" id="txtAmount" style="width:50px" readonly></td><td><button type="button" class="btnRemoveAssessment"> <img src="/Images/Delete_icon.png" style="width:20px; height:20px;" /></button></td></tr>*@

                @*<tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td id="SubTotal"></td>
                    </tr>*@
            </tbody>
        </table>
        @*<b style="margin-left:1392px;">Sub-Total:- <label id="SubTotal"></label></b>*@
    </div>

                    }
                    else
                    {

                        <div class="grid_body">
                            <table class="mygrid" id="tblGrid">
                                <thead>
                                    <tr id="tr_0">
                                        <th>Description</th>
                                        <th>InvNo</th>
                                        <th>InvDate</th>
                                        <th>InvQty</th>
                                        <th>UOM</th>
                                        @*<th>Affected Quantity</th>*@
                                        <th>Affected Quantity Claimed</th>
                                        <th>Unit Rate Claimed</th>
                                        <th>Amount Claimed</th>
                                        <th>Affected Quantity Assessed</th>
                                        <th>Unit Rate Assessed</th>
                                        <th>Amount Assessed</th>
                                    </tr>
                                </thead>
                                <tbody id="tbAssessmentFSR">
                                    @foreach (System.Data.DataRow row in (ViewBag.AssessmentDetails as System.Data.DataTable).Rows)
                                    {
                                        <tr id='@row["PK_ID"]'>
                                            <td>@row["Description"]</td>
                                            <td>@row["InvNo"]</td>
                                            <td>@row["InvDate"]</td>
                                            <td>@row["InvQty"]</td>
                                            <td>@row["UOM"]</td>
                                            @*<td>@row["AffectedQuantity"]</td>*@
                                            <td>@Html.TextBoxFor(a => a.AffectedQuantityC, new { @Value = "" + row["AffectedQuantityC"] + "", @calss = "Txtbox", @readonly = true, @style = "width:50px" })</td>
                                            <td>@Html.TextBoxFor(a => a.UnitRateC, new { @Value = "" + row["UnitRateC"] + "", @calss = "Txtbox", @readonly = true, @style = "width:50px" })</td>
                                            <td>@Html.TextBoxFor(a => a.AmountC, new { @Value = "" + row["AmountC"] + "", @calss = "Txtbox", @readonly = true, @style = "width:70px" })</td>
                                            <td>@Html.TextBoxFor(a => a.AffectedQuantityA, new { @Value = "" + row["AffectedQuantityA"] + "", @calss = "Txtbox", @style = "width:50px", @id = "txtAffectedQuantity", @class = "number" })</td>
                                            <td>@Html.TextBoxFor(a => a.UnitRateA, new { @Value = "" + row["UnitRateA"] + "", @calss = "Txtbox", @style = "width:50px", @id = "txtUnitRate", @class = "number" })</td>
                                            <td>@Html.TextBoxFor(a => a.AmountA, new { @Value = "" + row["AmountA"] + "", @calss = "Txtbox", @style = "width:70px", @id = "txtAmount" })</td>
                                            <td style="display:none" data-md-id="txtMD_ID=@row["MD_ID"]" id="=@row["MD_ID"]"><input type="text" id="txtMD_ID" value="@row["MD_ID"]" /></td>
                                            <td style="display:none"><input type="text" id="txtAD_ID" value="@row["PK_AD_ID"]" /> </td>
                                        </tr>
                                    }
                                    <tr></tr>
                                    @*<tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Total</td>
                                            <td id="SubTotal"></td>
                                        </tr>*@
                                </tbody>
                            </table>
                            @*<b style="margin-left:1466px;">Sub-Total:-<label id="SubTotal"></label></b>*@
                            @*<span style="float:right; margin-right:10px;">Total</span>
                                <span style="float:right;">Total</span>*@
                        </div>
                    }
<b style="margin-left:1392px;">Sub-Total:-<label id="SubTotal"></label></b>
@*<div class="form_label">
        <div class="col6 fl">
            <a href="#popup1">View Adjusted amount by Insured</a>
        </div>
        <div class="col6 fr">
            <b>Total:-
                <label id="totalVal"></label>
            </b>
        </div>
    </div>*@


<div class="form_label" style="overflow: scroll !important">
    <div class="col-3">
        @*<div class="calc">
            <p>Calculater</p>
            <div class="calc-in">
                <input id="display" type="text" class="Txtbox" value="0" disabled="1">
                <div class="num-wrap">
                    <button id="n7" value="7">7</button>
                    <button id="n8" value="8">8</button>
                    <button id="n9" value="9">9</button>
                    <button id="ndiv" value="/">/</button>
                    <button id="nmod" value="%">%</button>
                    <button id="n4" value="4">4</button>
                    <button id="n5" value="5">5</button>
                    <button id="n6" value="6">6</button>
                    <button id="nmul" value="*">*</button>
                    <button id="nC" value="c">C</button>
                    <button id="n1" value="1">1</button>
                    <button id="n2" value="2">2</button>
                    <button id="n3" value="3">3</button>
                    <button id="nsub" value="-">-</button>
                    <button id="neq" value="=">=</button>
                    <button id="n0" value="0">0</button>
                    <button id="nP" value=".">.</button>
                    <button id="nadd" value="+">+</button>
                    <input type="button" value="Use Value" style="height: 20px;" class="btn" id="btnGetValue" />
                </div>
            </div>*@

        <div class="grid_body">
            <table class="mygrid" id="tblPopUp">
                <thead>
                    <tr>
                        <th>Operation</th>
                        <th>Particular</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.GetMarineAssesmentPOP != null)
                    {
                        foreach (System.Data.DataRow row in (ViewBag.GetMarineAssesmentPOP as System.Data.DataTable).Rows)
                        {
                            <tr>
                                <td>@row["CalType"]</td>
                                <td>@row["FK_CalID"]</td>
                                <td>@row["Value"]</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <b id="tblPopTotal">
                Total:-
                <label id="totalVal"></label>
            </b>
        </div>


    </div>
    <div class="col-9">
        <div class="calc">
            <div class="grid_body">
                <table class="mygrid" id="tblTax">
                    <thead>
                        <tr>
                            <th>Operation</th>
                            <th>Particular</th>
                            <th>Rate</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in (ViewBag.GetMarineAssesment as System.Data.DataTable).Rows)
                        {
                            <tr>
                                <td>@row["CalType"]</td>
                                <td>@row["FK_CalID"]</td>
                                <td>@row["Rate"]</td>
                                <td>@row["Value"]</td>
                                <td>
                                    <a class='deleteTemRow' href="#">
                                        <img src="@Url.Content("~/Images/Delete_icon.png")" style="width:20px;height:20px;" alt='Delete' title="Delete" />
                                    </a>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td>
                                <label> <input type="radio" checked name="rbType" value="Add" />Add</label>
                                <label>  <input type="radio" name="rbType" value="Less" />Less</label>
                                <label>  <input type="radio" name="rbType" value="Mul" />Mul</label>
                                <label>  <input type="radio" name="rbType" value="Div" />Div</label>
                                @*<input type="radio" checked name="rbType" value="Add" />Add<input type="radio" name="rbType" value="Less" />Less<input type="radio"  name="rbType" value="Mul" />Mul<input type="radio" name="rbType" value="Div" />Div*@
                            </td>
                            <td>
                                @Html.DropDownListFor(ut => ut.CalDescription, new SelectList(BusinessLayer.BLCommon.BindCalulationMaster(Model.AssessmentType), "Key", "Value"), new { @class = "validate[required,'Please select calulation type'] Drp", @id = "drpCalulation" })
                            </td>
                            <td>
                                <input type="text" id="txtRate" class="number" />
                            </td>
                            <td>
                                <input type="text" class="validate[required,number,'Please enter calulation'] Txtbox number" id="txtTax" />
                            </td>
                            <td>
                                <a id="btnAddMore">
                                    <img src="~/Images/addicon.png" alt="Add" title="Add" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="fr">
    <b>
        Total Claim Amount:-
        @*Total:-*@
        <label id="GrandTotalVal"></label>
    </b>
</div>

<div class="cb"></div>
@*<button type="button" id="test">Testing</button>*@

<div class="form_label">
    <div class="col-4 fr">
        @{

            @*<p>Task- @Model.Task</p>*@
            <input type="button" id="btnFinalSubmit" class="Btn" value="Submit" data-content="@Model.Task" />

            if (@Model.AssessmentType == "CL")
            {
                <a target="_blank" href="@Url.Action("GeneratePdf", "Survery", new { @ClaimID = Model.FkClaimId, @InsdType = Model.InsdType, @InsdID = Model.FkInsrId, @Task = Model.Task })" class="btn yellow">Generate Preview</a>
            }
            else if (@Model.Task == "FSR")
            {
                <input type="button" id="btnFinalSubmitNext" class="Btn" value="Next" onclick="SendFSRSubbmit('@Model.FkClaimId','@Model.Task')" data-content="@Model.Task" />
                @*<a href="/Survery/SubmitFSR?fkClaimId=@Model.FKClaimId&task=@Model.Task" class="btn yellow fr">Next</a>*@
            }
            else
            {
                <input type="button" id="btnSubmitFSR1" class="Btn" value="Submit FSR" data-content="@Model.Task" data-claimid="@Model.FkClaimId" />
            }
        }
        @*        @{
                if (@Model.AssessmentType == "CL")
                {
                <a target="_blank" href="@Url.Action("GeneratePdf", "Survery", new { @ClaimID = Model.FkClaimId, @InsdType = Model.InsdType, @InsdID = Model.FkInsrId, @Task = Model.Task })" class="btn yellow">Generate Preview</a>
                }
            }*@
    </div>
</div>
















@*<a href="#popup" id="pop"></a><a href="#x" class="overlay" id="popup1"></a>
    <div class="popup" style="width: 550px;">
        <div>
            <table class="mygrid" id="tblPopUp" style="width: 100%; float: right;">
                <thead>
                    <tr>
                        <th>Total</th>
                        <th>Value</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.GetMarineAssesmentPOP != null)
                    {
                        foreach (System.Data.DataRow row in (ViewBag.GetMarineAssesmentPOP as System.Data.DataTable).Rows)
                        {
                        <tr>
                            <td>@row["FK_CalID"]</td>
                            <td>@row["CalType"]</td>
                            <td>@row["Value"]</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
            <a class="close" href="#close"></a>
        </div>
    </div>*@
