﻿@model BusinessLayer.Models.CSMarineJIR


<div id="divGenrateClaim">
    @Html.HiddenFor(a => a.PkJIRId)
    @Html.HiddenFor(a => a.InsdType)
    @Html.HiddenFor(a => a.Consiment)
    @*@Html.HiddenFor(a => a.CauseOfLoss)*@
    @Html.HiddenFor(a => a.DelayInIntimation)
    @Html.HiddenFor(a => a.DelayIntakingDelivery)
    <div class="form_label">
        <div class="col-3"> 
            <span>Insured Claim No.</span>
        </div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.InsuredClaimNo, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Date of Survey<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.DateOfSurvey, new { @class = "validate[required,'Please select date of survey'] Txtbox", @readonly = "true", @maxlength = "150", @autocomplete = "off", @id = "txtDateOfSurvey" })
        </div>
        @*Place of Survey*@
        <div class="col-3"><span>Place of Survey<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.PlaceofSurvey, new { @class = "validate[required,'Please enter Place of Survey'] TxtboxArea", @maxlength = "300", @autocomplete = "off", @id = "txtPlaceOfSurvey" })
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Insured<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Insured, new { @class = "validate[required,'Please enter insured name'] Txtbox", @maxlength = "100", @autocomplete = "off" })
        </div>

        <div class="col-3"><span>Insured Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.InsuredAddress, new { @class = "validate[required,'Please enter insured address'] TxtboxArea", @maxlength = "250", @autocomplete = "off" })
        </div>
    </div>
    <h2>Consignment
</h2>
    <div class="form_label">
        <div class="col-3"><span>Consignor Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Consignor, new { @class = "validate[required,'Please enter consignor'] Txtbox", @maxlength = "100", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Consignor Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.ConsignorAddress, new { @class = "TxtboxArea", @maxlength = "250", @autocomplete = "off" })
        </div>
       
    </div>
    <div class="form_label">
        <div class="col-3"><span>Consignee Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Consignee, new { @class = "validate[required,'Please enter consignee'] Txtbox", @maxlength = "100", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Consignee Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.ConsigeeAddress, new { @class = "TxtboxArea", @maxlength = "250", @autocomplete = "off" })
        </div>
    </div>
  
    <div class="form_label">
        <div id="divDataArr">
        <div class="col-3"><span>Date of Arrival at Destination City/Town<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.ArrivalDateDestination, new {  @maxlength = "50", @autocomplete = "off", @id = "txtArrivalDateDestination" })
        </div>
            </div>
        <div id="divDateDel">
        <div class="col-3"><span>Date of Delivery to Consignee<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.DeliveryDateConsignee, new {@maxlength = "50", @autocomplete = "off", @id = "txtDeliveryDateConsignee" })
        </div>
            </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Dispatched From<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.DispatchedFrom, new { @class = "validate[required,'Please enter dispatch from'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>

        <div class="col-3"><span>Dispatched To<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.DispatchedTo, new { @class = "validate[required,'Please enter dispatch to'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Consignment Type<label class="mandatory">*</label></span></div>
        <div class="col-9" id="divConType">
            <label> <input type="radio" name="ImportDomestic" id="rbImport" value="Import" />Import</label>
            @*<label>
                    <input type="radio" name="ImportDomestic" id="rbDomestic" value="Domestic" />Domestic
                </label>*@
        
            <label>
                <input type="radio" name="ImportDomestic" id="rbExport" value="Export" />Export
            </label>
            &nbsp;
            &nbsp;
            <label style="font-family:bold;">Domestic</label>
            <label>
                <input type="radio" name="ImportDomestic" id="rbSale" value="Sale" />Sale
            </label>
            <label>
                <input type="radio" name="ImportDomestic" id="rbPurchase" value="Purchase" />Purchase
            </label>
            <label>
                <input type="radio" name="ImportDomestic" id="rbStockTransfer" value="StockTransfer" />Stock Transfer
            </label>
            <label>   <input type="radio" name="ImportDomestic" id="rbShiftingofAssets" value="ShiftingofAssets" />Shifting of Assets</label>
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Nature of Transit<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.NatureOfTransit, new SelectList(BusinessLayer.BLCommon.BindNaturiofTransit(), "Key", "Value"), new { @class = "Drp" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>Transit Document<label class="mandatory">*</label></span>
            @Html.HiddenFor(a => a.FkConsignmentType)
        </div>
        <div class="col-9">
            <table class="tbllist" style="width: 100%">
                @Html.Raw(@Model.FkConsignmentType)
            </table>
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>
                Load on Carrying Vehicle
                <label class="mandatory">*</label>
            </span>
        </div>
        <div class="col-9" id="divLoadVar">

            <input type="radio" name="LoadVar" id="rbLoad" value="Loaded only Insured consignment" checked /><em>Loaded only Insured consignment</em>
            <input type="radio" name="LoadVar" id="rbVar" value="Various consignments were loaded with Insured consignment" /><em>
                @*<input type="hidden" id="LoadCarVeh" />*@
                Various consignments were loaded with Insured consignment
            </em>

        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>
                Carrying Vehicle Regn. No.
                <label class="mandatory">*</label>
            </span>
        </div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.CarryingLorryRegNo, new { @class = "validate[required,'Please enter carring lorry reg no'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>

        <div class="col-3"><span>Consignment Weight(In KG's)<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.ConsignmentWeight, new { @class = "validate[required,'Please enter consignment weight'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Carrying Lorry GVW<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.CarryingLorryGVW, new { @class = "Txtbox number", @maxlength = "12", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>CarryingLorryULW<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.CarryingLorryULW, new { @class = "Txtbox number", @maxlength = "12", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>
                Load Capacity of carrying Vehicle (Kg.)
                <label class="mandatory">*</label>
            </span>
        </div>

        <div class="col-3">

            @Html.TextBoxFor(a => a.LoadCapacityOfCarryVehicle, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @readonly = "readonly" })

        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Cause of Loss<label class="mandatory">*</label>(For Multiplecauses or detail description please select other)</span></div>
        <div class="col-3">
            @*@Html.TextAreaFor(a => a.CauseOfLoss, new { @class = "validate[required,'Please enter Cause of Loss'] Txtbox", @maxlength = "250", @autocomplete = "off" })*@
            @Html.DropDownListFor(a => a.CauseOfLoss, new SelectList(BusinessLayer.BLCommon.getCauseOfLoss(), "CauseOfLoss", "CauseOfLoss"))
        </div>
        <div id="divCO">

            <div class="col-3">@Html.TextBoxFor(a => a.CauseOfLossOther, new { @class = "Txtbox", @maxlength = "100", @autocomplete = "off" })</div>
        </div>
    </div>

    <div class="form_label" id="divPlaceAcc">
        <div class="col-3">
            <span>
                Place of Accident
                <label class="mandatory">*</label>
            </span>
        </div>
        <div class="col-9">
            @Html.TextAreaFor(a => a.PlaceOfAccident, new { @class = "Txtbox", @maxlength = "250", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label" id="divSpotCT">
        <div class="col-3">
            <span>
                Spot survey
                <label class="mandatory">*</label>
            </span>
        </div>
        <div class="col-3" id="divSpSrvy">
            <label><input type="radio" name="rbSpSrvy" value="Yes" />Yes</label>
            <label><input type="radio" name="rbSpSrvy" value="No" />No</label>
        </div>
        <div class="col-3"><span>Consignment Transhipped to <label class="mandatory">*</label></span></div>

        <div class="col-3">

            @Html.TextBoxFor(a => a.ConsignmentTransshipedTo, new { @maxlength = "50", @autocomplete = "off" })

        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>
                Police Report
                <label class="mandatory">*</label>
            </span>

        </div>
        <div class="col-3" id="divPolRpt">
            <label><input type="radio" name="rbPolRpt" value="Yes" />Yes</label>
            <label><input type="radio" name="rbPolRpt" value="No" />No</label>
        </div>
        
        <div class="col-3">
            <span>
                Consignment Packing detail
                <label class="mandatory">*</label>
            </span>
        </div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.DescriptionPacking, new { @class = "validate[required,'Please enter description packing'] TxtboxArea", @maxlength = "500", @autocomplete = "off" })
        </div>

    </div>
    
        <div class="form_label">
        <div class="col-3"><span>External Condition of Packing<label class="mandatory">*</label></span></div>
            <div class="col-9" id="divExConditionPacking">
                @*@Html.TextAreaFor(a => a.Remark, new { @class = "validate[required,'Please enter remarks'] TxtboxArea", @maxlength = "200", @autocomplete = "off" })*@
                @foreach (BusinessLayer.Models.CSMarineExConditionPacking ex in Model.ListExConditionPacking)
                {
                    if (ex.Selected)
                    {
                        <label>
                            <input type="checkbox" checked="checked" value="@ex.PK_EC_ID" data-ex="@ex.ExConditionPacking" />
                            @ex.ExConditionPacking
                        </label>
                    }
                    else
                    {
                        <label>
                            <input type="checkbox"  value="@ex.PK_EC_ID" data-ex="@ex.ExConditionPacking" />
                            @ex.ExConditionPacking
                        </label>
                    }


                }

            </div>
            @*@Html.TextBoxFor(a => a.ExConditionPacking, new { @class = "validate[required,'Please enter external condition'] Txtbox", @maxlength = "500", @autocomplete = "off" })*@
            @*@Html.DropDownListFor(a => a.ExConditionPacking, new SelectList(BusinessLayer.BLCommon.getMarineExConditionPacking(), "ExConditionPacking", "ExConditionPacking"), new { @class = "Drp" })*@
            <div id="divExO">

                <div class="col-3">@Html.TextBoxFor(a => a.ExConditionPackingOther, new { @class = "Txtbox", @maxlength = "100", @autocomplete = "off" })</div>
            </div>
    </div>
    
   
    <div class="form_label" style="display:none;">
        <div class="col-3">
            <span>  Who is Insured</span>
        </div>
        <div class="col-3" id="divWI">
            <input type="radio" name="CCC" id="rbConsignor" value="Consignor" checked /><em>Consignor</em>
            <input type="radio" name="CCC" id="rbConsignee" value="Consignee" /><em>Consignee</em>
            <input type="radio" name="CCC" id="rbCarrier" value="Carrier" /><em>Carrier</em>
        </div>
        <div class="col-3">
            <span>
                Type of contract with carrier
            </span>
        </div>
        <div class="col-3" id="divTC">
            <input type="radio" name="AR" id="rbAtownerRisk" value="At owner Risk" checked /><em>At owner Risk</em>
            <input type="radio" name="AR" id="rbAtCarrierrisk" value="AtCarrierrisk" /><em>At Carrier risk</em>

        </div>


    </div>
    <div class="form_label" style="display:none;">
        <div class="col-3">
            <span>
                Incoterm of the sale
            </span>
        </div>
        <div class="col-3">
            @Html.DropDownListFor(a => a.IncotermSale, new SelectList(BusinessLayer.BLCommon.getIncotermOfTheSale(), "IncotermSale", "IncotermSale"))
        </div>
        <div class="col-3">
            <span>
                Point of Delivery to Consignee

            </span>
        </div>
        <div class="col-3">
            @Html.DropDownListFor(a => a.PointDeliveryConsignee
       , new SelectList(BusinessLayer.BLCommon.getPointOfDeliveryToConsigneeGet(), "PointOfDeliveryToConsignee", "PointOfDeliveryToConsignee"))
        </div>
    </div>


    


    


    

    @*<div id="divForm" class="dispalyNone">
        <div class="form_label">
            <div class="col-3"><span>Description of Packing<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextAreaFor(a => a.DescriptionPacking, new { @class = "validate[required,'Please enter description packing'] TxtboxArea", @maxlength = "500", @autocomplete = "off" })
            </div>

            <div class="col-3"><span>External Condition of Packing<label class="mandatory">*</label></span></div>
            <div class="col-3">

                @Html.TextBoxFor(a => a.ExConditionPacking, new { @class = "validate[required,'Please enter external condition'] Txtbox", @maxlength = "500", @autocomplete = "off" })

            </div>
        </div>*@

    @*    <div class="form_label">
            <div class="col-3"><span>Nature of Transit<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.NatureOfTransit, new { @class = "validate[required,'Please enter nature of transit'] Txtbox", @maxlength = "100", @autocomplete = "off" })
            </div>

            <div class="col-3"><span>Consignment Type<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @Html.HiddenFor(a => a.FkConsignmentType)
                <table class="tbllist" style="width: 100%">
                    @Html.Raw(@Model.FkConsignmentType)
                </table>
            </div>
        </div>*@


    
</div>



    @*<div class="form_label">
            <div class="col-3">
                <span>Reason For Delay</span>
            </div>
            <div class="col-3">
                @Html.TextAreaFor(a => a.ResoneForDelay, new { @class = "Txtbox", @maxlength = "250", @autocomplete = "off" })
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>*@




    <div class="form_label">
        <div class="col-12 t_center">
            <input type="button" id="btnNextMaineJir" value="Next" data-content="@Model.PkJIRId" name="command" class="btn" />
            @*<a href="Survery/MarineConsignmentDocs?fkClaimId=@Model.FKClaimId&task=@Model.Task&ConsimentType=@Model.FkConsignmentType">Next</a>*@
            <a href="@Url.Action("ManageClaims", "Survery")" class="cancel btn">Cancel</a>
        </div>
    </div>





