﻿@model BusinessLayer.Models.CSMotorSurvey

<script type="text/javascript">
    $(document).ready(function () {
        $('input[name=chJIRGroup]').click(function () {
            debugger;
            var rbFkLicenceType = "";
            $('input[name=chJIRGroup]:checked').each(function (index, item) {
                rbFkLicenceType += $(this).attr('id') + ",";
            });
            $("#LicenseType").val(rbFkLicenceType);
        });
        $("#txtIssueDate").datepicker({
            changeMonth: true,
            changeYear: true,

            dateFormat: 'dd-mm-yy',
        });
        $("#txtValidUpTo").datepicker({
            changeMonth: true,
            changeYear: true,

            dateFormat: 'dd-mm-yy',
        });
    });
</script>
<div class="form_label">
    @Html.HiddenFor(a => a.FK_ClaimID)
    @Html.HiddenFor(a => a.PK_ID)
    <div class="col-3"><span>Driver Name<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.DriverName, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtDriver" })
    </div>

    <div class="col-3"><span>DL Number<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.DLNo, new { @class = "validate[required,'Please enter DL Number'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtDLNo" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Issue Date<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.IssueDate, new { @class = "Txtbox", @maxlength = "20", @readonly = "true", @autocomplete = "off", @id = "txtIssueDate" })
    </div>

    <div class="col-3"><span>Valid Upto<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.ValidUpTo, new { @class = "validate[required,'Please enter Valid Upto'] Txtbox", @maxlength = "20", @readonly = "true", @autocomplete = "off", @id = "txtValidUpTo" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>DL Authority<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.DLAuthority, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtDLAuthority" })
    </div>

    <div class="col-3"><span>Endorsment<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Endorsment, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtEndorsment" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>License Type.<label class="mandatory">*</label></span></div>
    <div class="col-9">
        @Html.HiddenFor(a => a.LicenseType)
        <table class="tbllist" style="width: 100%">
            @Html.Raw(@Model.Remark)
        </table>
    </div>
</div>

<div class="form_label">
    <div class="col-3"><span>Badge No.<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.DLRemarks, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtDLRemarks" })
    </div>
    <div style="display:none;">
    <div class="col-3"><span>Was driver found Involve in any accident of any vehicle in last three years, If Yes Give Detail<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Involve, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtInvolve" })
    </div>
        </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Upload File<label class="mandatory">*</label></span></div>
    <div class="col-9">
        <input type="file" id="FuUploadDL" />
    </div>
</div>

<div class="form_label">
    <div class="col-12 t_center">
        <input type="submit" id="btnMotorDLParticulars" value="Next" data-content="@Model.FK_ClaimID" name="command" class="btn" />
        <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
    </div>
</div>
