﻿@model BusinessLayer.Models.CSMotorRouteParticulars

<div class="form_label">
    @Html.HiddenFor(a => a.FK_ClaimID)
    @Html.HiddenFor(a => a.PK_ID)
    <div class="col-3"><span>Orign Of Journey:(Journey Starting Place)<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.OrignOfJourney, new { @class = "validate[required,'Please enter OrignOfJourney'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtOrignOfJourney" })
    </div>

    <div class="col-3"><span>End Of Journey:(Targeted place of Journey )<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.EndOfJourney, new { @class = "validate[required,'Please enter EndOfJourney'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtEndOfJourney" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Transport Company:(Contract for journey with)<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.TransportCompany, new { @class = "validate[required,'Please enter Transport Company'] Txtbox", @maxlength = "150", @autocomplete = "off", @id = "txtTransportCompany" })
    </div>

    <div class="col-3"><span>Cons Note No:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.ConsNoteNo, new { @class = "validate[required,'Please enter Cons Note No.'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtConsNoteNo" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Date Of Cons Note No:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.DateOfConsNoteNo, new { @class = "validate[required,'Please enter Date Of Cons Note No'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtDateOfConsNoteNo" })
    </div>

    <div class="col-3"><span>Transport Item:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.TransportItem, new { @class = "validate[required,'Please enter Transport Item'] Txtbox", @maxlength = "100", @autocomplete = "off", @id = "txtTransportItem" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Weight Cons:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.@WeightCons, new { @class = "validate[required,'Please enter Weight Cons'] Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtWeightCons" })
    </div>
    <div class="col-3">
        &nbsp
    </div>
</div>
<div class="form_label">
    <div class="col-12 t_center">
        <input type="submit" id="btnMotorRouteParticulars" value="Next" data-content="@Model.FK_ClaimID" name="command" class="btn" />
        <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
    </div>
</div>
