﻿@model BusinessLayer.Models.CSPolicyParticulars

<script>
    $(document).ready(function () {
        $("#txtPeriodFrom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtPeriodTo").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });


        $('.number').keypress(function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
               ((event.which < 48 || event.which > 57) &&
               (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });

        $('.number').bind("paste", function (e) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + 3));
                }
            }
            else {
                e.preventDefault();
            }
        });
        
    })
</script>


<div class="form_label" style="display:none;">
    @Html.HiddenFor(a => a.FK_ClaimID)
    @Html.HiddenFor(a => a.PK_ID)
    <div class="col-3"><span>Instructor Name</span></div>
    <div class="col-3">
       
        @Html.TextBoxFor(a => a.InstructorName, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "lblInstructorName" , @disabled= "disabled"})

    </div>

    <div class="col-3"><span>Instructor Address</span></div>
    <div class="col-3">
       
        @Html.TextBoxFor(a => a.InsrAddress, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "lblInsrAddress" , @disabled= "disabled"})

    </div>
</div>



<div class="form_label">
    <div class="col-3"><span>Name of Insured
</span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.InsuredName, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "lblInstructorName", @readonly = "readonly" })
    </div>

    <div class="col-3"><span>Address of the Insured</span></div>
    <div class="col-3">
    @Html.TextBoxFor(a => a.InsuredAddress, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "lblInsrAddress", @readonly = "readonly" })

    </div>
</div>

<div class="form_label">
    <div class="col-3"><span>Insurance ClaimNo</span></div>
    <div class="col-3">
      
        @Html.TextBoxFor(a => a.InsrClaimNo, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "lblInsrClaimNo", @readonly = "readonly" })

    </div>

    <div class="col-3"><span>Insurance Type</span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.InsdType, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "lblInsdType", @readonly = "readonly" })

    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Policy No:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PolicyNo, new { @class = "validate[required,'Please enter Policy Number'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtPolicyNo" })
    </div>


    @*<div class="col-3"><span>Period<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Period, new { @class = "validate[required,'Please enter Period'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtPeriod" })
        </div>*@


    <div class="col-3"><span>Sum-Insured<label class="mandatory">*</label></span>
</div>
<div class="col-3">
    @Html.TextBoxFor(a => a.SumInsured, new { @class = "validate[required,'Please enter Sum-Insured'] Txtbox,number", @maxlength = "10", @autocomplete = "off", @id = "txtSumInsured" })
</div>
</div>
<div class="form_label">
    
    @*<div class="col-3"><span>Registration No:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.RegNo, new { @class = "validate[required,'Please enter Registration Number'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRegNo" })
    </div>*@

    <div class="col-3"><span> Vehicle Registration No.<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.VehicleRegistrationNo, new { @maxlength = "50", @autocomplete = "off", @id = "txtVehRegNo",  @readonly = "readonly" })
    </div>

    <div class="col-3"><span>HP Agreement<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.HPAgreement, new { @class = "validate[required,'Please enter Agreement'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtHPAgreement" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Excess<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Excess, new { @class = "validate[required,'Please enter Excess'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtExcess" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Period From<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PeriodFromDT, new { @class = "validate[required,'Please enter Period From'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtPeriodFrom" , @readonly = "readonly" })

    </div>

    <div class="col-3"><span>Period To<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PeriodToDT, new { @class = "validate[required,'Please enter Period To'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtPeriodTo"  , @readonly = "readonly" })

    </div>

</div>

<div class="form_label">
    <div class="col-12 t_center">
        <input type="submit" id="btnMotorPolicyParticulars" value="Next" data-content="@Model.FK_ClaimID" name="command" class="btn" />
        <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
    </div>
</div>