﻿@model BusinessLayer.Models.CSMotorSurvey

<script type="text/javascript">
    $(document).ready(function () {

        $(window).load(function () {
            VehicleTypeChange($("#VehicleType").val());
        });


        $("#txtRCDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });

        $('input:radio[name="VType"]').change(function () {
            debugger;
            $("#VehicleType").val($(this).val());
            VehicleTypeChange($(this).val());
        });
        $("#txtFitnessUpto").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtPermitUpto").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
        $("#txtOdometerReading").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $("#txtSeatingCapacity").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });

    function VehicleTypeChange(Type)
    {
        if (Type == 'TWR') {
            $("#Permit").hide();
            $("#Area").hide();
            $("#Weight").hide();

        }
        else if (Type == 'PVC') {
            $("#Permit").hide();
            $("#Area").hide();
            $("#Weight").hide();

        }
        else if (Type == 'PSC') {
            $("#Permit").show();
            $("#Area").show();
            $("#Weight").hide();
        }
        else {
            $("#Permit").show();
            $("#Area").show();
            $("#Weight").show();
        }

    }


    


</script>

<div class="form_label">
    <div class="col-3">
        <span>Type of Vehical:
        <label class="mandatory">*</label></span>
    </div>
    <div class="col-9">
        @Html.HiddenFor(a => a.VehicleType)
        <input type="radio" name="VType" id="rbTwo" value="TWR" />Two Wheeler
                    <input type="radio" name="VType" id="rbPrivate" value="PVC" />Privte Car
                    <input type="radio" name="VType" id="rbPassenger" value="PSC" />Passenger Carrying
                    <input type="radio" name="VType" id="rbGoods" value="GDC" checked />Goods Carrying
    </div>
</div>

<div class="form_label">
    <div class="col-3"><span>Registered Owner of the Vehicle<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Insured, new { @autocomplete = "off", @readonly = "true" })
    </div>
</div>


    <div class="form_label">
        @Html.HiddenFor(a => a.FK_ClaimID)
        @Html.HiddenFor(a => a.PK_ID)

        <div class="col-3"><span>Registration Number:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.RCNO, new { @class = "validate[required,'Please enter RC Number'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })
        </div>

        <div class="col-3"><span>Date of Registration<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.RCDate, new { @class = "validate[required,'Please enter RC Date'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtRCDate" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Chasis Number:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.ChasisNo, new { @class = "validate[required,'Please enter Chasis Number'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtChasisno" })
        </div>

        <div class="col-3"><span>Engine Number<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.EngineNo, new { @class = "validate[required,'Please enter Engine Number'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtEngineNo" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Make:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Make, new { @class = "validate[required,'Please enter Make'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtMake" })
        </div>

        <div class="col-3"><span>Model/Varient:<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Model, new { @class = "validate[required,'Please enter Model'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtEngineNo" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Class of Vehicle<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Class, new { @class = "validate[required,'Please enter Class of Vehicle '] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtClass" })
        </div>

        <div class="col-3"><span>Type of Body<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.BodyType, new { @class = "validate[required,'Please enter Type of Body'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtTypeBody" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Seating Capacity<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Seating, new { @class = "validate[required,'Please enter Seating Capacity'] Txtbox", @maxlength = "3", @autocomplete = "off", @id = "txtSeatingCapacity" })
        </div>
        <div style="display:none;">
        <div class="col-3"><span>Fuel use in Vehicle<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(a => a.Fuel, new SelectList(BusinessLayer.BLCommon.BindMotorClass(), "Key", "Value"), new { @class = "Drp" })
        </div>
            </div>
    </div>

<div class="form_label">
        <div class="col-3"><span>Fuel use in Vehicle<label class="mandatory">*</label></span></div>
        <div class="col-4">
            <label>@Html.CheckBoxFor(a => a.Petrol)&nbsp;Petrol</label>
      
      
            <label>@Html.CheckBoxFor(a => a.CNG)&nbsp;CNG</label>
      
      
            <label>@Html.CheckBoxFor(a => a.Diesel)&nbsp;Diesel</label>

       
    <label>@Html.CheckBoxFor(a => a.LPG)&nbsp;LPG</label>
    </div>
    </div>
   


    <div class="form_label">
        <div class="col-3"><span>Color:<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Color, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtColor" })
        </div>

        <div class="col-3"><span>Fitness Valid Upto<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.FitnessUpto, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtFitnessUpto", @readonly = "true" })
        </div>
    </div>
    <div class="form_label" id="Permit">
        <div class="col-3"><span>Permit Type:<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.PermitType, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtPermitType", @readonly = "true" })
        </div>

        <div class="col-3"><span>Permit Upto<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.PermitUpto, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtPermitUpto" })
        </div>
    </div>
    <div class="form_label" id="Area">
        <div class="col-3"><span>Area of Operation:<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.OperationArea, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtOperationArea" })
        </div>

        <div class="col-3"><span>Tax / OTT Paid<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.TaxOTT, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtTaxOTT" })
        </div>
    </div>
    <div class="form_label" id="Weight">
        <div class="col-3"><span>Registered Laden Weight/Gross Vehicle Weight:<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.LadenWeight, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtLadenWeight" })
        </div>

        <div class="col-3">
            <span>
                Un-Laden Weight:
                <label class="mandatory"></label>
            </span>
        </div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.UnLadenWeight, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtUnLadenWeight" })
        </div>
    </div>
    @*<div class="form_label">
            <div class="col-3"><span>Anti theft fitted Device:<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.ATFDevice, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtATFDevice" })
            </div>

            <div class="col-3">
                <span>Pre Acci condition:
                <label class="mandatory"></label>
                </span>
            </div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.PACondition, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtPACondition" })
            </div>
        </div>*@
    <div class="form_label" style="display:none;">
        <div class="col-3"><span>Anti theft fitted Device:<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.ATFDevice, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtATFDevice" })
        </div>
        <div class="col-3">
            <span>
                Pre Accident condition:
                <label class="mandatory"></label>
            </span>
        </div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.PACondition, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtPACondition" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>
                Odometre Reading
                @*<label class="mandatory"></label>*@
            </span>
        </div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.OdometerReading, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtOdometerReading" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>


            </span>
        </div>
        <div class="col-9">
            @Html.TextAreaFor(a => a.Template, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtTemplate" })
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>HPA with (Financial Interest):<label class="mandatory"></label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.FInterest, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtFInterest" })
        </div>

        <div class="col-3">
            <span>
                Cubic Capacity (Engine Power):
                <label class="mandatory"></label>
            </span>
        </div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.CubCapcity, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtCubCapcity" })
        </div>
    </div>
    <div class="form_label">
        @*    <div class="col-3"><span>Surveyor's Remarks:<label class="mandatory"></label></span></div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.Remark, new { @class = "Txtbox", @maxlength = "500", @autocomplete = "off", @id = "txtRemark" })
            </div>*@

        <div class="col-3">
            <span>
                Upload Registration Certificate:
                <label class="mandatory"></label>
            </span>
        </div>
        <div class="col-9">
            <input type="file" id="FuUploadRC" />
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center">
            <input type="submit" id="btnMotorVehicleParticulars" value="Next" data-content="@Model.FK_ClaimID" name="command" class="btn" />
            <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
        </div>
    </div>





