﻿@model BusinessLayer.Models.CSMotorParticularRemarks

<div class="form_label">
    @Html.HiddenFor(a => a.FK_ClaimID)
    <div class="col-12">
        <div class="grid_body">
            <table id="mygrid" class="mygrid">
                <thead>
                    <tr>
                        <th>
                            Remark
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody id="mygridBody">
                    @Html.Raw(@Model.HtmlTable)
                </tbody>
                <tr></tr>
            </table>

        </div>
    </div>
</div>
<div class="form_label">
    <div class="col-12 t_center">
        <input type="submit" onclick="getAllElement(@Model.FK_ClaimID)" id="btnsubmitValue" class="btn" />
        <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.dlparticularclass').change(function () {
            $('#txtTimes').val(0);
            if ($(this).val() == 'Y') {
                $('#txtTimes').show();
            }
            else {
                $('#txtTimes').hide();
            }
         
        })

        //$('#mygrid tr:last')
        
        if ($('.dlparticularclass').prop('checked') == true) {
            $('#txtTimes').show();
            }
        else {
                $('#txtTimes').hide();
        }

            $('.routeparticularclass').change(function () {
            $('#txtRatio').val(0);
            if ($(this).val() == 'Y') {
                $('#txtRatio').show();
            }
            else {
                $('#txtRatio').hide();
            }

        })

        if ($('.routeparticularclass').prop('checked') == true) {
            $('#txtRatio').show();
        }
        else {
            $('#txtRatio').hide();
        }

        
        $('.number').keypress(function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
               ((event.which < 48 || event.which > 57) &&
               (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });

        $('.number').bind("paste", function (e) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + 3));
                }
            }
            else {
                e.preventDefault();
            }
        });
        
        $("#txtTimes").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });


    })
</script>

