﻿@model BusinessLayer.Models.CSMotorSurvey

<div class="grid_body">
    <table class="tbllist" id="trCh">
    </table>
</div>
<div class="cb"></div>
<div class="form_label">
    <div class="col-6"><span>Estimated of Loss Reported by the Insured<label class="mandatory">*</label></span></div>
    <div class="col-6">
        @Html.TextBoxFor(a => a.EstimatedLoss, new { @class = "validate[required,'Please enter Estimated Loss'] Txtbox", @maxlength = "499", @autocomplete = "off" })
    </div>
</div>

<div class="form_label">
    <div class="col-6"><span>Recommended Loss Reserve for the Insurers<label class="mandatory">*</label></span></div>
    <div class="col-6">
        @Html.TextBoxFor(a => a.RecommendedLoss, new { @class = "validate[required,'Please enter Recommended Loss'] Txtbox", @maxlength = "499", @autocomplete = "off" })
    </div>
</div>

<div class="form_label">
    <div class="col-6"><span>Remarks<label class="mandatory">*</label></span></div>
    <div class="col-6">
        @Html.TextBoxFor(a => a.RemarksISVR, new { @class = "validate[required,'Please enter Remarks'] Txtbox", @maxlength = "499", @autocomplete = "off" })
    </div>
</div>

<div class="form_label">
    <div class="col-4">
        <a href="#" onclick="SendBBackToMarineDamageDetails('@Model.FK_ClaimID','@Model.Task')" class="btn yellow fl">Back</a>
    </div>
    <div class="col-4 t_center">
        <a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
    </div>
    <div class="col-4">
        <input type="button" id="btnSaveRemarksClaim" value="Next" name="command" class="btn yellow fr" />
    </div>
</div>
