﻿@model BusinessLayer.Models.CSMotorSurvey

<div class="form_label">
    <div class="col-3"><span>RC Number:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.RCNO, new { @class = "validate[required,'Please enter RC Number'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })
    </div>

    <div class="col-3"><span>Date of Registration<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.RCDate, new { @class = "validate[required,'Please enter RC Date'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtRCDate" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Chasis Number:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.ChasisNo, new { @class = "validate[required,'Please enter Chasis Number'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtChasisno" })
    </div>

    <div class="col-3"><span>Engine Number<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.EngineNo, new { @class = "validate[required,'Please enter Engine Number'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtEngineNo" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Make:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Make, new { @class = "validate[required,'Please enter Make'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtMake" })
    </div>

    <div class="col-3"><span>Model<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Model, new { @class = "validate[required,'Please enter Model'] Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtEngineNo" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Class of Vehicle<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.DropDownListFor(a => a.Class, new SelectList(BusinessLayer.BLCommon.BindMotorClass(), "Key", "Value"), new { @class = "Drp" })
    </div>

    <div class="col-3"><span>Type of Body<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.DropDownListFor(a => a.BodyType, new SelectList(BusinessLayer.BLCommon.BindMotorClass(), "Key", "Value"), new { @class = "Drp" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Seating Capacity<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.DropDownListFor(a => a.Seating, new SelectList(BusinessLayer.BLCommon.BindMotorClass(), "Key", "Value"), new { @class = "Drp" })
    </div>

    <div class="col-3"><span>Fuel use in Vehicle<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.DropDownListFor(a => a.Fuel, new SelectList(BusinessLayer.BLCommon.BindMotorClass(), "Key", "Value"), new { @class = "Drp" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Color:<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Color, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtColor" })
    </div>

    <div class="col-3"><span>Fitness Valid Upto<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.FitnessUpto, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtFitnessUpto" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Permit Type:<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PermitType, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtPermitType" })
    </div>

    <div class="col-3"><span>Permit Upto<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PermitUpto, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtPermitUpto" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Operation Area:<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.OperationArea, new { @class = "Txtbox", @maxlength = "30", @autocomplete = "off", @id = "txtOperationArea" })
    </div>

    <div class="col-3"><span>Tax / OTT Paid<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.TaxOTT, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtTaxOTT" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Registered Laden Weight/Gross Vehicle Weight:<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.LadenWeight, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtLadenWeight" })
    </div>

    <div class="col-3">
        <span>Un-Laden Weight:
        <label class="mandatory"></label>
        </span>
    </div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.UnLadenWeight, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtUnLadenWeight" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Anti theft fitted Device:<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.ATFDevice, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtATFDevice" })
    </div>

    <div class="col-3">
        <span>Pre Acci condition:
        <label class="mandatory"></label>
        </span>
    </div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PACondition, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtPACondition" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Anti theft fitted Device:<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.ATFDevice, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtATFDevice" })
    </div>

    <div class="col-3">
        <span>Pre Acci condition:
        <label class="mandatory"></label>
        </span>
    </div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.PACondition, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off", @id = "txtPACondition" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Surveyor's Remarks:<label class="mandatory"></label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.Remark, new { @class = "Txtbox", @maxlength = "500", @autocomplete = "off", @id = "txtRemark" })
    </div>

    <div class="col-3">
        <span>Upload Registration Certificate:
        <label class="mandatory"></label>
        </span>
    </div>
    <div class="col-3">
        <input type="file" id="FuUploadRC" />
    </div>
</div>
<div class="form_label">
    <div class="col-12 t_center">
        <input type="button" id="btnMotorVehicleParticulars" value="Next" data-content="@Model.FK_ClaimID" name="command" class="btn" />
        <a href="@Url.Action("MotorVehicleParticulars", "Survery")" class="cancel btn">Cancel</a>
    </div>
</div>
