﻿@model BusinessLayer.Models.CSMotorSurvey

<script type="text/javascript">
    $(document).ready(function () {
        $('input[name=chLossGroup]').click(function () {
            debugger;
            var rbFkLicenceType = "";
            $('input[name=chLossGroup]:checked').each(function (index, item) {
                rbFkLicenceType += $(this).attr('id') + ",";
            });
            $("#LicenseType").val(rbFkLicenceType);
        });
        $('input[name=chDmgGroup]').click(function () {
            debugger;
            var rbFkLicenceType = "";
            $('input[name=chDmgGroup]:checked').each(function (index, item) {
                rbFkLicenceType += $(this).attr('id') + ",";
            });
            $("#DamageSides").val(rbFkLicenceType);
        });
        $("#txtRCno").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
        });
    });
</script>
<div class="form_label">
    @Html.HiddenFor(a => a.FK_ClaimID)
    @Html.HiddenFor(a => a.PK_ID)
    <div class="col-3"><span>Date & Time of Accident:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.AccDate, new { @class = "validate[required,'Please enter Date & Time of Accident'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })
    </div>

    <div class="col-3"><span>Place of Accident<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.AccPlace, new { @class = "validate[required,'Please enter Place of Accident'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtRCDate" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Spot Survey:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.TextBoxFor(a => a.SpotSurvey, new { @class = "validate[required,'Please enter Spot Survey'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })
    </div>

    <div class="col-3"><span>Police Report/FIR/Panchnama:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="radio" name="FIR" id="rblFIRYes" value="Yes" checked />Yes
        <input type="radio" name="FIR" id="rblFIRNo" value="No" checked />No
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Fire Brigade Report:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="radio" name="FIB" id="rblFIBYes" value="Yes" checked />Yes
        <input type="radio" name="FIB" id="rblFIBNo" value="No" checked />No
    </div>

    <div class="col-3"><span>Third Party Property Loss:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="radio" name="TPPL" id="rblTPPLYes" value="Yes" checked />Yes
        <input type="radio" name="TPPL" id="rblTPPLNo" value="No" checked />No
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Third Party Body Injury:<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="radio" name="TPBI" id="rblTPBIYes" value="Yes" checked />Yes
        <input type="radio" name="TPBI" id="rblTPBINo" value="No" checked />No
    </div>

    @*    <div class="col-3"><span>Damaged side<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.HiddenFor(a => a.LicenseType)
            <table class="tbllist" style="width: 100%">
                @Html.Raw(@Model.Remark)
            </table>
        </div>*@
</div>
<div class="form_label">
    <div class="col-3">
        <span>
            Nature of Accident/Loss
            <label class="mandatory">*</label>
        </span>
    </div>
    <div class="col-9">
        @Html.HiddenFor(a => a.LicenseType)
        <table class="tbllist" style="width: 100%">
            @Html.Raw(@Model.Remark)
        </table>
    </div>
</div>
<div class="form_label">
    <div class="col-12"><span>Brief write-up on Cause of Accident/Loss as Described by the Insured or his representative:<label class="mandatory">*</label></span></div>
    <div class="col-12">
        @Html.TextAreaFor(a => a.LossDesc, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Damaged side(s)<label class="mandatory">*</label></span></div>
    <div class="col-9">
        @Html.HiddenFor(a => a.DamageSides)
        <table class="tbllist" style="width: 100%">
            @Html.Raw(@Model.RemarksISVR)
        </table>
    </div>
</div>
<div class="form_label">
    <div class="col-12"><span>Was insured vehicle carrying load or passenger at the time of accident if yes, give detail:<label class="mandatory">*</label></span></div>
    <div class="col-12">
        @Html.TextAreaFor(a => a.OccRemarks, new { @class = "Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtRCno" })
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Photo1:<label class="mandatory">*</label></span></div>
    <div class="col-6">
        <input type="file" id="FuUploadP1" />
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Photo2:<label class="mandatory">*</label></span></div>
    <div class="col-6">
        <input type="file" id="FuUploadP2" />
    </div>
</div>
<div class="form_label">
    <div class="col-12 t_center">
        <input type="submit" id="btnMotorOccurence" value="Next" data-content="@Model.PK_ID" name="command" class="btn" />
        <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
    </div>
</div>
