﻿@model BusinessLayer.Models.CSMotorPartClaim



<div class="form_label">
    @Html.HiddenFor(a => a.FK_ClaimID)
    <div class="col-3"><span>Motor Part Name :<label class="mandatory">*</label></span></div>
    <div class="col-3">
        @Html.DropDownListFor(a => a.PartID, new SelectList(BusinessLayer.BLCommon.BindMotorParts(), "Key", "Value"), new { @class = "validate[required,'Please select Part Name.'] Drp" })
    </div>

    <div class="col-3"><span>Motor Part Affects :</span></div>
    <div class="col-3">
        @Html.DropDownListFor(a => a.AffectID, new SelectList(BusinessLayer.BLCommon.BindMotorPartsAffects(), "Key", "Value"), new { @class = "validate[required,'Please select Part Affect.'] Drp" })
    </div>
</div>
<div class="form_label">
    <div class="col-12 t_center">
        <input type="submit" id="btnMotorPartClaimSub" value="Submit" data-content="@Model.FK_ClaimID" name="command" class="btn" />
        @*@Html.ActionLink("Next", "MotorParticularRemark", "Survery",  new { @Model.FK_ClaimID }, new {  @class = "btn" })*@
        <a href="@Url.Action("MotorParticularRemark","Survery", new {id=@Model.FK_ClaimID} )" class="nxt">Next</a>
        <a href="@Url.Action("manageclaims", "Survery")" class="cancel btn">Cancel</a>
    </div>
</div>
<div class="grid_body">
    <table id="mygrid" class="mygrid">
        <thead>
            <tr>
                <th>Part Name</th>
                <th>Affect Name</th>

            </tr>
        </thead>
        <tbody id="mygridBody">

            @foreach (System.Data.DataRow row in (ViewBag.PartsClaim as System.Data.DataTable).Rows)
            {
                <tr>
                    <td>@row["PartName"]</td>
                    <td>@row["Affect"]</td>

                </tr>
            }
        </tbody>
    </table>
</div>
