﻿@model BusinessLayer.Models.CSFSR

@Html.HiddenFor(a => a.FKClaimId, new { @id = "hdFkClaimId" })
<div class="form_label">
    <div class="col-3">
        <span>Salvage<label class="mandatory">*</label></span>
    </div>
    <div class="col-3">
        @Html.TextAreaFor(a => a.Salvage, new { @class = "validate[required,'Please enter Salavage'] Txtbox", @maxlength = "1000", @autocomplete = "off", @id = "txtSalvage" })
    </div>
    <div class="col-3">
        <span>Comment on Policy Conditions<label class="mandatory">*</label></span>
    </div>
    <div class="col-3">
        <select  id="CommentPolicy_Com_NotCom"><option value="Complied">Complied</option><option value="Not Complied">Not Complied</option> </select>
    </div>
    </div>
<div class="form_label" id="divCommentPolicy">
    <div class="col-3"><span>Description</span></div>
    <div class="col-9">
        @Html.TextAreaFor(a => a.CommentPolicy, new { @class = "validate[required,'Please enter Comment on policy'] Txtbox", @maxlength = "1000", @autocomplete = "off", @id = "txtCommentPolicy" })
    </div>
</div>

<div class="form_label">
    <div class="col-3">
        <span>Concurence/Consent<label class="mandatory">*</label></span>
    </div>
    <div class="col-3">
        @Html.DropDownListFor(a => a.Concurrence, new SelectList(BusinessLayer.BLCommon.getConcurenceConsent(), "PK_CC_ID", "ConcurenceConsent"), new { @class = "Drp" })
        @*@Html.TextAreaFor(a => a.Concurrence, new { @class = "validate[required,'Please enter Concurrence'] Txtbox", @maxlength = "500", @autocomplete = "off", @id = "txtConcurrence" })*@
    </div>
    </div>
<div class="form_label">
    <div class="col-3">
        <span>Comment on Subrogation (Notice to Carrier/Damage Certificate)<label class="mandatory">*</label></span>
    </div>
    <div class="col-9">
        @Html.TextAreaFor(a => a.OtherRemark, new { @maxlength = "1000", @autocomplete = "off", @id = "txtRemark" ,@rows=5 })
    </div>
</div>


<div class="form_label">
    <div class="col2 fl">
        @*<input type="button" id="btnFSRBack" data-content="0" onclick="SendBBackToMarineDamageDetails('@Model.FKClaimId    ','FSR')" class="btn" value="Back" />*@
        <a href="/Survery/MarineAssessmentDetailNew?cid=@Model.FKClaimId&calMode=AS&task=@Model.Task" id="aLorNext" class="btn yellow fr">Back</a>
    </div>
    <div class="col-8 t_center">
        <input type="button" id="btnSubmitFSR" data-content="0" class="btn" value="Submit" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
        @*<a target="_blank" href="@Url.Action("GeneratePdf", "Survery", new { @ClaimID = Model.FKClaimId, @InsdType = @Model.InsdType, @InsdID = @Model.InsdId, @Task = "FSR" })" class="btn yellow">Generate Preview</a>*@
    </div>
    <div class="col-2 fr">
        @*<input type="button" id="btnFSRNext" data-content="0" class="btn fr" onclick="SendNextISVR('@Model.FKClaimId    ','FSR')" value="Next" />*@
        <a href="/Survery/MarineISVR?fkClaimId=@Model.FKClaimId&task=@Model.Task" id="aLorNext" class="btn yellow fr">Next</a>
    </div>
</div>



