﻿@model BusinessLayer.Models.CSSurveyorVisits

@Html.HiddenFor(a => a.FkClaimId, new { @id = "hdFkClaimId" })
<div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content" style="width:130%; margin-left:-130px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title" style="text-align:center;"> Minutes of Meeting</h1>
                </div>
                <div class="modal-body" id="modalBody">
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <span>
                                        Date
                                    </span>
                                </div>
                                <div class="col-md-3"><input type="text" datepicker class="form-control" ng-model="md.Date" /></div>
                                <div class="col-md-2">
                                    <span>
                                        Ref. No.
                                    </span>
                                </div>
                                <div class="col-md-3"><input type="text" class="form-control" ng-model="RefNo" disabled /></div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <span>
                                        Insured

                                    </span>
                                </div>
                                <div class="col-md-3"><input type="text" class="form-control" ng-model="InsuredName" disabled /></div>
                                <div class="col-md-2">
                                    <span>
                                        Agenda
                                    </span>
                                </div>
                                <div class="col-md-3"><input type="text" class="form-control" ng-model="md.Agenda" /></div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <span>
                                        Venue

                                    </span>
                                </div>
                                <div class="col-md-8">@*<input type="text" class="form-control" ng-model="md.Venue" />*@
                                <textarea rows="2" class="form-control" ng-model="md.Venue"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            </div>
                        </div>
                    <form id="formAtten">
                            <div class="grid_body table-responsive" style="max-height:400px;">
                                <table class="mygrid">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sr. No.
                                            </th>
                                            <th>
                                                Mr. /Ms.
                                            </th>
                                            <th>
                                                Name of Attendee
                                            </th>
                                            <th>
                                                Designation
                                            </th>
                                            <th>
                                                Name of Organization
                                            </th>
                                            <th>
                                                Representing
                                            </th>
                                            <th>
                                                Mobile No.
                                            </th>
                                            <th>
                                                Email Id
                                            </th>
                                            <th>Action</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody id="mygridBody">

                                        <tr ng-repeat="at in  Attendees track by $index">
                                            <td>{{$index+1}}</td>
                                            <td>{{at.MR_OR_MRS}}</td>
                                            <td>{{at.NameOfAttendee}}</td>
                                            <td>{{at.Designation}}</td>
                                            <td>{{at.NameOfOrganization}}</td>
                                            <td>{{at.Representing}}</td>
                                           <td>{{at.MobileNo}}</td>
                                            <td>{{at.EmailId}}</td>
                                            <td ng-click="deleteInAttendees($index,at.PK_At_ID)"><img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                                         
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><select ng-model="a.MR_OR_MRS" class="validate[required,'Please Select Mr/Mrs'] Txtbox" id="MrMrs"><option value="">Select</option> <option value="MR.">MR.</option><option value="MS.">MS.</option> </select></td>
                                            <td ><input type="text" ng-model="a.NameOfAttendee" /></td>
                                            <td ><input type="text" ng-model="a.Designation"/></td>
                                            <td ><input type="text" ng-model="a.NameOfOrganization" /></td>
                                            <td><select ng-model="a.Representing" class="validate[required,'Please Select Representing'] Txtbox" id="rps"><option value="">Select</option><option value="Insured">Insured</option><option value="Insurers">Insurers</option><option value="Brokers">Brokers</option> <option value="Surveyors">Surveyors</option></select></td>
                                            <td><input type="text" ng-model="a.MobileNo" /></td>
                                            
                                            <td><input type="text" ng-model="a.EmailId" /></td>
                                            <td  ng-click="addInAttendees()"><img src="~/Images/addicon.png" style="width:20px; height:20px;" ></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    <div class="clearfix"></div>
                    <div class="grid_body table-responsive" style="max-height:400px;">
                        <table class="mygrid">
                            <thead>
                                <tr>
                                    <th>
                                        Discussion
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="mygridBody">
                                <tr ng-repeat="ds in ArrDiscussion track by $index">
                                <td>{{ds.Discussion}}</td>
                                    <td ng-click="deleteInArrDiscussion($index,ds.PK_Ds_ID)"><img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                            </tr>
                                <tr>
                                    <td><input type="text" ng-model="d.Discussion"/></td>
                                    <td ng-click="addInArrDiscussion()"><img src="~/Images/addicon.png" style="width:20px; height:20px;"></td>
                                </tr>


                                @*<tr>
                        <td>
                            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="">Submit</button>

                        </td>
                    </tr>*@

                            </tbody>
                        </table>
                    </div>

                        </div>
                                     <div class="modal-footer">
                            <button style="float:left;" type="button" class="btn btn-success" ng-click="saveMOM()">Submit</button >
                            <button type="button" style="float:left;" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                </div>
                </div>

            </div>
       

    <div class="form_label">
        <div class="col-1">&nbsp;</div>
        <div class="col-3">
            <span>Start Date<label class="mandatory">*</label></span>
        </div>
        <div class="col-6">
            @Html.TextBoxFor(a => a.StartDate, new { @class = "validate[required,'Please enter start date'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtStartDate" })
        </div>
        <div class="col-2">&nbsp;</div>
    </div>

    <div class="form_label">
        <div class="col-1">&nbsp;</div>
        <div class="col-3">
            <span>End Date<label class="mandatory">*</label></span>
        </div>
        <div class="col-6">
            @Html.TextBoxFor(a => a.EndDate, new { @class = "validate[required,'Please enter end date'] Txtbox", @maxlength = "20", @autocomplete = "off", @id = "txtEndDate" })
        </div>
        <div class="col-2">&nbsp;</div>
    </div>

    <div class="form_label">
        <div class="col-1">&nbsp;</div>
        <div class="col-3">
            <span>Place Visit<label class="mandatory">*</label></span>
        </div>
        <div class="col-6">
            @Html.TextBoxFor(a => a.PlaceVisit, new { @class = "validate[required,'Please enter place visit'] Txtbox", @maxlength = "500", @autocomplete = "off" })
        </div>
        <div class="col-2">&nbsp;</div>
    </div>

    <div class="form_label">
        <div class="col-1">&nbsp;</div>
        <div class="col-3">
            <span>Purpose of Visit<label class="mandatory">*</label></span>
        </div>
        <div class="col-6">
            @Html.TextAreaFor(a => a.PurposeVisit, new { @class = "validate[required,'Please enter purpose visit'] TxtboxArea", @maxlength = "500", @autocomplete = "off" })
        </div>
        <div class="col-2">&nbsp;</div>
    </div>

    <div class="form_label">
        <div class="col-1">&nbsp;</div>
        <div class="col-3">
            <span>Remarks<label class="mandatory">*</label></span>
        </div>
        <div class="col-6 fl">
            @Html.TextAreaFor(a => a.Remark, new { @class = "validate[required,'Please enter remarks'] TxtboxArea", @maxlength = "1000", @autocomplete = "off" })
        </div>
        <div class="col-2">&nbsp;</div>
    </div>

    <div class="form_label">
        <div class="col-4 fl">
            @if (@Model.Task == "FSR")
            {
                <a href="#" onclick="SendToBackClaim('@Model.FkClaimId','@Model.Task')" data-content="0" class="btn yellow fl">Back</a>
            }
        </div>
        <div class="col-4 t_center">
            <input type="button" id="btnSurveyorVisits" data-content="0" class="btn" value="Submit" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("ManageClaims", "Survery")" class="btn yellow">Cancel</a>
        </div>
        <div class="col-4">
            @*<a href="#" onclick="SendToNextMarineJIRConsignment('@Model.FkClaimId','@Model.Task')" id="btnNextDetails" class="btn yellow fr">Next</a>*@
            <a href="/Survery/ClaimForm?fkClaimId=@Model.FkClaimId&task=@Model.Task" id="btnNextDetails" class="btn yellow fr">Next</a>
        </div>
    </div>

    <div class="grid_body">
        <table id="tableSurveyorVisits" class="mygrid">
            <thead>
                <tr id="tr_0">
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Place Visit</th>
                    <th>Purpose Visit</th>
                    <th>Remarks</th>
                    <th>MOM</th>
                    <th>Action</th>

                </tr>
            </thead>
            @foreach (System.Data.DataRow row in (ViewBag.SurveyorVisits.Rows))
            {
                <tr id="tr_@row["PK_ID"]">
                    <td>@row["StartDate"]</td>
                    <td>@row["EndDate"]</td>
                    <td>@row["PlaceVisit"]</td>
                    <td>@row["PurposeVisit"]</td>
                    <td>@row["Remark"]</td>
                    @*<td ng-click="showModalMOM('@Model.FkClaimId')">MOM</td>*@
                    <td ng-click="showModalMOM('@row["PK_ID"]')"><i class="glyphicon glyphicon-eye-open"></i></td>
                    @*<td style="display:none;"><input type="hidden"  value="@row["PK_ID"]" class="pk_SV_ID" /></td>*@
                    <td style="display:none;"><input type="hidden" value="@Model.FkClaimId" id="claimId" /></td>
                    <td>

                        <a href="#" onclick="EditSurveyorVisits('tr_@row["PK_ID"]','@row["PK_ID"]')" class="btn">
                            <img src="/Images/edit-128.png" style="width: 20px; height: 20px;" alt="" title="Edit">
                        </a>
                        <a href="#" onclick="DeleteSurveyorVisits('tr_@row["PK_ID"]','@row["PK_ID"]')" class="btn">
                            <img src="/Images/Delete_icon.png" style="width: 20px; height: 20px;" alt="" title="Delete">
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
@*@section scripts{
    <script src="~/Scripts/Angular/Contoller/Marine/MOMCtrl.js"></script>
    }*@