﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SurveryMaster</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/js")*@

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Content/JS/Common.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationScript/Validation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/calendar/datetimepicker_css.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GridView/jquery.tablePagination.0.1.js")"></script>
    <script src="@Url.Content("~/Scripts/GridView/jquery.tablesorter.js")"></script>
</head>
<body>
    <div class="container">
        <div class="head">
            <div class="log">
                @*<img src="@Url.Content("~/Images/logo.png")" alt="logo" />*@
            </div>
            <div class="navbar">
                <ul class="outer">
                    <li>
                        <img src="@Url.Content("~/Images/home.png")" alt="Home" /><br />
                        <a href="@Url.Action("Index")">Home</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/adduserIcon.png")" alt="User Manage" /><br />
                        <a href="#">Manage User</a>
                        <ul class="inner">
                            <li><a href="@Url.Action("AddNewUser", "SuperAdmin")">Add User</a></li>
                            <li><a href="@Url.Action("ManageUser", "SuperAdmin")">Manage User</a></li>
                            <li><a href="@Url.Action("ManageSurveyors","SuperAdmin")">Manage Surveyors</a></li>
                        </ul>
                    </li>
                    @*<li>
                        <img src="@Url.Content("~/Images/addstateIcon.png")" alt="State" /><br />
                        <a href="#">State</a>
                        <ul class="inner">
                            <li><a href="@Url.Action("StateMaster", "SuperAdmin")">Manage State</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/branchIcon.png")" alt="Branch" /><br />
                        <a href="#">Branch</a>
                        <ul class="inner">
                            <li><a href="@Url.Action("BranchMaster", "SuperAdmin")">Manage Branch</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/addservicesIcon.png")" alt="Service" /><br />
                        <a href="#">Service</a>
                        <ul class="inner">
                            <li><a href="@Url.Action("ServiceMaster", "SuperAdmin")">Add Service</a></li>
                            <li><a href="@Url.Action("ManageServices", "SuperAdmin")">Manage Service</a></li>
                            <li><a href="@Url.Action("ServiceAllocate", "SuperAdmin")">Service Allocate</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/adduserIcon.png")" alt="User Manage" /><br />
                        <a href="#">Manage User</a>
                        <ul class="inner">
                            <li><a href="@Url.Action("UserMaster", "SuperAdmin")">Add User</a></li>
                             <li><a href="@Url.Action("ManageUser", "SuperAdmin")">Manage User</a></li>                            
                            <li><a href="@Url.Action("AddCustomer", "SuperAdmin")">Add Customer</a></li>
                            <li><a href="@Url.Action("ManageCustomer", "SuperAdmin")">Manage Customer</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/expenceIcon.png")" alt="Home" /><br />
                        <a href="#">Expense</a>
                        <ul class="inner">
                            <li><a href="@Url.Action("ExpensesItems", "SuperAdmin")">Add Expenses Items</a></li>
                            <li><a href="@Url.Action("ExpenseManage", "SuperAdmin")">Manage Expenses</a></li>
                            <li><a href="@Url.Action("ExpenseUtilization", "SuperAdmin")">Expenses Utilization</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/home.png")" alt="Home" /><br />
                        <a href="@Url.Action("OrderType")">Order Type</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/other-links.png")" alt="Home" /><br />
                        <a href="#">Other Links</a>
                        <ul class="inner">
                            <li><a href="@Url.Action("HeaderImage", "SuperAdmin")">Header Banners</a></li>
                            <li>@Html.ActionLink("About Us", "Content", new { @PageName = "aboutus" })</li>
                            <li>@Html.ActionLink("Services", "Content", new { @PageName = "services" })</li>
                            <li>@Html.ActionLink("Membership", "Content", new { @PageName = "membership" })</li>
                            <li>@Html.ActionLink("Contact Us", "Content", new { @PageName = "contactus" })</li>
                            <li><a href="@Url.Action("ManageContent", "SuperAdmin")">Manage Pages Content</a> </li>
                            <li>@Html.ActionLink("About us (Our Pillars)", "AboutUsTestimonial", new { @PageName = "Aboutus" }) </li>
                            <li>@Html.ActionLink("Contact Us (Our Address)", "AboutUsTestimonial", new { @PageName = "Contactus" }) </li>
                            <li>@Html.ActionLink("Services Icons", "AboutUsTestimonial", new { @PageName = "services" })</li>
                            <li>@Html.ActionLink("Testimonial", "Testimonial")</li>
                        </ul>
                    </li>*@
                    <li>
                        <img src="@Url.Content("~/Images/logoutIcon.png")" alt="Home" /><br />
                        <a href="@Url.Action("Logout", "Login")">Log Out</a></li>
                </ul>
            </div>
        </div>
        @*<h1 class="headingText"></h1>
        <p style="color: #0371c0; font-weight: bold; font-size: 16px; margin: 8px 0px; padding-left: 48px; font-family: Latha;">Welcome: @Html.Raw(Session["UserName"])</p>*@
        <div style="min-height: 350px;">
            @RenderBody()
        </div>
    </div>
    <div class="footer">&nbsp; <span style="color: #31b0d0">&nbsp;&nbsp;&nbsp;</span></div>
</body>
</html>
