﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SurveryMaster</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/css/menu/menu.css" rel="stylesheet" />
    <link href="~/Scripts/MessageBox/alert.css" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Content/JS/Common.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationScript/Validation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/calendar/datetimepicker_css.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/GridView/jquery.tablePagination.0.1.js")"></script>
    <script src="@Url.Content("~/Scripts/GridView/jquery.tablesorter.js")"></script>




    <link href="@Url.Content("~/Scripts/calendar/jquery-ui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/calendar/jquery-ui.js")"></script>


    <script type="text/javascript">
        function showSuccessToast(msg) {
            $().toastmessage('showSuccessToast', msg);
        }
        function showStickySuccessToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-right',
                type: 'success',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });

        }
        function showNoticeToast(msg) {
            $().toastmessage('showNoticeToast', msg);
        }
        function showStickyNoticeToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-left',
                type: 'notice',
                closeText: '',
                close: function () { console.log("toast is closed ..."); }
            });
        }
        function showWarningToast(msg) {
            $().toastmessage('showWarningToast', msg);
        }
        function showStickyWarningToast(msg) {
            $().toastmessage('showToast', {
                text: 'msg',
                sticky: true,
                position: 'middle-right',
                type: 'warning',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }
        function showErrorToast(msg) {
            $().toastmessage('showErrorToast', msg);
        }
        function showStickyErrorToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'center',
                type: 'error',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }
    </script>
    <style type="text/css">
        .ui-datepicker {
            background: #FCEBBB;
            border: 1px solid #555;
            color: #ff0000;
            font-family: Arial;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container" id="container">
        <div class="head">
            <div style="height: 70px; width: 150px; background-color: #ff6a00; float: left">
                @*                <div style="float:left;color:#000000;">
                    
                </div>*@
            </div>
            <div style="height: 70px; width: 150px; background-color: #00ff21; float: right;">
            </div>
            <div class="cb"></div>
            <div id='cssmenu'>
                <ul>
                    <li><a href='#'>Home</a></li>
                    <li class='active'><a href="@Url.Action("ManageClaims", "Survery")">View Claims</a>
                        @*<ul>
                            <li><a href="#">Add User</a></li>
                            <li><a href="#">Manage User</a></li>
                            <li><a href="@Url.Action("UploadDocument","Survery")">Upload Document</a></li>
                        </ul>*@
                    </li>
                    @*<li class='active'><a href="#">Mange Claim</a>
                        <ul>
                            <li><a href="@Url.Action("GenrateClaim", "Survery")">Genrate Claim</a></li>
                            <li><a href="@Url.Action("ManageClaims", "Survery")">View Claims</a></li>
                        </ul>
                    </li>*@
                    <li><a href="@Url.Action("Login", "Login")">Logout</a></li>
                </ul>
            </div>
        </div>
        @*<h1 class="headingText"></h1>
        <p style="color: #0371c0; font-weight: bold; font-size: 16px; margin: 8px 0px; padding-left: 48px; font-family: Latha;">Welcome: @Html.Raw(Session["UserName"])</p>*@
        <div>
            @RenderBody()
        </div>
    </div>
    <div class="footer">&nbsp; <span style="color: #31b0d0">&nbsp;&nbsp;&nbsp;</span></div>
</body>
<script src="~/Scripts/MessageBox/jquery_002.js"></script>
<script src="~/Scripts/MessageBox/messagejs.js"></script>
</html>
