﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- title and meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Login</title>
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <script src="~/Content/PageScript/jquery-1.11.0.min.js"></script>
    <script src="~/Content/PageScript/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("#btncancel", function () {
                //window.location = "/honne/index";
                alert("hi");
            });
        });
    </script>
</head>
<body class="body_inner">
    <section class="login_section">
        <div class="graphic_container">
            <div class="login_form">
                @RenderBody()
            </div>
        </div>
    </section>
</body>
</html>
