﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- title and meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Sai Surveyors</title>

    <!-- css -->
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Scripts/calendar/jquery-ui.css" rel="stylesheet" />
    <!-- js -->
    <script src="~/Content/PageScript/jquery-1.11.0.min.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

    <script type="text/javascript" src="~/Content/PageScript/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
var jQuery_1_1_3 = $.noConflict(true);
    </script>

    <!-- load jQuery 1.3.2 -->
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
var jQuery_1_3_2 = $.noConflict(true);
    </script>

    <script src="~/Content/PageScript/modernizr-1.0.min.js"></script>
    <script src="~/Scripts/calendar/jquery-ui.js"></script>
    <script src="~/Content/JS/Common.js"></script>

    <link href="~/Scripts/HeaderMenu/HeaderMenu.css" rel="stylesheet" />
    <script src="~/Scripts/HeaderMenu/HeaderMenu.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />*@

    <link href="~/Scripts/ValidationScript/popupwithoutJquery.css" rel="stylesheet" />
    <script src="~/Scripts/ValidationScript/Validation.js"></script>
    <link href="~/Scripts/ValidationScript/ValidationCSS.css" rel="stylesheet" />

    <link href="~/Scripts/MessageBox/alert.css" rel="stylesheet" />
    <script src="~/Scripts/MessageBox/messagejs.js"></script>


    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/Angular/Contoller/main.js"></script>

    <script type="text/javascript">

        function showSuccessToast(msg) {
            $().toastmessage('showSuccessToast', msg);
        }
        function showStickySuccessToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-right',
                type: 'success',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }

        function showNoticeToast(msg) {
            $().toastmessage('showNoticeToast', msg);
        }

        function showStickyNoticeToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-left',
                type: 'notice',
                closeText: '',
                close: function () { console.log("toast is closed ..."); }
            });
        }

        function showWarningToast(msg) {
            $().toastmessage('showWarningToast', msg);
        }

        function showStickyWarningToast(msg) {
            $().toastmessage('showToast', {
                text: 'msg',
                sticky: true,
                position: 'middle-right',
                type: 'warning',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }

        function showErrorToast(msg) {
            $().toastmessage('showErrorToast', msg);
        }

        function showStickyErrorToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'center',
                type: 'error',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }
        
    $(document).on("click", ".img", function () {
        var src = $(this).attr("src");
        var htmlTable = "<div> <img src=" + src + " alt='' style=\"height:180px;width:180px\" /> </div>";
        var div = $("<a href=\"#popup\" id=\"pop\"></a><a href=\"#x\" class=\"overlay\" id=\"popup1\"></a><div class=\"popup\"><div id=\"ViewImg\"></div><a class=\"close\" href=\"#close\"></a></div>");
        $(div).appendTo("body");
        $("#ViewImg").empty();
        $("#ViewImg").append(htmlTable);
        window.location = "#popup1";
    });
    </script>

</head>
<body ng-app="myApp">

    <header>
        <div class="wrap_fullw">
            <div class="top_logo_wrap">
                <a href="dashboard.htm">
                    <img src="/images/logo.png" alt="Sai Surveyors" />
                </a>
            </div>
            <div class="user-wrap">
                <a href="javascript:void(0)" id="notificationLink">
                    <img src="/images/user-thumb.jpg" alt="" />
                    <span class="username username-hide-on-mobile">@Html.Raw(Convert.ToString(Session["UserName"]))</span> <i class="icon-chevron-down"></i>
                </a>
                <div id="notificationContainer">
                    <ul>
                        <li><a href="/Survery/SurveyorProfile">My Profile</a></li>
                        <li><a href="@Url.Action("UploadDocument", "Survery")">Upload Photos</a></li>
                        @*<li><a href="#">Change Password</a></li>*@
                       <li><a href="" data-toggle="modal" data-target="#modalChangePassword">Change Password</a> </li>
                       
                        <li><a href="#">Account Setting</a></li>
                        <li><a href="@Url.Action("Login", "Login")">Logout</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>

    <div id='cssmenu'>
        @{
            if (Convert.ToString(Session["UserType"]) == "Survery")
            {
                <ul>
                    <li>
                        <a href='@Url.Action("index","Survery")'>
                            <img src="@Url.Content("~/Images/menuhome.png")" alt="" style="width:25px;height:25px;" />
                        </a>
                    </li>
                    <li><a href="@Url.Action("GenrateClaim", "Survery")">Generate Claim</a></li>
                    <li><a href="@Url.Action("ManageClaims", "Survery")">View Claims</a></li>
                    <li><a href="@Url.Action("SurveyorTraineeInfo", "Survery")">Trainee Info</a></li>
                    <li><a href="@Url.Action("AssignTask", "Survery")">Assign Task</a></li>
                    <li><a href="@Url.Action("TaskManager", "Survery")">Task Manager</a></li>
                </ul>
            }
            else if (Convert.ToString(Session["UserType"]) == "Insured")
            {
                <ul>
                    <li><a href="@Url.Action("ManageClaims", "Survery")">View Claims</a></li>
                </ul>
            }
            else
            {
                <ul>
                    @*<li class='active'><a href='index.html'>Home</a></li>*@
                    <li><a href='/Survery/ManageClaims'>Home</a></li>
                    <li><a href='@Url.Action("TraineeSendRequest", "Survery")'>Trainee Send Request</a></li>
                    <li><a href='@Url.Action("ManageClaims", "Survery")'>Mange Claim</a></li>
                </ul>
            }
        }
    </div>

    <section class="middle_wrap cf">
        <div class="middle_col">
            <div class="grid_head t_center">
                <label class="mandatory fr">Field marked with(*) are mandatory</label>
                <b>
                    <heading>&nbsp;</heading>
                </b>
            </div>
            <div class="content_area">
                @RenderBody()
            </div>
        </div>
    </section>


    <footer>
        <div class="wrap_1000_px">
            <p class="copyright"><span>&copy;</span> Sai Surveyors</p>
        </div>
    </footer>

    <script src="~/Scripts/Angular/Directive/CommonDirectives.js"></script>
    <script src="~/Scripts/Angular/Service/CommonService.js"></script>

    @RenderSection("scripts", false);

    <style>
        .form_label span { color: #000; display: block; padding: 1px 0; text-align: left; font-size: 14px; }
        input[type="text"], input[type="password"], textarea, select, input[type="file"] { padding: 4px 5px; }
  select {
    padding: 5px;
    line-height: 35px;
    height: 28px;
}
    </style>


    
    @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>*@

    <!-- Modal -->
    <div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="SurveyorRegistrationCtrl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <h6 ng-show="passwordMsg!=''" class="alert alert-danger help-block">{{passwordMsg}}</h6>
                    <form class="form-horizontal">
                        <div class="container">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label>Old Password</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="password" class="form-control" maxlength="50" ng-model="oldPassword" />
                                    </div>
                                    <div class="clearfix">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label>New Password</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="password" class="form-control" maxlength="50" ng-model="newPassword" />
                                    </div>
                                    <div class="clearfix">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label>Confirm Password</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="password" class="form-control" maxlength="50" ng-model="confirmPassword" />
                                    </div>
                                    <div class="clearfix">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" ng-click="updateSurveyorsPassword()">Update Password</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script src="~/Scripts/Angular/Contoller/Surveyor/SurveyorRegistrationCtrl.js"></script>