﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SurveryMaster</title>

    <!-- css -->
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Scripts/calendar/jquery-ui.css" rel="stylesheet" />
    <!-- js -->
    <script src="~/Content/PageScript/jquery-1.11.0.min.js"></script>
    <script src="~/Content/PageScript/modernizr-1.0.min.js"></script>
    <script src="~/Scripts/calendar/jquery-ui.js"></script>
    <script src="~/Content/JS/Common.js"></script>

    <link href="~/Scripts/HeaderMenu/HeaderMenu.css" rel="stylesheet" />
    <script src="~/Scripts/HeaderMenu/HeaderMenu.js"></script>

    <link href="~/Scripts/ValidationScript/popupwithoutJquery.css" rel="stylesheet" />
    <script src="~/Scripts/ValidationScript/Validation.js"></script>

    <link href="~/Scripts/MessageBox/alert.css" rel="stylesheet" />
    


    <link href="~/Content/css/autocomplete.css" rel="stylesheet" />


    <script type="text/javascript">
        function showSuccessToast(msg) {
            $().toastmessage('showSuccessToast', msg);
        }
        function showStickySuccessToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-right',
                type: 'success',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });

        }
        function showNoticeToast(msg) {
            $().toastmessage('showNoticeToast', msg);
        }
        function showStickyNoticeToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'top-left',
                type: 'notice',
                closeText: '',
                close: function () { console.log("toast is closed ..."); }
            });
        }
        function showWarningToast(msg) {
            $().toastmessage('showWarningToast', msg);
        }
        function showStickyWarningToast(msg) {
            $().toastmessage('showToast', {
                text: 'msg',
                sticky: true,
                position: 'middle-right',
                type: 'warning',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }
        function showErrorToast(msg) {
            $().toastmessage('showErrorToast', msg);
        }
        function showStickyErrorToast(msg) {
            $().toastmessage('showToast', {
                text: msg,
                sticky: true,
                position: 'center',
                type: 'error',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }


        

    </script>
</head>
<body>

    @*    <div class="container" id="container">
        <div class="head">
            <div style="height: 70px; width: 150px; background-color: #ff6a00; float: left">
            </div>
            <div style="height: 70px; width: 150px; background-color: #00ff21; float: right;">
            </div>
            <div class="cb"></div>
            <div id='cssmenu'>
                <ul>
                    <li><a href='#'>Home</a></li>
                    <li><a href="@Url.Action("Login", "Login")">Logout</a></li>
                </ul>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <div class="footer">&nbsp; <span style="color: #31b0d0">&nbsp;&nbsp;&nbsp;</span></div>*@



    <header>
        <div class="wrap_fullw">
            <div class="top_logo_wrap">
                <a href="dashboard.htm">
                    <img src="/images/logo.png" alt="Sai Surveyors" />
                </a>
            </div>
            <div class="fade user-wrap">
                <a href="javascript:void(0)" id="notificationLink">
                    <img src="/images/user-thumb.jpg" alt="" />
                    <span class="username username-hide-on-mobile">Jacob Martin</span> <i class="icon-chevron-down"></i>
                </a>
                <div id="notificationContainer">
                    <ul>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Account Setting</a></li>
                        <li><a href="index.htm">Log Out</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href='index.html'>Home</a></li>
            <li class='has-sub'><a href='#'>Manage User</a>
                <ul>
                    <li><a href='#'>Add User</a></li>
                    <li><a href='#'>Manage User</a></li>
                    <li><a href="@Url.Action("UploadDocument", "Survery")">Upload Document</a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='@Url.Action("ManageClaims", "Survery")'>Mange Claim</a>
                <ul>
                    <li><a href="@Url.Action("GenrateClaim", "Survery")">Generate Claim</a></li>
                    <li><a href="@Url.Action("ManageClaims", "Survery")">View Claims</a></li>
                    <li><a href="@Url.Action("SurveyorTraineeInfo", "Survery")">Trainee Info</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Login", "Login")">Logout</a></li>
        </ul>
    </div>

    <section class="middle_wrap cf">
        <div class="middle_col">
            <div class="grid_head">
                <label class="mandatory fr">Field marked with(*) are mandatory</label>
                <heading>&nbsp;</heading>
            </div>
            <div class="content_area">
                @RenderBody()
            </div>
        </div>
    </section>
    <footer>
        <div class="wrap_1000_px">
            <p class="copyright"><span>&copy;</span> Sai Surveyors</p>
        </div>
    </footer>
</body>
</html>
