﻿@model InsuranceSurvey.Models.CSSurveyorsRegistration

@{
    ViewBag.Title = "SurveyorsRegistration";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


@using (Html.BeginForm("SurveyorsRegistration", "Admin"))
{
    <table>
        <tr>
            <td>Enter First Name</td>
            <td>@Html.TextBoxFor(fn => fn.FirstName, new { @Class = "Txtbox" }) </td>
            <td>Enter Last Name</td>
            <td></td>
        </tr>
        <tr>
            <td>Enter Mobile Number</td>
            <td></td>
            <td>Enter Alternate Mobile Number</td>
            <td></td>
        </tr>
        <tr>
            <td>Enter Address</td>
            <td></td>
            <td>Select Counteryr</td>
            <td></td>
        </tr>
        <tr>
            <td>Select State</td>
            <td></td>
            <td>Enter City</td>
            <td></td>
        </tr>
        <tr>
            <td>Enter Pin Code</td>
            <td></td>
            <td>Enter Pan Number</td>
            <td></td>
        </tr>
        <tr>
            <td>Enter Stax Number</td>
            <td></td>
            <td>Enter SLA</td>
            <td></td>
        </tr>
        <tr>
            <td>Select Valid Upto</td>
            <td></td>
            <td>Enter Email id</td>
            <td></td>
        </tr>
        <tr>
            <td>Enter Alternate Email Id</td>
            <td></td>
            <td>Enter Departmentsd</td>
            <td></td>
        </tr>
        <tr>
            <td>Brows Passport Photo</td>
            <td></td>
            <td>Brows Digital Sign</td>
            <td></td>
        </tr>
        <tr>
            <td>Brows Stamp Sign</td>
            <td></td>
            <td>Brows Letter Head</td>
            <td></td>
        </tr>
        <tr>
            <td>Enter IIISLA NO</td>
            <td></td>
            <td>Select Member ship</td>
            <td></td>
        </tr>
        <tr>
            <td>Enter Ini Ref</td>
            <td></td>
            <td>Enter Any Other</td>
            <td></td>
        </tr>
        <tr>
            <td>Select Experience</td>
            <td></td>
            <td>Select Reg Date</td>
            <td></td>
        </tr>
    </table>
}
