﻿sa
*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*.mygrid {
    overflow: hidden;
}*/


.grid_head, .grid_body {
    min-width: 320px;
}

.grid_head, .grid_body {
    min-width: 100%;
}

    .grid_head, .mygrid, .grid_body table {
        width: 100%;
        border: 1px solid #dfdfdf;
    }

        .grid_body, .mygrid tr:hover td {
            background-color: #f5f5f5;
        }

            .grid_head, .mygrid tr td, .grid_body mygrid tr td {
                vertical-align: top;
                border-right: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                padding: 10px;
                background-color: #fff;
            }

        .grid_head, .mygrid thead tr th {
            border: 0px;
            background-color: #0069b5;
            /*background: transparent linear-gradient(to bottom, #5a595a 0%, #474747 100%) repeat;*/
            font-family: 'robotomedium';
            font-weight: normal;
            text-align: left;
        }

        .mygrid th {
            color: #fff;
        }

            .mygrid th:hover:not(:nth-last-child(1)) {
                color: #1F1286;
            }

            .mygrid th:nth-last-child(1) {
                cursor: help;
            }

.grid_head {
    position: relative;
}

    .grid_head a.add_bttn, .grid_head a.back_link {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 4px;
        right: 10px;
        font-size: 28px;
        color: #fff;
    }

        .grid_head a.add_bttn:hover, .grid_head a.back_link:hover {
            color: #000;
        }

    .grid_head .imprt_bttn {
        position: absolute;
        top: 4px;
        right: 60px;
    }

    .grid_head heading {
        display: block;
        padding: 10px;
    }


/******* Star Rating Code Ends *******/
#tablePagination {
    background-color: #878479;
    font-size: 0.8em;
    padding: 5px;
    width: auto;
    color: #fff;
    overflow: auto;
}

#tablePagination_paginater {
    margin-left: auto;
    margin-right: auto;
}

#tablePagination img {
    padding: 0px 2px;
}

#tablePagination_perPage {
    float: left;
    width: 200px;
}

    #tablePagination_perPage select {
        width: 50px;
        margin-right: 10px;
        font-size: 10px;
        padding: 1px;
        height: 24px;
    }

#tablePagination_paginater {
    float: right;
}

    #tablePagination_paginater img {
        vertical-align: middle;
    }

    #tablePagination_paginater input {
        margin: 0 10px;
    }

th.header:not(:nth-last-child(1)) {
    background-image: url(/scripts/gridview/images/bg.gif);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    border-right: 1px solid #fff !important;
    margin-left: -1px;
    background-size: 19px;
}

th.header:nth-last-child(1) {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    border-right: 1px solid #fff !important;
    margin-left: -1px;
    background-size: 19px;
}

th.header.headerSortUp:not(:nth-last-child(1)) {
    background-image: url(/scripts/gridview/images/asc.gif);
}

th.header.headerSortDown:not(:nth-last-child(1)) {
    background-image: url(/scripts/gridview/images/desc.gif);
}
