﻿@model BusinessLayer.Models.CSLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}

@using (Html.BeginForm())
{
    if (ViewData["msg"] != null)
    {
        <p>@ViewData["msg"]</p>
    }
    <h1>
        <img src="@Url.Content("~/images/logo.png")" style="max-width: 265px;" alt="Sai Surveyors" />
    </h1>
    <p>
        @Html.TextBoxFor(m => m.LoginId, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })
    </p>
        <p>
            @Html.PasswordFor(m => m.Password, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })
        </p>
        <p>
            <input type="submit" id="btnsubmit" name="Command" value="Login" class="btn" style="display: inline-block" />
            @*<input type="button" id="btncancel" name="Command" value="Cancel" class="btn yellow" style="display: inline-block" />*@
            <a href="@Url.Action("Index","Home")" class="btn yellow">Cancel</a>
        </p>
}
