﻿@model BusinessLayer.Models.CSLogin

@{
    ViewBag.Title = "Login";
    if (TempData["msg"] != null)
    {
    @Html.Raw("<script>alert('" + Convert.ToString(TempData["msg"]) + "');</script>")
    }
}

@*<!DOCTYPE html>
<link href="@Url.Content("~/Content/ControlsDesign.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/afterLoginstyle.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/ValidationScript/Validation.js")"></script>
<link href="@Url.Content("~/Scripts/ValidationScript/ValidationCSS.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/ValidationScript/popupwithoutJquery.css")" rel="stylesheet" />

<body style="margin: 0px">
    <div style="margin-left: 420px;">
        <a href="@Url.Action("SuperAdminLogin", "Login")">Admin Login</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Login", "Login")">Surveyor Login</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("SurveyorRegistration", "Home")">Surveyor Registration</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("InsuredRegistration", "Home")">Insured Registration</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("InsuredLogin", "Login")">Insured Login</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("TraineeSurveyorsRegistration", "Home")">Trainee Registration</a>
    </div>

    <div class="container">
        @using (Html.BeginForm())
        {
            <table class="tbllist" align="center" style="margin-top: 80px">
                <tr>
                    <td style="font-size: 14pt; font-weight: bold">Admin Login</td>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td>@Html.TextBoxFor(m => m.LoginId, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>@Html.PasswordFor(m => m.Password, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" id="btnsubmit" name="Command" value="Login" class="Btn" />
                        <input type="reset" id="btncancel" name="Command" value="Cancel" class="Btn" />
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <br />
        }
    </div>
</body>*@


@using (Html.BeginForm())
{
    <h1>
        <img src="@Url.Content("~/images/logo.png")" style="max-width: 265px;" alt="Sai Surveyors" /></h1>
    <p>
        @Html.TextBoxFor(m => m.LoginId, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })
    </p>
    <p>
        @Html.PasswordFor(m => m.Password, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })
    </p>
    <p>
        <input type="submit" id="btnsubmit" name="Command" value="Login" class="btn" style="display: inline-block" />
        @*<input type="button" id="btncancel" name="Command" value="Cancel" class="btn yellow" style="display: inline-block" />*@
        <a href="@Url.Action("Index","Home")" class="btn yellow">Cancel</a>
    </p>
}

