﻿@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/LoginMaster.cshtml";
}


@using (Html.BeginForm("authenticateUser", "Login"))
{
    <h1>
        <img src="@Url.Content("~/images/logo.png")" style="max-width: 265px;" alt="Sai Surveyors" />
    </h1>
        <p>
            <input type="text" name="userName" maxlength="50" autocomplete="off" />
            @*@Html.TextBoxFor(m => m.LoginId, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })*@
        </p>
        <p>
            <input type="password" name="password" />
            @*@Html.PasswordFor(m => m.Password, new { @class = "Txtbox", @maxlength = "150", @autocomplete = "off" })*@
        </p>
        <p>
            <input type="submit" id="btnsubmit" name="Command" value="Login" class="btn" style="display: inline-block" />
            @*<input type="button" id="btncancel" name="Command"  value="Cancel" class="btn yellow" style="display: inline-block" />*@
            <a href="@Url.Action("Index", "Home")" class="btn yellow">Cancel</a>
        </p>
}
