﻿@{
    ViewBag.Title = "Bill";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html("Bill");
    });
</script>

    <div ng-controller="BillCtrl">
        <form id="formBill">
            <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
            <div class="form_label">
                <div class="col-3">
                    <span>Invoice No. :</span>
                </div>
                <div class="col-3">
                    <span>{{bh.InvoiceNo}}</span>
                </div>
                <div class="col-3">
                    <span>  Your Claim No. :</span>
                </div>
                <div class="col-3"><span> {{bh.ClaimNo}}</span>       </div>
            </div>

            <div class="grid_body table-responsive" style="max-height:400px;">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                KM run

                            </th>
                            <th>
                                MOC

                            </th>
                            <th>
                                Rate Per KM

                            </th>
                            <th>
                                DA

                            </th>
                            <th>
                                No. of Photos

                            </th>
                            <th>
                                No. of Hours

                            </th>
                            <th>
                                Prof. Fee
                            </th>
                            <th>Total</th>

                        </tr>
                    </thead>
                    <tbody id="mygridBody">
                        <tr ng-repeat="v in   listSV track by $index">
                            <td>  {{v.StartDate}}-To-{{v.EndDate}}</td>
                            <td> <input type="text" ng-model="v.KMRun" ng-change="calRowWiseAmont()" valid-number /> </td>
                            <td><select ng-model="v.MOC_ID" ng-options="mc.PK_MC_ID as mc.ModeOfConveyance for mc in listMC"></select></td>
                            <td><input type="text" ng-model="v.RatePerKM" ng-change="calRowWiseAmont()" valid-number /></td>
                            <td><input type="text" ng-model="v.DA" ng-change="calRowWiseAmont()" valid-number /></td>
                            <td><input type="text" ng-model="v.NoOfPhotos" valid-number /></td>
                            <td><input type="text" ng-model="v.NoOfHours" /></td>
                            <td><input type="text" ng-model="v.ProfFee" valid-number /></td>
                            <td><input type="text" ng-model="v.RowWiseAmont" disabled /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid_body table-responsive" style="max-height:400px;">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Amount
                            </th>
                            <th ng-show="tbER==1">Action</th>
                        </tr>
                    </thead>
                    <tbody id="mygridBody"></tbody>
                    <tr ng-repeat="e in listER track by $index">
                        <td>{{e.ExpenseDT}}</td>
                        <td>{{e.Description}}</td>
                        <td>{{e.Amount}}</td>
                        <td ng-show="tbER==1" ng-click="deleteInlistER($index,e.PK_ER_ID)"><img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                    </tr>
                    @*<tr ng-show="trER==1">*@
                    <tr ng-show="tbER==1">
                        <td><input type="text" ng-model="er.ExpenseDT" datepicker /></td>
                        <td><input type="text" ng-model="er.Description" maxlength="100" /></td>
                        <td><input type="text" ng-model="er.Amount" valid-number /></td>
                        <td ng-click="addInlistER()"><img src="~/Images/addicon.png" style="width:20px; height:20px;" /></td>
                    </tr>

                </table>
            </div>
            <div class="form_label">
                <div class="col-12 t_center mt20">
                    <button ng-show="tbER==1" type="submit" class="btn yellow" ng-click="saveBill()">Submit</button>
                    @*<button type="button" ng-click="testing()">Testing</button>*@
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" ng-click="cancel()" class="btn yellow">Cancel</button>
                    @*<button type="submit" class="btn yellow" style="float:right;" ng-click="saveInsuredClaim('n')">Next</button>*@
                    @*<a href="/MISCFSR/RecoverySubrogation?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                        Prev
                    </a>*@
                </div>
            </div>
            <div class="grid_body table-responsive" style="max-height:400px;">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th>
                                Invoice No
                            </th>
                            <th>
                                Total Amount
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="mygridBody"></tbody>
                    <tr ng-repeat="b in listBH">
                        <td>
                            {{b.InvoiceNo}}
                        </td>
                        <td>{{b.InvoiceAmount}}</td>
                        <td ng-click="getBillVisitDetail_And_Expenses(b.PK_BH_ID,b.InvoiceNo)"><img src="~/Images/edit-128.png" style="width:20px; height:20px;" /> </td>

                    </tr>
                    @*<tr ng-show="trER==1">*@


                </table>
            </div>
        </form>
</div>


@section scripts{

    <script src="~/Scripts/Angular/Contoller/Common/BillCtrl.js"></script>

}