﻿@{
    ViewBag.Title = "PaymentReceive";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(window).load(function () {
        $("heading").html("Payment Receive");
    });
</script>

@*<h2>PaymentReceive</h2>*@
<div ng-controller="PaymentReceiveCtrl">
<input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
<div class="form_label">
    <div class="col-2">
        <span>
            Job No.
        </span>

    </div>
    <div class="col-3">
        <input type="text" ng-model="JobNo" disabled />
    </div>
 

</div>



<div class="grid_body table-responsive" style="max-height:400px;">
    <table class="mygrid">
        <thead>
            <tr>
                <th>Invoice No</th>
                <th>Invoice Date</th>
                <th>Invoice Amount</th>
               <th>Receive Date</th>
                <th>
                    UTRN

                </th>
                <th>
                    Fee Amount

                </th>
                <th>
                    Reason for Difference
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="mygridBody"></tbody>
        <tr ng-repeat="pr in  listPR">
 <td><input type="text" ng-model="pr.InvoiceNo" disabled/></td>          
            <td><input type="text" ng-model="pr.InvoiceDT" disabled/></td>          
            <td><input type="text" ng-model="pr.InvoiceAmount" disabled/></td>          
            <td><input type="text" ng-model="pr.ReceiveDT" ng-disabled="pr.Status=='Closure' || pr.Status=='Dispute'" datepicker/></td>         
            <td><input type="text" ng-model="pr.UTRN" ng-disabled="pr.Status=='Closure' || pr.Status=='Dispute'" /></td>         
            <td><input type="text" ng-model="pr.FeeAmount" ng-disabled="pr.Status=='Closure' || pr.Status=='Dispute'"  valid-number  /></td>         
            <td><input type="text" ng-model="pr.ReasonForDifference" ng-disabled="pr.Status=='Closure' || pr.Status=='Dispute'" /></td>         
 <td><button type="button" class="btn btn-success btn-sm" ng-disabled="pr.InvoiceAmount!= pr.FeeAmount || pr.FeeAmount==null || pr.FeeAmount==''" ng-hide="pr.Status=='Closure' || pr.Status=='Dispute'" ng-click="savePaymentReceive(pr,'Closure')">Closure
</button>
            &nbsp;
 <button type="button" class="btn btn-danger btn-sm" ng-disabled="pr.InvoiceAmount==pr.FeeAmount || pr.FeeAmount==null || pr.FeeAmount==''" ng-hide="pr.Status=='Closure' || pr.Status=='Dispute'" ng-click="savePaymentReceive(pr,'Dispute')">
             Dispute
</button> <strong ng-show="pr.Status=='Closure' || pr.Status=='Dispute'">{{pr.Status}}</strong> </td>
        </tr>

    </table>
</div>
    </div>
@section scripts{
    
<script src="~/Scripts/Angular/Contoller/Common/PaymentReceiveCtrl.js"></script>
    }