﻿@{
    ViewBag.Title = "ReminderForFee";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html("Reminder For Fee");
    });
</script>

@*<h2>ReminderForFee</h2>*@
<div ng-controller="ReminderForFeeCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-3">
            <span>
                Insurers
            </span>
        </div>
        <div class="col-3">
            <select ng-options="i.PK_InsrID as i.InsurerName for i in listIns" ng-model="rh.Insurer_ID"></select>
        </div>
        <div class="col-3">
            <span>
                Office Code
            </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="rh.OfficeCode" />
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>
                Address
            </span>
        </div>
        <div class="col-9">
            <textarea ng-model="rh.Address"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>
                Reminders for Ageing above
            </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="Days" />
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary btn-sm" ng-click="getReminderForFree()">Search</button>
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>  Date</span>
        </div>
        <div class="col-3">
            <input type="text" />
        </div>
        <div class="col-3">
            <span>
                Ref. No.
            </span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="RefNo" disabled />
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" ng-show="btnSave==1" class="btn yellow" ng-click="saveReminder()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" ng-click="cancel()" class="btn yellow">Cancel</button>
            @*<button type="submit" class="btn yellow" style="float:right;" ng-click="saveInsuredClaim('n')">Next</button>*@
            @*<a href="/MISCFSR/RecoverySubrogation?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>*@
        </div>
    </div>
    <div class="grid_body table-responsive" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Ref. No.</th>
                    @*<th>
                        Date of Loss
                    </th>*@
                    <th>Date of Instruction</th>
                    <th>Insured Name</th>
                    <th>Policy No.</th>
                    <th>Insurer Claim No.</th>
                    <th>Department</th>
                    <th>Invoice No</th>
                    <th>Invoice Date</th>
                    <th>Invoice Amount</th>
                    <th>Ageing of Bills</th>
                    <th>
                        Reminder No.
                    </th>
                    <th>
                        Reminder No.
                    </th>
                    <th>
                        Reminder No.
                    </th>
                </tr>
            </thead>
            <tbody id="mygridBody"></tbody>
            <tr ng-repeat="rf in listRF">
                <td>{{rf.RefNo}}</td>
                @*<td></td>*@
                <td>{{rf.InstructionDate}}</td>
                <td>{{rf.InsurerName}}</td>
                <td>{{rf.PolicyNo}}</td>
                <td>{{rf.InsurerClaimNo}}</td>
                <td>{{rf.DepartmentName}}</td>
                <td>{{rf.InvoiceNo}}</td>
                <td>{{rf.InvoiceDT}}</td>
                <td>{{rf.InvoiceAmount}}</td>
                <td>{{rf.AgeingOfBills}}</td>
                <td ng-style="rf.Reminder_Green>=1 &&{'background-color':'greenYellow'}">{{rf.Reminder_Green}}</td>
                <td ng-style="rf.Reminder_Yellow>=1 &&{'background-color':'Yellow'}">{{rf.Reminder_Yellow}}</td>
                <td ng-style="rf.Reminder_Red>=1 &&{'background-color':'Red'}">{{rf.Reminder_Red}}</td>
            </tr>

        </table>
    </div>
    
    <div class="grid_body table-responsive" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>
                        Insurers
                    </th>
                    <th>
                        Address

                    </th>
                    <th>
                        Office Code
                    </th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody"></tbody>
            <tr ng-repeat="rh in listRH">
                <td>{{rh.InsurerName}}</td>
                <td>{{rh.Address}}</td>
                <td>{{rh.OfficeCode}}</td>
                <td>{{rh.CrtDT | date:'dd/MM/yyyy'}}</td>
                <td ng-click="rowClickReminder(rh,rh.PK_RFH_ID)"><img src="~/Images/edit-128.png" style="width:20px; height:20px;" /></td>
            </tr>   

        </table>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Angular/Contoller/Common/ReminderForFeeCtrl.js"></script>
}