﻿@{
    ViewBag.Title = "BrokerRegisteration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="BrokerCtrl">
    <form id="formBrokerRegistration">
    <div class="form_label">
        <div class="col-3">
            <span>Name Of Brokers</span>
        </div>
       <div class="col-3">
           <select ng-options="b.PK_Broker_ID as b.BrokerName for b in listBroker" ng-model="br.Broker_ID" ng-change="setIRDARegisteration()"
                   class="validate[required,'Please Select Name Of Broker']" id="NameBroker"
                   >
               <option value="">Select</option>
           </select>
       </div>
        <div class="col-3">
            <span>IRDA Registeration</span>
        </div>
       <div class="col-3">
          <input type="text"  readonly="readonly" ng-model="IrdaRegNo"
                 
                 />
       </div>
    </div>


    <div class="form_label">
        <div class="col-3">
            <span>Pricipal Officer (Name)</span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="br.PricipalOfficerName" 
                   class="validate[required,'Please enter Pricipal Officer ']" id="Prin" maxlength="50"
                   />
        </div>
        <div class="col-3">
            <span>Email Id</span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="br.EmailId" maxlength="50"
                   class="validate[required,'Please enter Email Id ']" id="emailId"
                    />
        </div>
    </div>




    <div class="form_label">
        <div class="col-3">
            <span>Mobile No</span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="br.MobileNo" maxlength="10" numbers-only
                   class="validate[required,'Please enter MobileNumber ']" id="Mobile"
                   />
        </div>
        <div class="col-3">
            <span>Alt Mobile No</span>
        </div>
        <div class="col-3">
            <input type="text" ng-model="br.AltMobileNo" maxlength="250"/>
        </div>
    </div>


    <div class="form_label">
        <div class="col-3">
            <span>Address</span>
        </div>
        <div class="col-9">
 <textarea cols="3" ng-model="br.Address" maxlength="250">

 </textarea>
        </div>
    
    </div>
    <div class="form_label">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div class="grid_body table-responsive" style="max-height:400px;">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Alt EmailId</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="mygridBody">
                        <tr ng-repeat="x in listBrokerBranch_EmailId track by $index">
                            <td>
                                <input type="text" ng-model="x.Branch" maxlength="50"/>
                            </td>
                            <td>
                                <input type="text" ng-model="x.AltEmailId" maxlength="50"/>
                            </td>
                            <td ng-click="deleteBrokerBranch_And_EmailId($index,x.PK_BB_ID)">
                            <img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input type="text" ng-model="bb.Branch" />
                            </td>
                            <td>
                                <input type="text" ng-model="bb.AltEmailId" />
                            </td>
                            <td>
                                <button type="button" ng-click="addInListBrokerBranch_EmailId()">
                                    Save
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <div class="form_label">
       <div class="col-3">
           <span>User Name</span>
       </div>
       <div class="col-3">
           <input type="text" ng-model="br.UserName" maxlength="50" />
       </div>
   </div>

   <div class="form_label">
       <div class="col-3">
           <span>Password</span>
       </div>
       <div class="col-3">
           <input type="password"  ng-model="br.Password" maxlength="50"/>
       </div>
       <div class="col-3">
           <span>Confirm Password</span>
       </div>
       <div class="col-3">
           <input type="password" ng-model="br.ConfirmPassword" maxlength="50"/>
       </div>
   </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="BrokerRegisterValidation()">Submit</button>
            <button type="button" style="display:none;" class="btn yellow" id="btnFinalSubmitOtp" ng-click="saveBrokerRegisteration()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("Index", "Home")" class="btn yellow">Cancel</a>
         
        </div>
    </div>
        </form>
    
    <a class="js-open-modal" href="#" id="openPopup" data-modal-id="popupotp"></a>
    <div id="popupotp" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close" id="BrokerPopupClose"></a>
            <h3>
                <span id="min">Remaning minutes  </span>
            </h3>
        </header>
        <div class="modal-body">
            <div class="form_label">
                <div class="col-5 left">
                    <span>Enter OTP<label class="mandatory">*</label></span>
                </div>
                <div class="col-7 right">
                    <input type="text" id="txtOTP" class="Txtbox" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-9">
                    <input type="button" class="right" id="btnSubmitOtp" name="Command" value="Submit" />
                    <input type="submit" class="right dispalyNone" id="btnFinalSubmitOtp" name="Command" value="Submit" />
                </div>
                <div class="col-3">
                    <input type="button" class="right" id="txtReSendOTP" value="Resend" />
                </div>
            </div>
        </div>
        <footer>
            <h2><span id="timer">10</span><em>Second</em></h2>
        </footer>
    </div>
    
</div>


@section scripts{
@*<script src="~/Content/JS/home.js"></script>*@
<script src="~/Scripts/Angular/Contoller/Broker/BrokerCtrl.js"></script>    

    }
