﻿@model BusinessLayer.Models.CSCorporateInsuredRegistration

@{
    ViewBag.Title = "CorporateInsuredRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    jQuery(document).ready(function () {

        //$("#btnCancel").click(function () {
        //    var url = window.location;
        //    url = window.location.href.split('#')[0];
        //    window.location.href = "/Login/Login";
        //});

        $("heading").html("Corporate Insured Registration");
        $('#drpRegion').change(function () {
            var r_Id = this.value;
            $.ajax({
                url: '/Collaborator/getState_byRegion?r_Id=' + r_Id,
                type: 'POST',
                //data: JSON.stringify(b),
                datatype: 'json',
                contentType: 'application/json; charset:utf-8',
                success: function (res) {
                    console.log(res);
                    var listState = res.listState;
                    var tr = '';
                    $(listState).each(function (index, value) {
                        tr += '<option value=' + value.StateCode + '>' + value.StateName + '</option>';
                    })
                    $('#drpState').html('');
                    $('#drpState').append(tr);
                    var sateCode = $("#drpState option:selected").val();
                    var result = new CommonClass()
                    result.Bind(sateCode, "#drpDistrict");
                    //$('#NatureOfLossId').val(0);
                },
                error: function (res) {
                    console.log(res);
                    //$('#NatureOfLossId').val(0);
                }


            })
        })
        
        if ('@TempData["Co-InsMsg"]' != null && '@TempData["Co-InsMsg"]' != '') {
            showSuccessToast('@TempData["Co-InsMsg"]');
            @*'@TempData["Co-InsMsg"]'=null;*@
        }

    });
</script>


@using (Html.BeginForm("CorporateInsuredRegistration", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{

    <div class="form_label">
        <div class="col-3"><span>Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Name, new { @class = "validate[required,character,'Please enter name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>EmailId of principal officer<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Email, new { @class = "validate[required,emailId,'Please enter email id'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtEmailId" })
            <img id="imgEmailId" onclick="CheckEmailExistance('SU','txtEmailId',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Insurers Type<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkInsrID, new SelectList(BusinessLayer.BLCommon.BindInsurersType(), "Key", "Value"), new { @class = "validate[required,'Please select insurers type'] Drp", @id = "drpFKInsrId" })
        </div>
        <div class="col-3"><span>Mobile<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,Mobile,'Please enter mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })
        </div>
    </div>
    
    <div class="form_label">
       
        <div class="col-3"><span>Alternative Mobile</span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.AltMobile, new { @maxlength = "250", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Region<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.R_ID, new SelectList(BusinessLayer.BLCommon.getRegion(), "PK_R_ID", "Region"), new { @class = "validate[required,'Please select Region'] Drp", @id = "drpRegion" })
        </div>
    </div>

    
    <div class="form_label">
        <div class="col-3"><span>State<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <select id="drpState" name="FkState"></select>
            @*@Html.DropDownListFor(ut => ut.FKState, new SelectList(BusinessLayer.BLCommon.BindStates(), "Key", "Value"), new { @class = "validate[required,'Please select state'] Drp", @id = "drpState" })*@
        </div>
        <div class="col-3"><span>District<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkDistricts, new SelectList(BusinessLayer.BLCommon.BindDistricts(Convert.ToString("0")), "Key", "Value"), new { @class = "validate[required,'Please select district'] Drp", @id = "drpDistrict" })
        </div>
    </div>
        
    <div class="form_label">
        <div class="col-3"><span>Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.Address, new { @class = "validate[required,'Please enter address'] TxtboxArea", @maxlength = "400", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Pin code<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Pincode, new { @class = "validate[required,nummber,'Please enter pin code'] Txtbox", @maxlength = "6", @autocomplete = "off" })
        </div>
    </div>    
    
    <div class="form_label">
        <div class="col-3"><span>Reg Office<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.RegOffice, new { @class = "validate[required,nummber,'Please enter reg office'] TxtboxArea", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div style="display:none;">
        <div class="col-3"><span>Experience</span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.Experience, new { @class = "TxtboxArea", @maxlength = "490", @autocomplete = "off" })
        </div>
            </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.UserName, new { @class = "validate[required,'Please enter user name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Password<label class="mandatory">*</label></span></div>


        <div class="col-3">@Html.TextBoxFor(a => a.Password, new { @class = "validate[required,'Please enter Password'] Txtbox", @maxlength = "50", @autocomplete = "off" })</div>


        <div class="col-3"><span>Confirm Password<label class="mandatory">*</label></span></div>


        <div class="col-3">@Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "validate[required,'Please enter Confirm Passowrd'] Txtbox", @maxlength = "50", @autocomplete = "off" })</div>


    </div>


    <div class="form_label">
        <div class="col-12 t_center">
            <input type="button" id="btnCorporateRegistationSubmit" value="Submit" class="btn" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("Index", "Home")" class="btn yellow">Cancel</a>

        </div>
    </div>
    
    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
    <a class="js-open-modal" href="#" id="openPopup" data-modal-id="popupotp"></a>
    <div id="popupotp" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close"></a>
            <h3>
                <span id="min">Remaning minutes  </span>
            </h3>
        </header>
        <div class="modal-body">
            <div class="form_label">
                <div class="col-5 left">
                    <span>Enter OTP<label class="mandatory">*</label></span>
                </div>
                <div class="col-7 right">
                    <input type="text" id="txtOTP" class="Txtbox" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-9">
                    <input type="button" class="right" id="btnSubmitOtp" name="Command" value="Submit" />
                    <input type="submit" class="right dispalyNone" id="btnFinalSubmitOtp" name="Command" value="Submit" />
                </div>
                <div class="col-3">
                    <input type="button" class="right" id="txtReSendOTP" value="Resend" />
                </div>
            </div>
        </div>
        <footer>
            <h2><span id="timer">0</span><em>Second</em></h2>
        </footer>
    </div>
    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
}