﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("UserLogin", "Login")">Admin Login</a> </span></div>
</div>

<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("Login", "Login")">Surveyor Login</a> </span></div>
</div>

<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("SurveyorRegistration", "Home")">Surveyor Registration</a> </span></div>
</div>

<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("InsuredRegistrationNew", "Home")">Insured Registration</a> </span></div>
</div>

<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("InsuredLogin", "Login")">Insured Login</a> </span></div>
</div>

<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("TraineeSurveyorsRegistration", "Home")">Trainee Registration</a> </span></div>
</div>

<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("CorporateInsuredRegistration", "Home")">Corporate Insured Registration</a> </span></div>
</div>


<div class="form_label">
    <div class="col-12"><span> <a href="@Url.Action("BrokerRegisteration", "Home")">Broker Registration</a> </span></div>
</div>