﻿@model BusinessLayer.Models.CSInsuredRegistration

@{
    ViewBag.Title = "InsuredRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@if (ViewBag.Mes != null && ViewBag.Mes != "")
    {
        showSuccessToast(ViewBag.Mes);
    }*@

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript">
    jQuery(document).ready(function () {

        //$("#btnCancel").click(function () {
        //    var url = window.location;
        //    url = window.location.href.split('#')[0];
        //    // window.location.href = url.split('?')[0];
        //    window.location.href = "/Login/Login";
        //});
        $('#btnAddPolicyPhoto_Doc').click(function () {
            $('#mygridBody').append('<tr> <td style="width:10000px;"><input type="file"   name="PolicyPhoto_Doc"/> </td><td  id="btnDeletePolicyPhoto_Doc"> <img src="/Images/Delete_icon.png" style="width:25px; height:25px;" style="cursor:pointer;" /></td></tr>');
        })
        $('#mygridBody').on('click', '#btnDeletePolicyPhoto_Doc', function () {
            $(this).closest('tr').remove();
        })
        $("heading").html("Insured Registration")
    });
</script>


@using (Html.BeginForm("InsuredRegistration", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="form_label">
        <div class="col-3"><span>Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Name, new { @class = "validate[required,character,'Please enter first name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextAreaFor(a => a.Address, new { @class = "validate[required,'Please enter address'] TxtboxArea", @maxlength = "400", @autocomplete = "off" })
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Email Id<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Email, new { @class = "validate[required,emailId,'Please enter email id'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtEmailId" })
            <img id="imgEmailId" onclick="CheckEmailExistance('SU','txtEmailId',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />
        </div>
        @*<div class="col-3">
                <span>
                    Alt Email
                </span>
            </div>
            <div class="col-3">
                @Html.TextBoxFor(a => a.AltEmail, new { @class = "validate[required,'Please enter Alternative Email'] Txtbox", @autocomplete = "off" })
            </div>*@
    </div>
    <div class="form_label">
        <div class="col-3"><span>Mobile<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,Mobile,'Please enter mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Alternative Mobile</span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.AltMobile, new { @*@class = "validate[Mobile,'Please enter mobile number']Txtbox",*@ @maxlength = "200", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Country</span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Country, new { @class = "validate[required,'Please enter Country Name']Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>State<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkState, new SelectList(BusinessLayer.BLCommon.BindStates(), "Key", "Value"), new { @class = "validate[required,'Please select state'] Drp", @id = "drpState" })
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>District<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkDistrict, new SelectList(BusinessLayer.BLCommon.BindDistricts(Convert.ToString("0")), "Key", "Value"), new { @class = "validate[required,'Please select district'] Drp", @id = "drpDistrict" })
        </div>
        <div class="col-3">
            <span>
                Insured Type
            </span>
        </div>
        <div class="col-3">
            <label><input type="radio" name="InsuredType" value="Single Policy Holder" /> Single Policy Holder</label>
            <label><input type="radio" name="InsuredType" value="Multiple Policy Holder " />Multiple Policy Holder </label>
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Policy No<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.PolicyNo, new { @class = "validate[required,'Please enter policy no'] Txtbox", @maxlength = "490", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Insurers<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FKInsrId, new SelectList(BusinessLayer.BLCommon.BindInsurersType(), "Key", "Value"), new { @class = "validate[required,'Please select insurers type'] Drp", @id = "drpFKInsrId" })
        </div>
    </div>




    <div class="form_label">
        <div class="col-3"><span>PAN NO<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.PANNO, new { @class = "validate[required,'Please enter PAN No'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>GST IN</span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.GSTIN, new { @class = "validate[required,'Please enter GST IN'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>


    <div class="form_label">
        <div class="col-3"><span>Pin code<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Pincode, new { @class = "validate[required,nummber,'Please enter pin code'] Txtbox", @maxlength = "6", @autocomplete = "off" })
        </div>
        <div style="display:none;">
            <div class="col-3"><span>Experience</span></div>
            <div class="col-3">
                @Html.TextAreaFor(a => a.Experience, new { @class = "TxtboxArea", @maxlength = "490", @autocomplete = "off" })
            </div>
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.UserName, new { @class = "validate[required,'Please enter user name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Password<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Password, new { @class = "validate[required,'Please enter Password'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Confirm Password</span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "validate[required,'Please enter Confirm Password'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>About Insured</span>

        </div>
        <div class="col-9">
            @Html.TextAreaFor(a => a.AboutInsured, new { @class = "TxtboxArea", @maxlength = "100", @autocomplete = "off", @rows = "4" })
        </div>
    </div>
        //AltMobile
        <div class="form_label">
        <div class="col-3">
            <span>Alt Email</span>
        </div>

        <input type="hidden" id="altEmails" name="AltEmail">

        <div class="col-9 table-responsive emailtag" style="max-height:100px;width:75%">
            <div id="tags">
                <input type="text" id="altEmail" value="">

            </div>
        </div>

    </div>

    <div class="form_label">
        <div class="col-3">


        </div>
        <div class="col-5">
            <div class="grid_body table-responsive" style="max-height:400px;" id="divUploadPolicy">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th style="width:10000px;">
                                Upload Policy
                            </th>

                            <th id="btnAddPolicyPhoto_Doc"><img src="~/Images/addicon.png" style="width:20px; height:20px;" /></th>

                        </tr>
                    </thead>
                    <tbody id="mygridBody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center">
            <input type="button" id="btnInsuredRegistrationSubmit" value="Submit" class="btn" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("Index", "Home")" class="btn yellow">Cancel</a>

        </div>
    </div>


    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
    <a class="js-open-modal" href="#" id="openPopup" data-modal-id="popupotp"></a>
    <div id="popupotp" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close"></a>
            <h3>
                <span id="min">Remaning minutes  </span>
            </h3>
        </header>
        <div class="modal-body">
            <div class="form_label">
                <div class="col-5 left">
                    <span>Enter OTP<label class="mandatory">*</label></span>
                </div>
                <div class="col-7 right">
                    <input type="text" id="txtOTP" class="Txtbox" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-9">
                    <input type="button" class="right" id="btnSubmitOtp" name="Command" value="Submit" />
                    <input type="submit" class="right dispalyNone" id="btnFinalSubmitOtp" name="Command" value="Submit" />
                </div>
                <div class="col-3">
                    <input type="button" class="right" id="txtReSendOTP" value="Resend" />
                </div>
            </div>
        </div>
        <footer>
            <h2><span id="timer">10</span><em>Second</em></h2>
        </footer>
    </div>
    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
}

<script>
    $(document).ready(function () {
        $('input,textarea').keydown(function (event) {

            var id = $(this).attr('id');

            console.log(id);

            //if (id != 'altEmail') {
            if (event.keyCode == 13) {
                if (id == 'altEmail') {
                    console.log('enter clcked');
                    var val = '';

                    setTimeout(function () {

                        $('.emailAdd').each(function (index, element) {

                            if (index == 0) {
                                val += $(this).html();
                            } else {
                                val += ',' + $(this).html();
                            }

                        })

                        $('#altEmails').val(val);

                    }, 500)

                }

                event.preventDefault();
                return false;
            }
            //}
        });
    });
</script>

<script src="~/Scripts/MultipleEmailPlugin/taginput.js"></script>
<link href="~/Scripts/MultipleEmailPlugin/taginput.css" rel="stylesheet" />
<style>
    #tags { border: 1px solid #ccc; padding: 5px; }

        #tags > span { display: block; float: left; color: rgba(0, 0, 0, 0.71); background: rgba(128, 128, 128, 0.43); padding: 5px; padding-right: 25px; margin: 4px; }
</style>