﻿@{
    ViewBag.Title = "InsuredRegisteration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="InsuredRegistrationCtrl">
   
    <form id="formInsuredRegistration">
 
<div class="form_label">
    <div class="col-3"><span>Name<label class="mandatory">*</label></span></div>
    <div class="col-3">
       <input type="text" ng-model="i.Name" maxlength="50" class="validate[required,character,'Please enter first name'] Txtbox"  id="finame"/>
        @*@Html.TextBoxFor(a => a.Name, new { @class = "validate[required,character,'Please enter first name'] Txtbox", @maxlength = "50", @autocomplete = "off" })*@
    </div>
    <div class="col-3"><span>Address<label class="mandatory">*</label></span></div>
    <div class="col-3">
       <textarea cols="4" ng-model="i.Address" maxlength="400"  class="validate[required,character,'Please enter Please enter address'] TxtboxArea" id="add">

       </textarea>
        @*@Html.TextAreaFor(a => a.Address, new { @class = "validate[required,'Please enter address'] TxtboxArea", @maxlength = "400", @autocomplete = "off" })*@
    </div>

</div>
<div class="form_label">
    <div class="col-3"><span>Email Id<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="text" ng-model="i.Email"  maxlength="50" id="txtEmailId" class="validate[required,'Please enter email_id'] Txtbox"/>
        <img id="imgEmailId" onclick="CheckEmailExistance('SU','txtEmailId',this)" style="width:28px;height:22px;" src="@Url.Content("~/Images/filter1.png")" alt="" />
    </div>
   
</div>
<div class="form_label">
    <div class="col-3"><span>Mobile<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="text" ng-model="i.Mobile" maxlength="10" id="Mobile" 
               class="validate[required,'Please enter Mobile_number'] Txtbox"
               />
        @*@Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,,'Please enter mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })*@
    </div>
    <div class="col-3"><span>Alternative Mobile</span></div>
    <div class="col-3">
        <input type="text" ng-model="i.AltMobile" maxlength="250" 
               />
        
    </div>
</div>
<div class="form_label">
    <div class="col-3"><span>Country</span></div>
    <div class="col-3">
        <input type="text" ng-model="i.Country"/>
        @*@Html.TextBoxFor(a => a.Country, new { @class = "validate[required,'Please enter Country Name']Txtbox", @maxlength = "50", @autocomplete = "off" })*@
    </div>
    <div class="col-3"><span>State<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <select ng-options="s.StateCode  as s.StateName for s in listState" ng-model="i.FkState" ng-change="getDistricts_byStateId(i.FkState)"
                class = "validate[required,'Please select state'] Drp" id="st"
                >

        </select>

        @*@Html.DropDownListFor(ut => ut.FkState, new SelectList(BusinessLayer.BLCommon.BindStates(), "Key", "Value"), new { @class = "validate[required,'Please select state'] Drp", @id = "drpState" })*@
    </div>

</div>
<div class="form_label">
    <div class="col-3"><span>District<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <select ng-options="d.PKDistrictsId as d.DistrictName for  d in listDistricts" ng-model="i.FkDistrict"
                class = "validate[required,'Please select district'] Drp" id="dis"
                >

        </select>
        @*@Html.DropDownListFor(ut => ut.FkDistrict, new SelectList(BusinessLayer.BLCommon.BindDistricts(Convert.ToString("0")), "Key", "Value"), new { @class = "validate[required,'Please select district'] Drp", @id = "drpDistrict" })*@
    </div>
    <div class="col-3">
        <span>
            Insured Type
        </span>
    </div>
    <div class="col-3">
        <label><input type="radio" name="InsuredType" value="Single Policy Holder" ng-model="i.InsuredType" ng-change="listPolicy_Insurers=[];t={}; addValidation_onPolicyNo_Insurers();"  /> Single Policy Holder</label>
        <label><input type="radio" name="InsuredType" value="Multiple Policy Holder"  ng-model="i.InsuredType" ng-change="listPolicy_Insurers=[];t={}; addValidation_onPolicyNo_Insurers();"/>Multiple Policy Holder </label>
    </div>
</div>
<div class="form_label" ng-show="i.InsuredType=='Single Policy Holder'">
    <div class="col-3">
    <span>Policy No<label class="mandatory">*</label>
        </span></div>
    <div class="col-3">
        <input type="text" ng-model="t.PolicyNo" id="s_Pol"/>
        @*@Html.TextBoxFor(a => a.PolicyNo, new { @class = "validate[required,'Please enter policy no'] Txtbox", @maxlength = "490", @autocomplete = "off" })*@
    </div>
    <div class="col-3"><span>Insurers<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <select ng-options="i.PK_InsrID as i.InsurerName for i in listIns" ng-model="t.InsrID" id="s_Ins">
        </select>
        @*@Html.DropDownListFor(ut => ut.FKInsrId, new SelectList(BusinessLayer.BLCommon.BindInsurersType(), "Key", "Value"), new { @class = "validate[required,'Please select insurers type'] Drp", @id = "drpFKInsrId" })*@
    </div>
</div>

<div class="form_label" ng-show="i.InsuredType=='Multiple Policy Holder'">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div class="grid_body table-responsive" style="max-height:200px;">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th>
                             Policy No
                            </th>
                            <th>
                                Insurers
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in listPolicy_Insurers track by $index">

                            <td>
                                @*<input type="text" ng-model="p.PolicyNo" />*@
                                <span>
                                    {{p.PolicyNo}}
                                </span>
                            </td>
                            <td>
                                <select ng-options="i.PK_InsrID as i.InsurerName for i in listIns" ng-model="p.InsrID" disabled>

                                </select>
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <input type="text" ng-model="x.PolicyNo" />
                            </td>
                            <td>
                            <select ng-options="i.PK_InsrID as i.InsurerName for i in listIns" 
                                    ng-model="x.InsrID">
                                @*<option value="">Select</option>*@
                            </select> 
                                </td>
                         <td ng-click="addIn_listPolicy_Insurers()" style="cursor:pointer;">
                                <img src="~/Images/addicon.png" style="width:20px; height:20px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



<div class="form_label">
    <div class="col-3"><span>PAN NO<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="text" ng-model="i.PANNO" id="PANNO" maxlength="50" class="validate[required,'Please enter PAN No'] Txtbox"/>
        @*@Html.TextBoxFor(a => a.PANNO, new { @class = "validate[required,'Please enter PAN No'] Txtbox", @maxlength = "50", @autocomplete = "off" })*@
    </div>
    <div class="col-3"><span>GST IN</span></div>
    <div class="col-3">
       <input type="text" ng-model="i.GSTIN" id="GSTIN"
              class="validate[required,'Please enter GST IN'] Txtbox"
               />
        @*@Html.TextBoxFor(a => a.GSTIN, new { @class = "validate[required,'Please enter GST IN'] Txtbox", @maxlength = "50", @autocomplete = "off" })*@
    </div>
</div>


<div class="form_label">
    <div class="col-3"><span>Pin code<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="text" ng-model="i.Pincode" id="pincd" class = "validate[required,nummber,'Please enter pin code'] Txtbox"/>
        @*@Html.TextBoxFor(a => a.Pincode, new { @class = "validate[required,nummber,'Please enter pin code'] Txtbox", @maxlength = "6", @autocomplete = "off" })*@
    </div>
  
</div>

<div class="form_label">
    <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="text" ng-model="i.UserName" id="UserName" class = "validate[required,'Please enter user name'] Txtbox"/>
        @*@Html.TextBoxFor(a => a.UserName, new { @class = "validate[required,'Please enter user name'] Txtbox", @maxlength = "50", @autocomplete = "off" })*@
    </div>

</div>
<div class="form_label">
    <div class="col-3"><span>Password<label class="mandatory">*</label></span></div>
    <div class="col-3">
        <input type="text" ng-model="i.Password" id="password" class = "validate[required,'Please enter Password'] Txtbox"/>
    </div>
    <div class="col-3"><span>Confirm Password</span></div>
    <div class="col-3">
        <input type="text" ng-model="i.ConfirmPassword" id="confPassword" class = "validate[required,'Please enter Confirm Password'] Txtbox"/>
    </div>
</div>
<div class="form_label">
    <div class="col-3">
        <span>About Insured</span>

    </div>
    <div class="col-9">
    
        <textarea cols="2" ng-model="i.AboutInsured">


        </textarea>
    </div>
</div>
 
<div class="form_label">
    <div class="col-3">
        <span>Alt Email</span>
    </div>


    <div class="col-4 table-responsive">
        <input type="text" id="AltEmail" value="">


    </div>
    <div id="AltEmail_Val" style="display:none;">

    </div>
</div>

<div class="form_label">
        <div class="col-3">


        </div>
        <div class="col-5">
            <div class="grid_body table-responsive" style="max-height:400px;" id="divUploadPolicy">
                <table class="mygrid">
                    <thead>
                        <tr>
                            <th style="width:10000px;">
                                Upload Policy
                            </th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="mygridBody1">
                     <tr>
                        <td>
                            <input type="file">
                        </td>
                         <td id="btnAddPolicyPhoto_Doc" style="cursor:pointer;">

                            <img src="~/Images/addicon.png" style="width:25px; height:25px;"/>
                             
                         </td>
                     </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<div class="form_label">
    <div class="col-12 t_center">
        <button type="button" class="btn yellow" ng-click="InsuredRegisterValidation()">Submit</button>
        <button type="button" style="display:none;" class="btn yellow" id="btnFinalSubmitOtp" ng-click="saveInsuredRegistration()">Submit</button>
        @*<button type="button" ng-click="testing()">Test</button>
        <button type="button" id="testing">Test</button>*@
      
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("Index", "Home")" class="btn yellow">Cancel</a>

    </div>
</div>
        </form>
    </div>
@section scripts{
    <link href="../../Scripts/MultipleEmailPlugin/multiple-emails.css" rel="stylesheet" />
    <script src="../../Scripts/MultipleEmailPlugin/multiple-emails.js"></script>
<script src="~/Scripts/Angular/Contoller/Insured/InsuredRegistrationCtrl.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
}

<script>
    $(document).ready(function () {
        $("heading").html("Insured Registration")

        $('#AltEmail').multiple_emails();

        $('#AltEmail').change(function () {
            $('#AltEmail_Val').text($(this).val());
        })  
        //var i = 0;
        ////$('#btnAddPolicyPhoto_Doc').click(function () {
        //$('#mygridBody1').on('click', '#btnAddPolicyPhoto_Doc', function () {

        //    $(this).attr('id', 'btnDeletePolicyPhoto_Doc');
        //    $(this).find('img').attr('src', '/Images/Delete_icon.png');
        //    $(this).closest('tr').find('input').attr('name', 'PolicyPhoto_Doc[]');
        //    $(this).closest('tr').find('input').attr('id', i);
        //    i = i + 1;
            
        //    $('#mygridBody1').append('<tr> <td style="width:10000px;"><input type="file" /> </td><td  id="btnAddPolicyPhoto_Doc" style="cursor:pointer;"> <img src="/Images/addicon.png" style="width:25px; height:25px;" /></td></tr>');
          

        //})
        //$('#mygridBody1').on('click', '#btnDeletePolicyPhoto_Doc', function () {
        //    $(this).closest('tr').remove();
        //})
        $('#testing').click(function () {
            $('#mygridBody1').each(function (index, element) {
                console.log($(this).closest('tr td').find('input').attr('id'));
                console.log(index);
            })
        })

    })
</script>



    
<a class="js-open-modal" href="#" id="openPopup" data-modal-id="popupotp"></a>
<div id="popupotp" class="modal-box">
    <header>
        <a href="#" class="js-modal-close close"></a>
        <h3>
            <span id="min">Remaning minutes  </span>
        </h3>
    </header>
    <div class="modal-body">
        <div class="form_label">
            <div class="col-5 left">
                <span>Enter OTP<label class="mandatory">*</label></span>
            </div>
            <div class="col-7 right">
                <input type="text" id="txtOTP" class="Txtbox" />
            </div>
        </div>
        <div class="form_label">
            <div class="col-9">
                <input type="button" class="right" id="btnSubmitOtp" name="Command" value="Submit" />
                <input type="submit" class="right dispalyNone" id="btnFinalSubmitOtp" name="Command" value="Submit" />
            </div>
            <div class="col-3">
                <input type="button" class="right" id="txtReSendOTP" value="Resend" />
            </div>
        </div>
    </div>
    <footer>
        <h2><span id="timer">10</span><em>Second</em></h2>
    </footer>
</div>
    





@*<script>
    $(document).ready(function () {
        $('input,textarea').keydown(function (event) {

            var id = $(this).attr('id');

            console.log(id);

            //if (id != 'altEmail') {
            if (event.keyCode == 13) {
                if (id == 'altEmail') {
                    console.log('enter clcked');
                    var val = '';

                    setTimeout(function () {

                        $('.emailAdd').each(function (index, element) {

                            if (index == 0) {
                                val += $(this).html();
                            } else {
                                val += ',' + $(this).html();
                            }

                        })

                        $('#altEmails').val(val);

                    }, 500)

                }

                event.preventDefault();
                return false;
            }
            //}
        });
    });
</script>*@

@*<script src="~/Scripts/MultipleEmailPlugin/taginput.js"></script>
<link href="~/Scripts/MultipleEmailPlugin/taginput.css" rel="stylesheet" />
<style>
    #tags {
        border: 1px solid #ccc;
        padding: 5px;
    }

        #tags > span {
            display: block;
            float: left;
            color: rgba(0, 0, 0, 0.71);
            background: rgba(128, 128, 128, 0.43);
            padding: 5px;
            padding-right: 25px;
            margin: 4px;
        }
</style>*@