﻿@model BusinessLayer.Models.CSTraineeSurveyorRegistration

@{
    ViewBag.Title = "TraineeSurveyorsRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <script type="text/javascript">

        jQuery(document).ready(function () {
            $("heading").html("Trainee/Assistent Registration");
            if ('@TempData["TraineeMsg"]' != null && '@TempData["TraineeMsg"]' != '') {
                alert('@TempData["TraineeMsg"]');
                showSuccessToast('@TempData["TraineeMsg"]');
            }


            @*var error = @Html.Raw(Json.Encode(TempData["TraineeMsg"]));
            if (error) {
                showSuccessToast(error);
            }*@ 


            @*else {
                showSuccessToast('@TempData["TraineeMsg"]');
            }*@


            //if ($('#ms').val() != '' && $('#ms').val() != null) {
            //    showSuccessToast($('#ms').val());
            //}

        });
        //$(window).bind("pageshow", function(event) {
        //    if (event.originalEvent.persisted) {
        //        window.location.reload(); 
        //    }
        //});
    </script>



@functions{
    private string BindDept()
    {
        string result = "";
        int count = 0;
        Dictionary<string, string> dictionary = BusinessLayer.BLCommon.BindDepartments();

        foreach (KeyValuePair<string, string> _dictionary in dictionary)
        {
            //          if (count <= 1)
            //            {
            if (_dictionary.Value.ToLower() != "select")
            {
                if (count == 0)
                    result += "<div class=\"fl\" >";

                result += "<lable><input type='checkbox' value=\"" + _dictionary.Key + "\" name='chDept' title=\"" + _dictionary.Value + "\" />" + _dictionary.Value + "</lable>";
                count++;
            }
            //}
            //else if (count == 2)
            //{
            //    result += "<span><input type='checkbox' value=\"" + _dictionary.Key + "\" name='chDept' title=\"" + _dictionary.Value + "\" />" + _dictionary.Value + "</span>";
            //    result += "</div><div class=\"cb\"></div>";
            //    count = 0;
            //}
        }
        if (result.Substring(result.Length - 6, 6) != "</div>")
            result += "</div>";
        return result;
    }

    public Dictionary<string, string> BindUserType()
    {
        Dictionary<string, string> _dictionary = new Dictionary<string, string>();
        _dictionary.Add("Select", "Select");
        _dictionary.Add("Trainee", "Trainee");
        _dictionary.Add("Assistent", "Assistent");
        return _dictionary;
    }

}

@using (Html.BeginForm("TraineeSurveyorsRegistration", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    @*if (TempData["TraineeMsg"] != null)
    {
        <div class="alert alert-info text-center">
            @TempData["TraineeMsg"]
        </div>
    }*@
    @*@ViewBag.Mes
    <input type="hidden" id="ms" value="@ViewBag.Mes" />*@

    <div class="form_label">
        <div class="col-3"><span>First Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.FirstName, new { @class = "validate[required,character,'Please enter first name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Last Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.LastName, new { @class = "validate[required,character,'Please enter last name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>

    <div class="form_label">

        <div class="col-3"><span>Mobile<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Mobile, new { @class = "validate[required,Mobile,'Please enter mobile number'] Txtbox", @maxlength = "10", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>State<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkStateId, new SelectList(BusinessLayer.BLCommon.BindStates(), "Key", "Value"), new { @class = "validate[required,'Please select state'] Drp", @id = "drpState" })
        </div>
    </div>

    <div class="form_label">

        <div class="col-3"><span>District<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.FkDistrictsId, new SelectList(BusinessLayer.BLCommon.BindDistricts(Convert.ToString("0")), "Key", "Value"), new { @class = "validate[required,'Please select district'] Drp", @id = "drpDistrict" })
        </div>
        <div class="col-3"><span>User Type<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.DropDownListFor(ut => ut.UserType, new SelectList(BindUserType(), "Key", "Value"), new { @class = "validate[required,'Please select user type'] Drp", @id = "drpUserType" })
        </div>
    </div>

    <div class="form_label">

        <div class="col-3"><span>Pin Code<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Pincode, new { @class = "validate[required,nummber,'Please enter pin code'] Txtbox", @maxlength = "7", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Address, new { @class = "validate[required,'Please enter address'] Txtbox", @maxlength = "450", @autocomplete = "off" })
        </div>
    </div>

    <div class="form_label">

        <div class="col-3"><span>Email Id<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.EmailId, new { @class = "validate[required,emailId,'Please enter email id'] Txtbox", @maxlength = "50", @autocomplete = "off", @id = "txtEmailId" })
        </div>
        <div class="col-3"><span>Education<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Education, new { @class = "validate[required,'Please enter education'] Txtbox", @maxlength = "100", @autocomplete = "off", @id = "txtIslaNo" })
        </div>
    </div>

    <div class="form_label" style="display:none;">
        <div class="col-3"><span>SLA No<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.SLANo, new { @class = "Txtbox", @maxlength = "10", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>IRDA No</span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.IRDANo, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off" })
        </div>
    </div>

    <div class="form_label">
        <div class="col-3" style="display:none;"><span>IIISLA No</span></div>
        <div class="col-3" style="display:none;">
            @Html.TextBoxFor(a => a.ISLANO, new { @class = "Txtbox", @maxlength = "20", @autocomplete = "off" })
        </div>

    </div>

    <div class="form_label">
        <div class="col-3"><span>Insurence Qualification<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.InsQualification, new { @class = "Txtbox", @maxlength = "100", @autocomplete = "off", @id = "txtIniRef" })
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Department<label class="mandatory">*</label></span></div>
        <div class="col-9">
            @Html.Raw(BindDept())
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>User Name<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.UserName, new { @class = "validate[required,'Please enter user name'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Password<label class="mandatory">*</label></span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.Password, new { @class = "validate[required,'Please enter Password'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
        <div class="col-3"><span>Confirm Password</span></div>
        <div class="col-3">
            @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "validate[required,'Please enter Confirm Password'] Txtbox", @maxlength = "50", @autocomplete = "off" })
        </div>
    </div>
        <div class="form_label">
            <div class="col-12 t_center">
                <input type="button" id="btnTraineRegistrationSubmit" value="Submit" class="btn" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                @*<input type="button" value="Cancel" id="btnCancel" class="btn" />*@
                <a href="@Url.Action("Index", "Home")" class="btn yellow">Cancel</a>

            </div>
        </div>



    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
    <a class="js-open-modal" href="#" id="openPopup" data-modal-id="popupotp"></a>
    <div id="popupotp" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close"></a>
            <h3>
                <span id="min">Remaning minutes  </span>
            </h3>
        </header>
        <div class="modal-body">
            <div class="form_label">
                <div class="col-5 left">
                    <span>Enter OTP<label class="mandatory">*</label></span>
                </div>
                <div class="col-7 right">
                    <input type="text" id="txtOTP" class="Txtbox" />
                </div>
            </div>
            <div class="form_label">
                <div class="col-9">
                    <input type="button" class="right" id="btnSubmitOtp" name="Command" value="Submit" />
                    <input type="submit" class="right dispalyNone" id="btnFinalSubmitOtp"
                           name="Command" value="Submit" />
                </div>
                <div class="col-3">
                    <input type="button" class="right" id="txtReSendOTP" value="Resend" />
                </div>
            </div>
        </div>
        <footer>
            <h2><span id="timer">10</span><em>Second</em></h2>
        </footer>
    </div>
    /*~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=*/
}
