﻿@{
    ViewBag.Title = "EmailGroup";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Email Group");
    });
</script>
<div ng-controller="EmailGroupMstCtrl">
    <form id="formEmailGroup">
    <div class="form_label">
        <div class="col-2">
            <span>Select Group</span>
        </div>
        <div class="col-2">
            <select ng-options="e.PK_EGM_ID as e.GroupName for e in listEGM" ng-model="eg.EGM_ID" class="validate[required,'Please Select Group Name'] Txtbox" id="gn"><option value="">Select</option></select>
        </div>
        <div class="col-2">
            <span>Enter EmailId</span>
        </div>
        <div class="col-2">
            <input type="text" ng-model="eg.EmailId" class="validate[required,'Please Enter Correct EmailId'] Txtbox" id="eid"  />
        </div>
        <div class="col-2">
            <button type="button" class="btn yellow" ng-click="saveEmailGroup()">Submit</button>
            &nbsp;&nbsp;
            <button type="button" class="btn yellow" ng-click="clearEmailGroup()">Clear</button>
        </div>
        
    </div>

    <div class="grid_body table-responsive" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    
                    <th>Group Name</th>
                    <th>Email Id</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="eg in listEG">
                    <td>{{eg.GroupName}}</td>
                    <td>{{eg.EmailId}}</td>
                    <td ng-click="rowClick_EmailGroup()"><img src="~/Images/edit-128.png" style="height:25px; width:25px;" /> </td>
                </tr>

            </tbody>
        </table>

    </div>
        </form>
</div>

@section scripts{
    <script src="~/Scripts/Angular/Contoller/EmailMaster/EmailGroupMst.js"></script>
}
