﻿@{
    ViewBag.Title = "EmailGroup";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Email Group Master");
    });
</script>
<div ng-controller="EmailGroupMstCtrl">
    <form id="formEmailGroupMst">
<div class="form_label">
    <div class="col-2">
        <span>Enter Group Name</span>
    </div>
    <div class="col-2">
        <input type="text" ng-model="egm.GroupName" class="validate[required,'Please Enter Group Name'] Txtbox" id="grN" />
    </div>
    <div class="col-2">
        <button type="button" class="btn yellow" ng-click="saveEmailGroupMst()">Submit</button>
        &nbsp;&nbsp;
        <button type="button" class="btn yellow" ng-click="clearEmailGroupMst()">Clear</button>
    </div>
    
    
</div>
    
    <div class="grid_body table-responsive" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th style="width:30px;">Group Name</th>
                    <th style="width:30px;">Action</th>
                </tr>
               
            </thead>
            <tbody>
                <tr ng-repeat="e in listEGM">
          <td style="width:30px;">{{e.GroupName}}</td>
                    <td style="width:30px;" ng-click="rowClick_EmailGroupMst()"><img src="~/Images/edit-128.png" style="height:25px; width:25px;" /> </td>
                </tr>
               
            </tbody>
        </table>

    </div>
        </form>
    </div>

@section scripts{
<script src="~/Scripts/Angular/Contoller/EmailMaster/EmailGroupMst.js"></script>
    }