﻿@{
    ViewBag.Title = "LogEmail";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script>
    $(window).load(function () {
        $("heading").html("Send Email");
    });
</script>
<div ng-controller="EmailGroupMstCtrl">
    <form id="formEmailGroup">
        <div class="form_label">
            <div class="col-2">
                <span>Select Group</span>
            </div>
            <div class="col-2">
                <select ng-options="e.PK_EGM_ID as e.GroupName for e in listEGM" ng-model="EGM_ID" class="validate[required,'Please Select Group Name'] Txtbox" id="gn"><option value="">Select</option></select>
            </div>
            <div class="col-2">
                <span>Subject</span>
            </div>
            <div class="col-2">
                <input type="text" ng-model="subject" />
            </div>
            </div>
    
        <div class="form_label">
            <div class="col-2">
                <span>Enter Text</span>
            </div>

        </div>
        <textarea id="a" class="ckeditor" ck-editor ng-model="mailMsg"></textarea>
        
        
        <div class="form_label">
            <div class="col-2">
                <button type="button" class="btn yellow" ng-click="sendEmail()">Submit</button>
                @*&nbsp;&nbsp;
                <button type="button" class="btn yellow" ng-click="clearEmailGroup()">Clear</button>*@
            </div>

        </div>

        
    </form>
</div>

@section scripts{
    <script src="~/Scripts/Angular/Contoller/EmailMaster/EmailGroupMst.js"></script>
@*<link href="~/Content/BootstrpEditor/css/bootstrap.css" rel="stylesheet" />*@
@*<link href="~/Content/BootstrpEditor/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/BootstrpEditor/css/site.css" rel="stylesheet" />
<script src="~/Content/BootstrpEditor/summernote/summernote.js"></script>
<link href="~/Content/BootstrpEditor/summernote/summernote.css" rel="stylesheet" />*@


    @*<script type="text/javascript">
    (function ($) {
    function HomeIndex() {
        var $this = this;

        function initialize() {
            $('#test').summernote({
                focus: true,
                height: 150,
                codemirror: {
                    theme: 'united'
                }
            });
        }

        $this.init = function () {
            initialize();
        }
    }
    $(function () {
        var self = new HomeIndex();
        self.init();
    })
    }(jQuery))  
    </script>*@
}
        

