/*!ResetCSS-Starts*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: normal;
    background-color: #446E96;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
/*input,select{vertical-align:middle;}*/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

li {
    list-style-type: none;
}

li {
    background-repeat: no-repeat;
}

html, body {
    color: #fff;
    font-family: 'roboto';
    font-size: 13px;
}

a {
    outline: none;
    color: #414141;
    text-decoration: none;
}

    a:hover {
        color: #000;
    }

a, input, select, textarea, .fade {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

:focus {
    outline: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.txt_center, .content_area table thead tr th.txt_center {
    text-align: center;
}

.block_left {
    display: block;
    float: left;
}

.block_right {
    display: block;
    float: right;
}

a img, img {
    border: 0px;
}

input[type="text"], input[type="password"], textarea, select, input[type="file"] {
    margin: 0px;
    border: 1px solid #E2E2E2;
    width: 100%;
    color: #000;
    resize: none;
    padding: 8px 5px;
    font-family: 'robotolight';
    font-size: 14px;
}

select {
    padding: 5px;
    line-height: 35px;
    height: 41px;
}

label {
    color: #7A8783;
    display: inline-block;
    padding: 2px 10px 2px 0px;
    margin: 5px 15px 2px 0px;
}

    label input {
        margin: 3px 8px 2px 0px;
        vertical-align: top;
    }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, input[type="file"]:focus {
    border: 1px solid #ccc;
}

input[type="submit"], input[type="button"] {
    margin: 0px;
    background: none;
    border: 0px;
    padding: 6px 10px 7px;
    background-color: #82cad6;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-family: 'roboto';
    cursor: pointer;
}

    input[type="submit"]:hover, input[type="button"]:hover {
        background-color: #ae5642;
        color: #fff;
    }

.grey {
    background-color: #504e48!important;
}

    .grey:hover {
        background-color: #ffdb64!important;
    }

.grey {
    color: #504e48;
}

.clear {
    clear: both;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    text-align: left;
}

.pad_LR {
    padding-left: 10px;
    padding-right: 10px;
}

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a.view_more {
    display: block;
    padding: 2px 0px;
    color: #FF8E01;
}

    a.view_more:hover {
        color: #fff;
    }

.bttn, .imprt_bttn {
    background-color: #fff;
    padding: 2px 15px;
    line-height: 28px;
    text-align: center;
    color: #262626;
}

    .imprt_bttn:hover {
        background-color: #262626;
        color: #fff;
    }

    .bttn em {
        font-style: normal;
    }

small {
    font-size: 12px;
    color: #666;
    display: block;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.no_pad {
    padding: 0 !important;
}

.t_center {
    text-align: center !important;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}




.ml10 {
    margin-top: 10px;
}

.ml20 {
    margin-top: 20px;
}

.ml30 {
    margin-top: 30px;
}

.ml40 {
    margin-top: 40px;
}




.mr10 {
    margin-top: 10px;
}

.mr20 {
    margin-top: 20px;
}

.mr30 {
    margin-top: 30px;
}

.mr40 {
    margin-top: 40px;
}




.mb10 {
    margin-top: 10px;
}

.mb20 {
    margin-top: 20px;
}

.mb30 {
    margin-top: 30px;
}

.mb40 {
    margin-top: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.mandatory {
    color: red;
}


.dispalyNone {
    display: none ! important;
}

.displaytableRow {
    display: table-row;
}

.displayBlock {
    display: block;
}

.displayinline {
    display: inline;
}

/*!ResetCSS-Ends*/

.body_inner {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrap_1000_px,
.graphic_container {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1024px;
    padding: 10px;
}

.login_section {
    margin: 14% 0px auto;
}

.graphic_container {
}

.login_form {
    margin: auto;
    max-width: 500px;
    padding: 40px 20px;
    border: 3px solid #fff;
    background-color: rgba(149,125,177,.6);
}

    .login_form h1 {
        padding: 10px 0px 0px;
    }

        .login_form h1 img {
            width: 100%;
            display: block;
            margin: auto;
        }

    .login_form p {
        padding: 8px 0px;
    }

header {
    background-color: #072644;
    padding: 10px 15px;
    color:#fff;
}

.top_nav {
    background-color: #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

    .top_nav ul {
        background-color: #555555;
        margin: 0px 18px;
    }

    .top_nav a {
        display: block;
    }

    .top_nav ul li {
        display: inline-block;
    }

    .top_nav > a {
        display: none;
    }

    .top_nav a {
        padding: 10px 20px;
        color: #fff;
        font-size: 15px;
    }

        .top_nav a:hover, .top_nav ul a.active {
            background-color: #eda156;
            color: #fff;
        }

    .top_nav > a {
        background-color: #eda156;
        color: #fff;
        position: relative;
        text-transform: uppercase;
    }

        .top_nav > a.toggle span, .v_menu a.toggle span {
            display: block;
            width: 22px;
            height: 3px;
            top: 22px;
            right: 20px;
        }

            .toggle span, .toggle span:before, .toggle span:after, .v_menu a.toggle span, .v_menu a.toggle span:before, .v_menu a.toggle span:after {
                cursor: pointer;
                border-radius: 1px;
                height: 3px;
                width: 22px;
                background: #fff;
                position: absolute;
                display: block;
                content: '';
            }

        .top_nav > a.toggle.show {
            color: #481206;
        }

.toggle.show span, .toggle.show span:before, .toggle.show span:after {
    background-color: #481206;
}

.toggle span:before {
    top: -7px;
}

.toggle span:after {
    bottom: -7px;
}

.top_logo_wrap {
    float: left;
}

    .top_logo_wrap a, .top_logo_wrap a img {
        display: block;
    }

        .top_logo_wrap a img {
            width: 100%;
            max-width: 280px;
            height: 55px;
        }

.user-wrap img {
    display: block;
    float: left;
    margin-right: 10px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.user-wrap {
    float: right;
    position: relative;
    width: auto;
    z-index: 99999;
}

    .user-wrap > a {
        display: inline-block;
        overflow: auto;
        margin: 7px 5px;
        float: right;
    }

    .user-wrap .username {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        padding: 10px 0px 0px;
    }

    .user-wrap i {
        vertical-align: bottom;
        margin-left: 5px;
        color: #fff;
    }

#notificationContainer {
    background-color: #FFF;
    border: 1px solid #D8D8D8;
    overflow: visible;
    position: absolute;
    top: 45px;
    width: auto;
    z-index: 99;
    right: -3px;
    display: none;
}

    #notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid black;
        border-color: transparent transparent white;
        margin-top: -20px;
        right: 5px;
    }




.notificationContainer {
    background-color: #FFF;
    border: 1px solid #D8D8D8;
    overflow: visible;
    position: absolute;
    top: 45px;
    width: auto;
    z-index: 99;
    right: -3px;
    display: none;
}

    .notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid black;
        border-color: transparent transparent white;
        margin-top: -20px;
        right: 5px;
    }

.user-wrap ul {
    padding: 6px;
}

    .user-wrap ul li a {
        display: block;
        font-size: 12px;
        padding: 4px 10px;
        color: #481206;
        line-height: 20px;
    }

        .user-wrap ul li a:hover {
            background-color: #ccc;
            color: #fff;
        }




.breadcrumb {
    padding: 8px 10px 8px 0px;
    font-size: 12px;
    color: #AE5642;
}

    .breadcrumb span {
        color: #a9a9a9;
    }

    .breadcrumb a {
        color: #a9a9a9;
    }

        .breadcrumb a:hover {
            color: #AE5642;
        }

.block {
    padding: 20px;
    position: relative;
}

    .block a {
        display: block;
        height: 100%;
        position: relative;
    }

.head {
    font-size: 22px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 15px;
}

.status {
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    padding: 5px;
    float: right;
}

    .status.green {
        background-color: #00b050;
    }

    .status.red {
        background-color: #ff0000;
    }

.content_area ul {
    position: relative;
    margin-left: 15px;
    color: #fff;
}

    .content_area ul li {
        list-style: square outside;
        padding: 5px;
    }


.middle_wrap {
    background-color: #e6f0ef;
    padding: 15px 0;
    position: relative;
    width: 100%;
}

    .middle_wrap > div {
        vertical-align: top;
    }

        .middle_wrap > div.middle_col {
            color: #363535;
            overflow: hidden;
            padding: 0px 20px 0px;
        }


.sub_page {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 3px solid #AE5642;
}

    .sub_page a {
        float: left;
        padding: 15px 20px;
        background-color: #EDA156;
        color: #fff;
        margin-right: 5px;
    }

        .sub_page a:hover, .sub_page a.active {
            background-color: #AE5642;
        }








/*********** Start Left Column Classes  ************/
.leftCol {
    width: 240px;
    min-height: 390px;
    background: #EDA156;
    float: left;
}

.leftMenu {
    height: 40px;
}

.leftColToggle {
    width: 60px !important;
}

.vLeftMenu {
    float: left;
    width: 60px;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

    .vLeftMenu a {
        padding: 0 10px;
        display: block;
        font-size: 1.9em;
        color: #fff;
    }

.vMenu {
}

    .vMenu li {
        line-height: 50px;
        color: #fff;
        border-top: 1px solid #ca8447;
    }

        .vMenu li.heading {
            font-size: 16px;
            font-weight: bold;
        }

            .vMenu li.heading i {
                float: left;
                font-size: 20px;
                padding: 0px 0px 0px 20px;
                text-align: center;
                line-height: 50px;
            }

            .vMenu li.heading span {
                float: left;
                padding: 0px 0px 0px 10px;
                line-height: 50px;
            }

        .vMenu li a {
            color: #fff;
            display: block;
            font-size: 14px;
            line-height: 50px;
            vertical-align: top;
            position: relative;
        }

            .vMenu li a:hover, .vMenu li a.active {
                background: #AE5642;
            }

            .vMenu li a i {
                padding: 0 10px 0 20px;
                display: inline-block;
                height: 40px;
                vertical-align: middle;
                line-height: 40px;
                font-size: 1.2em;
            }
/*********** End Left Column Classes  ************/



.grid_head {
    position: relative;
    background-color: #A6C4DF;
}

    .grid_head a.add_bttn, .grid_head a.back_link {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 4px;
        right: 10px;
        font-size: 28px;
        color: #fff;
    }

        .grid_head a.add_bttn:hover, .grid_head a.back_link:hover {
            color: #000;
        }

    .grid_head heading {
        display: block;
        padding: 10px;
        color: #072644;
        font-size: 14px;
        font: bold;
        overflow: hidden;
    }

        .grid_head heading span {
            display: inline-block;
            color: #fff;
            padding: 0 15px;
            vertical-align: middle;
            text-align: right;
        }

            .grid_head heading span i {
                margin-right: 5px;
                vertical-align: top;
                font-size: 16px;
            }

            .grid_head heading span a {
                color: #fff;
            }

.content_area {
    padding: 15px 10px;
    background: #fff;
    overflow: hidden;
    min-height:400px;
}

    .content_area h1 {
        padding-bottom: 5px;
        font-size: 22px;
        color: #AE5642;
    }


.form_wrap {
    position: relative;
    width: 100%;
}

.form_label {
    position: relative;
    margin: 10px 0;
    overflow: hidden;
}

    .form_label span {
        color: #000;
        display: block;
        padding: 8px 0;
        text-align: left;
        font-size: 16px;
    }

.form-bg {
    padding-bottom: 15px;
}

h2 {
    font-size: 24px;
    color: #327e8c;
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
}

.dark_head {
    color: #af5642 !important;
}

.text_blk {
    color: #000;
}

.border {
    border: 1px solid #ccc;
}

.grid_body {
    min-width: 100%;
    border: 1px solid #dfdfdf;
    overflow:initial;
    margin: 18px 0px;
}

    .grid_body table {
        width: 100%;
    }

        .grid_body table tbody tr:nth-child(even) td {
            background-color: #f5f5f5;
        }

        .grid_body table tr:hover td {
            background-color: #ccc!important;
        }

        .grid_body table thead tr th, .grid_body table tr td {
            vertical-align: top;
            border-bottom: 1px solid #e2e2e2;
            padding: 10px;
            background-color: #fff;
            color: #454545;
            text-align: left;
        }

            .grid_body table tr td a {
                color: #ae563e;
                text-decoration: underline;
            }

                .grid_body table tr td a:hover {
                    color: #414141;
                }

        .grid_body table thead tr th {
            color: #cb4939;
            font-weight: normal;
            text-align: left;
            border-bottom: 5px solid #82CAD6;
        }

.error_filter_wrap {
}

    .error_filter_wrap .fileds_wrap, .error_filter_wrap .text_wrap {
        float: left;
    }

.content_area .error_filter_wrap .text_wrap h1 {
    padding: 5px 0px;
}

.error_filter_wrap .fileds_wrap {
    margin: 0px -10px;
}

    .error_filter_wrap .fileds_wrap .field_wrap {
        display: inline-block;
        float: left;
        padding: 10px;
        width: 200px;
    }

    .error_filter_wrap .fileds_wrap .edit {
        display: inline-block;
        float: left;
        padding: 10px;
        width: 100px;
    }

.error_filter_wrap .text_wrap {
    float: right;
}

footer {
    /*position: fixed;*/
    width: 100%;
    bottom: 0px;
}

.copyright {
    text-align: center;
    font-size: 12px;
}

.body_inner footer {
    position: relative;
}


.btn {
    margin: 0px;
    background: none;
    border: 0px;
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-family: 'roboto';
    cursor: pointer;
}

.yellow {
    background-color: #327e8c!important;
}

    .yellow:hover {
        background-color: #555555!important;
        color: #fff;
    }

.cancel {
    background-color: #555555!important;
}

    .cancel:hover {
        background-color: #327e8c!important;
        color: #fff;
    }


.action_wrap {
    display: block;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.6667%;
}

.col-10 {
    width: 83.3333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.6667%;
}

.col-7 {
    width: 58.3333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.6667%;
}

.col-4 {
    width: 33.3333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.6667%;
}

.col-1 {
    width: 8.33333%;
}

@media all and (min-width:769px) {
    body {
        padding-bottom: 50px;
    }
}

@media all and (max-width:768px) {
    .top_nav > a {
        display: block;
    }

    .top_nav a {
        padding: 10px 20px;
    }

    .top_nav ul {
        margin: 0px;
        display: none;
    }

        .top_nav ul li {
            display: block;
        }

        .top_nav ul a {
            border-top: 1px solid #e9e9e9;
            background-color: #555555;
        }

            .top_nav ul a:hover, .top_nav ul a.active {
                background-color: #333;
                color: #fff;
            }

    .error_filter_wrap .fileds_wrap, .error_filter_wrap .text_wrap {
        width: auto;
        float: none;
        max-width: auto;
    }

    footer {
        position: relative;
    }


    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 100%;
    }
}


@media all and (max-width: 1280px) {
    .dash_right .dash_block {
        width: 100%;
    }
}

@media all and (max-width: 1024px) {
    .dashboard_wrap .dash_left, .dashboard_wrap .dash_right {
        width: 100%;
        display: block;
    }

        .dashboard_wrap .dash_right .mCustomScrollbar {
            height: auto;
        }
}

@media all and (max-width: 640px) {
    .dash_left .dash_block {
        width: 100%;
    }

    .dashboard_wrap .dash_left .mCustomScrollbar {
        height: auto;
    }
}

/*!ResponsivePopUpCSS-Starts*/
.pop_box {
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 20px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    color: #333;
}

.smallPop {
    max-width: 550px;
}

.mediumPop {
    max-width: 900px;
}

.pop_box_container {
    padding: 20px;
}

    .pop_box_container p {
        margin-bottom: 15px;
    }

    .pop_box_container.mCustomScrollbar {
        max-height: 250px;
    }

.pop_box h1 {
    font-size: 24px;
    background-color: #AE5642;
    width: 100%;
    padding: 5px 20px;
    line-height: 35px;
    color: #fff;
}

.pop_box .content_area {
    border: 0px;
    padding: 20px;
}

.mfp-bg {
    background: none repeat scroll 0 0 #0B0B0B;
    height: 100%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.mfp-wrap {
    height: 100%;
    left: 0;
    outline: 0 none!important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100001;
}

.mfp-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; /* 2 */
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0 8px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

    .mfp-container:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: left;
    vertical-align: middle;
    z-index: 100003;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    cursor: auto; /*width: 100%;*/
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
    width: 100%;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -moz-user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none!important;
}

.mfp-preloader {
    color: #CCCCCC;
    left: 8px;
    margin-top: -0.8em;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 50%;
    width: auto;
    z-index: 100002;
}

    .mfp-preloader a {
        color: #CCCCCC;
    }

        .mfp-preloader a:hover {
            color: #FFFFFF;
        }

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: 0 none;
    overflow: visible;
    padding: 0;
    z-index: 100004;
}

button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}

.mfp-close {
    color: #06B3FE;
    font-family: Arial,Baskerville,monospace;
    font-size: 28px;
    font-style: normal;
    height: 44px;
    line-height: 44px;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none;
    top: 0px;
    width: 44px;
}

    .mfp-close:hover, .mfp-close:focus {
        opacity: 1;
    }

    .mfp-close:active {
        top: 1px;
    }

.mfp-close-btn-in .mfp-close {
    color: #FFDB64;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #FFFFFF;
    padding-right: 6px;
    right: -6px;
    text-align: right;
    width: 100%;
}

.mfp-counter {
    color: #CCCCCC;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0;
}

.mfp-arrow {
    height: 110px;
    margin: -55px 0 0;
    opacity: 0.65;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 90px;
}

    .mfp-arrow:active {
        margin-top: -54px;
    }

    .mfp-arrow:hover, .mfp-arrow:focus {
        opacity: 1;
    }

    .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
        border: medium inset rgba(0, 0, 0, 0);
        content: "";
        display: block;
        height: 0;
        left: 0;
        margin-left: 35px;
        margin-top: 35px;
        position: absolute;
        top: 0;
        width: 0;
    }

    .mfp-arrow:after, .mfp-arrow .mfp-a {
        border-bottom-width: 13px;
        border-top-width: 13px;
        top: 8px;
    }

    .mfp-arrow:before, .mfp-arrow .mfp-b {
        border-bottom-width: 21px;
        border-top-width: 21px;
    }

.mfp-arrow-left {
    left: 0;
}

    .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
        border-right: 17px solid #FFFFFF;
        margin-left: 31px;
    }

    .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
        border-right: 27px solid #3F3F3F;
        margin-left: 25px;
    }

.mfp-arrow-right {
    right: 0;
}

    .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
        border-left: 17px solid #FFFFFF;
        margin-left: 39px;
    }

    .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
        border-left: 27px solid #3F3F3F;
    }

.mfp-iframe-holder {
    padding-bottom: 40px;
    padding-top: 40px;
}

    .mfp-iframe-holder .mfp-content {
        line-height: 0;
        max-width: 900px;
        width: 100%;
    }

    .mfp-iframe-holder .mfp-close {
        top: -40px;
    }

.mfp-iframe-scaler {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
}

    .mfp-iframe-scaler iframe {
        background: none repeat scroll 0 0 #000000;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

img.mfp-img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; /* 2 */
    box-sizing: border-box;
    display: block;
    height: auto;
    line-height: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 0;
    width: auto;
}

.mfp-figure {
    line-height: 0;
}

    .mfp-figure:after {
        background: none repeat scroll 0 0 #444444;
        bottom: 40px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        content: "";
        display: block;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 40px;
        width: auto;
        z-index: -1;
    }

    .mfp-figure small {
        color: #BDBDBD;
        display: block;
        font-size: 12px;
        line-height: 14px;
    }

.mfp-bottom-bar {
    cursor: auto;
    left: 0;
    margin-top: -36px;
    position: absolute;
    top: 100%;
    width: 100%;
}

.mfp-title {
    color: #F3F3F3;
    line-height: 18px;
    padding-right: 36px;
    text-align: left;
    word-wrap: break-word;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure {
    }

        .mfp-img-mobile .mfp-figure:after {
            bottom: 0;
            top: 0;
        }

        .mfp-img-mobile .mfp-figure small {
            display: inline;
            margin-left: 5px;
        }

    .mfp-img-mobile .mfp-bottom-bar {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; /* 2 */
        box-sizing: border-box;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        padding: 3px 5px;
        position: fixed;
        top: auto;
    }

        .mfp-img-mobile .mfp-bottom-bar:empty {
            padding: 0;
        }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
        height: 35px;
        line-height: 35px;
        padding: 0;
        position: fixed;
        right: 0;
        text-align: center;
        top: 0;
        width: 35px;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        transform-origin: 0 50% 0;
    }

    .mfp-arrow-right {
        transform-origin: 100% 50% 0;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 600px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    padding-top: 0;
    right: 0;
    top: 0;
}
/*!ResponsivePopUpCSS-Ends*/
/******* Star Rating Code Starts *******/
.rating_wrapper {
    position: relative;
}

.br-wrapper .br-widget {
    height: 25px;
}

    .br-wrapper .br-widget a {
        background-image: url("../images/star.png");
        background-size: 25px 50px;
        width: 25px;
        height: 25px;
        display: block;
        float: left;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .br-wrapper .br-widget a {
        background-image: url("../images/star.png");
        background-size: 25px 50px;
    }
}

.br-wrapper .br-widget a:hover,
.br-wrapper .br-widget a.br-active,
.br-wrapper .br-widget a.br-selected {
    background-position: 0 25px;
}

.br-wrapper .br-widget .br-current-rating {
    clear: both;
    width: 330px;
    text-align: center;
    font-weight: 600;
    display: block;
    padding: .5em 0;
    color: #646464;
}

.br-wrapper .br-readonly a.br-active,
.br-wrapper .br-readonly a.br-selected {
    background-color: #50e3c2;
}
/* Center in container */
.br-wrapper {
    width: 126px;
    position: relative;
}
/******* Star Rating Code Ends *******/
/******* Pagination Code Starts *******/
#tablePagination {
    background-color: #878479;
    font-size: 0.8em;
    padding: 5px;
    width: 100%;
    color: #fff;
    overflow: auto;
}

#tablePagination_paginater {
    margin-left: auto;
    margin-right: auto;
}

#tablePagination img {
    padding: 0px 2px;
}

#tablePagination_perPage {
    float: left;
    width: 200px;
}

    #tablePagination_perPage select {
        width: 50px;
        margin-right: 10px;
        font-size: 10px;
        padding: 1px;
        height: 24px;
    }

#tablePagination_paginater {
    float: right;
}

    #tablePagination_paginater img {
        vertical-align: middle;
    }

    #tablePagination_paginater input {
        margin: 0 10px;
    }
/******* Pagination Code Starts *******/




.cb {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


.pdr5 {
    padding-top: 5px;
}

.pdr10 {
    padding-top: 5px;
}

.searchDiv {
    width: 100%;
    height: 50px;
    border-bottom: 1px #878479 solid;
    border-top: 1px #878479 solid;
}

.textalign {
    text-align: center;
    margin: 0px;
    float: none;
}

.textright {
    text-align: right;
}

.textleft {
    text-align: left;
}

.box {
    /*position:fixed;*/
    width: 256px;
    height: 215px;
    /*margin: 100px auto 0 auto;*/
    float: left;
    border: 1px solid #C2621A;
    /*overflow: hidden;*/
    border-radius: 12px;
    opacity: 0.6;
    margin-right: 7px;
}

    .box:hover {
        opacity: 1;
        border: 2px solid #374D8C;
        float: left;
    }

    .box img {
        width: 100%;
        max-height: 215px;
    }
