﻿@{
    ViewBag.Title = "AdminSalvage";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<h2>AdminSalvage</h2>
<div ng-controller="SalvageCtrl">
    <form id="formSalvage">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-md-3">
            <span>Ref. No.</span>

        </div>
        <div class="col-md-3">
            <input type="text" ng-model="RefNo" disabled />
        </div>
        <div class="col-md-3">
            <span>Insured Name</span>

        </div>
        <div class="col-md-3">
            <input type="text" ng-model="InsuredName" disabled />
        </div>
    </div>

    <div class="form_label">
        <div class="col-md-3">
            <span>Location of affected material</span>
        </div>
        <div class="col-md-9">
            <textarea ng-model="a.LocationOfAffectedMaterial" class="validate[required,'Location of affected material'] Txtbox"  id="lam"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-md-3">
            <span>Item Description</span>

        </div>
        <div class="col-md-9">
            <textarea ng-model="a.ItemDesc"></textarea>
        </div>
    </div>


    <div class="form_label">
        <div class="col-md-3">
            <span>Affected Quantity</span>

        </div>
        <div class="col-md-3">
            <input type="text" ng-model="a.AffectedQuantity" valid-number  ng-maxlength="12"/>
        </div>
        <div class="col-md-3">
            <span>Invoice rate</span>

        </div>
        <div class="col-md-3">
            <input type="text" ng-model="a.InvoiceRate" valid-number  ng-maxlength="5"/>
        </div>
    </div>
    <h4>Upload Photos</h4>
    <div class="form_label">
        <div class="col-md-3">
            <span>Photo1</span>

        </div>
        <div class="col-md-3">
            <input type="file" id="Photo1"  />
        </div>
        <div class="col-3">
            <img src="{{a.Photo1}}"  style="max-height:30px; max-width:30px;" class="img" />
        </div>
    </div>

    <div class="form_label">
        <div class="col-md-3">
            <span>Photo2</span>

        </div>
        <div class="col-md-3">
            <input type="file" id="Photo2" />
        </div>
        <div class="col-3">
            <img src="{{a.Photo2}}" style="max-height:30px; max-width:30px;" class="img" />
        </div>
    </div>
    <div class="form_label">
        <div class="col-md-3">
            <span>Photo3</span>

        </div>
        <div class="col-md-3">
            <input type="file" id="Photo3" />
        </div>
        <div class="col-3">
            <img src="{{a.Photo3}}" style="max-height:30px; max-width:30px;"  class="img" />
        </div>
    </div>

    <div class="form_label">
        <div class="col-md-3">
            <span>Photo4</span>

        </div>
        <div class="col-md-3">
            <input type="file" id="Photo4" />
        </div>
        <div class="col-3">
            <img src="{{a.Photo4}}"  style="max-height:30px; max-width:30px;" class="img" />
        </div>
    </div>  
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveAdminSalvage()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
            @*<button type="button" class="btn yellow" style="float:right;" ng-click="saveAboutInsured('n')">Next</button>


                <a href="/MISCFSR/ObservationsCircumstances?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>*@
        </div>
    </div>
    <div class="grid_body" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Location of Affected Material</th>
                    <th>Item Description</th>
                    <th>Affected Quantity</th>
                    <th>Invoice rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="mygridBody">

                <tr ng-repeat="a in listAS" style="cursor:pointer">
                    <td>{{a.LocationOfAffectedMaterial}}</td>
                    <td>{{a.ItemDesc}}</td>
                    <td>{{a.AffectedQuantity}}</td>
                    <td>{{a.InvoiceRate}}</td>
                    <td ng-click="rowClickAdminSalvage()"><img src="../../Images/edit.jpg" style="height:20px;" alt="Edit"></td>
                </tr>
            </tbody>
        </table>
    </div>
        </form>
</div>
@section scripts{
<script src="~/Scripts/Angular/Contoller/Common/SalvageCtrl.js"></script>
 }
