﻿@{
    ViewBag.Title = "BuyerSalvage";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<div ng-controller="SalvageCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content" style="width:130%; margin-left:-130px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title" style="text-align:center;">Salvage</h1>
                </div>
                <div class="modal-body" id="modalBody">
                    <div class="container" ng-show="divQuery==1">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Query</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea cols="2" ng-model="q.Query"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" ng-show="divOffer==1">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-1">
                                    <label>
                                        Rate
                                    </label>
                                </div>
                                <div class="col-md-3"><input type="text" class="form-control" ng-model="o.Rate" /></div>
                                <div class="col-md-1">
                                    <label>
                                        Amount
                                    </label>
                                </div>
                                <div class="col-md-3"><input type="text" class="form-control" ng-model="o.Amount" /></div>
                                <div class="col-md-4">

                                    <label>   <input type="radio" value="With GST" name="wg" ng-model="o.GST" />With GST</label>

                                    <label>   <input type="radio" value="Without GST" name="wg" ng-model="o.GST" />Without GST</label>
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>


                            <div class="form-group">

                                <div class="col-md-3" style="margin-top:15px;">
                                    <label>
                                        Are you agree to submit EMD amount
                                    </label>
                                </div>
                                <div class="col-md-2" style="margin-top:15px;">
                                    <label>   <input type="radio" value="Yes" name="em" ng-model="o.EMD_Amount" />Yes</label>
                                    <label>   <input type="radio" value="No" name="em" ng-model="o.EMD_Amount" />No</label>
                                </div>
                                <div class="col-md-4" style="margin-top:15px;">
                                    <label>
                                        Are you ready to deposited full amount before taking delivery of material
                                    </label>
                                </div>
                                <div class="col-md-3" style="margin-top:15px;">
                                    <label>   <input type="radio" value="Yes" name="fa" ng-model="o.Full_Amount" />Yes</label>
                                    <label>   <input type="radio" value="No" name="fa" ng-model="o.Full_Amount" />No</label>
                                </div>

                            </div>
                            
                            <br />
                            <br /><br />                            <div class="form-group">
                                <div class="col-md-12">
                            <strong>
                                We agree with terms and condition of the seller’s contract, our offer is for disposal of offered salvage <label style="background-color:yellow;"> {{o.GST}}. </label> We have duly inspected/verified the material offered for sale and agree to accept the same with its all fault in present condition and also agreed to take delivery on as is whereas basis.
                           </strong>
                                    </div>
                         </div>

                                <div class="clearfix"></div>
                         
                        </div>
                    </div>

                </div>
                <div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-2">

                    </div>

                    <button type="button" class="btn btn-success  col-sm-1" ng-show="divQuery==1" ng-click="saveSalvageQuery()">Submit</button>
                    <button type="button" class="btn btn-success  col-sm-1" ng-show="divOffer==1" ng-click="saveSalvageOffer()">Submit</button>
                    
&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;                                      
                    <button type="button" class="btn btn-danger  col-sm-1" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
        <div ng-repeat="a in listAS">
            <div class="col-lg-4">
                @*<img style="max-width:100%;" src="https://ak1.ostkcdn.com/images/products/8818677/Samsung-Galaxy-S4-I337-16GB-AT-T-Unlocked-GSM-Android-Cell-Phone-85e3430e-6981-4252-a984-245862302c78_600.jpg" />*@
                <div id="myCarousel{{$index}}" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel{{$index}}" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel{{$index}}" data-slide-to="1"></li>
                        <li data-target="#myCarousel{{$index}}" data-slide-to="2"></li>
                        <li data-target="#myCarousel{{$index}}" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">

                            <img ng-src="{{a.Photo1}}" alt="Los Angeles" style="height:400px;width:550px;" />
                        </div>
                        <div class="item">
                            <img src="{{a.Photo2}}" alt="Los Angeles" style="height:400px;width:550px;" />
                        </div>
                        <div class="item">
                            <img src="{{a.Photo3}}" alt="Los Angeles" style="height:400px;width:550px;" />
                        </div>
                        <div class="item">
                            <img src="{{a.Photo4}}" alt="Los Angeles" style="height:400px;width:550px;" />
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel{{$index}}" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel{{$index}}" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div style="margin-top:40px;">
                    <button type="button" class="btn btn-lg  btn-success" ng-click="showModelSalvage('q',a.PK_AS_ID)">Submit Query</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-lg  btn-info" ng-click="showModelSalvage('o',a.PK_AS_ID)">Submit Offer</button>
                </div>

            </div>
            <div class="col-lg-8" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3>Item Description:</h3>
                {{a.ItemDesc}}
                <div class="form-inline">
                    <h3>Qty:</h3>
                    <label> {{a.AffectedQuantity}}</label>
                </div>
                <div class="section" style="padding-bottom:20px;">
                    <h3>Invoice Value:</h3>
                    <label>{{a.InvoiceRate}}</label>
                </div>
                <div class="section" style="padding-bottom:20px;">
                    <h3>Location:</h3>
                    <label>{{a.LocationOfAffectedMaterial}}</label>
                </div>

                <!-- Botones de compra -->

            </div>
        </div>
     </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Angular/Contoller/Common/SalvageCtrl.js"></script>
}
