﻿@{
    ViewBag.Title = "AboutCauseOfLoss";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script>
    $(window).load(function () {
        $("heading").html("About Cause of Loss");
    });
</script>
<div ng-controller="AboutCauseOfLossCtrl">
    <form id="formACL">
        
        <div class="form_label">
            <div class="col-2">
                <span>Time</span>
            </div>
            <div class="col-2">
                <input type="text" ng-model="acl.Time" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox" id="t" />
            </div>
            <div class="col-2">
                <span>Day</span>
            </div>
            <div class="col-2">
                <input type="text" ng-model="acl.Day" />
            </div>
            <div class="col-2">
                <span>Date</span>
            </div>

            <div class="col-2">
                <input type="text" ng-model="acl.Date" datepicker />
            </div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Location of Loss</span>
            </div>
            <div class="col-2">
                @*<input type="text" ng-model="acl.LocationLoss" disabled />*@
                <input type="text" ng-model="ic.AddressofLossLocation" disabled />
            </div>


            <div class="col-2">
                <span>Nature of Loss </span>
            </div>
            <div class="col-2">
                @*<input type="text" ng-model="acl.NatureLoss" disabled />*@
                @*<input type="text" ng-model="ic.CL_OP_Name" disabled />*@
                <select ng-options="n.PK_NL_ID  as n.NatureofLoss for   n in listNL" ng-model="acl.NL_ID"><option value="">Select</option></select>
            </div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Root Cause of Loss</span>
            </div>
            <div class="col-10">
                <textarea rows="2" maxlength="500" ng-model="acl.RootCauseLoss"></textarea>
            </div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Origin of operated peril </span>
            </div>
            <div class="col-2">
                <input type="text" maxlength="100" ng-model="acl.OriginOperatedPeril" />
            </div>
            <div class="col-2">
                <span>Effect of operated peril</span>
            </div>
            <div class="col-2">
                @*<input type="text" ng-model="acl.EffectOperatedPeril" />*@
                <select ng-options="eop.Pk_EOP_ID as eop.EffectofOperatedPeril for eop in listEOP" ng-model="acl.EffectOperatedPeril_ID"></select>
            </div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Statutory authorities to whom occurrence had been informed  </span>
            </div>
            <div class="col-2" ng-repeat="sai in listSAI">
                @*<input type="text" ng-model="acl.StatutoryAuthorities" />*@
                <label>
                    <input type="checkbox" ng-model="sai.chkboxSAI" />{{sai.StatutoryAuthoritiesInformed}}
                </label>
            </div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Insured submission why statutory authorities were not informed about occurrence </span>
            </div>
            <div class="col-10">
                <textarea rows="3" ng-model="acl.InsuredSubmission"></textarea>
            </div>
        </div>
        <div class="form_label">

            <div class="col-2">
                <span>Have matter published in Print Media, Television or other media</span>
            </div>
            <div class="col-2">
                <label><input type="radio" value="Yes" name="pm" ng-model="acl.PublishedPrintMedia" />Yes</label>
                <label><input type="radio" value="No" name="pm" ng-model="acl.PublishedPrintMedia" />No</label>
            </div>
            <div class="col-2">
                <span>Have occurrence captured in CCTV camera </span>
            </div>
            <div class="col-2">
                <label><input type="radio" value="Yes" name="ct" ng-model="acl.CapturedCCTVCamera" />Yes</label>
                <label><input type="radio" value="No" name="ct" ng-model="acl.CapturedCCTVCamera" />No</label>
                @*<input type="text" ng-model="acl.CapturedCCTVCamera" />*@
            </div>

            <div class="col-2">
                <span>Have Insured have prepared Item wise Photo album for all the damaged items</span>
            </div>
            <div class="col-2">
                <label><input type="radio" value="Yes" name="di" ng-model="acl.ItemWisePhotoAlbum" />Yes</label>
                <label><input type="radio" value="No" name="di" ng-model="acl.ItemWisePhotoAlbum" />No</label>
                @*<input type="text" ng-model="acl.ItemWisePhotoAlbum" />*@
            </div>
        </div>
        <div>
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span>Travelling of fire</span>
                </div>

                <div class="col-2">
                    <label><input type="radio" value="Yes" name="di" ng-model="acl.TravellingFire" />Yes</label>
                    <label><input type="radio" value="No" name="di" ng-model="acl.TravellingFire" />No</label>
                    @*<input type="text" ng-model="acl.TravellingFire" />*@
                </div>
            </div>
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span> Fire was continued for how many hours </span>
                </div>

                <div class="col-2 input-group">
                    <input type="text" maxlength="5" ng-model="acl.FireContinuedHowManyHours" />
                    <span class="input-group-addon">Hours</span>
                </div>
            </div>
        </div>
        <div class="form_label">
            <div ng-show="acl.NL_ID==1 || acl.NL_ID==2 || acl.NL_ID==5||acl.NL_ID==6">
            <div class="col-2">
                <span>Immediate Action taken for controlling the Fire</span>
            </div>
            <div class="col-10">
                <textarea rows="3" maxlength="1000" ng-model="acl.ImmediateActionControlFire"></textarea>
            </div>
                </div>
        </div>
        <div class="form_label">
            <div ng-show="acl.NL_ID==1 || acl.NL_ID==2 || acl.NL_ID==5||acl.NL_ID==6">
            <div class="col-2">
                <span>Further Action taken for controlling of fire </span>
            </div>
            <div class="col-10">
                <textarea rows="3" maxlength="1000" ng-model="acl.FurtherActionControlFire"></textarea>
            </div>
                </div>
        </div>
        @*<div class="form_label">
                <div class="col-2">
                    <span>Was fire brigade Informed</span>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="acl.WasFireBrigadeInformed" />
                </div>
            </div>*@
        <div>
            <div ng-show="acl.NL_ID==1">
            <div class="col-2">
                <span> Who informed the fire brigade</span>
            </div>
            <div class="col-2">
                <input type="text" maxlength="5" ng-model="acl.WhoInformedFireBrigade" />
            </div>
                </div>
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span>Time of calling to fire brigade</span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="20" ng-model="acl.TimeCallingFileBrigade" />
                </div>
            </div>
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span>Distance between site and fire station</span>
                </div>

                <div class="col-2 input-group">
                    <input type="text" maxlength="10" ng-model="acl.DistanceSiteAndFireStation" valid-number />
                    <span class="input-group-addon">KM</span>
                </div>
            </div>
            </div>
       


        <div class="form_label">
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span>Name of the fire station from where fire tender arrived </span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="50" ng-model="acl.NameFireStation" />
                </div>
            </div>
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span> Time of first fire tender arriving </span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="20" ng-model="acl.TimeFirstFireTenderArriving" />
                </div>
            </div>
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span>How many fire tenders used  for controlling the fire</span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="50" ng-model="acl.HowManyFireTendersUsed" valid-number />
                </div>
            </div>
            </div>
        <div>
            <div ng-show="acl.NL_ID==1">
                <div class="col-2">
                    <span>Time when last fire tender left the site</span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="20" ng-model="acl.TimeWhenLastFireTender" />
                </div>
            </div>
            <div ng-show="acl.NL_ID==2 || acl.NL_ID==7">
                <div class="col-2">
                    <span>Measured water level out side the premise </span>
                </div>
                <div class="col-2 input-group">
                    <input type="text" maxlength="5" ng-model="acl.MeasureWaterLevelOutside" />
                    <span class="input-group-addon">FOOT</span>
                </div>
            </div>
            <div ng-show="acl.NL_ID==2 || acl.NL_ID==7">
                <div class="col-2">
                    <span> Measured water level  inside the premise </span>
                </div>

                <div class="col-2 input-group">
                    <input type="text" maxlength="5" ng-model="acl.MeasureWaterLevelInside" />
                    <span class="input-group-addon">FOOT</span>
                </div>
            </div>
            </div>
        <div>
            <div ng-show="acl.NL_ID==2 || acl.NL_ID==7">
                <div class="col-2">
                    <span>Was Insured property submergre in flood water</span>
                </div>
                <div class="col-2">
                    <label><input type="radio" value="Yes" name="ipf" ng-model="acl.WasInsuredPropSubmergre" />Yes</label>
                    <label><input type="radio" value="No" name="ipf" ng-model="acl.WasInsuredPropSubmergre" />No</label>
                    @*<input type="text" ng-model="acl.WasInsuredPropSubmergre" />*@
                </div>
            </div>
            <div ng-show="acl.NL_ID==2 || acl.NL_ID==7">
                <div class="col-2">
                    <span>Recorded rainfall at site/area (mm)</span>
                </div>
                <div class="col-2 input-group">
                    <input type="text" maxlength="5" ng-model="acl.RecordRainfall" />
                    <span class="input-group-addon">mm</span>
                </div>
            </div>
            <div ng-show="acl.NL_ID==2 || acl.NL_ID==7">

                <div class="col-2">
                    <span>How many hours Insured premises was inundated </span>
                </div>
                <div class="col-2 input-group">
                    <input type="text" maxlength="5" ng-model="acl.HoursInsuredPremises" />
                    <span class="input-group-addon">Hours</span>
                </div>
            </div>
            </div>
        <div>
            <div ng-show="acl.NL_ID==5 || acl.NL_ID==6 || acl.NL_ID==8">
                <div class="col-2">
                    <span> How Long Insured's area was affected in storm</span>
                </div>
                <div class="col-2 input-group">
                    <input type="text" maxlength="5" ng-model="acl.LongInsuredAreaAffected" />
                    <span class="input-group-addon">Hours</span>
                </div>
            </div>
            <div ng-show="acl.NL_ID==5 || acl.NL_ID==6 || acl.NL_ID==8">
                <div class="col-2">
                    <span>Wind speed recorded by the Met Department in Insured's area</span>
                </div>
                <div class="col-2 input-group">
                    <input type="text" maxlength="5" ng-model="acl.WindSpeedRecordedMetDept" />
                    <span class="input-group-addon">Km/h</span>
                </div>
            </div>
            <div ng-show="acl.NL_ID==9 || acl.NL_ID==10">
                <div class="col-2">
                    <span>Entry/exit point used by culprits</span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="100" ng-model="acl.EntryExitUsedCulprits" />
                </div>
            </div>
            </div>
        <div class="form_label">
            <div ng-show="acl.NL_ID==9 || acl.NL_ID==10">
                <div class="col-2">
                    <span>Are marks of forcible entry available </span>
                </div>
                <div class="col-2">
                    <label><input type="radio" value="Yes" name="mk" ng-model="acl.ForcibleEntryAvailable" />Yes</label>
                    <label><input type="radio" value="No" name="mk" ng-model="acl.ForcibleEntryAvailable" />No</label>
                </div>
            </div>
            <div ng-show="acl.NL_ID==9 || acl.NL_ID==10">
                <div class="col-2">
                    <span> What type of marks were observed</span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="100" ng-model="acl.TypeMarksObserved" />
                </div>
            </div>
            <div ng-show="acl.NL_ID==9 || acl.NL_ID==10">
                <div class="col-2">
                    <span>Size of entry/exit point use culprits </span>
                </div>
                <div class="col-2">
                    <input type="text" maxlength="100" ng-model="acl.SizeEntryExitCulprits" />
                </div>
            </div>
            </div>

        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveAboutCauseOfLoss()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveAboutCauseOfLoss('n')">Next</button>
                @*<a href="/MISCFSR/OtherReportsForMaterialFacts?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                        Next
                    </a>*@

                <a href="/MISCFSR/AboutInsured?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
                
            </div>
        </div>
    </form>
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/AboutCauseOfLossCtrl.js"></script>
}
