﻿@{
    ViewBag.Title = "AboutInsured";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("ABOUT THE INSURED  ");
    });
</script>

<div ng-controller="AboutInsuredCtrl">

    <form id="formAI">

        <div class="form_label">

            <div class="col-3"><span> NOTE ON BUSINESS PROFILE </span></div>
            <div class="col-12">
                <textarea rows="4" ng-model="ai.NoteBusinessProfile" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox" id="nbf"></textarea>

            </div>
        </div>
        <div class="form_label">
            <div class="col-12">
                <label><input type="checkbox" ng-model="ai.ChkbxFS" />     Financial Status of last Three years</label>
            </div>
        </div>
        <div ng-show="ai.ChkbxFS==true">
            <div class="form_label">
                <div class="col-12">
                   <span>
                        We have reviewed the Insured's balance sheet of last three years  and tabulated the Insured, sale turn over, gross profit, Net profit and closing stock as on year ending as follows:
                  </span>
                </div>
                <div class="col-12">
                    <textarea rows="2" ng-model="ai.InsuredBalText"></textarea>
                </div>
            </div>
            <div class="form_label">
               
            <div class="col-12">
                <div class="grid_body" style="max-height:400px;">

                    <table class="mygrid">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th colspan="2">Gross Profit </th>
                                <th colspan="2">Net Profit </th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Financial Year</th>
                                <th>Sales Turnover</th>
                                <th>Rs.</th>
                                <th>%</th>
                                <th>Rs.</th>
                                <th>%</th>
                                <th>Closing Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><select ng-model="fs.FinancialYear"><option>Select</option><option value="2015-2016">2015-2016</option><option value="2016-2017">2016-2017</option><option value="2017-2018">2017-2018</option></select></td>
                                <td><input type="text" ng-model="fs.SalesTurnover" /></td>
                                <td><input type="text" ng-model="fs.GrossProfitRs" valid-number /></td>
                                <td><input type="text" ng-model="fs.GrossProfitPerc" valid-number /></td>
                                <td><input type="text" ng-model="fs.NetProfitRs" valid-number /></td>
                                <td><input type="text" ng-model="fs.NetProfitPerc" valid-number /></td>
                                <td><input type="text" ng-model="fs.ClosingStock" valid-number /></td>
                                <td><input type="hidden" value="First" ng-model="fs.RowName" valid-number /></td>
                            </tr>
                            <tr>
                                <td><select ng-model="sd.FinancialYear"><option>Select</option><option value="2015-2016">2015-2016</option><option value="2016-2017">2016-2017</option><option value="2017-2018">2017-2018</option></select></td>
                                <td><input type="text" ng-model="sd.SalesTurnover" /></td>
                                <td><input type="text" ng-model="sd.GrossProfitRs" valid-number /></td>
                                <td><input type="text" ng-model="sd.GrossProfitPerc" valid-number /></td>
                                <td><input type="text" ng-model="sd.NetProfitRs" valid-number /></td>
                                <td><input type="text" ng-model="sd.NetProfitPerc" valid-number /></td>
                                <td><input type="text" ng-model="sd.ClosingStock" valid-number /></td>
                                <td><input type="hidden" value="Second" ng-model="sd.RowName" valid-number /></td>
                            </tr>
                            <tr>
                                <td><select ng-model="td.FinancialYear"><option>Select</option><option value="2015-2016">2015-2016</option><option value="2016-2017">2016-2017</option><option value="2017-2018">2017-2018</option></select></td>
                                <td><input type="text" ng-model="td.SalesTurnover" /></td>
                                <td><input type="text" ng-model="td.GrossProfitRs" valid-number /></td>
                                <td><input type="text" ng-model="td.GrossProfitPerc" valid-number /></td>
                                <td><input type="text" ng-model="td.NetProfitRs" valid-number /></td>
                                <td><input type="text" ng-model="td.NetProfitPerc" valid-number /></td>
                                <td><input type="text" ng-model="td.ClosingStock" valid-number /></td>
                                <td><input type="hidden" value="Third" ng-model="td.RowName" valid-number /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
                </div>
            <div class="form_label">
                <div class="col-12">
                    <span>In view of above year-wise business growth of the Insured business, we may comment that Insured is running a health business, and having good reputation in the market.</span>
                </div>
                <div class="col-12">
                    <textarea rows="2" ng-model="ai.BusinessGrowthText"></textarea>
                </div>
            </div>
        </div>

        <div class="form_label">
            <div class="col-3">
                <span> Descriptions of Site</span>
            </div>
            <div class="col-12">
                <textarea rows="4" ng-model="ai.DescriptionsSite"></textarea>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <label><input type="checkbox" ng-model="ai.ChkbxLayoutSite" /> Layout of Site, Duly Highlighted affected Area </label>
            </div>
            <div  ng-show="ai.ChkbxLayoutSite==true">
                <div class="col-2">
                <input type="file" id="LayoutSitePhotoDoc"  /></div>
                <div class="col-6">
                <img ng-src="/files/MISC/{{ai.LayoutSitePhotoDoc}}" class="img" style="max-height:40px; max-width:40px; cursor:pointer"/>
               
                <a ng-href="/files/MISC/{{ai.LayoutSitePhotoDoc}}" download >Download</a></div>
            </div>
           
        </div>



        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveAboutInsured()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveAboutInsured('n')">Next</button>
                @*<a href="/MISCFSR/AboutCauseOfLoss?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                        Next
                    </a>*@

                <a href="/MISCFSR/ObservationsCircumstances?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
            </div>
        </div>
    </form>
</div>


@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/AboutInsured.js"></script>
}



