﻿@{
    ViewBag.Title = "AssessmentofLoss";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(window).load(function () {
        $("heading").html("Assessment of the Loss ");
    });
</script>
<div ng-controller="AssessmentofLossCtrl">
    <form id="formAL">

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>  Descriptions of original procurement </strong></h4>
                </div>
                <div class="modal-body" id="modalBody">
                        <div class="container">
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-2">
                                        <span>Description of Item</span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.DescofItem" />
                                    </div>
                                    <div class="col-md-2">
                                        <span>Supplier Name</span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.SupplierName" />
                                    </div>
                                    <div class="clearfix">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <span>Country of origin (COO)</span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.CountryofOrigin" />
                                    </div>

                                    <div class="col-md-2">
                                        <span>Inv. No. </span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.InvNo" />
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-md-2">
                                        <span> Inv. Date</span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.InvDate" datepicker />
                                    </div>
                                    <div class="col-md-2">
                                        <span>Invoice Value  </span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.InvoiceValue" />
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-md-2">
                                        <span>UOM</span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.UOM" />
                                    </div>
                                    <div class="col-md-2">
                                        <span>Capitalized value (INR) </span>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" ng-model="d.CapitalizedValue" />
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success" ng-click="saveDescofOriginProcurement()">Submit</button>

                                        &nbsp;
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        @*<button type="button" class="btn btn-danger" ng-click="cancelDOP()">
                                            Cancel
                                        </button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid_body table-responsive" style="max-height:400px;">
                            <table class="mygrid">
                                <thead>
                                    <tr>
                                        <th>Sr. No. </th>
                                        <th>Description of Item</th>
                                        <th>Supplier Name</th>
                                        <th>Country of origin (COO)</th>
                                        <th>Inv. No. </th>
                                        <th>Inv. Date</th>
                                        <th>Invoice Value </th>
                                        <th>UOM</th>
                                        <th>Capitalized value (INR)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="mygridBody">
                                    <tr ng-repeat="dp in  listDOP">
                                        <td>{{$index+1}}</td>
                                        <td>{{dp.DescofItem}}</td>
                                        <td>{{dp.SupplierName}}</td>
                                        <td>{{dp.CountryofOrigin}}</td>
                                        <td>{{dp.InvNo}}</td>
                                        <td>{{dp.InvDate}}</td>
                                        <td>{{dp.InvoiceValue}}</td>
                                        <td>{{dp.UOM}}</td>
                                        <td>{{dp.CapitalizedValue}}</td>
                                        <td ng-click="rowClickDOP(dp)"><img src="../../Images/edit.jpg" style="height:20px;" alt="Edit"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                 </div>
                @*<div class="modal-footer">
                        <button style="float:left;" type="button" class="btn btn-success" data-dismiss="modal">Submit</button >
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
    @*<div class="form_label">

        <label ng-repeat="t in listTableName"><input type="radio" name="tn" ng-value="t" ng-model="$parent.TableName" ng-change="getAssessmentofLoss()" />  {{t}}</label>
    </div>*@
        <div class="form_label">
            <label ng-repeat="d in  listPSI">
                <input type="radio" ng-model="test" name="Table1" ng-click="setData(d.PK_PSI_ID,d.ShortName);getAssessmentofLoss()" />{{d.Description}}
            </label>
        </div>
     <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-2">
            <span>Determination of Qty</span>
        </div>

        <div class="col-10">
            <textarea rows="5" ng-model="al.DeterQty" class="validate[required,'Please enter Determination of Qty.'] Txtbox" id="dq"></textarea>
        </div>
    </div>

    <div class="form_label">
        <div class="col-2">
            <span> Verification of Rates	</span>
        </div>
        <div class="col-10">
            <textarea rows="5" ng-model="al.VerificationRates" class="validate[required,'Please enter Verification of Rates'] Txtbox" id="vr"></textarea>
        </div>
    </div>
    <div class="form_label" ng-hide="shortName=='B'">
        <div class="col-md-2">

        </div>
        <div class="col-3">
            <button type="button" ng-click="showModalDOP()" class="btn btn-success">Descriptions of original procurement </button>
        </div>        
    </div>
   
    <div class="form_label">
        <div class="col-2">
            <span> Assessment Summary		</span>
        </div>
        <div class="col-10">
            <textarea rows="4" maxlength="500" ng-model="al.AssesmentSummary"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-2">
            <span> Depreciation/Reinstatement 			</span>
        </div>
        <div class="col-10">
            <textarea rows="5" ng-model="al.DepriReinst"></textarea>
        </div>
    </div>
    <div class="form_label" ng-hide="shortName=='B'">
        <div class="col-2">
            <span> Deduction for property lying under heating/burning/Drying Process	 			</span>
        </div>
        <div class="col-10">
            <textarea rows="5" ng-model="al.DeductHBD"></textarea>
        </div>
    </div>
    <div class="form_label" ng-show="shortName=='S'">
        <div class="col-2">
            <span>Obsolescence/Slow Moving/Dead Stock</span>
        </div>
        <div class="col-10">
            <textarea rows="5" ng-model="al.ObsolSlowDead"></textarea>
        </div>
    </div>
    <div class="form_label" ng-hide="shortName=='S'">
        <div class="col-2">
            <span>Up-gradation/Modification</span>
        </div>
        <div class="col-10">
            <textarea rows="5" ng-model="al.UpgradeModification"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-2">
            <span>Salvage	</span>
        </div>
        <div class="col-10">
            <textarea rows="5" ng-model="al.Salvage"></textarea>
        </div>
    </div>

    <div class="form_label">
        <div class="col-2">
            <span>Adequacy of Available Sum Insured (Under Insurance)		</span>
        </div>
        <div class="col-10">
            <textarea rows="5" ng-model="al.AdequacySumInsured"></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveAssessmentofLoss()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" id="btnCancel" class="btn yellow" ng-click="cancelAL()">Cancel</button>
            <a href="/MISCFSR/InsuredClaim?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                Prev
            </a>
            <a href="/MISCFSR/AssessmentofLoss_PartSecond?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
               Next
            </a>
            @*<a ng-click="saveInsuranceParticulars()" href="/MISCFSR/SurveyParticulars?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                    Next
                </a>*@
        </div>
    </div>
    <div class="grid_body table-responsive" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>

                    <th>Determination of Qty. </th>
                    <th>Verification of Rates</th>
                    <th>Assessment Summary</th>
                    <th>Depreciation/Reinstatement </th>
                    <th>Salvage	</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="mygridBody">
                <tr  ng-repeat="a  in listAL">
                    <td class="ellipsis" >{{a.DeterQty}}</td>
                    <td class="ellipsis">{{a.VerificationRates}}</td>
                    <td class="ellipsis">{{a.AssesmentSummary}}</td>
                    <td class="ellipsis">{{a.DepriReinst}}</td>
                    <td class="ellipsis" >{{a.Salvage}}</td>
                    <td class="ellipsis" ng-click="rowClickAL(a)"><img src="../../Images/edit.jpg" style="height:20px;" alt="Edit"></td>
                </tr>

            </tbody>
        </table>
    </div>
      </form>
</div>
<style>
    .text-oneLine { width: -200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #505050; }
  ._2cLu-l {
    padding: 5px 0;
    overflow: hidden;
    display: block;
}
  .ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
    /*.text-oneLine {
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #505050;*/
/*}*/
    .abc { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; line-height: 16px; /* fallback */ max-height: 32px; /* fallback */ -webkit-line-clamp: 2; /* number of lines to show */ -webkit-box-orient: vertical; }
</style>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/AssessmentofLossCtrl.js"></script>

}
