﻿@{
    ViewBag.Title = "AssessmentofLoss_PartSecond";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<script>
    $(window).load(function () {
        $("heading").html("Assessment of the Loss part2 ");
    });
</script>*@
<div ng-controller="AssessmentofLoss_PartSecondCtrl">
    <form id="formALP">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    @*<div class="form_label" ng-init="$parent.TableName='Building'">

        <label ng-repeat="t in listTableName">
        <input type="radio" name="tn" ng-value="t" ng-model="$parent.TableName"  ng-change="getAssessmentofLossAhDescCal()"/>  
        {{t}}
        </label>
    </div>*@
        <div class="form_label">
            <label ng-repeat="d in  listPSI">
                <input type="radio" ng-model="test" name="Table1" ng-click="setData(d.PK_PSI_ID,d.ShortName);getAssessmentofLossAhDescCal()" />{{d.Description}}
            </label>
        </div>
    
    <div class="form_label">

        <div class="col-12">
            <div class="grid_body table-responsive" style="max-height:400px;">

                <table class="mygrid">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="3" align="center" style="border:1px solid black;">Initial Claim</th>
                            <th colspan="3" align="center" style="border:1px solid black;">Final Claim</th>
                            <th colspan="3" align="center" style="border:1px solid black;">Assessment of the Loss</th>
                            <th></th>
                            <th>
                            </th>
                            <th></th>
                            <th></th>
                            <th>

                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Sr. No. </th>
                            <th>Description of Item</th>
                            <th>UOM</th>
                            <th>Qty.</th>
                            <th>Rate</th>
                            <th>Amount (Rs.)</th>
                            <th>Qty.</th>
                            <th>Rate</th>
                            <th>Amount (Rs.)</th>
                            <th>Qty.</th>
                            <th>Rate</th>
                            <th>Amount (Rs.)</th>
                            <th>Deduction for AABNA </th>
                            <th>Admissible Amount</th>
                            <th>Remarks</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ad in listAD">
                            <td>{{$index+1}}</td>
                            <td>{{ad.DescAffectedItem}}</td>
                            <td>{{ad.UOM}}</td>
                            <td><input type="text" ng-model="ad.Qty" valid-number maxlength="12" disabled /></td>
                            <td><input type="text" ng-model="ad.ICRate" valid-number maxlength="12" ng-change="calTotalInitClaim()" /></td>
                            <td><input type="text" ng-model="ad.ICAmount" readonly="readonly"/></td>
                            <td><input type="text" ng-model="ad.FCQty" valid-number maxlength="12" ng-change="calTotalFinalClaim()"/></td>
                            <td><input type="text" ng-model="ad.FCRate" valid-number maxlength="12" ng-change="calTotalFinalClaim()"/></td>
                            <td><input type="text" ng-model="ad.FCAmount" readonly="readonly" /></td>
                            <td><input type="text" ng-model="ad.ALQty" valid-number maxlength="12" ng-change="calTotalAssLoss()" /></td>
                            <td><input type="text" ng-model="ad.ALRate" valid-number maxlength="12" ng-change="calTotalAssLoss()" /></td>
                            <td><input type="text" ng-model="ad.ALAmount" readonly="readonly" /></td>
                            <td><input type="text" ng-model="ad.DeductAABNA" valid-number maxlength="12" ng-change="calTotalDeductAABNA()"/></td>
                            <td><input type="text" ng-model="ad.AdmissibleAmount" valid-number maxlength="12"/></td>
                            <td><input type="text" ng-model="ad.Remarks"  /></td>
                        </tr>
                        <tr><td></td><td>Total:-</td><td></td><td></td><td></td><td>{{(+ah.TotalInitClaim)}}</td><td></td><td></td><td>{{(+ah.TotalFinalClaim)}}</td><td></td><td></td><td>{{(+ah.TotalAssLoss) }}</td></tr>
                         </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form_label" style="overflow: scroll !important">
        @*<div class="col-3">
                <div class="grid_body">
                    <table class="mygrid" id="tblPopUp">
                        <thead>
                            <tr>
                                <th>Operation</th>
                                <th>Particular</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                    <b>
                        Total:-
                        <label>{{totalvalue}}</label>
                    </b>
                </div>


            </div>*@
        <div class="col-12">
            <div class="calc">
                <div class="grid_body table-responsive" style="max-width:400px;">
                    <table class="mygrid">
                        <thead>
                            <tr>
                                <th>Operation</th>
                                <th>Description</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>UOM</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="m in myArr track by $index">
                                <td>{{m.Sign}}</td>
                                <td> <select ng-options="a.PK_DescAL_ID as a.Description for  a  in listDAL" ng-model="m.DescAL_ID" disabled></select></td>
                               <td>
                                    {{m.Rate}}
                                </td>
                                <td>{{m.Amount}}</td>
                                <td><select ng-options="b.PK_UOM_ID as b.UOM for  b in listUOM" ng-model="m.UOM_Id" disabled></select></td>
                                <td ng-click="deleteInmyArr($index)"><img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                            </tr>
                            <tr>

                                <td>
                                    <label>   <input type="radio" name="cal" value="Add" ng-model="ac.Sign"  /> Add   </label>
                                    <label>   <input type="radio" name="cal" value="Less" ng-model="ac.Sign" /> Less   </label>
                                    <label>
                                        <input type="radio" name="cal" value="Multiply" ng-model="ac.Sign" /> Multiply
                                    </label>
                                    <label>
                                        <input type="radio" name="cal" value="Divide" ng-model="ac.Sign" /> Divide
                                    </label>
                                </td>
                                <td><select ng-options="d.PK_DescAL_ID as d.Description for  d  in listDAL" ng-model="ac.DescAL_ID" class="validate[required,'Please Select Description'] Txtbox" id="d"></select></td>
                                <td><input type="text" valid-number ng-model="ac.Rate" ng-change="calRateToAmount()" maxlength="12" /></td>
                                <td><input type="text" valid-number ng-model="ac.Amount" ng-disabled="ac.Rate>0" maxlength="12"/></td>
                                <td><select ng-options="u.PK_UOM_ID as u.UOM for  u in listUOM" ng-model="ac.UOM_Id" class="validate[required,'Please Select UOM'] Txtbox" id="u"></select></td>
                                <td ng-click="AddRecord()">
                                    <img src="~/Images/addicon.png" alt="Add" title="Add" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                   <span style="float:right;"> <strong> Gross Loss Assessed</strong> </span>
                                </td>
                                <td></td>
                                <td><input type="text" ng-model="ah.GrossLossAss" disabled  valid-number /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span style="float:right;"> <strong>  Deduction for AABNA</strong> </span>
                                </td>
                                <td></td>
                                <td><input type="text" ng-model="ah.TotalDeductAABNA" disabled valid-number/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span style="float:right;"> <strong>    Gross Admissible Loss</strong> </span>
                                </td>
                                <td></td>
                                <td><input type="text" ng-model="ah.GrossAdmLoss" disabled valid-number /></td>
                            </tr>   
                            <tr>
                                <td></td>
                                <td>
                                    <span style="float:right;"> <strong> Deduction of GST, Freight, Ins. & Packing etc. on AABNA portion</strong> </span>
                                </td>
                                <td></td>
                               
                                <td><input type="text" ng-model="ah.DeductofGFIP" ng-change="calGrandTotal()" valid-number maxlength="12" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span style="float:right;"> <strong>   Salvage</strong> </span>
                                </td>
                                <td><input type="text" ng-model="ah.SalvageRate" valid-number ng-keyup="calSalvageRateToAmount()" maxlength="12" /></td>
                                <td><input type="text" ng-model="ah.SalvageAmount" valid-number   ng-disabled="ah.SalvageRate>0" maxlength="12"/></td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>
                                    <span style="float:right;"> <strong>   Depreciation</strong> </span>
                                </td>

                                <td><input type="text" ng-model="ah.DeprRate" valid-number ng-keyup="calDepreciationRateToAmount()" maxlength="12"/></td>
                                <td><input type="text" ng-model="ah.DeprAmount" valid-number  ng-disabled="ah.DeprRate>0" maxlength="12" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span style="float:right;"> <strong>       G. Total (Net Assessed Loss)</strong> </span>
                                </td>
                                <td></td>
                                <td><input type="text" ng-model="ah.GrandTotal"  maxlength="12" disabled valid-number/></td>
                            </tr>
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveAssessmentofLossAhDescCal()">Submit</button>
            @*&nbsp;&nbsp;&nbsp;&nbsp;*@    
            @*<button  type="submit" class="btn yellow">Cancel</button>*@
            @*<a href="/MISCFSR/AboutInsured?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                    Next
                </a>*@
            @*<button type="button" class="btn yellow" ng-click="saveAssessmentofLossAhDescCal('n')" style="float:right;">Next</button>*@
            <a href="/MISCFSR/ClaimAssAdjust?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
               Next
            </a>
            <a href="/MISCFSR/AssessmentofLoss?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                Prev
            </a>

        </div>
    </div>
        </form>
</div>
@section scripts{


    <script src="~/Scripts/Angular/Contoller/MISCFSR/AssessmentofLoss_PartSecondCtrl.js"></script>
}
