﻿@{
    ViewBag.Title = "ClaimAssAdjust";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
@model System.Data.DataTable
@using System.Data;
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script>
    $(window).load(function () {
        $("heading").html("Claim Assessment/Adjustment");
    });
</script>
<div ng-controller="ClaimAssAdjustCtrl">
    <form id="formCAA">
        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xs">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@*Modal Header*@</h4>
                    </div>
                    <div class="modal-body" id="modalBody">
                        @*<p>Some text in the modal.</p>*@
                    </div>
                    @*<div class="modal-footer">
                            <button style="float:left;" type="button" class="btn btn-success" data-dismiss="modal">Submit</button >
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>*@
                </div>

            </div>
        </div>
        <div hidden>
            <div id="cmnDiv">
                <span>Have Insured Optied Additional Sum Insured for Deleris Removal?</span>
                <button type="button" class="btn btn-success" id="Yes">Yes</button>
                <button type="button" class="btn btn-danger" id="No">No</button>
                @*<label>   <input type="radio" value="Yes" name="d" class="drYN" />Yes</label>
                    <label>   <input type="radio" value="No" name="d" class="drYN" />No</label>*@
            </div>
        </div>


        <div class="grid_body table-responsive" style="max-height:1200px;">
            <table class="mygrid">
                <thead>
                    <tr>

                        @foreach (DataColumn col in Model.Columns)
                        {
                            if (@col.ColumnName == "id" || @col.ColumnName == "shortName")
                            {

                            }
                            else
                            {
                                <th>@col.ColumnName</th>
                            }
                        }
                    </tr>
                    @*<th>Descriptions</th>
                        <th>Stock  </th>
                        <th>Plant & Machinery  </th>
                        <th>Building </th>
                        <th>FFF </th>
                        <th>Contents </th>
                        <th>Total </th>*@
                    @*</tr>*@
                </thead>
                <tbody id="mygridBody">
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>

                            @foreach (DataColumn col in Model.Columns)
                            {

                                if (@col.ColumnName == "id" || @col.ColumnName == "shortName")
                                {

                                }

                                else if (@row["shortName"].ToString() == "UIP" || @row["shortName"].ToString() == "UIA" || @row["shortName"].ToString() == "ALCM" || @row["shortName"].ToString() == "LME" || @row["shortName"].ToString() == "DR" || @row["shortName"].ToString() == "CEF" || @row["shortName"].ToString() == "Ex" || @row["shortName"].ToString() == "NAL" || @row["shortName"].ToString() == "RLP" || @row["shortName"].ToString() == "AP" || @row["shortName"].ToString() == "NPR")
                                {
                                    if (@col.ColumnName == "Claim_Desc")
                                    {
                                        <td class="@col.ColumnName">@row[col.ColumnName]</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @row["shortName"]-@col.ColumnName
                                            <input type="text" class='@row["shortName"] number' data-tname="@col.ColumnName" data-shortname="@row["shortName"]" maxlength="12" value="@row[col.ColumnName]" />
                                        </td>
                                    }

                                }
                                else
                                {
                                    <td class="@col.ColumnName">@row[col.ColumnName]</td>

                                }



                            }
                        </tr>
                    }
                </tbody>
                @*<tbody id="mygridBody">
                        <tr>
                            <td>Initial Claim Lodged by the Insured </td>
                        </tr>
                        <tr>
                            <td> Final Claim Lodged by the Insured</td>
                        </tr>
                        <tr>
                            <td>
                                Gross Loss Assessment of the Loss
                            </td>
                        </tr>
                        <tr>
                            <td>  Gross Admissible Loss, as per terms of Policy</td>
                        </tr>
                        <tr>   <td>   Less: Depreciation, as applicable</td> </tr>
                        <tr><td> Less: Salvage value, (net of realization cost and taxes)</td>  </tr>
                        <tr><td>Net Assessed Loss</td></tr>
                        <tr><td>Under Insurance percentage</td></tr>
                        <tr><td>Under Insurance Amount</td></tr>
                        <tr><td>Adjusted Loss/Claim Amount</td></tr>
                        <tr><td>Add: Loss Minimization Expenses</td></tr>
                        <tr><td>Add: Debris Removal</td></tr>
                        <tr><td>Add: Consulting Engineer Fee</td></tr>
                        <tr><td>Less: Excess</td></tr>
                        <tr><td>Net Adjusted Loss </td></tr>
                        <tr><td>Recommended Loss for Payment </td></tr>
                        <tr><td>Less: On Account Payment if any</td></tr>
                        <tr><td>Net Payment Recommended for final Settlement </td></tr>
                    </tbody>*@

            </table>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Loss Minimization</span>
            </div>
            <div class="col-10"><textarea rows="4" ng-model="c.LossMinmization"></textarea></div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Debris Removal (upto 1% of the claim Amount)</span>
            </div>
            <div class="col-10"><textarea rows="2" ng-model="c.DebrisRemoval"></textarea></div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Surveyor/Architect/Consulting Engineer Fee ( Upto 3% of the claim Amount)</span>
            </div>
            <div class="col-10"><textarea rows="2" ng-model="c.SurveyorArcCon"></textarea></div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Excess</span>
            </div>
            <div class="col-10"><textarea rows="2" ng-model="c.Excess"></textarea></div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>On Account Payment </span>
            </div>
            <div class="col-10"><textarea rows="3" ng-model="c.OnAccountPayment"></textarea></div>
        </div>
        <div class="form_label">

            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveClaimAssAdjust()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <a href="/MISCFSR/AssessmentofLoss_PartSecond?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveClaimAssAdjust('n')">Next</button>

            </div>
        </div>
    </form>
</div>


@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/ClaimAssAdjustCtrl.js"></script>
    <script>

        $(document).ready(function () {

            //$('button').click(function () {
            //    alert('asdfasdf');
            //})

            var myTempTextbox = null;
            var countDR = 0;
            var countCEF = 0;
            var countEx = 0;
            var tempShortName = null;

            function TotalValue() {
                var uipTotal = 0;
                var uiaTotal = 0;
                var alcmTotal = 0;
                var lmeTotal = 0;
                var drTotal = 0;
                var cefTotal = 0;
                var exTotal = 0;
                var nalTotal = 0;
                var rlpTotal = 0;
                var apTotal = 0;
                var nprTotal = 0;
                $('.UIP:not(:last)').each(function () {
                    uipTotal += parseFloat(this.value);
                });
                $('.UIP').last().val(uipTotal.toFixed(2));
                $('.UIA:not(:last)').each(function () {
                    uiaTotal += parseFloat(this.value);
                });
                $('.UIA').last().val(uiaTotal.toFixed(2));

                $('.ALCM:not(:last)').each(function () {
                    alcmTotal += parseFloat(this.value);
                });
                $('.ALCM').last().val(alcmTotal.toFixed(2));

                $('.LME:not(:last)').each(function () {
                    lmeTotal += parseFloat(this.value);
                });
                $('.LME').last().val(lmeTotal.toFixed(2));

                $('.DR:not(:last)').each(function () {
                    drTotal += parseFloat(this.value);
                });
                $('.DR').last().val(drTotal.toFixed(2));

                $('.CEF:not(:last)').each(function () {
                    cefTotal += parseFloat(this.value);
                });
                $('.CEF').last().val(cefTotal.toFixed(2));

                $('.Ex:not(:last)').each(function () {
                    exTotal += parseFloat(this.value);
                });
                $('.Ex').last().val(exTotal.toFixed(2));

                $('.NAL:not(:last)').each(function () {
                    nalTotal += parseFloat(this.value);
                });
                $('.NAL').last().val(nalTotal.toFixed(2));

                $('.RLP:not(:last)').each(function () {
                    rlpTotal += parseFloat(this.value);
                });
                $('.RLP').last().val(rlpTotal.toFixed(2));

                $('.AP:not(:last)').each(function () {
                    apTotal += parseFloat(this.value);
                });
                $('.AP').last().val(apTotal.toFixed(2));
                $('.NPR:not(:last)').each(function () {
                    nprTotal += parseFloat(this.value);
                });
                $('.NPR').last().val(nprTotal.toFixed(2));



            }

            $('.UIP').keyup(function () {
                //var uipTotal = 0;
                var uiaTotal = 0;
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                var thisVal = $(this).val();

                var myTname = $(this).attr('data-tname');
                var myShortname = $(this).attr('data-shortname');
                var netAssessedAmt = $(this).closest('tr').prev('tr').find('.' + myTname).html();
                var amt = (thisVal * netAssessedAmt) / 100;
                var adjLoss = netAssessedAmt - amt;
                console.log(amt);
                $(this).closest('tr').next('tr').find('input[data-tname=' + myTname + ']').val(amt).attr('disabled', true);
                $(this).closest('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(adjLoss).attr('disabled', true);




                var netAdjLoss =
 parseFloat($(this).closest('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) + parseFloat(
  $(this).closest('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val())
  +
 parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val())
 +
 parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat(
  $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());





                var rlp = netAdjLoss;
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(parseFloat(netAdjLoss));


                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(parseInt(rlp));



                var npr = parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());
                console.log(npr);
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(npr);

                //uipTotal
                //    =
                //    parseFloat($(this).closest('td').find('input[data-shortname=' + myShortname + ']').val())
                //    + parseFloat($(this).closest('td').next('td').find('input[data-shortname=' + myShortname + ']').val())
                //    + parseFloat($(this).closest('td').next('td').next('td').find('input[data-shortname=' + myShortname + ']').val()) + parseFloat($(this).closest('td').next('td').next('td').next('td').find('input[data-shortname=' + myShortname + ']').val())
                //    + parseFloat($(this).closest('td').next('td').next('td').next('td').next('td').find('input[data-shortname=' + myShortname + ']').val());


                //$(this).closest('td').next('td').next('td').next('td').next('td').next('td').find('input[data-shortname=' + myShortname + ']').val(uipTotal)
                TotalValue();
                //var sum = 0;
                //$('.UIA:not(:last)').each(function () {
                //    sum += parseFloat(this.value);
                //});

                //$(this).closest('tr').next('tr').find('td:last').find('input').val(sum);



            })

            $('.LME').keyup(function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                var myTname = $(this).attr('data-tname');
                var netAdjLoss =
                 parseFloat($(this).closest('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) + parseFloat(
                  $(this).closest('tr').find('input[data-tname=' + myTname + ']').val())
                  +
                 parseFloat($(this).closest('tr').next('tr').find('input[data-tname=' + myTname + ']').val())
                 +
                 parseFloat($(this).closest('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat(
                  $(this).closest('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());

                var rlp = netAdjLoss;
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(parseFloat(netAdjLoss));
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(parseInt(rlp));
                var npr = parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());
                console.log(npr);
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(npr);

                TotalValue();
            })



            $('.DR').keyup(function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                myTempTextbox = $(this);
                console.log(myTempTextbox);
                var myTname = $(this).attr('data-tname');
                var adjLossVal = $(this).closest('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val();
                var drVal = $(this).val();

                var tVal = (adjLossVal * 1) / 100;
                if (parseFloat(drVal) > parseFloat(tVal) && countDR == 0) {
                    tempShortName = "DR";
                    //alert();

                    //if ($('.DR').is(':focus'))
                    //{
                    //    $(this).attr('disabled', true);
                    //}

                    //$('.DR').attr('disabled', true);
                    //$('.UIA,.ALCM').attr('disabled', true);
                    //$('input').prop('readonly', true);
                    $('input').prop('readonly', true);
                    $('#modalBody').html();
                    $('#myModal').modal({ backdrop: 'static', keyboard: true });
                    $('#modalBody').html($('#cmnDiv'));
                    $('#myModal').modal('show');


                }
                var netAdjLoss = parseFloat($(this).closest('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val())
                  + parseFloat($(this).closest('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) +
                 parseFloat($(this).closest('tr').find('input[data-tname=' + myTname + ']').val())
                  +
                  parseFloat($(this).closest('tr').next('tr').find('input[data-tname=' + myTname + ']').val())
                 -
                 parseFloat($(this).closest('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());

                var rlp = netAdjLoss;
                $(this).closest('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(netAdjLoss);
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(Math.round(rlp));
                var npr = parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());
                console.log(npr);
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(npr);
                TotalValue();
            })

            $(document).on('click', '#Yes', function () {
                if (tempShortName == "DR") {
                    countDR = 1;
                }
                else if (tempShortName == "CEF") {
                    countCEF = 1;
                }
                else if (tempShortName == "Ex") {
                    countEx = 1;
                }
                $('#myModal').modal('hide');
                $('input').prop('readonly', false);

            })
            $(document).on('click', '#No', function () {
                if (tempShortName == "DR") {
                    countDR = 0;
                }
                else if (tempShortName == "CEF") {
                    countCEF = 0;
                }
                else if (tempShortName == "Ex") {
                    countEx = 0;
                }
                $('#myModal').modal('hide');
                myTempTextbox.val(' ');
                $('input').prop('readonly', false);


            })


            $('.CEF').keyup(function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                myTempTextbox = $(this);
                var myTname = $(this).attr('data-tname');
                var adjLossVal = $(this).closest('tr').prev('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val();
                var cefVal = $(this).val();

                var tVal = (adjLossVal * 3) / 100;
                if (parseFloat(cefVal) > parseFloat(tVal) && countCEF == 0) {
                    tempShortName = "CEF";
                    //alert();
                    $('input').prop('readonly', true);
                    $('#modalBody').html();
                    $('#myModal').modal({ backdrop: 'static', keyboard: true });
                    $('#modalBody').html($('#cmnDiv'));
                    $('#myModal').modal('show');

                }
                var netAdjLoss = parseFloat($(this).closest('tr').prev('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val())
   + parseFloat($(this).closest('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) + parseFloat(
    $(this).closest('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) +
  parseFloat($(this).closest('tr').find('input[data-tname=' + myTname + ']').val())
-
  parseFloat($(this).closest('tr').next('tr').find('input[data-tname=' + myTname + ']').val());

                $(this).closest('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(netAdjLoss);
                var rlp = netAdjLoss;
                console.log(rlp);
                $(this).closest('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(Math.round(rlp));
                var npr = parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());
                console.log(npr);
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(npr);
                TotalValue();

            })
            $('.Ex').keyup(function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                myTempTextbox = $(this);
                var myTname = $(this).attr('data-tname');
                var adjLossVal = parseFloat($(this).closest('tr').prev('tr').prev('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val());
                var exVal = parseFloat($(this).val());

                var tVal = (adjLossVal * 5) / 100;
                if (parseFloat(exVal) > parseFloat(tVal) && countEx == 0) {
                    tempShortName = "Ex";
                    //alert();
                    $('input').prop('readonly', true);
                    $('#myModal').modal({ backdrop: 'static', keyboard: true });
                    $('#modalBody').html();
                    $('#modalBody').html($('#cmnDiv'));
                    $('#myModal').modal('show');

                }

                var netAdjLoss = parseFloat($(this).closest('tr').prev('tr').prev('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val())
   + parseFloat($(this).closest('tr').prev('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) +
   parseFloat($(this).closest('tr').prev('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) + parseFloat($(this).closest('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) -
  parseFloat($(this).closest('tr').find('input[data-tname=' + myTname + ']').val());
                var rlp = netAdjLoss;
                $(this).closest('tr').next('tr').find('input[data-tname=' + myTname + ']').val(netAdjLoss);
                $(this).closest('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(Math.round(rlp));
                var npr = parseFloat($(this).closest('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat($(this).closest('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val());
                console.log(npr);
                $(this).closest('tr').next('tr').next('tr').next('tr').next('tr').find('input[data-tname=' + myTname + ']').val(npr);
                TotalValue();
            })

            $('.AP').keyup(function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                var myTname = $(this).attr('data-tname');
                var npr = parseFloat($(this).closest('tr').prev('tr').find('input[data-tname=' + myTname + ']').val()) - parseFloat($(this).closest('tr').find('input[data-tname=' + myTname + ']').val());
                $(this).closest('tr').next('tr').find('input[data-tname=' + myTname + ']').val(npr)
                TotalValue();

            })


            $('.UIA,.ALCM,.NAL,.RLP,.NPR').attr('disabled', true);
            $("input[data-tname='Total']").attr('disabled', true);

            $('#mygridBody input').each(function () {

                if ($(this).val() == 0.00) {
                    console.log("hello");
                    $(this).val(0);
                }

            })
            //$('#mygridBody input').each(function () {

            //    console.log($(this).val() + '-' + $(this).attr('data-tname') + '-' + $(this).attr('data-shortname'));

            //})
            $('.number').keypress(function (event) {
                var $this = $(this);
                if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                   ((event.which < 48 || event.which > 57) &&
                   (event.which != 0 && event.which != 8))) {
                    event.preventDefault();
                }

                var text = $(this).val();
                if ((event.which == 46) && (text.indexOf('.') == -1)) {
                    setTimeout(function () {
                        if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                            $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                        }
                    }, 1);
                }

                if ((text.indexOf('.') != -1) &&
                    (text.substring(text.indexOf('.')).length > 2) &&
                    (event.which != 0 && event.which != 8) &&
                    ($(this)[0].selectionStart >= text.length - 2)) {
                    event.preventDefault();
                }
            });

            $('.number').bind("paste", function (e) {
                var text = e.originalEvent.clipboardData.getData('Text');
                if ($.isNumeric(text)) {
                    if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                        e.preventDefault();
                        $(this).val(text.substring(0, text.indexOf('.') + 3));
                    }
                }
                else {
                    e.preventDefault();
                }
            });
        })




    </script>

}
@*<script>

            $(document).ready(function () {

                $('.UIP').keyup(function () {
                    var thisVal = $(this).val();
                    var myTname = $(this).attr('data-tname');
                    var netAssessedAmt = $(this).closest('tr').prev('tr').find('.' + myTname).html();
                    var amt = (thisVal * netAssessedAmt) / 100;
                    console.log(amt);
                    $(this).closest('tr').next('tr').find('input[data-tname=' + myTname + ']').val(amt).attr('disabled', true);


                    //console.log($(this).val());

                })

                $('.UIA').attr('disabled', true);

                $('#mygridBody input').each(function () {

                    console.log($(this).val() + '-' + $(this).attr('data-tname') + '-' + $(this).attr('data-shortname'));

                })
            })

    </script>*@