﻿@{
    ViewBag.Title = "Contribution";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script>
    $(window).load(function () {
        $("heading").html("Contribution");
    });
</script>
<h1>Contribution of the loss is as follows:</h1>
<div ng-controller="ContributionCtrl" >
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />


    <div class="grid_body table-responsive" style="max-height:400px;">
        <table class="mygrid">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Co-Insurers</th>
                    <th>Percentage</th>
                    <th>Share in Amount</th>
                </tr>
            </thead>
            <tbody id="mygridBody">
                <tr ng-repeat="c in listCon">
                    <td>{{$index+1}}</td>
                    <td>{{c.Name}} </td>
                    <td>{{c.Percentage}}</td>
                    <td>{{c.ShareInAmount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveContribution()" id="btnSave">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/MISCFSR/ClaimAssAdjust?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                Prev
            </a>
            <button type="button" class="btn yellow" style="float:right;" ng-click="saveContribution('n')">Next</button>
            @*<a ng-click="saveInsuranceParticulars()" href="/MISCFSR/SurveyParticulars?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                    Next
                </a>*@
        </div>
    </div>
</div>

@section scripts{
<script src="~/Scripts/Angular/Contoller/MISCFSR/ContributionCtrl.js"></script>
 
}