﻿@{
    ViewBag.Title = "InsuranceParticulars";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("INSURANCE PARTICULARS ");
    });
</script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div ng-controller="InsuranceParticularsCtrl">
    <form id="formIP">

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    @*<div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>*@
                    <div class="modal-body" id="modalBody">
                        <div ng-show="cIns==1">

                            @*<button ng-click="show()">Show</button>*@

                            <div class="grid_body table-responsive" style="max-height:400px;">
                                <table class="mygrid">
                                    <thead>
                                        <tr>
                                            <th>Co-Insurers</th>
                                            <th>Percentage</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="mygridBody">
                                        <tr ng-repeat="x in coInsurers track by $index">
                                            <td><select ng-options="i.PK_InsrID as i.InsurerName for i in listIns" ng-model="x.CoInsurersID"><option value="">Select</option></select> </td>
                                            <td><div class="input-group"><input type="text" ng-model="x.Percentage" valid-number disabled /><span class="input-group-addon">%</span> </div></td>
                                            <td ng-click="deleteInCoInssurers($index)"><img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                                            @*<td>
                                                <button type="button" ng-click="deleteInCoInssurers($index)">delete</button>
                                                    </td>*@
                                        </tr>
                                        <tr ng-hide="trCoIns==1">
                                            <td><select ng-options="i.PK_InsrID as i.InsurerName for i in listIns" ng-model="x.CoInsurersID"></select></td>
                                            <td><div class="input-group"><input type="text" ng-model="x.Percentage" valid-number /><span class="input-group-addon">%</span></div></td>
                                            <td ng-click="addItem()" ng-hide="btnAdd==1"><img src="~/Images/addicon.png" style="width:20px; height:20px;" /></td>
                                            @*<td><button class="btn btn-success" ng-click="addItem()" ng-hide="btnAdd==1">Add</button></td>*@
                                        </tr>

                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-success" ng-click="checkIsHundred()">Submit</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                @*&nbsp;   &nbsp; &nbsp;
                                                    <button  type="button" class="btn btn-danger" ng-click="clearCoIns()">
                                                        Clear
                                                    </button>*@
                                                @*<button ng-click="showIns()">show</button>*@
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="psi==1">

                            @*<button ng-click="show()">Show</button>*@

                            <div class="grid_body table-responsive" style="max-height:600px;">
                                <table class="mygrid">
                                    <thead>
                                        <tr>
                                            <th>Description of property</th>
                                            <th>Sum-Insured (Rs.)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="mygridBody">
                                        <tr ng-repeat="y in listPT track by $index">
                                            <td>  <input type="text" ng-model="y.Description" disabled /></td>
                                            <td>  <input type="text" ng-model="y.SumInsured" valid-number /></td>
                                            <td></td>
                                        </tr>
                           
                                       <tr>
                                           <td>
                                               <label><input type="checkbox" ng-model="chkbxOther" />Other</label>
                                           </td>
                                       </tr>
                                        <tr ng-show="chkbxOther==true">
                                            <td>
                                                <input type="text" ng-model="other.Description" />
                                            </td>
                                            <td><input type="text" ng-model="other.SumInsured"/></td>
                                            <td ng-click="addInlistPT()"><img src="~/Images/addicon.png" style="width:20px; height:20px;" /></td>
                                        </tr>
                                        @*<tr>
                                            <td><strong style="float:right;">Total</strong></td>
                                            <td><strong> {{totalSI}} </strong></td>
                                            <td></td>
                                        </tr>*@
                                        <tr>

                                            <td>
                                                <button style="float:left;" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                                                @*&nbsp;&nbsp;&nbsp;
                                                    <button  type="button" class="btn btn-danger" ng-click="clearPSI()">
                                                        Clear
                                                    </button>*@
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div ng-show="rwc==1">
                            <div class="grid_body table-responsive" style="max-height:400px;">
                                <table class="mygrid">
                                    <thead>
                                        <tr>

                                            <th>Relevant Warranties/Conditions</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="mygridBody">
                                        <tr ng-repeat="z in relWC track by $index">

                                            <td>  <input type="text" ng-model="z.RelWarCond" /></td>
                                            <td ng-click="deleteInRWC($index)"><img src="~/Images/Delete_icon.png" style="width:20px; height:20px;" /></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" maxlength="250" ng-model="z.RelWarCond" /></td>
                                            <td ng-click="addRWC()"><img src="~/Images/addicon.png" style="width:20px; height:20px;" /></td>
                                            @*<td><button class="btn btn-success" ng-click="addRWC()">Add</button></td>*@
                                        </tr>

                                        <tr>
                                            <td>
                                                <button style="float:left;" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                                                @*&nbsp;&nbsp;&nbsp;
                                                    <button type="button" class="btn btn-danger" ng-click="clearRWC()">
                                                        Clear
                                                    </button>*@
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>

                        @*<div class="modal-footer">
                                <button style="float:left;" type="button" class="btn btn-success" data-dismiss="modal">Submit</button >
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>*@
                    </div>

                </div>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3"><span>Insurers<label class="mandatory">*</label></span></div>
            <div class="col-3">
                @*<span>{{cd.Insurers}}</span>*@
                <input type="text" ng-model="cd.Insurers" disabled />
            </div>
            <div class="col-3"><span>Policy No.  <label class="mandatory">*</label></span></div>
            <div class="col-3">
                @*<span>{{cd.PolicyNo}}</span>*@
                <input type="text" ng-model="cd.PolicyNo" disabled />
            </div>
        </div>
        <div class="form_label">


            <div class="col-3"><span>Policy Type <label class="mandatory">*</label></span></div>
            <div class="col-3">
                @*<span>{{cd.PolicyType}}</span>*@
                <input type="text" ng-model="cd.PolicyType" disabled />
            </div>
            <div class="col-3"><span>Co-Insurers</span></div>
            <div class="col-2">
                <label>
                    <input type="radio" name="ci" ng-model="ip.CINYN" value="Yes" ng-change="showDeleteDataModal()" />Yes
                </label>
                <label><input type="radio" name="ci" ng-model="ip.CINYN" value="No" ng-change="showDeleteDataModal()" />No</label>
            </div>
            <div class="col-1" ng-show="ip.CINYN=='Yes'"><button type="button" class="btn btn-info btn-lg" ng-click="showModalCoins()">ADD</button></div>
        </div>
        <div class="form_label">

            <div class="col-3"><span>Financier Interest<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" maxlength="100" ng-model="ip.FinancierInterest" />
            </div>
            <div class="col-3"><span>Insured Name <label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" ng-model="cd.InsuredName" disabled />
            </div>

        </div>


        <div class="form_label">
            <div class="col-3"><span>Address for Communication<label class="mandatory">*</label></span></div>
            <div class="col-9">
                <textarea maxlength="500" rows="2" ng-model="ip.AddressCommunication"></textarea>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3"><span>Address of Loss Location</span></div>
            <div class="col-9">
                <textarea rows="2" ng-model="ic.AddressofLossLocation"></textarea>
            </div>

        </div>
        <div class="form_label">
            <div class="col-3"><span>Period of Insurance<label class="mandatory">*</label></span></div>
            <div class="col-3">
                <span>From Date</span>
                <input type="text" datepicker ng-model="ic.PeriodofPolicyFromDT" />
            </div>
            <div class="col-3">
                <span>To Date</span>
                <input type="text" datepicker ng-model="ic.PeriodofPolicyToDT" />
            </div>
        </div>
        <div class="form_label">
            <div class="col-3"><span>Policy Sum Insured<label class="mandatory">*</label></span></div>
            <div class="col-2">
                <label>
                    <input type="radio" name="pi" ng-model="ip.PSIYN" value="Yes" />Yes
                </label>
                <label><input type="radio" name="pi" ng-model="ip.PSIYN" value="No" />No</label>
            </div>
            <div class="col-1" ng-show="ip.PSIYN=='Yes'"><button type="button" class="btn btn-info btn-lg" ng-click="showModalPSI()">ADD</button></div>

        </div>


        <div class="form_label">
            <div class="col-3">

            </div>
            <div class="col-2">
                <label>
                    <input type="checkbox" ng-model="ip.AddCovers" />Add on Covers
                </label>
            </div>

            <div class="col-2">
                <label>
                    <input type="checkbox" ng-model="ip.ClausesAttached" />Clauses Attached
                </label>
            </div>

            <div class="col-3">
                <button type="button" class="btn btn-success" ng-click="showModalRWC()">  Relevant Warranties/Conditions</button>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3"><span>Excess as Applicable <label class="mandatory">*</label></span></div>
            <div class="col-3">
                <input type="text" maxlength="100" ng-model="ip.ExcessApplicable" />
            </div>
        </div>




        @*<div class="form_label">
                <div class="col-3"><span>Policy Issuing Office<label class="mandatory">*</label></span></div>
                <div class="col-9">
                    <input type="text" maxlength="200" ng-model="ic.PolicyIssueofficeAddress" />
                </div>

            </div>


            <div class="form_label">
                <div class="col-3"><span>Co-Insurers<label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" maxlength="200" ng-model="ip.CoInsurers" />
                </div>


            </div>

            <div class="form_label">
                <div class="col-3"><span>Description of Property Covered</span></div>
                <div class="col-9">
                    <textarea maxlength="2000" ng-model="ip.DescPropertyCovered"></textarea>
                </div>

            </div>


            <div class="form_label">

                <div class="col-3">
                    <label>
                        <input type="radio" ng-model="ip.RelevantWar_Cond" name="RL_C" value="Relevant Warranties" /> Relevant Warranties
                    </label>
                    <label>
                        <input type="radio" ng-model="ip.RelevantWar_Cond" name="Rl_C" value="Conditions" />Conditions
                    </label>
                </div>
                <div class="col-3">
                    <input type="text" ng-model="ip.RelevantWar_Cond_Text" />
                </div>
            </div>

            <div class="form_label">
                <div class="col-3"><span>Excess as Applicable <label class="mandatory">*</label></span></div>
                <div class="col-3">
                    <input type="text" maxlength="500" ng-model="ip.ExcessApplicable" />
                </div>
            </div>*@

        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveInsuranceParticulars()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <a href="/MISCFSR/IntroClaim?cid=@Request.QueryString["cid"]&tableName=FSR" class="btn yellow" style="float:left;">
                    Prev
                </a>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveInsuranceParticulars('n')">Next</button>
                @*<a ng-click="saveInsuranceParticulars()" href="/MISCFSR/SurveyParticulars?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                        Next
                    </a>*@
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Scripts/Angular/Contoller/MISCFSR/IntroClaimCtrl.js"></script>
    <script src="~/Scripts/Angular/Contoller/MISCFSR/InsuranceParticularsCtrl.js"></script>
}
