﻿@{
    ViewBag.Title = "InsuredConsent";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(document).on("click", ".img", function () {
        var src = $(this).attr("src");
        var htmlTable = "<div> <img src=" + src + " alt='' style=\"height:180px;width:180px\" /> </div>";
        var div = $("<a href=\"#popup\" id=\"pop\"></a><a href=\"#x\" class=\"overlay\" id=\"popup1\"></a><div class=\"popup\"><div id=\"ViewImg\"></div><a class=\"close\" href=\"#close\"></a></div>");
        $(div).appendTo("body");
        $("#ViewImg").empty();
        $("#ViewImg").append(htmlTable);
        window.location = "#popup1";
    });</script>



<script>
    $(window).load(function () {
        $("heading").html("Insured’s Consent");
    });
</script>

<div ng-controller="InsuredConsentCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <form id="formOC">

        <div class="form_label">
            <div class="col-3">
                <span>
                    Descriptions
                </span>
            </div>
            <div class="col-3">
              <label><input type="radio" name="yn" value="Yes" ng-model="ic.ChkbxDesc"/>Yes</label>
                <label><input type="radio" name="yn" value="No" ng-model="ic.ChkbxDesc" />No</label>
            </div>
            <div class="col-3">
                Mode of communication
            </div>
            <div class="col-3">
                <select ng-options="mc.PK_MC_ID as mc.ModeofCommunication for   mc  in listMC" ng-model="ic.MC_ID"><option value="">Select</option></select>
            </div>
            </div>

        <div class="form_label">
            <div class="col-3">
                Date of communication

            </div>
            <div class="col-3">
                <input type="text" datepicker ng-model="ic.DateofComm"/>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                Snapshot of Consent


            </div>
            <div class="col-3">
             <input type="file" id="snapShotofCons" />
            </div>
            <div class="col-3">
                <img src="~/files/MISC/{{ic.SnapShotofConsent}}" style="width:30px;height:30px; cursor:pointer;" class="img"/>
            </div>
        </div>

        


        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveInsuredConsent()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn yellow" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveInsuredConsent('n')">Next</button>
                @*<a href="/MISCFSR/AboutInsured?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                        Next
                    </a>*@
                <a href="/MISCFSR/Contribution?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>

            </div>
        </div>
    </form>
</div>


@section scripts{

    
<script src="~/Scripts/Angular/Contoller/MISCFSR/InsuredConsentCtrl.js"></script>

}


