﻿@{
    ViewBag.Title = "InsuredClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html(" Insured's Claim ");
    });
</script>


<div ng-controller="InsuredClaimCtrl">
    <form id="formInC">
        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div class="form_label">
            <div class="col-2">
                <span>  Insured Initial Claim (Rs.)</span>
            </div>
            <div class="col-3">
                <input type="text" ng-model="ReportLoss" disabled />
            </div>



        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Revision of Insured's claim</span>
            </div>
            <div class="col-10">
                <textarea rows="4" ng-model="i.RevisionofInsClaim" class="validate[required,'Please enter Revision of Insured's claim'] Txtbox" id="ri"></textarea>
            </div>
        </div>
   
                            <div class="grid_body" style="max-height:400px;">
                                <table class="mygrid">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sr. No.
                                            </th>
                                            <th>Description of Affected Property</th>
                                            <th>
                                                Amount (Rs.)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="mygridBody">

                                        <tr ng-repeat="d in listDA" style="cursor:pointer">
                                            <td>{{$index+1}}</td>
                                            <td>{{d.Description}}</td>
                                            <td><input type="text" ng-model="d.Amount" valid-number ng-change="calTotalAmount()" /></td>
                                            @*<td>{{d.Amount}}</td>*@
                                        </tr>
                                        <tr>
                                            <td></td>

                                            <td><strong style="float:right;"> Total:</strong></td>
                                            <td><strong> {{(+i.TotalAmount)}}</strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

         
       
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="submit" class="btn yellow" ng-click="saveInsuredClaim()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn yellow" style="float:right;" ng-click="saveInsuredClaim('n')">Next</button>
                <a href="/MISCFSR/RecoverySubrogation?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
            </div>
        </div>
    </form>
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/InsuredClaimCtrl.js"></script>
}
