﻿@{
    ViewBag.Title = "Introduction Claim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(window).load(function () {
        $("heading").html("OVERVIEW OF THE CLAIM");
    });
</script>
<div ng-controller="IntroClaimCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <input type="hidden" value="@Request.QueryString["tableName"]" id="tableName" />
    <div ng-include="'/Templates/Common/MISCIntroClaim.html'">
    </div>

    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveIntroClaim()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn yellow" style="float:right;" ng-click="saveIntroClaim('n','i')">Next</button>
            @*<a href="/MISCFSR/InsuranceParticulars?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                Next
            </a>*@
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/Angular/Contoller/MISCFSR/IntroClaimCtrl.js"></script>

}
