﻿@{
    ViewBag.Title = "LiabilityUnderPolicy";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script>
    $(window).load(function () {
        $("heading").html("Liability Under Policy");
    });
</script>

<div ng-controller="LiabilityUnderPolicyCtrl">
    <form id="formLUP">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                    <div class="modal-body" id="modalBody">
                        <div ng-show="divWC==1">

                            @*<button ng-click="show()">Show</button>*@

                            <div class="grid_body table-responsive" style="max-height:400px;">
                                <table class="mygrid">
                                    <thead>
                                        <tr>
                                            <th>
                                                Warranties and conditions
                                            </th>
                                            <th>
                                                Status of Implementation
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="mygridBody">

                                        <tr ng-repeat="r in listWC">
                                            <td>
                                                <input type="text" ng-model="r.RelWarCond" disabled />
                                            </td>
                                            <td>
                                                <label><input type="radio" name="cnn{{$index}}" ng-model="r.StatusImplement" value="Complied" />Complied</label>
                                                <label><input type="radio" name="cnn{{$index}}" ng-model="r.StatusImplement" value="Not Complied" />Not Complied</label>
                                                <label><input type="radio" name="cnn{{$index}}" ng-model="r.StatusImplement" value="Not relevant" /> Not relevant</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="">Submit</button>
                                                @*&nbsp;   &nbsp; &nbsp;
                                <button type="button" class="btn btn-danger" ng-click="clearWC()">
                                    Clear
                                </button>*@
                                                @*<button ng-click="showIns()">show</button>*@
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>




                        </div>
                    </div>
                    @*<div class="modal-footer">
                            <button style="float:left;" type="button" class="btn btn-success" data-dismiss="modal">Submit</button >
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>*@
                </div>

            </div>
        </div>
        <div class="form_label">
            <div class="col-3">

                <button type="button" class="btn btn-success" ng-click="showWC()">Warranties and conditions</button>
            </div>
            @*<div class="col-9">
                    <textarea rows="4" ng-model="lup.WarantiesConditions" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox"  id="wc"></textarea>
                </div>*@
        </div>
     
        @*<div class="form_label">
                <div class="col-3">
                    <span>Status of Implementation</span>
                </div>
                <div class="col-7">
                    <label><input type="radio" name="cnn" ng-model="lup.StatusImplementation" value="Complied" />Complied</label>
                    <label><input type="radio" name="cnn" ng-model="lup.StatusImplementation" value="Not Complied" />Not Complied</label>
                    <label><input type="radio" name="cnn" ng-model="lup.StatusImplementation" value="Not relevant" /> Not relevant</label>
                </div>
            </div>*@
        <h2>Aspects of Insurers Liability</h2>
        <div class="form_label">
            <div class="col-3">
                <span>    Type of Policy</span>
            </div>
            <div class="col-9">
                <label><input type="radio" name="se" ng-model="lup.TypeOfPolicy" value="Specific Named peril Policy" />Specific Named peril Policy</label>
                <label><input type="radio" name="se" ng-model="lup.TypeOfPolicy" value="Exclusion driven or All Risk Policy" />Exclusion driven or All Risk Policy </label>
            </div>
        </div>
        <div class="form_label">
            <div ng-show="lup.TypeOfPolicy=='Specific Named peril Policy'">
            <div class="col-3">
                <span>Name of the operated peril</span>
            </div>
            <div class="col-3">
                <select ng-options="o.PK_OP_ID as o.NameOperatedPeril for   o in listOP" ng-model="lup.OP_ID"></select>
                @*<input type="text" ng-model="lup.OP_ID" />*@
            </div>
                </div>
            <div ng-show="lup.TypeOfPolicy=='Exclusion driven or All Risk Policy'">

            <div class="col-3">
                <span>Is captioned falling under any exclusion as mentioned in the policy, if yes describe about the relevant exclusion</span>
            </div>
            <div class="col-2">
                <label><input type="radio" name="cf" ng-model="lup.CaptionedFalling" value="Yes" />Yes</label>
                <label><input type="radio" name="cf" ng-model="lup.CaptionedFalling" value="NO" />No</label>
            </div>
            </div>
        </div>
        <div class="form_label" ng-show="lup.CaptionedFalling=='Yes' && lup.TypeOfPolicy=='Exclusion driven or All Risk Policy'">
            <div class="col-9">
                <textarea rows="2" maxlength="1500" ng-model="lup.CaptionedFallingText"></textarea>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <span>Is there any breach of warranty had been observed</span>
            </div>
            <div class="col-3">
                <label>  <input type="radio" name="bw" ng-model="lup.BreachWarranty" value="Yes" />Yes</label>
                <label>  <input type="radio" name="bw" ng-model="lup.BreachWarranty" value="No" />No</label>
            </div>
            <div class="col-3">
                <span>Is the date of loss occurred during the policy period</span>
            </div>
            <div class="col-3">
                <label>  <input type="radio" name="lop" ng-model="lup.LossOccuredPolicy" value="Yes" />Yes</label>
                <label>  <input type="radio" name="lop" ng-model="lup.LossOccuredPolicy" value="No" />No</label>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <span>Is loss location found covered under the Insurance policy schedule/endorsement</span>
            </div>
            <div class="col-3">
                <label>  <input type="radio" name="llf" ng-model="lup.LossLocationFound" value="Yes" />Yes</label>
                <label>  <input type="radio" name="llf" ng-model="lup.LossLocationFound" value="No" />No</label>
            </div>
            <div class="col-3">
                <span>Have Insured reasonably adopted all safety measures as described in the Insurance Policy</span>
            </div>
            <div class="col-3">
                <label>  <input type="radio" name="ira" ng-model="lup.InsuredReasonablyAdopted" value="Yes" />Yes</label>
                <label>  <input type="radio" name="ira" ng-model="lup.InsuredReasonablyAdopted" value="No" />No</label>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <span>How would you classify the nature of the captioned loss</span>
            </div>
            <div class="col-3">
                <label>  <input type="radio" name="ag" ng-model="lup.AccidentGrad" value="Accidental" />Accidental</label>
                <label>  <input type="radio" name="ag" ng-model="lup.AccidentGrad" value="Gradual" />Gradual</label>
            </div>
            <div class="col-3">
                <label>  <input type="radio" name="fu" ng-model="lup.ForeUnfore" value="Foreseen" />Foreseen </label>
                <label>  <input type="radio" name="fu" ng-model="lup.ForeUnfore" value="Unforeseen" />Unforeseen</label>
            </div>
            <div class="col-3">
                <label>  <input type="radio" name="pi" ng-model="lup.PhyImm" value="Physical" />Physical</label>
                <label>  <input type="radio" name="pi" ng-model="lup.PhyImm" value="Immaterial" />Immaterial</label>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3"><span>Have any part of the claim lodged can be attributed to aggravation of loss or negligence of the Insured</span></div>
            <div class="col-2">
                <label><input type="radio" name="ni" ng-model="lup.AggravationLoss" value="Yes" />Yes</label>
                <label><input type="radio" name="ni" ng-model="lup.AggravationLoss" value="No" />No</label>
            </div>
        </div>
        <div class="form_label" ng-show="lup.AggravationLoss=='Yes'">
            <div class="col-9">
                <textarea rows="2" maxlength="1500" ng-model="lup.AggravationLossText"></textarea>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <span>Have you found any part of the claim lodged was lying under heating, burning or drying process</span>
            </div>
            <div class="col-9">
                <label><input type="radio" name="hb" ng-model="lup.HeatingBurning" value="Yes" />Yes</label>
                <label><input type="radio" name="hb" ng-model="lup.HeatingBurning" value="No" />No</label>
                <label><input type="radio" name="hb" ng-model="lup.HeatingBurning" value="Not Relevant" />Not Relevant</label>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <span>Origin of fire had been separated from the affected property and disallowed assessment of loss</span>
            </div>
            <div class="col-9">
                <label><input type="radio" name="apt" ng-model="lup.AffectedProperty" value="Yes" />Yes</label>
                <label><input type="radio" name="apt" ng-model="lup.AffectedProperty" value="No" />No</label>
                <label><input type="radio" name="apt" ng-model="lup.AffectedProperty" value="Not Relevant" />Not Relevant</label>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <span>
                    Conclusion on Insurers Liability under scope of the policy
                </span>
            </div>
            <div class="col-9">
                <label><input type="radio" name="ci" ng-model="lup.ConclusionInsurers" value="In view of above material facts of the loss, Insurers are liable to indemnify the Insured's loss subject to adjustment/deductible of the policy in our opinion." />In view of above material facts of the loss, Insurers are liable to indemnify the Insured's loss subject to adjustment/deductible of the policy in our opinion. </label>
                <label><input type="radio" name="ci" ng-model="lup.ConclusionInsurers" value="In view of above material facts of the loss, Insurers are not liable to indemnify the Insured's loss, in our opinion." />In view of above material facts of the loss, Insurers are not liable to indemnify the Insured's loss, in our opinion.</label>
                 </div>
           </div>
        <div class="form_label">
            <div class="col-3">
                  </div>
            <div class="col-9">
                <label><input type="radio" name="ci" ng-model="lup.ConclusionInsurers" value="Others" /> Others</label>
            </div>
        </div>
        <div class="form_label" ng-show="lup.ConclusionInsurers=='Others'">
            <div class="col-3"></div>
            <div class="col-9">
                <textarea rows="2" maxlength="1500" ng-model="lup.BlankText"></textarea>
            </div>
        </div>
        <input type="hidden" value="@Request.QueryString["cid"]" name="claimId" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveLiabilityUnderPolicy()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveLiabilityUnderPolicy('n')">Next</button>
                @*<a href="/MISCFSR/NatureExtentDamage?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                        Next
                    </a>*@
                <a href="/MISCFSR/OtherReportsForMaterialFacts?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
            </div>
        </div>
    </form>
</div>
@section scripts
{
    <script src="~/Scripts/Angular/Contoller/MISCFSR/LiabilityUnderPolicyCtrl.js"></script>
}
