﻿@{
    ViewBag.Title = "NatureExtentDamage";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html("Nature & Extent of Damage ");
    });
</script>
<div ng-controller="NatureExtentDamageCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <label ng-repeat="d in  listPSI">
            <input type="radio" ng-model="test"   name="Table1" ng-click="setData(d.PK_PSI_ID,d.ShortName,d.Description,d.SumInsured);getNatureExtentDamage()" />{{d.Description}}
        </label>
    </div>
    <div ng-include="'/Templates/Common/MISCFSRNatureExtentDamage.html'">

        </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="button" class="btn yellow" ng-click="saveNatureExtentDamage()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
            <a href="/MISCFSR/RecoverySubrogation?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                Next
            </a>
            <a href="/MISCFSR/LiabilityUnderPolicy?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                Prev
            </a>
        </div>
        </div>
    <div ng-show="choose=='PM' || choose=='Eq' || choose=='El'  || choose=='C'||  choose==''">
        <div class="grid_body" style="max-height:400px;">
            <table class="mygrid">
                <thead>
                    <tr>
                        <th>Block No</th>
                        <th>Building No</th>
                        <th>Floor</th>
                        <th>Nature of Damage/Loss</th>
                        <th>Extent of Damage/Loss</th>
                        <th>Model</th>
                        <th>Mfg. Years</th>
                        <th>Working Hours</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="mygridBody">

                    <tr ng-repeat="p in listPM" style="cursor:pointer">
                        <td>{{p.BlockNo}}</td>
                        <td>{{p.BuildingNo}}</td>
                        <td>{{p.FloorNo}}</td>
                        <td>{{p.NatureDamageLoss}}</td>
                        <td>{{p.ExtentDamageLoss}}</td>
                        <td>{{p.Model}}</td>
                        <td>{{p.MfgYear}}</td>
                        <td>{{p.WorkingHours}}</td>
                        <td ng-click="rowClickPM(p)"><img src="../../Images/edit.jpg" style="height:20px;" alt="Edit"></td>

                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    <div ng-show="choose=='S'">
        <div class="grid_body" style="max-height:400px;">
            <table class="mygrid">
                <thead>
                    <tr>
                        <th>Block No</th>
                        <th>Building No</th>
                        <th>Floor</th>
                        <th>Stage</th>
                        <th>Nature of Damage/Loss</th>
                        <th>Extent of Damage/Loss</th>
                        <th>Packing material</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="mygridBody">

                    <tr ng-repeat="st in listS" style="cursor:pointer">
                        <td>{{st.BlockNo}}</td>
                        <td>{{st.BuildingNo}}</td>
                        <td>{{st.FloorNo}}</td>
                        <td>{{st.Stage}}</td>
                        <td>{{st.NatureDamageLoss}}</td>
                        <td>{{st.ExtentDamageLoss}}</td>
                        <td>{{st.PackingMaterial }}</td>
                        <td ng-click="rowClickS(st)"><img src="../../Images/edit.jpg" style="height:20px;" alt="Edit"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="choose=='B' || choose=='F'">
        <div class="grid_body" style="max-height:400px;">
            <table class="mygrid">
                <thead>
                    <tr>
                        <th>Block No</th>
                        <th>Building No</th>
                        <th>Floor</th>
                        <th>Nature of Damage/Loss</th>
                        <th>Extent of Damage/Loss</th>
                        <th>Material of Construction (MOC)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="mygridBody">

                    <tr ng-repeat="bd in listB" style="cursor:pointer">
                        <td>{{bd.BlockNo}}</td>
                        <td>{{bd.BuildingNo}}</td>
                        <td>{{bd.FloorNo}}</td>
                        <td>{{bd.NatureDamageLoss}}</td>
                        <td>{{bd.ExtentDamageLoss}}</td>
                        <td>{{bd.MOC}}</td>
                        <td ng-click="rowClickB(bd)"><img src="../../Images/edit.jpg" style="height:20px;" alt="Edit"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>

@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/NatureExtentDamageCtrl.js"></script>
}