﻿@{
    ViewBag.Title = "ObservationsCircumstances";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(document).on("click", ".img", function () {
        var src = $(this).attr("src");
        var htmlTable = "<div> <img src=" + src + " alt='' style=\"height:180px;width:180px\" /> </div>";
        var div = $("<a href=\"#popup\" id=\"pop\"></a><a href=\"#x\" class=\"overlay\" id=\"popup1\"></a><div class=\"popup\"><div id=\"ViewImg\"></div><a class=\"close\" href=\"#close\"></a></div>");
        $(div).appendTo("body");
        $("#ViewImg").empty();
        $("#ViewImg").append(htmlTable);
        window.location = "#popup1";
    });</script>

<script>
    $(window).load(function () {
        $("heading").html("Observations and Circumstances ");
    });
</script>

<div ng-controller="ObservationsCircumstancesCtrl">

    <form id="formOC">

        <div class="form_label">

            <div class="col-12"><span> Observations during the survey visits </span></div>
            <div class="col-12" ng-repeat="s in listSV">
                <textarea ng-model="s.PurposeVisit" rows="2"></textarea>
            </div>
            @*<textarea rows="4" ng-model="oc.ObsFirstVisit" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox"  id="odf"></textarea>*@
            <div class="col-12">
                <a href="/MISCFSR/SurveyVisit?cid=@Request.QueryString["cid"]&fromTable={{tableName}}" class="btn yellow">ADD</a>

            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <span>Circumstances of Loss</span>
            </div>
            <div class="col-12">
                <label>During the survey visit, we met with the Insured representative/eye witnesses who described the series of events happened at loss location on the day of loss. Insured statement is reproduced as follows:</label>
            </div>
            <div class="col-1">
                Quote:
            </div>
            <div class="col-7">
                <textarea rows="4" ng-model="oc.CLQuoteText"></textarea>
            </div>
            <div class="col-2">
                <input type="file" id="CLQuotePhotoDoc" />
            </div>
            <div class="col-2">
                <img src="/files/MISC/{{oc.CLQuotePhotoDoc}}" class="img" style="max-height:40px; max-width:40px; cursor:pointer" />
                <a ng-href="/files/MISC/{{oc.CLQuotePhotoDoc}}" style="cursor:pointer" download >Download</a>
            </div>

        </div>
        <div class="form_label">
            <div class="col-3">
                Unquote:
            </div>
            <div class="col-12">
                <label>
                    During the survey visit we also met with other staff members  and neighbours of the Insured and enquired them about the circumstances of the loss. After reviewing from all the aspects we found Insured statement for circumstances was collating with statement of other peoples (Insured staff & neighbours)  and available circumstantial evidences at loss location
                </label>
            </div>

            <div class="col-12">
                <textarea rows="2" ng-model="oc.UnQuoteText"></textarea>
            </div>
            <div class="col-3">
                <label> <input type="checkbox" ng-model="oc.ChkboxCLTrans" />      Translation</label>
            </div>
            <div class="col-12" ng-show="oc.ChkboxCLTrans==true">
                <textarea rows="4" ng-model="oc.CLTrans"></textarea>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <label><input type="checkbox" ng-model="oc.ChkboxNewsPaper" />   News Paper</label>
            </div>
            <div ng-show="oc.ChkboxNewsPaper==true">
                <div class="col-2">
                    <span>Name of the News Paper/s</span>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="oc.NameNewsPaper" />
                </div>
                <div class="col-2">
                    <span>Date of news published</span>
                </div>
                <div class="col-2">
                    <input type="text" datepicker ng-model="oc.NewsPubDT" />
                </div>
            </div>
            <div class="col-12">
                <label> The Matter was also published in print media/local news papers</label>
            </div>
            <div>
                <div class="col-2"><span>ADD Photo</span></div>
                <div class="col-3">
                    <input type="file" id="NewsPhotoDoc" />
                </div>
                <div class="col-7"><img ng-src="/files/MISC/{{oc.NewsPhotoDoc}}" class="img" style="max-height:40px; max-width:40px; cursor:pointer" /><a ng-href="/files/MISC/{{oc.NewsPhotoDoc}}" style="cursor:pointer" download>Download</a></div>
            </div>
        </div>
        <div class="form_label">
            <div class="col-3">
                <label><input type="checkbox" ng-model="oc.ChkbxNPTrans" />  Translation</label>

            </div>
            <div class="col-12" ng-show="oc.ChkbxNPTrans==true"><textarea rows="4" ng-model="oc.NewsTrans"></textarea></div>
        </div>

        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveObservationsCircumstances()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveObservationsCircumstances('n')">Next</button>
                @*<a href="/MISCFSR/AboutInsured?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                        Next
                    </a>*@
                <a href="/MISCFSR/SurveyVisit?cid=@Request.QueryString["cid"] &fromTable={{prevtableName}}" class="btn yellow" style="float:left;">
                    Prev
                </a>

            </div>
        </div>
    </form>
</div>


@section scripts{
    <script src="~/Scripts/Angular/Contoller/MISCFSR/ObservationsCircumstancesCtrl.js"></script>

}

