﻿@{
    ViewBag.Title = "OtherReportsForMaterialFacts";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script>
    $(window).load(function () {
        $("heading").html("OtherReportsForMaterialFacts");
    });
</script>

<script>
    $(document).on("click", ".img", function () {
        var src = $(this).attr("src");
        var htmlTable = "<div> <img src=" + src + " alt='' style=\"height:180px;width:180px\" /> </div>";
        var div = $("<a href=\"#popup\" id=\"pop\"></a><a href=\"#x\" class=\"overlay\" id=\"popup1\"></a><div class=\"popup\"><div id=\"ViewImg\"></div><a class=\"close\" href=\"#close\"></a></div>");
        $(div).appendTo("body");
        $("#ViewImg").empty();
        $("#ViewImg").append(htmlTable);
        window.location = "#popup1";
    });</script>
<div ng-controller="OtherReportsForMaterialFactsCtrl">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>*@
                <div class="modal-body" id="modalBody">
                    <div ng-show="ipc==1">

                        @*<button ng-click="show()">Show</button>*@

                        <div class="grid_body table-responsive" style="max-height:400px;">
                            <table class="mygrid">
                                <thead>
                                    <tr>
                                        <th>
                                            IPC Sections
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="mygridBody">

                                    <tr ng-repeat="ipc in listIPSec">
                                        <td>
                                            <label>
                                                <input type="checkbox" ng-model="ipc.chkboxIPC" />

                                                {{ipc.NameIPCSection}}
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="">Submit</button>
                                            @*&nbsp;   &nbsp; &nbsp;
                                            <button type="button" class="btn btn-danger" ng-click="clearCoIns()">
                                                Clear
                                            </button>*@
                                            @*<button ng-click="showIns()">show</button>*@
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>




                    </div>
                </div>
                @*<div class="modal-footer">
                        <button style="float:left;" type="button" class="btn btn-success" data-dismiss="modal">Submit</button >
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
    @using (Html.BeginForm("saveOtherReportsForMaterialFacts", "MISCFSR", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form6" }))
    {
        <h2>Police Report</h2>
        <div class="form_label">

            <div class="col-2">
                <label><input type="checkbox"  ng-model="ormf.C_PR_Tran" />Translation</label>
            </div>
            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Pr_IPC"  />IPC section</label>

            </div>
            <div class="col-2">
                <label><input type="checkbox"  ng-model="ormf.C_Pr_PRC" />Police report content</label>

            </div>
            <div class="col-2">
                <label><input type="checkbox"  ng-model="ormf.C_Pr_Remarks" />Remarks</label>

            </div>
            <div class="col-2">
                @*<input type="file" onchange="angular.element(this).scope().testfunc(event)" />*@
                @*<input type="file" name="PoliceReportPhoto" fileread="ormf.PoliceReportPhoto" />*@
                <input type="file" id="PoliceReportPhoto"  />
            </div>
            <div class="col-2"><img ng-src="/files/MISC/{{ormf.PoliceReportPhoto}}" class="img" style="height:30px; width:30px; cursor:pointer;" />
  <a ng-href="/files/MISC/{{ormf.PoliceReportPhoto}}" download>Download</a>          </div>
        </div>
        <div class="form_label" ng-show="ormf.C_PR_Tran==true">

            <div class="col-2">
                Translation

            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Pr_Tran"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Pr_IPC==true">
            <button type="button" class="btn btn-success" ng-click="showIPC()">
                Sections of Indian Penal Code
            </button>
        </div>
        <div class="form_label" ng-show="ormf.C_Pr_PRC==true">
            <div class="col-2">
                Summary of Police Report content
            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Pr_PRC"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Pr_Remarks==true">
            <div class="col-2">
                Remarks
            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Pr_Remarks"></textarea>
            </div>

        </div>
      
        <h2>Fire Brigade</h2>
        <div class="form_label">

            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Fr_Tran" />Translation</label>
            </div>

            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Fr_sumry" />fire Report Summary</label>

            </div>
            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Fr_Remarks" />Remarks</label>

            </div>
            <div class="col-2">
                <span>Fire Brigade Report</span>
            </div>
            <div class="col-2">
                <input type="file" id="FireBrigadeReportPhoto"/>
            </div>
            <div class="col-2"><img ng-src="/files/MISC/{{ormf.FireBrigadeReportPhoto}}" class="img" style="height:30px; width:30px; cursor:pointer;" /><a ng-href="/files/MISC/{{ormf.FireBrigadeReportPhoto}}" download>Download</a></div>
        </div>
        <div class="form_label" ng-show="ormf.C_Fr_Tran==true">
            <div class="col-2">
                Translation

            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Fr_Tran"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Fr_sumry==true">
            <div class="col-2">
                Fire Brigade Report Summary

            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Fr_Sumry"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Fr_Remarks==true">
            <div class="col-2">
                Remarks
            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Fr_Remarks"></textarea>
            </div>

        </div>
        <h2>Meteorological Report </h2>
        <div class="form_label">

            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Mr_Tran" />Translation</label>
            </div>

            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Mr_Sumry"/>Met Report Summary</label>

            </div>
            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Mr_Remarks" />Remarks</label>

            </div>

            <div class="col-2">
                <span>Meteorological Report </span>
            </div>
            <div class="col-2">
                <input type="file" id="MeteorologicalReportPhoto"  />
            </div>
            <div class="col-2"><img ng-src="/files/MISC/{{ormf.MeteorologicalReportPhoto}}" class="img" style="height:30px; width:30px; cursor:pointer;" /> <a ng-href="/files/MISC/{{ormf.MeteorologicalReportPhoto}}" download>Download</a></div>
        </div>
        <div class="form_label" ng-show="ormf.C_Mr_Tran==true">
            <div class="col-2">
                Translation

            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Mr_Tran"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Mr_Sumry==true">
            <div class="col-2">
                Meteorological Report Summary


            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Mr_Sumry"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Mr_Remarks==true">
            <div class="col-2">
                Remarks
            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Mr_Remarks"></textarea>
            </div>

        </div>
        <h2>
            Forensic Science Lab Report (FSLR)
        </h2>
        <div class="form_label">

            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Fslr_Tran" />Translation</label>
            </div>

            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Fslr_Sumry" />FSLR Summary</label>

            </div>
            <div class="col-2">
                <label><input type="checkbox" ng-model="ormf.C_Fslr_Remarks" />Remarks</label>

            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Fslr_Tran==true">
            <div class="col-2">
                Translation

            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Fslr_Tran"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Fslr_Sumry==true">
            <div class="col-2">
                FSLR Summary


            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Fslr_Sumry"></textarea>
            </div>

        </div>
        <div class="form_label" ng-show="ormf.C_Fslr_Remarks==true">
            <div class="col-2">
                Remarks
            </div>

            <div class="col-10">
                <textarea rows="4" ng-model="ormf.Fslr_Remarks"></textarea>
            </div>

        </div>


        <input type="hidden" value="@Request.QueryString["cid"]" name="claimId" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
               @*<button type="submit" class="btn yellow" id="sbt" ng-show="d==0">Submit</button>*@
                <button type="button" class="btn yellow" ng-click="saveOtherReportsForMaterialFacts()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                @*<button type="button" class="btn btn-primary" ng-click="photoCheck()">photo</button>*@
                <button type="button" style="float:right;" class="btn yellow" ng-click="saveOtherReportsForMaterialFacts('n')">Next</button>
                <a href="/MISCFSR/AboutCauseOfLoss?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
            </div>
        </div>
    }

</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/OtherReportsForMaterialFactsCtrl.js"></script>
}


