﻿@{
    ViewBag.Title = "RecommendationsLossRemarks";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html("Recommendations, Loss Min. Measures & Remarks");
    });
</script>

<div ng-controller="RecommendationsLossRemarksCtrl">
     <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <form id="formOC">

        <div class="form_label">
            <div class="col-3">
                <span>Recommendations
</span>
            </div>
            <div class="col-9">
        <textarea rows="4" ng-model="rl.Recommendations"></textarea>
         
        </div>
            </div>
        <div class="form_label">
            <div class="col-3">
                Loss Minimization Measures

            </div>
            <div class="col-9">
                <textarea rows="4" ng-model="rl.LossMinMeas"></textarea>
                          </div>

        </div>

        <div class="form_label">
            <div class="col-3">
                Remarks


            </div>
            <div class="col-9">
                <textarea rows="4" ng-model="rl.Remarks"></textarea>
            </div>

        </div>


        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveRecommendationsLossRemarks()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button"  class="btn yellow" ng-click="cancel()">Cancel</button>
                <a href="/MISCFSR/InsuredConsent?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>

            </div>
        </div>
    </form>
</div>


@section scripts{
    
<script src="~/Scripts/Angular/Contoller/MISCFSR/RecommendationsLossRemarksCtrl.js"></script>

}


