﻿@{
    ViewBag.Title = "RecoverySubrogation";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}

<script>
    $(window).load(function () {
        $("heading").html("Recovery & Subrogation ");
    });
</script>
<div ng-controller="RecoverySubrogationCtrl">
    <form id="formRS">
        <div class="form_label">
            <div class="col-2">
                <span>Aspects of Recovery</span>
            </div>
            <div class="col-10">
                <textarea rows="5" ng-model="rs.AspectsofRecovery" class="validate[required,'Please enter Aspects of Recovery'] Txtbox" id="ar"></textarea>

            </div>
        </div>
        <div class="form_label">
            <div class="col-2">
                <span>Subrogation of recovery rights </span>
            </div>
            <div class="col-10">
                <textarea rows="5" ng-model="rs.SubrogationRights" class="validate[required,'Please enter Subrogation of recovery rights'] Txtbox" id="sr"></textarea>

            </div>
        </div>
        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveRecoverySubrogation()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveRecoverySubrogation('n')">Next</button>
                @*<a href="/MISCFSR/NatureExtentDamage?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                        Next
                    </a>*@
                <a href="/MISCFSR/NatureExtentDamage?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
            </div>
        </div>
    </form>
</div>
@section scripts
{
    <script src="~/Scripts/Angular/Contoller/MISCFSR/RecoverySubrogationCtrl.js"></script>
}
