﻿@{
    ViewBag.Title = "SurveyVisit";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html("Detail of Other Survey Visits");
    });
</script>

<div ng-controller="SurveyVisitCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <input type="hidden" value="@Request.QueryString["fromTable"]" id="fromTable" />
    <div ng-include="'/Templates/Common/AddVisit.html'">
    </div>
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/MISCFSR/SurveyVisitCtrl.js"></script>
}
