﻿@{
    ViewBag.Title = "SurveyParticulars";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}


<script>
    $(window).load(function () {
        $("heading").html("Survey Particulars");
    });
</script>
<div ng-controller="SurveyParticularsCtrl">
    <form id="formSP">
   
        <div class="form_label">
            <div class="col-3"><span>Date & Time of Instruction</span></div>
            <div class="col-3">
                @*<input type="text" datepicker ng-model="gc.InstructionDT"class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox"  id="dti">*@
                @*<span>{{gc.InstructionDT}}</span>*@
               <input type="text" ng-model="gc.InstructionDT" disabled/>
            </div>

            <div class="col-3"><span>Source of Instruction/Instructor for Survey</span></div>
            <div class="col-3">
                <input type="text"  maxlength="100" ng-model="gc.SourceInsInstructorSurvey" disabled>
                @*<span>{{gc.SourceInsInstructorSurvey}}</span>*@
            </div>
            </div>
            <div class="form_label">
                <div class="col-3"><span>Date & Time of First Survey visit Initiated</span></div>
                <div class="col-3">
                    <input type="text" datepicker ng-model="sp.FirstSurveyVisitInitDate" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox"  id="dtf">
                </div>
                <div class="col-3">
                    <input type="text"  ng-model="sp.FirstSurveyVisitInitTime">
                </div>
            </div>

        <div class="form_label">
            <div class="col-3"><span>Date & Time of First Survey visit Completed</span></div>
            <div class="col-3">
                <input type="text" datepicker ng-model="sp.FirstSurveyVisitCompDate" >
            </div>
            <div class="col-3">
                <input type="text" ng-model="sp.FirstSurveyVisitCompTime" >
            </div>
        </div>
            
        <div class="form_label">    
            <div class="col-3"><span>Place of survey visit</span></div>
            <div class="col-9">
                <textarea   ng-model="ic.AddressofLossLocation" disabled ></textarea>
            </div>
            </div>
            <div class="form_label">
            <div class="col-3"><span>Reason for delay in Survey Visit  </span></div>
            <div class="col-9">
                <textarea maxlength="500" rows="2" ng-model="sp.ReasonDelaySurveyVisit" ></textarea>
            </div>
        </div>
        
        <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
        <div class="form_label">
            <div class="col-12 t_center mt20">
                <button type="button" class="btn yellow" ng-click="saveSurveyParticulars()">Submit</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
                <a href="/MISCFSR/InsuranceParticulars?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                    Prev
                </a>
                <button type="button" class="btn yellow" style="float:right;" ng-click="saveSurveyParticulars('n')">Next</button>
                @*<a href="/MISCFSR/SurveyVisit?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                    Next
                </a>*@
            </div>
        </div>
        </form>
    </div>


@section scripts{
    
<script src="~/Scripts/Angular/Contoller/MISCFSR/SurveyParticularsCtrl.js"></script>

}


