﻿@{
    ViewBag.Title = "NoClaim";
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html(" No Claim");
    });
</script>

<div ng-controller="NoClaimCtrl">
    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />
    <div class="form_label">
        <div class="col-3">
            <span>Reason for No Claim </span>
        </div>
        <div class="col-6"><select ng-options="r.PK_RC_ID as r.ReasonForNoClaim for  r in listRC"
                                    ng-model="nc.RC_ID"
                                  class="validate[required,'Please Select Reason for No Claim'] Txtbox" id="MrMrs" ></select></div>
    </div>
    <div class="form_label">
        <div class="col-3">
            <span>Surveyors Remarks </span>
        </div>
        <div class="col-9">
            <textarea rows="2" ng-model="nc.SurveyorsRemarks" ></textarea>
        </div>
    </div>
    <div class="form_label">
        <div class="col-12 t_center mt20">
            <button type="submit" class="btn yellow" ng-click="saveNoClaim()">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" id="btnCancel" class="btn yellow" ng-click="cancel()">Cancel</button>
            @*<button type="submit" class="btn yellow" style="float:right;" ng-click="saveInsuredClaim('n')">Next</button>*@
            @*<a href="/MISCFSR/RecoverySubrogation?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:left;">
                Prev
            </a>*@
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/Angular/Contoller/Marine/NoClaimCtrl.js"></script>


}