﻿@using System.Web.Mvc.Html;
@{
    Layout = "~/Views/Shared/SurveryMaster.cshtml";
}
<script>
    $(window).load(function () {
        $("heading").html("Introduction To Claim ");
    });
</script>
@*<div ng-controller="ISVRCtrl">*@
@*<form id="formISVR">*@
<div>
    <div class="form_label">
        <div class="col-3"><span>Previous Report/s. <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" maxlength="30" ng-model="obj.InsurersClaimNo" class="validate[required,'Please enter InsurerClaim no'] Txtbox" id="ICN" />
        </div>

        <div class="col-3"><span>Insurers Claim No.  <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" maxlength="30" ng-model="obj.PolicyNo" class="validate[required,'Please enter Policy No.'] Txtbox" id="PN" />
        </div>
    </div>

    <div class="form_label">

        <div class="col-3"><span>Policy No.  <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" maxlength="30" ng-model="obj.PolicyType" class="validate[required,'Please enter Policy Type'] Txtbox" id="PT" />
        </div>

        <div class="col-3"><span>Policy Type <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" datepicker ng-model="obj.IntimationLossDT" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox" id="DIL" />
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Period of Policy<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" datepicker ng-model="obj.AllotmentSurveyDT" class="validate[required,'Please enter Date of Allotment for Survey'] Txtbox" id="DAS" />
        </div>

        <div class="col-3"><span>Insurers<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" maxlength="100" ng-model="obj.SourceAllotmentSurvey" class="validate[required,'Please enter Source of Allotment of Survey'] Txtbox" id="SAS" />
        </div>
    </div>

    <div class="form_label">

        <div class="col-3"><span>Policy Issue office Address<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" maxlength="50" ng-model="obj.Insurers" class="validate[required,'Please enter Insurers'] Txtbox" id="In" />
        </div>

        <div class="col-3"><span>Insured Name <label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" maxlength="250" ng-model="obj.Address" class="validate[required,'Please enter Address'] Txtbox" id="Add" />
        </div>
    </div>

    <div class="form_label">
        <div class="col-3"><span>Insured Address (As per policy)<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" datepicker ng-model="obj.SurveyVisitInitiatedDT" class="validate[required,'Please enter Date of Survey visit initiated'] Txtbox" id="DASVI" />
        </div>
        <div class="col-3"><span id="lblVRegNo">Name of Bankers (Having financial Interest)<label class="mandatory">*</label></span></div>
        <div class="col-3">
            <input type="text" datepicker ng-model="obj.SurveyVisitCompletedDT" class="validate[required,'Date of Survey visit completed'] Txtbox" id="DASVC" />
        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Address of Loss Location</span></div>
        <div class="col-3">
            <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
        </div>

    </div>


    <div class="form_label">
        <div class="col-3">
            <label>
                <input type="radio" ng-model="obj.Loss" name="DTLoss" value="Date & Time of Loss" /> Date & Time of Loss
            </label>
            <label>
                <input type="radio" ng-model="obj.Loss" name="DTLoss" value="Date of Discovery of Loss" />Date of Discovery of Loss<label>
        </div>
        <div class="col-3">
            <input type="text" datepicker ng-model="obj.LossDT" class="validate[required,'Please enter Date of loss/Date of discovery of Loss'] Txtbox" id="DLDDL" />
        </div>
        <div class="col-3"><label><input type="radio" ng-model="obj.CL_OP" name="COL_OP" value="Cause of Loss" /> Cause of Loss</label><label><input type="radio" ng-model="obj.CL_OP" name="COL_OP" value="Operated Peril" /> Operated Peril</label></div>
        <div class="col-3">
            <select ng-options="c.CL_OP_ID as c.CL_OP_DDData for c in Collect" ng-model="obj.CL_OP_ID" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox" id="CSOP"></select>

        </div>
    </div>
    <div class="form_label">
        <div class="col-3"><span>Comment on Liability under the scope of policy</span></div>
        <div class="col-3">
            <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Estimate of Loss, as Initially reported by the Insured (Rs.)</span></div>
        <div class="col-3">
            <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Final Claim Lodged by the Insured (Rs.)</span></div>
        <div class="col-3">
            <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Gross Loss Assessed</span></div>
        <div class="col-3">
            <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
        </div>

    </div>
    <div class="form_label">
        <div class="col-3"><span>Gross Loss Admissible </span></div>
        <div class="col-3">
            <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
        </div>
        <div class="form_label">
            <div class="col-3"><span>Net Loss Assessed</span></div>
            <div class="col-3">
                <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
            </div>
            <div class="form_label">
                <div class="col-3"><span>Net Adjusted Loss</span></div>
                <div class="col-3">
                    <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
                </div>
                <div class="form_label">
                    <div class="col-3"><span>On account Payment recommended in earlier report/s</span></div>
                    <div class="col-3">
                        <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
                    </div>

                    <div class="form_label">
                        <div class="col-3"><span>Net Settlement Amount Recommended for payment</span></div>
                        <div class="col-3">
                            <input type="text" maxlength="250" ng-model="obj.ReasonDelaySurvey" />
                        </div>


                        <div class="form_label">
                            <div class="col-12 t_center mt20">
                                <button type="button" class="btn yellow" ng-click="Save()">Submit</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="btnCancel" class="btn yellow" ng-click="Cancel()">Cancel</button>
                            </div>
                        </div>
                        </form>
                    </div>


                    @*<div id="divSearch">
                            @using (Html.BeginForm("GenrateClaim", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form2" }))
                            {

                                <div class="form_label">
                                    <div class="col-3"><span>Insured Email</span></div>
                                    <div class="col-9">
                                        @Html.TextBoxFor(a => a.Email, new { @id = "txtSearchEmail", @class = "validate[required,emailId,'Please enter valid email id'] Txtbox", @maxlength = "55", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form_label">
                                        <div class="col-12 t_center mt20">
                                            <input type="button" value="Search" id="btnSearch" class="btn yellow" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>*@

                    @*        </div>
                            </div>
                        </div>*@

                    @section scripts{

                        <script src="~/Scripts/Angular/Contoller/ISVRCtrl.js"></script>
                    }
                    <script>
                        $(window).load(function () {
                            $("heading").html("INTRODUCTION OF THE CLAIM ");

                        });
                    </script>
                    <div ng-controller="MISCIntroClaimCtrl">
                        <form id="formISVR">
                            <div>
                                <div class="form_label">
                                    <div class="col-3"><span>Insurers Claim No. <label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" maxlength="30" ng-model="obj.InsurersClaimNo" class="validate[required,'Please enter InsurerClaim no'] Txtbox" id="ICN" />
                                    </div>

                                    <div class="col-3"><span>Policy No. <label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" maxlength="30" ng-model="obj.PolicyNo" class="validate[required,'Please enter Policy No.'] Txtbox" id="PN" />
                                    </div>
                                </div>

                                <div class="form_label">

                                    <div class="col-3"><span>Policy Type <label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" maxlength="30" ng-model="obj.PolicyType" class="validate[required,'Please enter Policy Type'] Txtbox" id="PT" />
                                    </div>

                                    <div class="col-3"><span>Date of Intimation of Loss<label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" datepicker ng-model="obj.IntimationLossDT" class="validate[required,'Please enter Date of Intimation of Loss'] Txtbox" id="DIL" />
                                    </div>
                                </div>

                                <div class="form_label">
                                    <div class="col-3"><span>Date of Allotment for Survey <label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" datepicker ng-model="obj.AllotmentSurveyDT" class="validate[required,'Please enter Date of Allotment for Survey'] Txtbox" id="DAS" />
                                    </div>
                                    <div class="col-3"><span>Insurers<label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" maxlength="50" ng-model="obj.Insurers" class="validate[required,'Please enter Insurers'] Txtbox" id="In" />
                                    </div>

                                </div>
                                <div class="form_label">

                                    <div class="col-3"><span>Source of Allotment of Survey<label class="mandatory">*</label></span></div>
                                    <div class="col-9">
                                        <textarea rows="1" maxlength="100" ng-model="obj.SourceAllotmentSurvey" class="validate[required,'Please enter Source of Allotment of Survey'] Txtbox" id="SAS" /></textarea>

                                    </div>
                                </div>

                                <div class="form_label">


                                    <div class="col-3"><span>Address<label class="mandatory">*</label></span></div>
                                    <div class="col-9">
                                        <textarea rows="2" type="text" maxlength="250" ng-model="obj.Address" class="validate[required,'Please enter Address'] Txtbox" id="Add" /></textarea>
                                    </div>
                                </div>

                                <div class="form_label">
                                    <div class="col-3"><span>Date of Survey visit initiated <label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" datepicker ng-model="obj.SurveyVisitInitiatedDT" class="validate[required,'Please enter Date of Survey visit initiated'] Txtbox" id="DASVI" />
                                    </div>
                                    <div class="col-3"><span id="lblVRegNo">Date of Survey visit completed<label class="mandatory">*</label></span></div>
                                    <div class="col-3">
                                        <input type="text" datepicker ng-model="obj.SurveyVisitCompletedDT" class="validate[required,'Date of Survey visit completed'] Txtbox" id="DASVC" />
                                    </div>
                                </div>
                                <div class="form_label">
                                    <div class="col-3">
                                        <span>Reason for Delay in Survey (if any)</span>
                                    </div>
                                    <div class="col-9">
                                        <textarea rows="2" maxlength="250" ng-model="obj.ReasonDelaySurvey"></textarea>

                                    </div>

                                    <div class="col-3"><span id="lblVRegNo">Insured Name <label class="mandatory">*</label></span></div>
                                    <div class="col-9">
                                        <textarea rows="2" maxlength="250" ng-model="obj.InsuredName" class="validate[required,'Please enter Insured Name'] Txtbox" id="IN" /></textarea>
                                    </div>

                                </div>

                                <div class="form_label">

                                    <div class="col-3"><span>Insured Address (As per policy)</span></div>
                                    <div class="col-9">
                                        <textarea rows="4" maxlength="500" ng-model="obj.InsuredAddress" /></textarea>
                                    </div>

                                </div>
                                <div class="form_label">

                                    <div class="col-3" style="border:1px solid grey">
                                        <label>
                                            <input type="radio" ng-model="obj.PS_ALL" name="PS_AL" value="Place of Survey" /> Place of Survey
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="obj.PS_ALL" name="PS_AL" value="Address of Loss Location" /> Address of Loss Location
                                        </label>
                                    </div>
                                    <div class="col-9">
                                        <textarea rows="3" maxlength="500" ng-model="obj.PS_ALL_Place" class="validate[required,'Please enter the info about Place of Survey/Address of Loss location'] Txtbox" id="PSALL" /></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form_label">
                                <div class="col-3" style="border:1px solid grey">
                                    <label>
                                        <input type="radio" ng-model="obj.Loss" name="DTLoss" value="Date & Time of Loss" /> Date & Time of Loss
                                    </label>
                                    <label>
                                        <input type="radio" ng-model="obj.Loss" name="DTLoss" value="Date of Discovery of Loss" />Date of Discovery of Loss<label>
                                </div>
                                <div class="col-3">
                                    <input type="text" datepicker ng-model="obj.LossDT" class="validate[required,'Please enter Date of loss/Date of discovery of Loss'] Txtbox " id="DLDDL" />
                                    @*<input id="datetimepicker" type="text" class="datetimepicker" placeholder="datetim picler" />*@

                                </div>
                                <div class="col-3" style="border:1px solid grey"><label><input type="radio" ng-model="obj.CL_OP" name="COL_OP" value="Cause of Loss" /> Cause of Loss</label><label><input type="radio" ng-model="obj.CL_OP" name="COL_OP" value="Operated Peril" /> Operated Peril</label></div>
                                <div class="col-3">
                                    <select ng-options="c.CL_OP_ID as c.CL_OP for c in ListCL_OP" ng-model="obj.CL_OP_ID" class="validate[required,'Please Select Reason in couse of Loss for operated peril']' Txtbox" id="CSOP"><option value=" ">Seldfiuduect</option></select>

                                </div>
                            </div>


                            <div class="form_label">
                                <div class="col-12 t_center mt20">
                                    @*@Request.QueryString["cid"];*@
                                    <input type="hidden" value="@Request.QueryString["cid"]" id="cid" />

                                    <button type="button" class="btn yellow" ng-click="SaveMISCIntroClaim()">Submit</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" id="btnCancel" class="btn yellow" ng-click="Cancel()">Cancel</button>

                                    <a href="/MISCISVR/NatureExtentDamage?cid=@Request.QueryString["cid"]" class="btn yellow" style="float:right;">
                                        Next
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <script>
                        $('#datetimepicker').datetimepicker({
                            format: 'd-m-Y h:m',
                            formatTime: 'h',
                            step: 60

                        })
                    </script>
                    @*<div id="divSearch">
                            @using (Html.BeginForm("GenrateClaim", "Survery", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form2" }))
                            {

                                <div class="form_label">
                                    <div class="col-3"><span>Insured Email</span></div>
                                    <div class="col-9">
                                        @Html.TextBoxFor(a => a.Email, new { @id = "txtSearchEmail", @class = "validate[required,emailId,'Please enter valid email id'] Txtbox", @maxlength = "55", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form_label">
                                        <div class="col-12 t_center mt20">
                                            <input type="button" value="Search" id="btnSearch" class="btn yellow" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>*@

                    @*        </div>
                            </div>
                        </div>*@

                    @section scripts{


                        <script src="~/Scripts/Angular/Contoller/MISCIntroClaimCtrl.js"></script>
                    }
